<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magecomp_Notificationbar>
            <version>1.0.0</version>
        </Magecomp_Notificationbar>
    </modules>
	<global>
		<blocks>
            <notificationbar>
                <class>Magecomp_Notificationbar_Block</class>
            </notificationbar>
        </blocks>
        <helpers>
            <notificationbar>
                <class>Magecomp_Notificationbar_Helper</class>
            </notificationbar>
        </helpers>
		<models>
            <notificationbar>
                <class>Magecomp_Notificationbar_Model</class>
            </notificationbar>
        </models>
    </global>
    <frontend>
		<routers>
            <notificationbar>
                <use>standard</use>
                <args>
                    <module>Magecomp_Notificationbar</module>
                    <frontName>notificationbar</frontName>
                </args>
            </notificationbar>
        </routers>
        <layout>
            <updates>
                <notificationbar>
                    <file>notificationbar.xml</file>
                </notificationbar>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <layout>
            <updates>
                <notificationbar>
                    <file>notificationbar.xml</file>
                </notificationbar>
            </updates>
        </layout>
	</adminhtml>
</config>