<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <OnTap_Merchandiser>
            <version>2.2.12</version>
            <depends>
                <Mage_Adminhtml/>
            </depends>
        </OnTap_Merchandiser>
    </modules>
    <default>
        <merchandiser>
            <actions>
                <instock_at_top translate="name">
                    <name>Move out of stock to bottom</name>
                    <sorting_function>OnTap_Merchandiser_Model_Merchandiser::moveInStockToTheTop</sorting_function>
                </instock_at_top>
                <special_at_top translate="name">
                    <name>Special price to top</name>
                    <sorting_function>OnTap_Merchandiser_Model_Merchandiser::moveSaleAtTop</sorting_function>
                </special_at_top>
                <special_at_bottom translate="name">
                    <name>Special price to bottom</name>
                    <sorting_function>OnTap_Merchandiser_Model_Merchandiser::moveSaleAtBottom</sorting_function>
                </special_at_bottom>
            </actions>
            <options>
                <attribute_codes>color,name,price</attribute_codes>
                <column_count>4</column_count>
                <hide_no_stock>0</hide_no_stock>
                <show_creation_date>0</show_creation_date>
                <show_extra_images>0</show_extra_images>
                <max_images_thumbnail>4</max_images_thumbnail>
                <ajax_page_load>50</ajax_page_load>
                <hide_product_position_field>1</hide_product_position_field>
                <rebuild_on_productsave>1</rebuild_on_productsave>
                <rebuild_on_categorysave>1</rebuild_on_categorysave>
                <rebuild_on_cron>1</rebuild_on_cron>
                <new_products_handler>1</new_products_handler>
                <cron_setup>0,30 * * * *</cron_setup>
		<disable_catindex>0</disable_catindex>
            </options>
        </merchandiser>
    </default>
    <global>
        <models>
            <merchandiser>
                <class>OnTap_Merchandiser_Model</class>
                <resourceModel>merchandiser_resource</resourceModel>
            </merchandiser>
            <merchandiser_resource>
                <class>OnTap_Merchandiser_Model_Resource</class>
            </merchandiser_resource>
        </models>
        <helpers>
            <merchandiser>
                <class>OnTap_Merchandiser_Helper</class>
            </merchandiser>
        </helpers>
        <blocks>
            <merchandiser>
                <class>OnTap_Merchandiser_Block</class>
            </merchandiser>
        </blocks>
        <resources>
            <ontap_merchandiser_setup>
                <setup>
                    <module>OnTap_Merchandiser</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ontap_merchandiser_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <merchandiser>
                    <file>merchandiser.xml</file>
                </merchandiser>
            </updates>
        </layout>
        <events>
            <catalog_category_save_after>
                <observers>
                    <merchandiser_catalog_category_prepare_save>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>categorySaveAfter</method>
                    </merchandiser_catalog_category_prepare_save>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_after>
                <observers>
                    <merchandiser_catalog_category_delete_after>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>categoryDeleteAfter</method>
                    </merchandiser_catalog_category_delete_after>
                </observers>
            </catalog_category_delete_after>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <merchandiser_adminhtml_catalog_category_tabs>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>adminhtmlCatalogCategoryTabs</method>
                    </merchandiser_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_product_prepare_save>
                <observers>
                    <merchandiser_product_prepare_save>
                        <class>merchandiser/adminhtml_observer</class>
                        <method>productPrepareSave</method>
                    </merchandiser_product_prepare_save>
                </observers>
            </catalog_product_prepare_save>
        </events>
        <translate>
            <modules>
                <OnTap_Merchandiser>
                    <files>
                        <default>OnTap_Merchandiser.csv</default>
                    </files>
                </OnTap_Merchandiser>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ontap_merchandiser after="Mage_Adminhtml">OnTap_Merchandiser_Adminhtml</ontap_merchandiser>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <smart_merchandiser_reindex>
                <schedule>
                    <config_path>merchandiser/options/cron_setup</config_path>
                </schedule>
                <run>
                    <model>merchandiser/adminhtml_observer::reindexCron</model>
                </run>
            </smart_merchandiser_reindex>
        </jobs>
    </crontab>
</config>
