<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Celebrities>
        <version>0.1.3</version>
        </Ecp_Celebrities>
    </modules>
    <frontend>
        <routers>
            <ecp_celebrities>
                <use>standard</use>
                <args>
                    <module>Ecp_Celebrities</module>
                    <frontName>celebrities</frontName>
                </args>
            </ecp_celebrities>
        </routers>
        <layout>
            <updates>
                <ecp_celebrities>
                    <file>ecp/celebrities.xml</file>
                </ecp_celebrities>
            </updates>
        </layout>
		<translate>
            <modules>
                <ecp_celebrities>
                    <files>
                        <default>Ecp_Celebrities.csv</default>
                    </files>
                </ecp_celebrities>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <ecp_celebrities>
                <use>admin</use>
                <args>
                    <module>Ecp_Celebrities</module>
                    <frontName>ecpcelebrities</frontName>
                </args>
            </ecp_celebrities>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_celebrities">
                <sort_order>91</sort_order>
                <children>
                    <ecp_celebrities module="ecp_celebrities">
                        <title>Celebrities</title>
                        <sort_order>71</sort_order>               
                        <!--<children>
                            <items module="ecp_celebrities">
                                <title>Manage Items</title>
                                <sort_order>0</sort_order>
                                <action>ecpcelebrities/adminhtml_celebrities</action>
                            </items>
                        </children>-->
                        <action>ecpcelebrities/adminhtml_celebrities</action>
                    </ecp_celebrities>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Celebrities>
                            <title>Celebrities Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Celebrities>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_celebrities>
                    <file>ecp/celebrities.xml</file>
                </ecp_celebrities>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_celebrities>
                <class>Ecp_Celebrities_Model</class>
                <resourceModel>ecp_celebrities_mysql4</resourceModel>
            </ecp_celebrities>
            <ecp_celebrities_mysql4>
                <class>Ecp_Celebrities_Model_Mysql4</class>
                <entities>
                    <celebrities>
                        <table>ecp_celebrities</table>
                    </celebrities>
                    <outfits>
                        <table>ecp_celebrities_outfits</table>
                    </outfits>
                </entities>
            </ecp_celebrities_mysql4>
        </models>
        <resources>
            <ecp_celebrities_setup>
                <setup>
                    <module>Ecp_Celebrities</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_celebrities_setup>
            <ecp_celebrities_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_celebrities_write>
            <ecp_celebrities_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_celebrities_read>
        </resources>
        <blocks>
            <ecp_celebrities>
                <class>Ecp_Celebrities_Block</class>
            </ecp_celebrities>
        </blocks>
        <helpers>
            <ecp_celebrities>
                <class>Ecp_Celebrities_Helper</class>
            </ecp_celebrities>
        </helpers>
        <template>
            <email>
                <celebrities_send_friend module="ecp_tattoo">
                    <label>Custom Email Send Friend</label>
                    <file>celebrity_send_friend.html</file>
                    <type>html</type>
                </celebrities_send_friend>
            </email>
        </template>
        <index>
            <indexer>
                <ecp_celebrities_indexer>
                    <model>ecp_celebrities/indexer</model>
                </ecp_celebrities_indexer>
            </indexer>
        </index>
    </global>
    <default>
        <ecp_celebrities>
            <celebrities>
                <value>some value</value>
            </celebrities>
        </ecp_celebrities>
    </default>
</config>