<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooPrices>
            <version>1.0.3</version>
        </Ebizmarts_BakerlooPrices>
    </modules>
    <global>
        <models>
            <bakerloo_prices>
                <class>Ebizmarts_BakerlooPrices_Model</class>
                <resourceModel>bakerloo_prices_mysql4</resourceModel>
            </bakerloo_prices>
            <bakerloo_prices_mysql4>
                <class>Ebizmarts_BakerlooPrices_Model_Mysql4</class>
            </bakerloo_prices_mysql4>
        </models>
        <resources>
            <bakerloo_prices_setup>
                <setup>
                    <module>Ebizmarts_BakerlooPrices</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bakerloo_prices_setup>
        </resources>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <ebizmarts_item_price_match>
                        <class>bakerloo_prices/observer</class>
                        <method>priceMatch</method>
                    </ebizmarts_item_price_match>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_address_to_order>
                <observers>
                    <ebizmarts_order_price_match>
                        <class>bakerloo_prices/observer</class>
                        <method>priceMatchAddress</method>
                    </ebizmarts_order_price_match>
                </observers>
            </sales_convert_quote_address_to_order>
        </events>            
    </global>
    <default>
        <bakerloorestful>
            <checkout>
                <price_override>1</price_override>
            </checkout>
        </bakerloorestful>
    </default>
</config>
