<config>
    <modules>
        <Ecp_Familycolors>
            <version>0.1.1</version>
        </Ecp_Familycolors>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ecp_familycolors>
                    <file>ecp/familycolors.xml</file>
                </ecp_familycolors>
            </updates>
        </layout>
        <routers>
            <familycolors>
                <use>standard</use>
                <args>
                    <module>Ecp_Familycolors</module>
                    <frontName>familycolors</frontName>
                </args>
            </familycolors>
        </routers>
    </frontend>
    <global>
        <models>
            <ecp_familycolors>
                <class>Ecp_Familycolors_Model</class>
                <resourceModel>familycolors_mysql4</resourceModel>
            </ecp_familycolors>
            <familycolors_mysql4>
                <class>Ecp_Familycolors_Model_Mysql4</class>
                <entities>
                    <familycolors>
                        <table>ecp_familycolors</table>
                    </familycolors>                 
                </entities>
            </familycolors_mysql4>
        </models>
         <resources>
            <ecp_familycolors_setup>
                <setup>
                    <module>Ecp_Familycolors</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecp_familycolors_setup>
            <ecp_familycolors_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_familycolors_write>
            <ecp_familycolors_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_familycolors_read>
        </resources>
        <helpers>
            <familycolors>
                <class>Ecp_Familycolors_Helper</class>
            </familycolors>
        </helpers>
        <blocks>
            <familycolors_adminhtml>
                <class>Ecp_Familycolors_Block_Adminhtml</class>
            </familycolors_adminhtml>
            <ecp_familycolors>
                <class>Ecp_Familycolors_Block</class>
            </ecp_familycolors>
        </blocks>
    </global>
    <admin>
        <routers>
	        <familycolors>
	            <use>admin</use>
	            <args>
	                <module>Ecp_Familycolors</module>
	                <frontName>familycolors</frontName>
	            </args>
	        </familycolors>
        </routers>
    </admin>
    <adminhtml>
        <menu>
        	<allure>
				<children>
		            <attributes module="familycolors">
		                <title>Attributes</title>
		                <sort_order>110</sort_order>
		                <children>
		                    <familycolors module="familycolors">
		                        <title>Manage color families</title>
		                        <sort_order>0</sort_order>
		                        <action>familycolors/adminhtml_familycolors</action>
		                    </familycolors>                    
		                </children>
		            </attributes>
		    	</children>
	    	</allure>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_familycolors>
                            <title>Familycolors Module</title>
                            <sort_order>10</sort_order>
                            <action>familycolors/adminhtml_familycolors</action>
                        </Ecp_familycolors>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <familycolors>
                    <file>familycolors.xml</file>
                </familycolors>
            </updates>
        </layout>
    </adminhtml>
</config>
