<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<myaccount translate="label" module="myaccount">
			<label>My Account</label>
			<tab>allure</tab>
			<sort_order>60</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>Account Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<storemapping translate="label">
							<label>Store Settings</label>
							<frontend_model>Allure_MyAccount_Block_Adminhtml_StoreInformation</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<sort_order>11</sort_order>
						</storemapping>
					</fields>
				</general>
			</groups>
		</myaccount>
	</sections>
</config>