<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Sizechart>
        <version>0.1.2</version>
        </Ecp_Sizechart>
    </modules>
    <frontend>
        <routers>
            <ecp_sizechart>
                <use>standard</use>
                <args>
                    <module>Ecp_Sizechart</module>
                    <frontName>ecpsizechart</frontName>
                </args>
            </ecp_sizechart>
        </routers>
        <layout>
            <updates>
                <ecp_sizechart>
                    <file>ecp/extensions.xml</file>
                </ecp_sizechart>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_sizechart>
                <use>admin</use>
                <args>
                    <module>Ecp_Sizechart</module>
                    <frontName>ecpsizechart</frontName>
                </args>
            </ecp_sizechart>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_sizechart">
                <children>
                    <sizechart module="ecp_sizechart">
                        <title>Sizechart</title>
                        <sort_order>1</sort_order>                                       
                        <action>ecpsizechart/adminhtml_sizechart</action>
                    </sizechart>
                </children>
            </cms>            
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Sizechart>
                            <title>Sizechart Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Sizechart>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_sizechart>
                    <file>ecp/sizechart.xml</file>
                </ecp_sizechart>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ecp_sizechart>
                <class>Ecp_Sizechart_Model</class>
                <resourceModel>ecp_sizechart_mysql4</resourceModel>
            </ecp_sizechart>
            <ecp_sizechart_mysql4>
                <class>Ecp_Sizechart_Model_Mysql4</class>
                <entities>
                    <sizechart>
                        <table>ecp_sizechart</table>
                    </sizechart>
                </entities>
            </ecp_sizechart_mysql4>
        </models>
        <resources>
            <ecp_sizechart_setup>
                <setup>
                    <module>Ecp_Sizechart</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_sizechart_setup>
            <ecp_sizechart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_sizechart_write>
            <ecp_sizechart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_sizechart_read>
        </resources>
        <blocks>
            <ecp_sizechart>
                <class>Ecp_Sizechart_Block</class>
            </ecp_sizechart>
        </blocks>
        <helpers>
            <ecp_sizechart>
                <class>Ecp_Sizechart_Helper</class>
            </ecp_sizechart>
        </helpers>
    </global>
    <default>
        <ecp_sizechart>
            <sizechart>
                <value>some value</value>
            </sizechart>
        </ecp_sizechart>
    </default>
</config>