<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooShipping>
            <version>0.0.5</version>
        </Ebizmarts_BakerlooShipping>
    </modules>
    <global>
        <helpers>
            <bakerloo_shipping>
                <class>Ebizmarts_BakerlooShipping_Helper</class>
            </bakerloo_shipping>
        </helpers>
        <blocks>
            <bakerloo_shipping>
                <class>Ebizmarts_BakerlooShipping_Block</class>
            </bakerloo_shipping>
        </blocks>
        <models>
            <bakerloo_shipping>
                <class>Ebizmarts_BakerlooShipping_Model</class>
            </bakerloo_shipping>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ebizmarts_BakerlooShipping>
                    <files>
                        <default>Ebizmarts_BakerlooShipping.csv</default>
                    </files>
                </Ebizmarts_BakerlooShipping>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <pos_in_store_pickup>
                        <type>model</type>
                        <class>bakerloo_shipping/observer</class>
                        <method>inStorePickup</method>
                    </pos_in_store_pickup>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <checkout_onepage_controller_success_action>
                <observers>
                    <pos_in_store_pickup_reset>
                        <type>model</type>
                        <class>bakerloo_shipping/observer</class>
                        <method>inStorePickupReset</method>
                    </pos_in_store_pickup_reset>
                </observers>
            </checkout_onepage_controller_success_action>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <pos_in_store_pickup_reset>
                        <type>model</type>
                        <class>bakerloo_shipping/observer</class>
                        <method>inStorePickupReset</method>
                    </pos_in_store_pickup_reset>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
        <layout>
            <updates>
                <bakerloo_shipping>
                    <file>bakerloo_shipping.xml</file>
                </bakerloo_shipping>
            </updates>
        </layout>
    </frontend>
    <default>
        <carriers>
            <bakerloo_freeshipping>
                <active>1</active>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <cutoff_cost>50</cutoff_cost>
                <model>bakerloo_shipping/carrier_freeshipping</model>
                <name>Pick and carry</name>
                <title>Pick and carry</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <ship>0</ship>
                <sort_order>-99</sort_order>
            </bakerloo_freeshipping>
            <bakerloo_store_pickup>
                <active>0</active>
                <price><![CDATA[0.00]]></price>
                <sort_order>20</sort_order>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <!--<cutoff_cost>50</cutoff_cost>-->
                <model>bakerloo_shipping/carrier_storePickup</model>
                <name>Store Pickup</name>
                <title>Store Pickup</title>
                <render_as>select</render_as>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <ship>0</ship>
            </bakerloo_store_pickup>
            <bakerloo_ship_to_store>
                <active>0</active>
                <price><![CDATA[0.00]]></price>
                <sort_order>30</sort_order>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <!--<cutoff_cost>50</cutoff_cost>-->
                <model>bakerloo_shipping/carrier_shipToStore</model>
                <name>Ship to Store</name>
                <title>Ship to Store</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <ship>0</ship>
            </bakerloo_ship_to_store>
            <bakerloo_multi_shipping>
                <active>0</active>
                <price><![CDATA[0.00]]></price>
                <sort_order>40</sort_order>
                <sallowspecific>0</sallowspecific>
                <showmethod>0</showmethod>
                <!--<cutoff_cost>50</cutoff_cost>-->
                <model>bakerloo_shipping/carrier_multiShipping</model>
                <name>Multi Shipping</name>
                <title>Multi Shipping</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <ship>0</ship>
            </bakerloo_multi_shipping>
        </carriers>
    </default>
</config>