<?xml version="1.0"?>
<config>
    <sections>
        <bakerloo_shipping translate="label" module="bakerloo_shipping">
            <label>Shipping Methods</label>
            <tab>pos</tab>
            <frontend_type>text</frontend_type>
            <sort_order>171</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint>
                    <frontend_model>bakerloo_restful/adminhtml_system_config_fieldset_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <bakerloo_freeshipping translate="label">
                    <label>Free Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_freeshipping/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_freeshipping/name</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_freeshipping/title</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <ship translate="label">
                            <label>Create Shipment</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_freeshipping/ship</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ship>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_freeshipping/sort_order</config_path>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </bakerloo_freeshipping>
                <bakerloo_store_pickup translate="label">
                    <label>Store Pickup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/name</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/title</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/price</config_path>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price>
                        <stores translate="label">
                            <label>Enabled Stores</label>
                            <frontend_type>multiselect</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/stores</config_path>
                            <source_model>bakerloo_shipping/adminhtml_system_config_source_stores</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stores>
                        <render_as translate="label">
                            <label>Render As</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/render_as</config_path>
                            <source_model>bakerloo_shipping/adminhtml_system_config_source_renderoptions</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </render_as>
                        <ship translate="label">
                            <label>Create Shipment</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/ship</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>59</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ship>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_store_pickup/sort_order</config_path>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </bakerloo_store_pickup>
                <bakerloo_ship_to_store translate="label">
                    <label>Ship to Store</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/name</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/title</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/price</config_path>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price>
                        <stores translate="label">
                            <label>Enabled Stores</label>
                            <frontend_type>multiselect</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/stores</config_path>
                            <source_model>bakerloo_shipping/adminhtml_system_config_source_locations</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stores>
                        <ship translate="label">
                            <label>Create Shipment</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/ship</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>59</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ship>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_ship_to_store/sort_order</config_path>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </bakerloo_ship_to_store>
                <bakerloo_multi_shipping translate="label">
                    <label>Multi Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_multi_shipping/active</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_multi_shipping/name</config_path>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_multi_shipping/title</config_path>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_multi_shipping/price</config_path>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price>
                        <ship translate="label">
                            <label>Create Shipment</label>
                            <frontend_type>select</frontend_type>
                            <config_path>carriers/bakerloo_multi_shipping/ship</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ship>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <config_path>carriers/bakerloo_multi_shipping/sort_order</config_path>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </bakerloo_multi_shipping>
            </groups>
        </bakerloo_shipping>
    </sections>
</config>