<?xml version="1.0"?>
<config>
    <modules>
        <Allure_Piercing>
            <version>0.0.1</version>
        </Allure_Piercing>
    </modules>
    
    <global>
    	
    	<blocks>
            <allure_piercing>
                <class>Allure_Piercing_Block</class>
            </allure_piercing>
         </blocks>
         
         <helpers>
            <allure_piercing>
                <class>Allure_Piercing_Helper</class>
            </allure_piercing>
         </helpers>
        
    </global>
    
    
</config>
