<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Searchbox>
        <version>0.1.0</version>
        </Ecp_Searchbox>
    </modules>
    <frontend>
        <routers>
            <ecp_searchbox>
                <use>standard</use>
                <args>
                    <module>Ecp_Searchbox</module>
                    <frontName>ecpsearchbox</frontName>
                </args>
            </ecp_searchbox>
        </routers>
        <layout>
            <updates>
                <ecp_searchbox>
                    <file>ecp/searchbox.xml</file>
                </ecp_searchbox>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_searchbox>
                <use>admin</use>
                <args>
                    <module>Ecp_Searchbox</module>
                    <frontName>ecpsearchbox</frontName>
                </args>
            </ecp_searchbox>
        </routers>
    </admin>     
    <global>
        <models>
            <ecp_searchbox>
                <class>Ecp_Searchbox_Model</class>
                <resourceModel>ecp_searchbox_mysql4</resourceModel>
            </ecp_searchbox>
            <ecp_searchbox_mysql4>
                <class>Ecp_Searchbox_Model_Mysql4</class>
                <entities>
                    <searchbox>
                        <table>searchbox</table>
                    </searchbox>
                </entities>
            </ecp_searchbox_mysql4>
        </models>
        <resources>
            <ecp_searchbox_setup>
                <setup>
                    <module>Ecp_Searchbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_searchbox_setup>
            <ecp_searchbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_searchbox_write>
            <ecp_searchbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_searchbox_read>
        </resources>
        <blocks>
            <ecp_searchbox>
                <class>Ecp_Searchbox_Block</class>
            </ecp_searchbox>
        </blocks>
        <helpers>
            <ecp_searchbox>
                <class>Ecp_Searchbox_Helper</class>
            </ecp_searchbox>
        </helpers>
    </global>
    <default>
        <ecp_searchbox>
            <searchbox>
                <value>some value</value>
            </searchbox>
        </ecp_searchbox>
    </default>
</config>