<?xml version="1.0"?>

<config>
	<modules>
		<Allure_Virtualstore>
			<version>1.0.1</version>
		</Allure_Virtualstore>
	</modules>
	<global>
		<resources>
			<allure_virtualstore_setup>
				<setup>
                    <module>Allure_Virtualstore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
				<virtualstore_write>
					<connection>
						<use>core_write</use>
					</connection>
				</virtualstore_write>
				<virtualstore_read>
					<connection>
						<use>core_read</use>
					</connection>
				</virtualstore_read>
			</allure_virtualstore_setup>
		</resources>
		
		<helpers>
			<allure_virtualstore>
				<class>Allure_Virtualstore_Helper</class>
			</allure_virtualstore>
		</helpers>
		
		<blocks>
			<allure_virtualstore>
				<class>Allure_Virtualstore_Block</class>
			</allure_virtualstore>
			<adminhtml>
				<rewrite>
					<widget_grid_column>Allure_Virtualstore_Block_Adminhtml_Widget_Grid_Column</widget_grid_column>
				</rewrite>
			</adminhtml>
		</blocks>
		
		<models>
			<allure_virtualstore>
				<class>Allure_Virtualstore_Model</class>
				<resourceModel>allure_virtualstore_resource</resourceModel>
			</allure_virtualstore>
			
			<allure_virtualstore_resource>
				<class>Allure_Virtualstore_Model_Resource</class>
				<entities>
					<website>
						<table>allure_virtual_website</table>
					</website>
					<group>
						<table>allure_virtual_store_group</table>
					</group>
					<store>
						<table>allure_virtual_store</table>
					</store>
				</entities>
			</allure_virtualstore_resource>
			
		</models>
		
		<events>
            <sales_order_place_after>
                <observers>
                    <allure_virtualstore>
                        <type>singleton</type>
                        <class>allure_virtualstore/observer</class>
                        <method>setDataToOrder</method>
                    </allure_virtualstore>
                </observers>
            </sales_order_place_after>
        </events>
        
        <fieldsets>
        	<sales_convert_quote>
				<old_store_id>
					<to_order>*</to_order>
				</old_store_id>
			</sales_convert_quote>
		    <sales_convert_quote_item>
		        <old_store_id>
		            <to_order_item>*</to_order_item>
		        </old_store_id>
		    </sales_convert_quote_item>
		    <sales_convert_order_item>
		        <old_store_id>
		            <to_quote_item>*</to_quote_item>
		        </old_store_id>
		    </sales_convert_order_item>
		</fieldsets>
		
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<allure_virtualstore before="Mage_Adminhtml">Allure_Virtualstore_Adminhtml</allure_virtualstore>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<allure_virtualstore>
					<file>virtualstore.xml</file>
				</allure_virtualstore>
			</updates>
		</layout>
	</adminhtml>
</config>
