<?xml version="1.0"?>
<config>
  <modules>
    <Allure_MultiCurrency>
      <version>1.0.2</version>
    </Allure_MultiCurrency>
  </modules>
  <global>
    <models>
      <multicurrency>
        <class>Allure_MultiCurrency_Model</class>
        <resourceModel>multicurrency_mysql4</resourceModel>
      </multicurrency>
      <!--<sales>
        <rewrite>
          <quote>Allure_MultiCurrency_Model_Quote</quote>
        </rewrite>
      </sales>-->
    </models>
    <blocks>
      <multicurrency>
        <class>Allure_MultiCurrency_Block</class>
      </multicurrency>
    </blocks>
    <resources>
      <multicurrency_setup>
        <setup>
          <module>Allure_MultiCurrency</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>default_setup</use>
        </connection>
      </multicurrency_setup>
    </resources>
    <events>
      <sales_quote_item_set_product>
        <observers>
          <multicurrency>
            <type>model</type>
            <class>multicurrency/observer</class>
            <method>setItemCurrency</method>
          </multicurrency>
        </observers>
      </sales_quote_item_set_product>
      <sales_quote_collect_totals_after>
        <observers>
          <multicurrency>
            <type>model</type>
            <class>multicurrency/observer</class>
            <method>changeQuoteCurrency</method>
          </multicurrency>
        </observers>
      </sales_quote_collect_totals_after>
    </events>
    <helpers>
      <multicurrency>
        <class>Allure_MultiCurrency_Helper</class>
      </multicurrency>
    </helpers>
    <fieldsets>
      <sales_convert_quote_item>
        <base_currency>
          <to_order_item>*</to_order_item>
        </base_currency>
        <current_currency>
          <to_order_item>*</to_order_item>
        </current_currency>
        <current_country>
          <to_order_item>*</to_order_item>
        </current_country>
        <conversion_rate>
          <to_order_item>*</to_order_item>
        </conversion_rate>
      </sales_convert_quote_item>
    </fieldsets>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <multicurrency>
                      <title>multi currency</title>
                    </multicurrency>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config> 