<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<multicurrency translate="label" module="multicurrency">
			<label>Multi Currency</label>
			<tab>allure</tab>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>

			<groups>
				<currency_attr translate="label" module="multicurrency">
					<label>Set Price Attributes</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>

						<mapping translate="label">
							<label>Country And Price Attribute Pairing</label>
							<frontend_model>Allure_MultiCurrency_Block_CurrencyMap</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<sort_order>22</sort_order>
						</mapping>

					</fields>

				</currency_attr>
			</groups>
		</multicurrency>
	</sections>
</config>