<?xml version="1.0"?>
<config>
    <modules>
        <Alluremultistore_Varnishgento>
            <version>0.0.1</version>
        </Alluremultistore_Varnishgento>
    </modules>
    
    <global>
    	    
    	 <models>
       		<alluremulistorevarnish>
				<class>Alluremultistore_Varnishgento_Helper</class>
		    </alluremulistorevarnish>
		    
		    <opsway_varnishgento>
		    	<rewrite>
		    		<observer>Alluremultistore_Varnishgento_Model_Observer</observer>
		    	</rewrite>
		    </opsway_varnishgento>
		    
         </models>
        
    </global>
    
    
</config>
