<?xml version="1.0"?>
<config>
    <sections>
        <allure_imagecdn translate="label">
            <label>Image CDN</label>
            <tab>allure</tab>
            <frontend_type>text</frontend_type>
            <sort_order>80</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						 <status translate="label">
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
							<comment>Enable/Disable Image CDN</comment>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </status>
						 <remove_source translate="label">
                            <label>Remove Source</label>
                            <frontend_type>select</frontend_type>
							<comment>Enable/Disable Removing Source</comment>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </remove_source>
                    </fields>
                </general>
                <amazons3 translate="label">
                    <label>Amazon S3/CloudFront</label>
                    <comment><![CDATA[<span class="op-note">To use CloudFront, simply enter your CloudFront domain in the base URL fields instead.</span>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<access_key_id translate="label">
                            <label>Access Key ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </access_key_id>
						<access_key_secret translate="label">
                            <label>Access Key Secret</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>2</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </access_key_secret>
						<bucket translate="label">
                            <label>Bucket</label>
                            <frontend_type>text</frontend_type>
                            <comment>Must already be created and be dedicated for this Magento install only.</comment>
                            <sort_order>3</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </bucket>
						<url_base translate="label">
                            <label>Base URL</label>
                            <frontend_type>text</frontend_type>
                            <comment>Example: http://[bucket].s3.amazonaws.com</comment>
                            <sort_order>4</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </url_base>
						<url_base_secure translate="label">
                            <label>Secure Base URL</label>
                            <frontend_type>text</frontend_type>
							<comment>Example: https://[bucket].s3.amazonaws.com</comment>
                            <sort_order>5</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
                        </url_base_secure>
                    </fields>
                </amazons3>
            </groups>
        </allure_imagecdn>
    </sections>
</config>