<?xml version="1.0"?>
<config>
  <modules>
    <Allure_PostLength>
      <version>0.1.2</version>
    </Allure_PostLength>
  </modules>
  <global>
    <helpers>
      <postlength>
        <class>Allure_PostLength_Helper</class>
      </postlength>
    </helpers>
    <models>
      <postlength>
        <class>Allure_PostLength_Model</class>
      </postlength>
    </models>
    <resources>
      <allure_postlength_setup>
        <setup>
          <module>Allure_PostLength</module>
          <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
        </setup>
      </allure_postlength_setup>
    </resources>
    <fieldsets>
      <sales_convert_quote_item>
      <pl_parent_item>
        <to_quote_item>*</to_quote_item>
      </pl_parent_item>
    </sales_convert_quote_item>
    </fieldsets>
  </global>
  <frontend>
    <events>
      <checkout_cart_save_before>
        <observers>
          <postlength>
            <type>model</type>
            <class>postlength/observer</class>
            <method>beforeSave</method>
          </postlength>
        </observers>
      </checkout_cart_save_before>
      <checkout_cart_save_after>
        <observers>
          <postlength>
            <type>model</type>
            <class>postlength/observer</class>
            <method>afterSave</method>
          </postlength>
        </observers>
      </checkout_cart_save_after>
    </events>
  </frontend>
</config>