<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ECP_Ajaxify>
            <version>0.0.1</version>
        </ECP_Ajaxify>
    </modules>
    <global>
        <blocks>
            <ecp_ajaxify>
                <class>ECP_Ajaxify_Block</class>
            </ecp_ajaxify>
            <core>
                <rewrite>
                        <messages>ECP_Ajaxify_Block_Messages</messages>
                </rewrite>
            </core>
        </blocks>
        <helpers>
            <ecp_ajaxify>
                <class>ECP_Ajaxify_Helper</class>
            </ecp_ajaxify>
        </helpers>
        <models>
            <ecp_ajaxify>
                <class>ECP_Ajaxify_Model</class>
            </ecp_ajaxify>
        </models>
    </global>
    <frontend>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <smile_ajaxify_on_product_view>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeViewedBlockCache</method>
                    </smile_ajaxify_on_product_view>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_product_add_after>
                <observers>
                    <smile_ajaxify_oncart_add>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_add>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_product_update_after>
                <observers>
                    <smile_ajaxify_oncart_update>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_update>
                </observers>
            </checkout_cart_product_update_after>
            <checkout_cart_update_items_after>
                <observers>
                    <smile_ajaxify_oncart_update1>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_update1>
                </observers>
            </checkout_cart_update_items_after>
            <sales_quote_merge_after>
                <observers>
                    <smile_ajaxify_oncart_update2>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_update2>
                </observers>
            </sales_quote_merge_after>
            <sales_quote_remove_item>
                <observers>
                    <smile_ajaxify_oncart_update>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_update>
                </observers>
            </sales_quote_remove_item>
            <sales_quote_merge_after>
                <observers>
                    <smile_ajaxify_oncart_update_cookie1>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeCartNotEmptyCookie</method>
                    </smile_ajaxify_oncart_update_cookie1>
                </observers>
            </sales_quote_merge_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <smile_ajaxify_oncart_update>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_update>
                </observers>
            </checkout_type_onepage_save_order>
            <googlecheckout_save_order_after>
                <observers>
                    <smile_ajaxify_oncart_update>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeTopCartBlockCache</method>
                    </smile_ajaxify_oncart_update>
                </observers>
            </googlecheckout_save_order_after>
            <customer_login>
                <observers>
                    <smile_ajaxify_login>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeAjaxBlockCache</method>
                    </smile_ajaxify_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <smile_ajaxify_logout>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeAjaxBlockCache</method>
                    </smile_ajaxify_logout>
                </observers>
            </customer_logout>

            <customer_login>
                <observers>
                    <smile_ajaxify_login_cookie>
                        <class>ecp_ajaxify/observer</class>
                        <method>addIsLoggedInCookie</method>
                    </smile_ajaxify_login_cookie>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <smile_ajaxify_logout_cookie>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeIsLoggedInCookie</method>
                    </smile_ajaxify_logout_cookie>
                </observers>
            </customer_logout>
            <checkout_cart_product_add_after>
                <observers>
                    <smile_ajaxify_oncart_add_cookie>
                        <class>ecp_ajaxify/observer</class>
                        <method>addCartNotEmptyCookie</method>
                    </smile_ajaxify_oncart_add_cookie>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <smile_ajaxify_oncart_update_cookie>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeCartNotEmptyCookie</method>
                    </smile_ajaxify_oncart_update_cookie>
                </observers>
            </sales_quote_remove_item>
            
            <core_session_abstract_add_message>
                <observers>
                    <smile_ajaxify_oncart_add_cookie>
                        <class>ecp_ajaxify/observer</class>
                        <method>addMessageAddedCookie</method>
                    </smile_ajaxify_oncart_add_cookie>
                </observers>
            </core_session_abstract_add_message>
            <core_session_abstract_clear_messages>
                <observers>
                    <smile_ajaxify_oncart_update_cookie>
                        <class>ecp_ajaxify/observer</class>
                        <method>removeMessageAddedCookie</method>
                    </smile_ajaxify_oncart_update_cookie>
                </observers>
            </core_session_abstract_clear_messages>
        </events>
       <layout>
            <updates>
                <ecp_ajaxify>
                    <file>ecp_ajaxify.xml</file>
                </ecp_ajaxify>
            </updates>
      </layout>
   </frontend>
</config>