@CHARSET "UTF-8";

/* Appointments page css by bhagya start*/
.firsttitle{	
	margin: 0 auto;
    width: 960px;    
    padding: 0px;
}

.pickur_time_main_container{
	/* float: left; 
	width:48% ; */
}

.image_carousel {
	width: 78%;
	height:auto; 
	/* padding: 8px 10px 15px 16px !important; */
	padding: 0px 10px 15px 16px !important;
    /* margin-bottom: 60px; */
    margin-bottom: 0px;
}
#pick_ur_time_div .prev, 
#pick_ur_time_div .next{
	top:50% !important;
	margin-top: -25px !important;
	
}

.jcarosel_main_ul{
		min-width: 470px;
	}

.secondtitle{	
	font-size:16px;	
	margin: 0 auto;
    width: 960px;
    font-weight: normal;
    color: #5F5D5C;
    text-transform: uppercase;
    font-size: 17px;
    padding: 0px;
}
.sliderZone,.logZone{
	margin-right:400px;
}
		
/* .ui-datepicker-div{
	display:block !important;
	height:200px !important;
	left: 451.778px !important;
}
.ui-datepicker {
 	display:block !important;
 	width: 23em !important;
} */
#aptformDiv{	
	clear: both;
	width: 100%;
	float:left;
	background:#cfcfd1;
	font-size:12px;	
	/* padding-bottom: 126px;	 */
}
#aptformDiv .lbl{
	width:50%;	
}
/* .lbltxt{
	width:30%;
} */
.ele_width{
	width:65%;	
    /* margin-bottom: 2%; */
    padding: 6px 9px;
}
.appointmentContainer{
	width: 960px;	
	margin:auto;
    /* margin: 0 auto;
    background: #cfcfd1; */
}

.appointment-header{
	background-color : #3f4048;
	overflow:hidden;
}
.appointment-header .page-title h1{
	    color: #ffffff;
}
.appointment-header .secondtitle{
	    color: #dad8d8;
}
.app-col-6-left{
	width:50%;
	float:left;
}
.appointment-header{
	background-color : #3f4048;
	overflow:hidden;
}
.appointment-header .page-title h1{
	    color: #ffffff;
	    padding: 10px 15px;
}
.appointment-header .secondtitle{
	    color: #dad8d8;
	    padding: 0px 15px 10px;
}
.app-col-6-right{
	float:left;
	width:50%;
	text-align: right;
}
.app-col-6-right img{
	padding :15px;
}



/* Modal CSS */

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 320px;
    position: relative;
    margin: 10% auto;
    /* padding: 5px 20px 13px 20px; */
    padding: 20px;
    /* border-radius: 10px; */
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.modalDialog #login-msg{
	color:#f00;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#signin-btn{
	float:right;
}
.field{
	width:100%;
	float:left;
	padding:10px 20px 10px 20px;
}
.timeslot{    
    border-color: #ccc;
    /* float: left; */
   /*  display: inline-block; */
    cursor: pointer;
    /* margin-right: 10px; */
    /* margin:3px 0p    width: 78%;
    height: auto;
    /* padding: 8px 10px 15px 16px !important; */
    /* margin-bottom: 60px; */
    margin: 10px 0;x; */
    margin:10px 0px;
    border-radius: 3px;    
    color: white;
    background-color: rgba(56, 56, 58, 0.79);
    /* margin-bottom: 5px; */
}
.timeslot span{
	padding:0 5px;
	
}
/* #pick_ur_time_div{
	max-height: 181px;
    overflow-y: scroll;
} */
.submitbtn{	
	color: #fff;
	margin: 5px 0px 5px 0;
	border: medium none;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	display: inline-block;
	font-family: dinmittelschriftregular;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 12px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	/* background: linear-gradient(to bottom, #38383a 0%,#5e5d62 100%); */
	background: url(../images/button_newsletter.png) no-repeat center transparent;
	height: 30px;
	background-size: 100% 100%;
}
.signbtn{
	margin: 5px 0px 5px 0;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    font-family: dinmittelschriftregular;
    font-size: 12px;
    font-weight: normal;
    padding: 0px 8px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #38383a 0%,#5e5d62 100%);
    height: 30px;
    color: #fff; 
}
.button.signin {
	
}
.minusBtn,.plusBtn{
	background-color: #aaa;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    padding: 7px 12px;
}
.selectedTime,.selectedDate{
	background: url(../images/button_newsletter.png) no-repeat center transparent;
	color:white !important;
}
/* .calendar{
	display:block !important;
	height:250px !important;
	
	
} */
.apt-summary{
	font-size: 14px;
    width: 50%;
    float: left;
}
.regDiv{
	float: left;width:48%;	
}
.pickurdayDIV{
	width: 45%;float: left;min-height: 220px;	
}
.piercingDiv{
	float: right;width:65%;
}
.pierqty{
	text-align: left;
}
.pierqtyDiv{
	float: left;
	width: 20%;
    text-align: left;
}
.storeLocDiv{
	width: 20%;float:left;	
}
.AptPierDiv{
	width:80%;float: left;
}
.pickurtimeLable{
	padding-left:6%;
}
.storeLocationSelect{
	width: 180px;	
	font-size:12px;
	padding:6px 9px;
}
.storeLocationSelect,.countrySelect,.stateSelect{
	-webkit-appearance: none;	
	-moz-appearance: none;
	font-size:12px;
}
.piercing_locTxt{
	width:67%;
	padding: 5px 9px;
}
.splnotesDiv{
	/* float:left; */
	width: 215px;
}
.pierqtyTxt{
	text-align: center;
	padding: 5px 0px;
	margin:0px 5px;
}
.countrySelect,.stateSelect{
	width: 320px;
	/* width: 70%; */	    
    line-height: 17px;
}
.success-field{
	clear:both;
	margin: 0 10px;
}
.detailofapt{
	text-align:center;
}
.apt-buttons-set{
	/* clear: both; */
/* 	width:50%; */
    float: right;
}
#appointemnet_form .pagination{
	margin:0px;	
}
input[name="notification_pref"] {
margin-right: 5px;
}

.pickurdayDIV > div {
	float: left;
}
.notfreepeiercer{
	text-align: center;
	margin: 15%;
    font-size: 14px;
    width: 65%;
    float: left;
    line-height: 1.5em;
    font-weight: normal;
}

#advice-required-entry-firstname,#advice-required-entry-lastname,
#advice-required-entry-email,#advice-required-entry-phone,
#advice-required-entry-starttime_hidden,#advice-validate-number-phone,#advice-validate-alpha-firstname,
#advice-validate-email-email,#advice-validate-alpha-lastname,#advice-required-entry-country,
#advice-validate-password-password,#advice-validate-password-confirmpassword,
.pwdBlock .validation-advice

{
	width: 69%;
    text-align: right;
    float:none;
    /* margin: 3px 0; */	
}

#advice-validate-phone-len-phone{
	width: 64%;
    text-align: right;
    float:none;
    font-size:10px;
    position:absolute;
}
#advice-required-entry-time-starttime_hidden{
	width: 89%;
    float: none;
    text-align: right;
    margin: 0px;
}
.notifyRadio,#createaccCheck{
	position: inherit !important;
	float: left;
    margin: 3px 3px 0px 0px !important;
}
.apt-prev{
	left: -10px; top: 60px;
}
.apt-next{
	right: -32px; top: 60px;
}

a#foo2_next {
    margin-right: -25px;
}
.apt-cancel-buttons-set{
	clear:both;
	width:25%;
	float:left;
}
.apt-modify-buttons-set{
	width:25%;
	float:left;
}
.btns-setDiv{
	width:100%;
	float:left;
    margin: 10px;
}
.checkout-success{
	width: 550px;
    margin: 0 auto;
}
.sryBookPierbtn{
	text-align:center;
}
.custom-disable{
	pointer-events: none !important;
    cursor: not-allowed !important;	
}

#fetchpickurday{
	width: 45%;
    float: left;    
}
#pick_ur_time_div{
	width: 45%;
    float: left;
}
#reg_form .regDiv .fieldDiv,.createaccDiv .fieldDiv{
	margin:10px 0px;
}
.createaccDiv{
	width:48%;float:left;
}
.pwdBlock{
	display:none;
}
.pwdBlock .fieldDiv{
	width:100%;float:left;
}
.pwdele_width{
	width:335px;padding: 6px 9px;
}

#foo2>li {
    margin: 0 7.5px !important;
}

.checkout-success{
   border: 1px solid #ccc;
   overflow: hidden;
   padding: 15px;
  /*  border-radius: 5px; */
 /*   margin-top: 5%; */
   background-color: #cfcfd1;;
}

.success-field{
   float: left;
   width: 95%;
   padding: 7px 10px;
   border-bottom: 1px solid #dedede;
}

.btns-setDiv{
   width: 95%;
   float: left;
   background-color: #dedede;
   padding: 15px 10px;
}

.apt-cancel-buttons-set{
   float: left;
   margin-right: 10px;
}

.apt-modify-buttons-set{
   float: left;
   margin-right: 10px;
}

.apt-buttons-set{
   float: right;
}
.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
}
.image_carousel img {
	padding:0;
	/*margin: 7px;*/
	display: block;
	float: left;
}
a.prev,
a.next,
.galleryFull .controls .prev,
.galleryFull .controls .next{
	background: url(../images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev,
.galleryFull .controls .prev {
	left: -22px;
	background-position: 0 0;
}
a.prev:hover,
.galleryFull .controls .prev:hover {
	background-position: 0 -50px;
}
a.prev.disabled {
	background-position: 0 -100px !important;
}
a.next,
.galleryFull .controls .next {	
	right: -22px;
	background-position: -50px 0;
}
a.next:hover,
.galleryFull .controls .next:hover {
	background-position: -50px -50px;
}
a.next.disabled {
	background-position: -50px -100px !important;
}
a.prev.disabled, a.next.disabled {
	cursor: default;
}
a.prev span,
a.next span,
.galleryFull .controls .prev span,
.galleryFull .controls .next span{
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
.jcarousel-clip {
    overflow: hidden;
}
.sryBookPierbtn button, .apt-cancel-buttons-set button, .apt-modify-buttons-set button, .apt-buttons-set button {
	margin-bottom: 10px;
    padding: 8px 10px 9px;
    border: 1px solid #ccc;
    background: #bfa979;
    cursor: pointer;
    text-transform: uppercase;
    color: #3f4048;
}
 .apt-buttons-set button:hover {
    border: 1px solid #bbb;
    background: #bfa979;
}
.apt-cancel-buttons-set button:hover{
	 border: 1px solid #bbb;
    background: #bfa979;
	
}
.apt-modify-buttons-set button:hover{
	 border: 1px solid #bbb;
    background: #bfa979;
	
}
.sryBookPierbtn button:hover {
	 border: 1px solid #bbb;
    background: #bfa979;
	
}
textarea{
	    width: 160%;
    height: 56px;
    background: #F7F7F7;
    border: none;
    padding: 9px 6px;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
}
.splnotesTxtarea{
	height: 68px !important;
}
#special_notes_app{
	  height: 5em !important;
	  width: 166px !important;
}
.print_appointment-main{
	    margin-left: 20px;
	    width: 300px;
}
.fieldDiv.print_appointment-sub{
	margin-top: 20px
}
.fieldDiv.print_appointment-sub label{
	width:200px;
}
.fieldDiv.print_appointment-sub select{
	height: 25px;
    width: 200px;
    float: right;
}
.app_print_submit{
	margin-top: 19px;
    height: 25px;
    width: 77px;
    border-width: 1px;
    border-style: solid;
    border-color: #ed6502 #a04300 #a04300 #ed6502;
    padding: 1px 7px 2px 7px;
    background: #ffac47 url(images/btn_bg.gif) repeat-x 0 100%;
    color: #fff;
    font: bold 12px arial, helvetica, sans-serif;
    cursor: pointer;
    text-align: center !important;
    white-space: nowrap;
}
.app_print_store{
	
}