<?xml version="1.0"?>

<config>    
    <modules>
        <Allure_Inventory>
			<name>Allure - Inventory Management</name>
            <version>1.0.8</version>
        </Allure_Inventory>
    </modules>
    <frontend>
        <routers>
            <inventory>
                <use>standard</use>
                <args>
                    <module>Allure_Inventory</module>
                    <frontName>inventory</frontName>
                </args>
            </inventory>
        </routers>
        <layout>
            <updates>
                <inventory>
                    <file>inventory.xml</file>
                </inventory>
            </updates>
        </layout>
        
    </frontend>
   
    <admin> 
        <routers> 
            <adminhtml> 
                <args> 
                    <modules> 
                        <allure_inventory after="Mage_Adminhtml">Allure_Inventory_Adminhtml</allure_inventory> 
                    </modules> 
                </args> 
            </adminhtml> 
        </routers> 
    </admin>  
     <crontab>
		<jobs>
			<inventory_schedule>
				<schedule>
					<cron_expr>0 10 * * 1</cron_expr>
				</schedule>
				<run>
					<model>inventory/cron::autoProcessLowstockReports</model>
				</run>
			</inventory_schedule>
			<product_backorder_date>
				<schedule>
					<cron_expr>0 9 * * *</cron_expr>
				</schedule>
				<run>
					<model>inventory/cron::updateBackorderDate</model>
				</run>
			</product_backorder_date>
		</jobs>
	</crontab>
    <adminhtml>
        <layout>
            <updates>
                <inventory>
                    <file>inventory.xml</file>
                </inventory>
            </updates>
        </layout>
    </adminhtml>   
    <global>
    <events>
			<controller_action_predispatch>
				<observers>
				<inventory>
					<class>inventory/observer</class>
						<method>setVendorSession</method>
						</inventory>
				</observers>
			</controller_action_predispatch>
		</events>
    
        <blocks>
            <inventory>
                <class>Allure_Inventory_Block</class>
            </inventory>    
             
        </blocks>
        <helpers>
            <inventory>
                <class>Allure_Inventory_Helper</class>
            </inventory>
        </helpers>
        <models>
            <inventory>
                <class>Allure_Inventory_Model</class>
                <resourceModel>allure_inventory_resource</resourceModel>
            </inventory>
            <allure_inventory_resource>
	          <class>Allure_Inventory_Model_Resource</class>
	             <entities>
	                 <inventory>
	                    <table>allure_inventory_receive_log</table>
	                 </inventory>
	                 <purchaseorder>
	                    <table>allure_purchase_order</table>
	                 </purchaseorder>
	                 <orderitems>
	                    <table>allure_purchase_order_item</table>
	                 </orderitems>
	                 <orderlogs>
	                    <table>allure_purchase_order_log</table>
	                 </orderlogs>
	                 <lowstock>
	                    <table>allure_lowstock_reports_log</table>
	                 </lowstock>
	                  <transfer>
	                    <table>allure_inventory_transfer_log</table>
	                 </transfer>
	                  <insertitem>
	                    <table>allure_inventory_purchase_tmp</table>
	                 </insertitem>
                     <customitem>
                         <table>allure_inventory_custom_item</table>
                     </customitem>
                     <draftitems>
                         <table>allure_inventory_purchase_draft</table>
                     </draftitems>
                      <minmaxlog>
	                    <table>allure_inventory_min_max_log</table>
	                 </minmaxlog>
	                  <vendorwork>
	                    <table>allure_inventory_po_vendor_work</table>
	                 </vendorwork>
	             </entities>
	       </allure_inventory_resource>
        </models>
          <resources>
            <inventory_setup>
                <setup>
                    <module>Allure_Inventory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inventory_setup>
            <inventory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inventory_write>
            <inventory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inventory_read>
        </resources>
    </global>
    
    <default>
	     <inventory>
	     		<category>
	     			<parent_category_id>426</parent_category_id>
	     		</category>
	     </inventory>
    </default>
</config>
