before_script:
  - echo 'Start Deployment'
stages:
  - development
  - staging
  - deploy

development:
  environment: development
  stage: development
  tags:
    - development
  only:
    - development
  script:
    - deploy-magento mariatash
    - rm -f media && ln -s /var/www/shared/mariatash/media media
    - rm -f var && ln -s /var/www/shared/mariatash/var var
    - rm -f app/etc/local.xml && ln -s /var/www/shared/mariatash/app/etc/local.xml app/etc/local.xml
    - echo 'Deployed on Development'
    
alpha_teamwork:
  environment: teamwork
  stage: staging
  tags:
    - alpha
  only:
    - teamwork
  script:
    - mage-deploy mariatash-teamwork
    - echo 'Deployed on Teamwork Staging!'
    
alpha_redesign:
  environment: redesign
  stage: staging
  tags:
    - gama
  only:
    - redesign
  script:
    - mage-deploy redesign
    - echo 'Deployed on Nascense Gama - Redesign'
    
alpha_redesign_staging:
  environment: redesign_staging
  stage: staging
  tags:
    - gama
  only:
    - redesign_staging
  script:
    - mage-deploy mt-redesign
    - echo 'Deployed on Nascense Gama - Redesign Staging'
    
alpha_wholesale:
  environment: staging
  stage: staging
  tags:
    - gama
  only:
    - wholesale-master
  script:
    - mage-deploy mt-wholesale
    - echo 'Deployed on Nascense Gama - wholesale'
    
alpha_elasticsearch:
  environment: elasticsearch
  stage: staging
  tags:
    - alpha
  only:
    - elasticsearch-development
  script:
    - mage-deploy mariatash-elasticsearch
    - echo 'Deployed on ElasticSearch Staging'
    
alpha_parispopup:
  environment: popup
  stage: staging
  tags:
    - alpha
  only:
    - paris_popup
  script:
    - mage-deploy mt-popup
    - echo 'Deployed on Nascense Staging'

alpha_bugfixes:
  environment: bugfixes
  stage: staging
  tags:
    - alpha
  only:
    - bugfixes
  script:
    - mage-deploy mariatash-bugfixes
    - echo 'Deployed on Bugfixes Staging'

beta:
  environment: beta
  stage: staging
  tags:
    - beta
  only:
    - master
  script:
    - deploy-magento mariatash
    - rm -f media && ln -s /var/www/shared/media/mt-redesign media
    - rm -f var && ln -s /var/www/shared/mariatash/var var
    - rm -f app/etc/local.xml && ln -s /var/www/shared/mariatash/app/etc/local.xml app/etc/local.xml
    - echo 'Deployed on Alpha'

deploy-beta:
  environment: production
  stage: deploy
  tags:
    - production-beta
  only:
    - beta
  before_script:
    - git submodule sync --recursive
    - git submodule update --init --recursive
    - rm -f digital-release/config/app.php && ln -s /var/www/shared/digital-release/config/app.php digital-release/config/
    - rm -f digital-release/tmp && ln -s /var/www/shared/digital-release/tmp digital-release/
    - rm -f digital-release/logs && ln -s /var/www/shared/digital-release/logs digital-release/
    - rm -f digital-release/webroot/media && ln -s /var/www/shared/digital-release/webroot/media digital-release/webroot/
  script:
    - ln -s /usr/share/owncloud cloud
    - ln -s /var/www/shared/sitemaps
    - mage-deploy
    - echo 'Deployed on Production'

deploy-production:
  environment: production
  stage: deploy
  tags:
    - production
  only:
    - production
  before_script:
    - git submodule sync --recursive
    - git submodule update --init --recursive
    - rm -f digital-release/config/app.php && ln -s /var/www/shared/digital-release/config/app.php digital-release/config/
    - rm -f digital-release/tmp && ln -s /var/www/shared/digital-release/tmp digital-release/
    - rm -f digital-release/logs && ln -s /var/www/shared/digital-release/logs digital-release/
    - rm -f digital-release/webroot/media && ln -s /var/www/shared/digital-release/webroot/media digital-release/webroot/
  script:
    - ln -s /usr/share/owncloud cloud
    - ln -s /var/www/shared/sitemaps
    - mage-deploy
    - echo 'Deployed on Production'