/downloader/connect.cfg
/downloader/cache.cfg
/downloader/.cache
/app/etc/local.xml
/var
/media
/includes/src/*
.github
.idea
.project
.buildpath
.settings/
readme.md
/nbproject
.hg
.htaccess
.hgignore
.buildpath
sftp-config.json
*.komodoproject
.DS_Store
