server {
  listen   8000;
  server_name dolist.millesima.fr;
  root /var/www/emailing/;
  access_log  /var/log/nginx/dolist.access.log;

  location ~ .php$ { ## Execute PHP scripts
        if (!-e $request_filename) { rewrite / /index.php last; } ## Catch 404s that try_files miss

        expires        off; ## Do not cache dynamic content
        fastcgi_pass   unix:/var/run/php5-fpm/www/php5-fpm.sock;
        fastcgi_param  HTTPS $fastcgi_https;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params; ## See /etc/nginx/fastcgi_params
    }

  location / {
               root /var/www/emailing/;
               index index.php index.html index.htm;
                 try_files $uri $uri/  /index.php?$args;
                location ~ ^/(.+\.php)$ {
                try_files $uri $uri/  /index.php?$args;
#                       try_files $uri =404;
                        root /var/www/emailing/;
                       fastcgi_pass unix:/var/run/php5-fpm/www/php5-fpm.sock;
                       fastcgi_index index.php;
                       fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                       include /etc/nginx/fastcgi_params;
                }
  }


# location /interface/class/controller/ {
#        root /var/www/emailing/interface/class/controller;
#        index ajaxController.php;
#       try_files /interface/class/controller/$uri /interface/class/controller/ajaxController.php?$request_uri;
#        fastcgi_pass unix:/var/run/php5-fpm/www/php5-fpm.sock;
#                       fastcgi_index ajaxController.php;
#                       fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
#                       include /etc/nginx/fastcgi_params;
#    }



  }
