<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Header>
            <version>0.1.0</version>
        </Ecp_Header>
    </modules>
    <global>
        <blocks>
            <ecp_header>
                <class>Ecp_Header_Block</class>
            </ecp_header>
            <page>
                <rewrite>
                    <html_header>Ecp_Header_Block_Html_Header</html_header>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>