<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Ajaxcatalog>
            <version>2.0.0</version><platform>ce</platform>
        </AW_Ajaxcatalog>
    </modules>
    <global>
        <blocks>
            <aw_ajaxcatalog>
                <class>AW_Ajaxcatalog_Block</class>
            </aw_ajaxcatalog>
        </blocks>
        <helpers>
            <aw_ajaxcatalog>
                <class>AW_Ajaxcatalog_Helper</class>
            </aw_ajaxcatalog>
        </helpers>
        <models>
            <aw_ajaxcatalog>
                <class>AW_Ajaxcatalog_Model</class>
            </aw_ajaxcatalog>
        </models>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <aw_ajaxcatalog_generate_blocks_after>
                        <type>singleton</type>
                        <class>aw_ajaxcatalog/observer</class>
                        <method>generateBlocksAfter</method>
                    </aw_ajaxcatalog_generate_blocks_after>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <core_layout_update_updates_get_after>
                <observers>
                    <aw_ajaxcatalog_core_layout_update_updates_get_after>
                        <type>singleton</type>
                        <class>aw_ajaxcatalog/observer</class>
                        <method>coreLayoutUpdateUpdatesGetAfter</method>
                    </aw_ajaxcatalog_core_layout_update_updates_get_after>
                </observers>
            </core_layout_update_updates_get_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <aw_ajaxcatalog module="AW_Ajaxcatalog">
                    <file>aw_ajaxcatalog.xml</file>
                </aw_ajaxcatalog>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Ajaxcatalog>
                    <files>
                        <default>AW_Ajaxcatalog.csv</default>
                    </files>
                </AW_Ajaxcatalog>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awajaxcatalog>
                                            <title>aheadWorks - Ajax Catalog</title>
                                        </awajaxcatalog>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <AW_Ajaxcatalog>
                    <files>
                        <default>AW_Ajaxcatalog.csv</default>
                    </files>
                </AW_Ajaxcatalog>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <awajaxcatalog>
            <general>
                <enabled>0</enabled>
            </general>
        </awajaxcatalog>
    </default>
</config>
