<?xml version="1.0"?>
<config>
	<modules>
        <Allure_CatalogRouter>
            <version>1.0.0</version>
        </Allure_CatalogRouter>
    </modules>
    <default>
	    <web>
	        <routers>
	            <catalogurl>
	                <area>frontend</area>
	                <class>Allure_CatalogRouter_Controller_Router</class>
	            </catalogurl>
	        </routers>
	    </web>
	</default>
</config>
