<?xml version="1.0"?>
<config>
	<modules>
		<Allure_Appointments>
			<version>0.2.5</version>
		</Allure_Appointments>
	</modules>
	<frontend>
		<secure_url>
            <appointments>/appointments/</appointments>
        </secure_url>
		<routers>
			<appointments>
				<use>standard</use>
				<args>
					<module>Allure_Appointments</module>
					<frontName>appointments</frontName>
				</args>
			</appointments>
		</routers>
		<layout>
			<updates>
				<appointments>
					<file>appointments.xml</file>
				</appointments>
				<appointments_popup>
					<file>allure/appointments_popup.xml</file>
				</appointments_popup>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
            <appointments>
                <class>Allure_Appointments_Model</class>
                <resourceModel>appointments_resource</resourceModel>
            </appointments>
            <appointments_resource>
                <class>Allure_Appointments_Model_Resource</class>
                <entities>
                    <piercers>
                        <table>allure_appointment_piercers</table>
                    </piercers>
                    <timing>
                        <table>allure_piercing_timing</table>
                    </timing>
                    <appointments>
                        <table>allure_piercing_appointments</table>
                    </appointments>
                     <dates>
                        <table>allure_appointment_dates</table>
                    </dates>
                    <logs>
                        <table>allure_appointments_log</table>
                    </logs>
                    <pricing>
                        <table>allure_piercing_price</table>
                    </pricing>
					<customers>
						<table>allure_appointment_customers</table>
					</customers>
                </entities>
            </appointments_resource>
        </models>
		<helpers>
			<appointments>
				<class>Allure_Appointments_Helper</class>
			</appointments>
		</helpers>
		<blocks>
			<appointments>
				<class>Allure_Appointments_Block</class>
			</appointments>
		</blocks>
		<resources>
			<appointments_setup>
				<setup>
					<module>Allure_Appointments</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</appointments_setup>
			<appointments_write>
				<connection>
					<use>core_write</use>
				</connection>
			</appointments_write>
			<appointments_read>
				<connection>
					<use>core_read</use>
				</connection>
			</appointments_read>
		</resources>
	</global>

	<crontab>
		<jobs>
			<appointments_schedule>
				<schedule>
					<cron_expr>*/15 * * * *</cron_expr>
				</schedule>
				<run>
					<model>appointments/cron::autoProcess</model>
				</run>
			</appointments_schedule>
		</jobs>
	</crontab>

	<admin>
		<routers>
			<appointments>
				<use>admin</use>
				<args>
					<module>Allure_Appointments</module>
					<frontName>admin_appointments</frontName>
				</args>
			</appointments>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<appointments>
					<file>appointments.xml</file>
				</appointments>
			</updates>
		</layout>
	</adminhtml>
</config>
