body{
	overflow-x: unset !important;
}
/*Loader*/
.showonmobile
{
	display: none;
}
em {
	font-size: 12px;
}
p.p-white.d-none.d-sm-block {
	padding: 0px 20px;
}
/* div#btnBookBottom {
    text-align: center;
} */
/* button#btnBooking,
button#btnConfirm
{
	min-width: 119px;
	padding: 3px 10px!important;
	margin-bottom: 35px;
	text-transform: uppercase;
} */

p.notify-label {
  margin-bottom: 0;
	line-height: 18px;
	margin-bottom: 18px;
}

.dialogBg.popupid21,
.mbdialog{
  display: none !important;
}
.intl-tel-input .selected-flag .iti-flag {
  left:12px !important;
	top: 0px !important;
}
#people-box {
  margin-bottom: 24px;
	margin-top: 10px;
}

#name-box {
  margin-top: 19px;
}

span.apt-summary {
  line-height: 2em;
}
.detailofapt {
	font-family: urw-din-medium;
	font-size: 30px;
	text-transform: uppercase;
	text-align: left;
	width: 100%;
	display: block;
}

#allureAlertBox #closeBtn {
	display: block;
	position: initial;
	bottom: 44px;
	left: 152px;
	margin: 5px auto;
	padding: 7px;
	border: 0 none;
	width: 80px;
	font: 12px dinmittelschriftregular,arial;
	text-transform: uppercase;
	text-align: center;
	background: none;
	/* background: transparent url(../images/bkg_brown_btn.png); */
	background-color: #000;
	border-radius: 3px;
	text-decoration: none;
}

.overlay {
	position: absolute;
  overflow-x: auto;
  overflow-y: scroll;
  cursor: pointer;
	z-index: 1000;
	background: #000000;
	display: none;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.8;
}

select:after {
  background-image: url('../../images/allure/popup/dropdown-arrow.png');
	content: '';
}

button#btnBooking{
	height: 40px;
	padding: 0;
}




@media (max-width:1023px){
	.links-section{
		display: none;
	}
	input#subscribe_email{
		width: 100%;
	}
	.half-div-left.fill img {
    display: none;
	}
	.half-div-left.fill {
		background: url(../../images/allure/popup/maria-mobile2.png) no-repeat !important;
    height: 536px;
		background-size: 100% !important;
	}
	/* #pick_ur_date_div {
    padding: 0;
	} */
}


.appointment-input-box {
	margin: 25px 0 10px;
}

/* .input-box {
	width: 100%;
	border: 0.75px solid #d8d8d8;
	border-radius: 0;
	background: none;
	text-align: left;

	margin-bottom: 0;
	font-size: 14px;
	font-family: urw-din-medium;
	-webkit-box-align: center;
	font-weight: 400;
	padding: .375rem .75rem;
    line-height: 30px;
	outline-color: #fff;
} */

.selected-flag {
    max-height: 43px;
}

input[type="checkbox"] {
    width: 0px;
}

.notify-box label.label {

}

/*Paragrapph titles like question */

p.subtitle {
	font-size: 16px;
	font-family: urw-din-medium;
	text-align: center;

	line-height: 22px;
	font-weight: normal;
}

p.black-subtitle {
	padding-top: 71px;
	font-size: 30px;
	font-family: urw-din-medium;
	text-align: center;
	color: #000000;
	letter-spacing: 1px;
	line-height: 22px;
	text-transform: uppercase;
}



p.p-black {
	font-size: 14px;
	font-family: urw-din-light;
	text-align: left;
	color: #000000;
	line-height: 30px;
	/* padding-right: 85px; */
	/* padding-top: 10px; */
	text-align: center;
	line-height: 24px;
}

.about-maria-txt-one{
	padding-top: 10px;
}

.about-maria-txt-two{
	padding-top: 0px;
	padding-bottom: 45px;
}


p.p-center {
	/* margin-bottom: 21px; */
	font-size: 14px;
	font-family: urw-din-medium;
	text-align: center;

	line-height: 22px;
	-webkit-font-smoothing: antialiased;
}



p.label + div.box {
    margin-top: 0;
    padding-top: 0;
}

/* .booking-box {
	margin-top: 100px;
	margin-bottom: 70px;
	padding: 0px 30px;
} */

.faq {
	display: flex;
}

.price-list-box {
	display: flex;
	padding-top: 10px;
	padding-left: 50px;
}

.select-box {
	display: flex;
	padding: 10px 0px;
}

.box.people {
    text-align: center;
}

.people-wrapper {
    display: inline-block;
    float: none;
    /*padding-top: 2em;*/
		margin-bottom: 25px;
}
/* .job-wrapper
{
	display: inline-block;
	float: none;
} */
.job{
	padding-top: 1px;
	text-align: left;
}
/* .job h6,.customer_section h6{
	text-align: left;
	font-family: urw-din;
  font-weight: 700;
	margin-bottom: 9px;
} */

.job {
    border-bottom: 1px solid #d8d8d8;
}


.job-wrapper > *, .people-wrapper > * {
    display: inline-block;
}

.datetime-box > div {
    overflow: hidden;
}

input#firstname,
input#datepicker-13 {
	margin-right: 10px;
}

input.count {
	margin-top: 0px;
	width: 50px;
	font-size: 14px;
	font-family: urw-din-medium;
    text-align: center;
}
div.date-box, div.time-box {
    position: relative;
    margin: 0;
    height: auto;
}
#appointment_date, #selectTime {
    cursor: pointer;
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 38px;
}
.lds-ellipsis div {
  position: absolute;
  top: 10px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

label.p-white {
	margin-top: 10px;
}

/* .btn-div {
	display: flex;
	justify-content: center;
} */




/*USED IN PRICE LIST */

/* .jewelry {
	font-family: urw-din-light;
	font-size: 11px;
	line-height: 30px;
	color: #D8D8D8;
	text-align: left;
} */

tr.tr-piercing {
	border: none;
}

td.td-piercing-name {
	text-align: left;

	border: none !important;
}

td.td-price {
	font-family: urw-din-medium;
	font-size: 14px;
	line-height: 30px;

	text-align: right;
	border: none !important;
}

td.td-piercing-name,
td.td-price {
	padding-bottom: 8px;
	padding-top: 8px;
}

/* .label {
	font-size: 14px;
	font-family: urw-din-medium;

	line-height: 30px;
} */

/* #piercing-wrapper1 label,#piercing-wrapper2 label,#piercing-wrapper3 label,#piercing-wrapper4 label {
    font-size: 16px;
} */

.box .label {
	padding-top: 0px;
	line-height: 15px;
}

/* p.label {
	padding-top: 30px;
	padding-left: 0.75rem;
} */


/*ABOUT MARIA*/

.about-maria {
	padding: 0px;
}

.div-about-maria {
	padding: 0px 48px;
}

/*.fill {*/
	/*display: flex;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*overflow: hidden*/
/*}*/

.fill img {
	flex-shrink: 0;
}


/*.half-div-left {*/
	/*background-repeat: no-repeat;*/
	/*background-position: center;*/
	/*background-attachment: scroll;*/
/*}*/

.box {
	width: auto;
	padding: 10px 0px;
	margin: 1em auto;
}

.modal-confirm-appointment .modal-body{
	padding: 60px;
}

.desk {
	opacity: 0;
}

input#datepicker-13_hidden,
select#selectTime,
text#erroMsg {
	width: 235px;
	margin-right: 10px;
}

input#datepickerpopup {
	margin-right: 10px;
}

/** RESPOSIVE **/


input#appointment_date {
  display: block !important;
}
input#appointment_date {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  background: url(../../images/redesign/arrow-down-bk.png) no-repeat;
  background-position: 95% 17px;
}

div#btnContinue {
  /*width: 200px;*/
  width: 100%;
  overflow: hidden;
  margin: 30px auto 0;
}

/* div#wrapperConfirmAppointment {
  background-color: #2c2c2c;
  padding: 20px 0;
  border: 0.75px solid #d8d8d8;
  margin-bottom: -15px;
  margin-top: -15px;
} */

.datepicker td, .datepicker th {
  font-size: 16px;
  border-radius: 0;
  padding: 7.5px 10px !important;
}

.datepicker table tr td:not(.disabled),
.datepicker table tr td:not(.disabled):hover {
  font-weight: bold;
}
.datepicker table tr td:not(.disabled):hover {
  background-color: #E2E2E2;
}
.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th {
  cursor: pointer;
  font-weight: bold;
}

.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
  background-image: none !important;
  background-color: #2c2c2c !important;
  padding: 10px;
  border-radius: 0;
}
.datepicker.datepicker-dropdown {
  width: 322px;
}

select#selectTime {
  line-height: 30px;
  padding: .375rem .75rem;
  border: 0;
  background: #2c2c2c;
  border: 0.75px solid #d8d8d8;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: auto;
  font-size: 14px;
  font-family: urw-din-medium;
  text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23FFFFFF'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
	background-size: 12px;
	background-position: 95% 17px;
}

#time-wrapper input.input-box {
    margin-top: 0;
}

a#btnPriceList,
a#icon-price-close {display: none;}

#datetime-box {
    margin-bottom: 33px;
}

/* .invalid-feedback {
  font-style: normal;
  color: #e1b711;
  font-family: urw-din-medium;
	text-transform: lowercase;
} */

/*-------------------new alert box--------------------------*/
 #allureModalContainer {
   background-color: rgba(0, 0, 0, 0.47);
   position:absolute;
   width:100%;
   height:100%;
   top:0px;
   left:0px;
   z-index:10000;
}

#allureAlertBox {
	padding: 50px;
	width: 400px;
	left: 50%!important;
	top: 50%;
	margin-left: -200px;
	margin-top: -90px;
	position: fixed;
	min-height: 100px;
	height: auto;
	background-color: #ffffff;
	box-shadow: 2px 2px 8px #00000063;

}

#allureModalContainer > #allureAlertBox {
  position:fixed;
}

#allureAlertBox h1 {
  margin:0;
  font:bold 0.9em verdana,arial;
  background-color:#3073BB;
  border-bottom: 1px solid #000;
  padding:2px 0 2px 5px;
}

#allureAlertBox #closeBtn{
  display:block;
  bottom: 44px;
  left: 152px;
  margin:5px auto;
  padding:7px;
  border:0 none;
  width:80px;
  font:12px dinmittelschriftregular,arial;
  text-transform:uppercase;
  text-align:center;

  background-color:#2c2c2c;
  border-radius: 3px;
  text-decoration:none;
}
/* button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
  outline: none;
} */
/*-------------confirm popup----------------*/

 /* #allureAlertBox #okConfirm, #allureAlertBox #cancelConfirm{
   display:block;
   position:absolute;
   bottom: 10px;
   left: 125px;
   margin:5px auto;
   padding:7px;
   border:0 none;
   width:80px;
   font:12px dinmittelschriftregular,arial;
   text-transform:uppercase;
   text-align:center;
	 background-color: gray;
   border-radius: 3px;
   text-decoration:none;
 } */

/* #allureAlertBox #cancelConfirm{
	  position:absolute;
	  bottom: 20px;
	  left: 85px;
} */
/* #allureAlertBox #okConfirm{
    position:absolute;
    bottom: 20px;
    left: 221px;
} */

/* #allureAlertBox #okConfirm:hover, #allureAlertBox #cancelConfirm:hover{
  color: #3f4048;
  text-decoration: none;
} */


/*-------------------------alert end-------------------------*/
.about-maria {
  position: relative;
}
div#btnBookTop {
  text-align: center;
	margin-bottom: 20px;
}
#about-maria-title {
  line-height: 43px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 0;
  z-index: 999;
  left: 0;
  right: 0;
}
.pop-up-title {
    padding-top: 20px;
	width:100%;
	max-width:380px;
	margin: auto;
}

@media (max-width: 767px) {
	.pop-up-title{
		max-width: 363px;
	}
	/* td.td-piercing-name,
	td.td-price {
		padding-bottom: 5px;
		padding-top: 5px;
	} */

	.faq-first {
	    padding-top: 1em;
	}
	.faq-last {
	    padding-bottom: 2em;
	}

	.btnSub {
	    text-align: center;
	}

	button.input-box.btn {
		margin-left: -1px;
	}
	.mob {
		display: none;
	}
	.showonmobile
	{
		display: block;
	}
	/*MENU REMOVE MOBILE*/
	/* .checkout-success{
		font-size: 0.7em;
	} */

  .box {border: none;}

	#top-subtitle {
	    margin-top: 5em;
	}

	.detailofapt {
		font-size: 14px;
	}

	.pop-up-content {
	  /* border-bottom: 0.75px solid #d8d8d8; */
		padding-bottom: 10px;
		/* background-color: #2c2c2c; */
		padding: 18px;
		margin:10px;
	}
  .datepicker {width: 90%;}
  .price-list-box {
        padding: 0;
    }

    #about-maria #maria-cover {
        right: 0;
    }

		#desktop-slot{
			margin-top: 0;
			padding: 0;
		}

    .pop-up-div {
      position: relative;
      left: 0;
      top: 350px;
      max-width: 100%;
			width: 100%;
      clear: both;
      margin-bottom: 0;
      z-index: 999;
    }
    a#btnPriceList {
			margin: 20px 15px;
			display: block;
    }

    .down-arrow-maria,
    .link-down {
        display: none;
    }

    .mt_logo {
		font-size: 30px;
		margin: 0 -15px;
		padding: 0;
		display: none;
    }

    #about-maria .half-div-right .container {
      padding: 0;
    }

    .footer-frm {
      margin: 0;
    }

    a#icon-price-close {
      margin: 4px 0px;
      display: block;
    }


    div#price-list {
      position: fixed;
      top: 50%;
      bottom: 0;
      left: 50%;
      right: 0;
      z-index: 9999;
      display: none;
			overflow: auto;
			min-height: 460px;
			transform: translate(-50%, -50%);
    }

    div#booking-wrapper {
        padding: 0;
    }

    .notify-label {
        display: inline-block;
        margin-bottom: 0;
    }
    .box.notify-box {
        border: 0;
    }
    .notify-box > p.label {
        width: 100%;
        display: inline-block;
        text-align: left;
        line-height: 30px;
        padding: 0;
    }

    input[type="checkbox"]+label:before {
        margin-bottom: 1px;
    }

	.job-wrapper, .people-wrapper label.label {
		margin-bottom: 25px;
		clear: both;
		display: block;
    }

    input.minus-btn {
        margin-left: 0;
    }

    input#count {
        text-align: center;
    }
    .intl-tel-input .selected-flag .iti-flag {
      left: 12px !important;
			top: 0 !important;
    }
}

/* 1792x828px at 326ppi */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 2) {

		select#selectTime,
		[name="selectTime"] {
			border-left: 1px solid #d8d8d8;
		}

		button.input-box.b {
			border: 1px solid #d8d8d8;
		}
	}

/* 2436x1125px at 458ppi */
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
		select#selectTime,
		[name="selectTime"] {
			border-left: 1px solid #d8d8d8;
		}

		button.input-box.b {
			border: 1px solid #d8d8d8;
		}
	}

/* 2688x1242px at 458ppi */
@media only screen
    and (device-width : 414px)
    and (device-height : 896px)
    and (-webkit-device-pixel-ratio : 3) {
		select#selectTime,
		[name="selectTime"] {
			border-left: 1px solid #d8d8d8;
		}

		button.input-box.b {
			border: 1px solid #d8d8d8;
		}
	}

@media screen and (device-aspect-ratio: 40/71) {
	.price-list-box {
		margin: 0;
		padding: 0;
	}
}

/*@media screen and (max-width: 767px) and (orientation: landscape) {*/
    /*div#booking {*/
        /*padding-top: 0px;*/
    /*}*/
/*}*/









/*---------new css--------------------*/
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}


.allure-sticky{
	position: fixed;
	top: 0;
	width: 100%;
}


#slots_section div.active, #slots_section div:hover{
	background: #000;
	color: white;
	transition: .3s;
	cursor: pointer;
}

.people-wrapper, .store-info-wrapper{
	border-bottom: 1px solid #d8d8d8;
}
@keyframes blink {
	50% { border-color: white; }
}
#pick_ur_slot.loading{
	animation: blink .5s step-end infinite alternate;
}
#slots_section{
	padding-bottom: 20px;
	padding: 0 7px;
}
.slot-width{
	width: 98px;
	height: 33px;
	border: 1px solid #d8d8d8;
  padding: 6px;
	margin: 5px;
}
.datepicker{
	z-index: 9999!important;
}

.zopim{
	display: none!important;
}
.lds-ellipsis{
	position: absolute;
	top:50%;
	left:48%
}
.form-disable-overlay{
	position: fixed;
	background: #80808094;
	z-index:9999;width: 100%;
	height: 100%;
	display: block
}

.close {
	right: 10px;
	top: -20px;
	position: absolute;
}
div#page-wrapper{
	overflow-x:hidden !important;
}


/*@media--------------------*/
@media (max-width: 768px) {
	.slot-width{
		width: 30%;
	}
	.lds-ellipsis{
		position: absolute;
		top:50%;
		left:45%
	}
	/* .time-box{
		padding: 0px !important;
	} */
	.pop-up-title{
		margin: 16px auto;
	}
	.datepicker table{
		width:100%;
	}
}

@media (min-width:767px) and (max-width:1024px) and (orientation:portrait){

	.faq-last {
    padding-bottom: 0;
	}
	#faq-right .faq-last {
    padding-bottom: 80px;
	}
	#desktop-slot{
		margin-top: 0;
		padding: 0;
	}


	li.nav-item{
		margin-right: 10px;
	}
}


@media (min-width:767px) and (max-width:1024px){
	.half-div-left.fill{
		background: url(../../images/allure/popup/MT_Portrait_ipad.jpg) no-repeat !important;
		height: 1116px;
		background-size: cover !important;
	}
	.hero-image {
		background-image: url(../../images/allure/popup/Ipad.jpg);
		background-position: top left;
		background-size: cover;
		height: 1468px;
	}
	.pop-up-div {
		position: relative;
		left: 0;
		top: 515px;
		max-width: 90%;
		width: 100%;
		clear: both;
		margin-bottom: 0;
		z-index: 999;
		margin: auto;
	}
}

@media (min-width:767px) and (max-width:1024px) and (orientation:landscape){
.half-div-left.fill{
		height: 725px;
    background-size: 100% !important;
	}
.pop-up-div{
		top: 670px;
	}
.hero-image{
		height: 1668px;
	}
/* .ipad-lands {
  max-width: 30%;
  flex: 0 0 30%;
	} */
#faq{
	padding: 0 !important;
	}
}

/* Border top,bottom for Calander day name*/
.table-condensed thead tr:nth-child(3){
	border-top: 2px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
}

@media(min-width: 1920px){

	p.black-subtitle{
		padding-top: 130px;
	}

	p.p-black{
		padding-top: 30px;
	}

	.div-about-maria{
		padding: 0px 118px;
	}

	p.black-subtitle{
		padding-top: 172px;
	}
	.about-maria-txt-two{padding-bottom: 155px;}
	.pop-up-div{left: 66%;}

}


/****************Shruti CSS******************/
.appointment-container{
	max-width: 1208px !important;
  margin: 0 auto;
	margin-top: 42px;
}
.appointments-book-store h1{
	font-size: 30px;
}
.book-title p{
	font-size: 15px;
	letter-spacing: 1px;
}
.appointments-book-store .label.custom-checkbox{
	font-family: urw-din-light;
	color: rgba(41,41,41,0.9);
}
.guest-count{
	color: rgba(41,41,41,0,6);
}
.job h6, .job h6 span, div#customer1 h6, div#customer1 h6 span {
  color: rgba(41,41,41,0.6);
  font-family: urw-din-bold;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 13px;
}
#price-list td {
	padding: 0;
}
#price-list {
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
	width: 323px;
  margin: 0 auto;
	padding: 29px 23px 0;
}
#price-list td.td-price {
  font-family: urw-din-xlight;
}
.earlobe {
	font-family: urw-din-xlight;
}
select.input-box {
	background-position: 80% 50%;
	width: 100px;
}

#desktop-slot .xpaces {
  font-size: 13px;
}
.store-info-wrapper{
	margin: 0 15px;
}
.error.invalid-feedback {
  border: none;
  background: no-repeat;
  color: #830000;
  font-size: 10px;
  text-shadow: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -moz-box-shadow: unset;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 1;
	font-family: urw-din-medium;
}
#name-box .form-group, #email-box {
  margin-bottom: 24px !important;
}
.btn.focus, .btn:focus{
	outline: 0 !important;
  box-shadow: none;
}
button{
	height: 42px;
}
.translate-popup.appointment-popup-text {
  margin-top: 20px !important;
}
#popupConfirmAppointment img {
  position: absolute;
  top: 0;
}
.btns-setDiv {
  justify-content: space-evenly;
  padding: 20px 30px 55px;
}
.apt-cancel-buttons-set, .apt-modify-buttons-set{
	width: 20%;
}
.btns-setDiv button {
  width: 100%;
	text-transform: uppercase;
}
.apt-buttons-set {
  margin-bottom: 70px;
}
#allureAlertBox #okConfirm, #allureAlertBox #cancelConfirm{
	height: 42px;
  padding: 10px;
	margin-top: 30px;
	border-radius: 0;
}
.store-name {
  margin-bottom: 7px;
}
.store-details{
	margin-bottom: 3px;
}
.book-title {
  margin: 22px 0 15px;
}
button#btnConfirm {
  margin: 5px 15px 0;
}
#name-box h6 {
  margin-bottom: 19px;
  text-transform: uppercase;
  font-size: 13px;
}
.apt-buttons-set {
  margin-bottom: 70px;
}
#allureAlertBox p {
  font-family: urw-din-light;
}
#price-list .xpaces.translate-popup {
  letter-spacing: 1.5px;
}
.notify-label .translate-popup {
  margin-bottom: 0;
}
.datepicker th.next {
  width: auto;
  height: auto;
  right: 0;
  top: 0;
  background: none;
}
.datepicker th.prev {
  width: auto;
  height: auto;
  left: 0;
  top: 0;
  background: none;
  transform: rotate(0deg);
}
.table-condensed {
  width: 100%;
}
.table-condensed span.month.focused.active {
  background: #000 !important;
}
.modal-confirm-appointment .modal-header {
  margin: 40px 0 30px;
}
#people-box .para-bold {
  font-size: 13px;
}
.attr-count{
	margin-top: 11px;
}
.buttons-group {
  display: flex;
  justify-content: space-evenly;
}
.buttons-group a {
  width: 40% !important;
	margin-right: 0;
}
#allureAlertBox #cancelConfirm{
	margin-right: 0;
}
#allureAlertBox #closeBtn {
  background: #fff;
  border: 1px solid #292929;
  border-radius: 0;
}
.custom-checkbox, .custom-radio{
	font-family: urw-din-light;
}
.general-piercing-information{
	margin-top: 47px;
}
.general-piercing-information p {
  text-align: justify;
}
@media (min-width:992px){
	#desktop-slot {
	  margin-top: 128px;
	}
}
@media (min-width:767px) and (max-width:1024px){
	#price-list{
		margin: 0 17px 40px;
	}
	#datetime-box {
    margin-bottom: 3px;
	}
}
@media (min-width:767px) and (max-width:1024px){
	.select-type-one, .country-section select{
		width: 100%;
	}
}
@media (max-width:767px){
	.notify-label{
		margin-bottom: 10px;
	}
	/* .appointments-book-store .label.custom-checkbox{
		margin-bottom: 20px;
	} */
	#popupConfirmAppointment img{
		top: 6px;
    right: -6px;
	}
	div#booking-box, .notify-label {
    padding: 0;
	}
	button#btnConfirm{
		margin: 0;
	}
	.notify-label .translate-popup{
		padding-left: 45px;
		/* margin-bottom: 10px; */
	}
	.custom-checkbox, .custom-radio{
		margin-bottom: 20px;
	}
	.quantity-count{
		padding: 0 15px 0 0;
	}
	div#notify-box{
		padding: 0 30px;
	}
	.btn-div {
    padding: 0 30px;
		margin-bottom: 40px;
	}
	#datetime-box {
    margin-bottom: 0;
	}
	.notify-text-line{
		padding: 0;
	}
	.peoplediv {
    padding: 0 15px 0 0;
	}
	#icon-price-close{
		width: 100%;
	}
	#icon-price-close img{
		position: absolute;
    right: 24px;
	}
	.apt-cancel-buttons-set, .apt-modify-buttons-set{
		width: 45%;
	}
	#popupConfirmAppointment .apt-buttons-set {
    width: 93%;
	}
	.success-field {
    padding: 0 6px;
	}
	.select-type-one, .country-section select{
		width: 100%;
	}
	.modal-confirm-appointment.appointment-set .modal-body {
    padding: 38px;
	}
}
@media (min-width:991px){
	.error.invalid-feedback{
		text-align: left;
    padding: 0 3px;
	}
}
@media (min-width:767px) and (max-width:1024px) {
	.store-right{
		text-align: right !important;
	}
}
