<?xml version="1.0"?>
<config>
	<modules>
		<Allure_CheckoutStep>
            <name>Allure - Multicheckout</name>
			<version>1.0.3</version>
            <depends>
                <Allure_Core />
            </depends>
		</Allure_CheckoutStep>
	</modules>
	
	<global>
           <controllers>
             <Allure_CheckoutStep>
                  <rewrite>
                      <checkout>Allure_CheckoutStep_Onepage</checkout>
                      <checkout>Allure_CheckoutStep_Cart</checkout>
                      <sales>Allure_CheckoutStep_Order</sales>
                  </rewrite>
             </Allure_CheckoutStep>
         </controllers> 
         
         <blocks>
         	<checkoutstep>
         		<class>Allure_CheckoutStep_Block</class>
         	 </checkoutstep>
         	<checkout>
				<rewrite>
					<onepage_review_info>Allure_CheckoutStep_Block_Checkout_Onepage_Review_Info</onepage_review_info>
					<onepage_shipping_method_available>Allure_CheckoutStep_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
				
				<rewrite>
					<cart_totals>Allure_CheckoutStep_Block_Checkout_Cart_Totals</cart_totals>
				</rewrite>
				
				<rewrite>
					<onepage_payment_methods>Allure_CheckoutStep_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
				</rewrite>
				
			</checkout>
			
         </blocks>
         
         <helpers>
         	<checkoutstep>
         		<class>Allure_CheckoutStep_Helper</class>
         	 </checkoutstep>
         </helpers>
         
         <models>
			  <checkoutstep>
					<class>Allure_CheckoutStep_Model</class>
					<resourceModel>checkoutstep_mysql4</resourceModel>
			  </checkoutstep>
			  <checkout>
						<rewrite>
							<type_onepage>Allure_CheckoutStep_Model_Checkout_Type_Onepage</type_onepage>
						</rewrite>
			  </checkout>
			  
			   <sales>
					<rewrite>
						<!-- <order_invoice>Allure_CheckoutStep_Model_Sales_Order_Invoice</order_invoice> -->
						<order_payment>Allure_CheckoutStep_Model_Sales_Order_Payment</order_payment>
						<order>Allure_CheckoutStep_Model_Sales_Order</order>
						<service_quote>Allure_CheckoutStep_Model_Sales_Service_Quote</service_quote>
					</rewrite>
			  </sales>
			  
			  <giftcards>
			  		<rewrite>
			  			<discount_observer>Allure_CheckoutStep_Model_Giftcards_Discount_Observer</discount_observer>
			  		</rewrite>
			  </giftcards>
			  
			  <!-- <salesrule>
				  <rewrite>
				  	<validator>Allure_CheckoutStep_Model_SalesRule_Validator</validator>
				  </rewrite>
			  </salesrule> -->
			  
		 </models>
         
          <resources>
		      <checkoutstep_setup>
				    <setup>
						  <module>Allure_CheckoutStep</module>
						  <class>Mage_Sales_Model_Mysql4_Setup</class>
				    </setup>
				    <connection>
				      	<use>default_setup</use>
				    </connection>
		      </checkoutstep_setup>
      	</resources>  
      	
      	<fieldsets>
        	<sales_convert_quote>
             	<delivery_method>
                     <to_order>*</to_order>
                 </delivery_method>
                 <wholesale_pay_option>
                     <to_order>*</to_order>
                 </wholesale_pay_option>
                 <is_ready_to_ship>
                     <to_order>*</to_order>
                 </is_ready_to_ship>
                 <is_child_order>
                     <to_order>*</to_order>
                 </is_child_order>
                  <order_type>
                     <to_order>*</to_order>
                 </order_type>
    		</sales_convert_quote>
    	</fieldsets>
    	
    	<events>
	    	<customer_logout>
	             <observers>
                	 <checkoutstep>
                     	<class>checkoutstep/observer</class>
                     	<method>changeCustsomQuoteStatus</method>
                 	</checkoutstep>
             	</observers>
	        </customer_logout>
        </events>
         
     </global>
     
         <frontend>
            <routers>
                <checkout>
                   <args>
                        <modules>
                            <Allure_CheckoutStep before="MT_Checkout">Allure_CheckoutStep</Allure_CheckoutStep>
                        </modules>
                   </args>
                </checkout>
                 <sales>
                   <args>
                        <modules>
                            <Allure_CheckoutStep before="Mage_Checkout">Allure_CheckoutStep</Allure_CheckoutStep>
                        </modules>
                   </args>
                </sales>
            </routers>
            <layout>
              <updates>
                  <checkoutstep>
                      <file>checkoutstep.xml</file>
                  </checkoutstep>
              </updates>
        </layout>
        </frontend>
        
        
         <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <checkoutstep_options>
                                            <title>Allure Settings</title>
                                        </checkoutstep_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
        
</config>
