<?xml version="1.0"?>
    <config>
        <modules>
            <Webgility_Ecc>
                <version>1.0.2</version>
            </Webgility_Ecc>
        </modules>
        <frontend>
            <routers>
                <ecc>
                    <use>standard</use>
                    <args>
                        <module>Webgility_Ecc</module>
                        <frontName>ecc</frontName>
                    </args>
                </ecc>
            </routers>
            <layout>
                <updates>
                    <ecc>
                        <file>ecc.xml</file>
                    </ecc>
                </updates>
            </layout>
        </frontend> 
		<admin>
        <routers>
            <ecc>
                <use>admin</use>
                <args>
                    <module>Webgility_Ecc</module>
                    <frontName>ecc</frontName>
                </args>
            </ecc>
        </routers>
    </admin>
       
	<global>
            <models>
                <ecc>
                    <class>Webgility_Ecc_Model</class>
                    <resourceModel>ecc_mysql4</resourceModel>
                </ecc>
                <ecc_mysql4>
                    <class>Webgility_Ecc_Model_Mysql4</class>
                    <entities>
                        <ecc>
                            <table>connect_config</table>
                        </ecc>
                    </entities>
                </ecc_mysql4>
            </models>
            <resources>
                <ecc_setup>
                    <setup>
                        <module>Webgility_Ecc</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </ecc_setup>
                <ecc_write>
                    <connection>
                        <use>core_write</use>
                    </connection>
                </ecc_write>
                <ecc_read>
                    <connection>
                        <use>core_read</use>
                    </connection>
                </ecc_read>
            </resources>
            <blocks>
                <ecc>
                    <class>Webgility_Ecc_Block</class>
                </ecc>
				
            </blocks>
            <helpers>
                <ecc>
                    <class>Webgility_Ecc_Helper</class>
                </ecc>
            </helpers>
			<rewrite>
            <webgility_ecc_desktop70>
                <from><![CDATA[#^/webgility/webgility-magento.php#]]></from>
                <to>/ecc/index/index</to>
            </webgility_ecc_desktop70>
			
			
        </rewrite>
        </global>
    </config>