<config>
    <modules>
        <Remarkety_Mgconnector>
            <version>1.1.2.7</version>
        </Remarkety_Mgconnector>
    </modules>
    <global>
        <models>
            <mgconnector>
                <class>Remarkety_Mgconnector_Model</class>
                <resourceModel>mgconnector_resource</resourceModel>
            </mgconnector>
            <mgconnector_resource>
                <class>Remarkety_Mgconnector_Model_Resource</class>
                <entities>
                    <queue>
                        <table>remarkety_queue</table>
                    </queue>
                </entities>
            </mgconnector_resource>
        </models>
        <resources>
            <mgconnector_setup>
                <setup>
                    <module>Remarkety_Mgconnector</module>
                    <class>Remarkety_Mgconnector_Model_Resource_Setup</class>
                </setup>
            </mgconnector_setup>
        </resources>
        <helpers>
            <mgconnector>
                <class>Remarkety_Mgconnector_Helper</class>
            </mgconnector>
        </helpers>
        <blocks>
            <mgconnector>
                <class>Remarkety_Mgconnector_Block</class>
            </mgconnector>
        </blocks>
        <events>
            <catalog_product_save_after>
                <observers>
                    <remarkety_catalog_product_save_after>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerProductSave</method>
                    </remarkety_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <customer_save_after>
                <observers>
                    <remarkety_customer_save_after_observer>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerCustomerUpdate</method>
                    </remarkety_customer_save_after_observer>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <remarkety_customer_address_save_after_observer>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerCustomerAddressUpdate</method>
                    </remarkety_customer_address_save_after_observer>
                </observers>
            </customer_address_save_after>
            <customer_address_save_before>
                <observers>
                    <remarkety_customer_address_save_before_observer>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerCustomerAddressBeforeUpdate</method>
                    </remarkety_customer_address_save_before_observer>
                </observers>
            </customer_address_save_before>
            <newsletter_subscriber_save_after>
                <observers>
                    <remarkety_newsletter_subscriber_save_after_observer>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerSubscribeUpdate</method>
                    </remarkety_newsletter_subscriber_save_after_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <newsletter_subscriber_delete_after>
                <observers>
                    <remarkety_newsletter_subscriber_delete_after_observer>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerSubscribeDelete</method>
                    </remarkety_newsletter_subscriber_delete_after_observer>
                </observers>
            </newsletter_subscriber_delete_after>
            <customer_delete_commit_after>
                <observers>
                    <remarkety_customer_delete_commit_after_observer>
                        <type>singleton</type>
                        <class>mgconnector/observer</class>
                        <method>triggerCustomerDelete</method>
                    </remarkety_customer_delete_commit_after_observer>
                </observers>
            </customer_delete_commit_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Remarkety_Mgconnector before="Mage_Adminhtml">Remarkety_Mgconnector_Adminhtml</Remarkety_Mgconnector>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <mgconnector_cron>
                <schedule><cron_expr>30 * * * *</cron_expr></schedule>
                <run><model>mgconnector/observer::run</model></run>
            </mgconnector_cron>
        </jobs>
    </crontab>
</config>

