<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_PiercingGallery>
        <version>0.1.0</version>
        </Ecp_PiercingGallery>
    </modules>
    <frontend>
        <routers>
            <ecp_piercinggallery>
                <use>standard</use>
                <args>
                    <module>Ecp_PiercingGallery</module>
                    <frontName>ecppiercinggallery</frontName>
                </args>
            </ecp_piercinggallery>
        </routers>
        <layout>
            <updates>
                <ecp_piercinggallery>
                    <file>ecp/piercinggallery.xml</file>
                </ecp_piercinggallery>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_piercinggallery>
                <use>admin</use>
                <args>
                    <module>Ecp_PiercingGallery</module>
                    <frontName>ecppiercinggallery</frontName>
                </args>
            </ecp_piercinggallery>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <ecp_piercinggallery module="ecp_piercinggallery">
                <title>PiercingGallery</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_piercinggallery">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecppiercinggallery/adminhtml_piercinggallery</action>
                    </items>
                </children>
            </ecp_piercinggallery>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_PiercingGallery>
                            <title>PiercingGallery Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_PiercingGallery>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_piercinggallery>
                    <file>ecp/piercinggallery.xml</file>
                </ecp_piercinggallery>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_piercinggallery>
                <class>Ecp_PiercingGallery_Model</class>
                <resourceModel>ecp_piercinggallery_mysql4</resourceModel>
            </ecp_piercinggallery>
            <ecp_piercinggallery_mysql4>
                <class>Ecp_PiercingGallery_Model_Mysql4</class>
                <entities>
                    <piercinggallery>
                        <table>piercinggallery</table>
                    </piercinggallery>
                </entities>
            </ecp_piercinggallery_mysql4>
        </models>
        <resources>
            <ecp_piercinggallery_setup>
                <setup>
                    <module>Ecp_PiercingGallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_piercinggallery_setup>
            <ecp_piercinggallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_piercinggallery_write>
            <ecp_piercinggallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_piercinggallery_read>
        </resources>
        <blocks>
            <ecp_piercinggallery>
                <class>Ecp_PiercingGallery_Block</class>
            </ecp_piercinggallery>
        </blocks>
        <helpers>
            <ecp_piercinggallery>
                <class>Ecp_PiercingGallery_Helper</class>
            </ecp_piercinggallery>
        </helpers>
    </global>
    <default>
        <ecp_piercinggallery>
            <piercinggallery>
                <timing>10</timing>
            </piercinggallery>
        </ecp_piercinggallery>
    </default>
</config>