<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!--@styles
<style type="text/css">
body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	line-height: 1;
	font-family: inherit;
	vertical-align: baseline;
}
body {
	background:#ffffff;
	color: #3f4048;
	font-size:13px;
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
}
table{
	margin:0 auto;
}
table tr td {
    background:#dedede;
}
.header table,
.header td,
.header th,
.footer table,
.footer td,
.footer th
{
	vertical-align:middle;
	text-align:center;
}
th {
	padding:10px;
}
h4 {
	font-size:1.5em;
}
a{
	color:#3f4048;
	text-decoration:underline;
}
a:hover{
}

.nav_header {
	background:#30a2fb;
	height:40px;
	font-size:13px;
	margin:0 auto 10px;
}
.nav_header td.menuitem {
	max-width:100px;
	padding:0 10px;
	width:auto;
}
.nav_header td.menuitem.first {
	background:#F90;
}
.nav_header td.menuitem.last {
	background:#C39;
}
.nav_header td a {
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
}
.nav_header td a:hover {
	color:#036;
}
.body-content {
	font-size:13px;
	padding: 10px;
	border-bottom:1px solid #cfcfd0;
}
.body-content p,
.body-content td,
.body-content span,
.body-content strong,
.body-content em,
.body-content ol,
.body-content ul,
.body-content li
{
	line-height:1.7em;
}
.body-content a{
	color:#30a2fb;
	text-decoration:none;
}
.body-content a:hover{
	color:#7ac142;
	text-decoration:underline;
}
.body-content h3{
	font-size:15px;
	font-weight:bold;
}
.body-content h3,
.body-content p,
.body-content ol,
.body-content ul
{
	padding:0.5em 0;
}
.body-content table{
	background:#efefef;
	border:1px solid #ccc;
	margin:10px auto;
}
.body-content th{
	background:#CCC;
	color:#666;
	font-weight:bold;
}
.body-content td{
	padding:2px 10px;
}
.footer-content {
	padding: 25px 15px;
	text-align:center;
}
.footer-content p{
	padding:6px;
}
.footer-content,
.footer-content a
{
	font-size:10px;
	padding:0 5px;
	text-decoration:none;
}
.footer-content a:hover{
}
.legals p{
	font-size:11px;
	text-align:left;
	padding:5px 10px;
	line-height:normal;
}
</style>
@-->
<body bgcolor="#dedede" style="background: #dedede;color: #3f4048;font-size: 13px;margin: 0;font-family: Arial, Helvetica, sans-serif">
	<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto">
        <tr>
            <td class="header" style="padding: 0;height: 108px; background: #dedede;">
                <h1 class="logo">
                    <a style="color:#3f4048; text-decoration:underline" href="{{store url=''}}" style="color: #3f4048;text-decoration: underline">
                        <img src="{{store url=''}}/media/email-header.png" border="0" alt="Maria Tash" style="display: block;text-align: left"/>
                    </a>
                </h1>
            </td>
        </tr>
		<tr>
			<td class="body-content" style="font-size: 13px;padding: 25px;border-bottom:1px solid #cfcfd0; background: #dedede;">
<!-- ////////////////////////////////////////////////////////////////////// begins dynamic content ////////////////////////////////////////////////////////////////////// -->



<!-- ////////////////////////////////////////////////////////////////////// finish dynamic content /////////////////////////////////////////////////////////////////////// -->
			</td>
		</tr>
		<tr>
			<td class="footer-content" style="background: #dedede;">
			</td>
		</tr>
	</table>
</body>