<?xml version="1.0"?>
<config>
	<modules>
		<Allure_Orders>
			<name>Allure - Orders</name>
			<version>1.0.0</version>
		</Allure_Orders>
	</modules>
	<global>
		<helpers>
			<allure_orders>
				<class>Allure_Orders_Helper</class>
			</allure_orders>
		</helpers>
		<models>
			<allure_orders>
				<class>Allure_Orders_Model</class>
			</allure_orders>
			<sales>
				<rewrite>
					<order_invoice>Allure_Orders_Model_Sales_Order_Invoice</order_invoice>
				</rewrite>
			</sales>
		</models>
	</global>
</config>
