<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Press>
        <version>0.1.1</version>
        </Ecp_Press>
    </modules>
    <frontend>
        <routers>
            <ecp_press>
                <use>standard</use>
                <args>
                    <module>Ecp_Press</module>
                    <frontName>ecppress</frontName>
                </args>
            </ecp_press>
        </routers>
        <layout>
            <updates>
                <ecp_press>
                    <file>ecp/press.xml</file>
                </ecp_press>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_press>
                <use>admin</use>
                <args>
                    <module>Ecp_Press</module>
                    <frontName>ecppress</frontName>
                </args>
            </ecp_press>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_press">
                <sort_order>71</sort_order>               
                <children>
                    <press module="ecp_press">
                        <title>Press</title>
                        <sort_order>0</sort_order>
                        <action>ecppress/adminhtml_press</action>
                    </press>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Press>
                            <title>Press Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Press>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_press>
                    <file>ecp/press.xml</file>
                </ecp_press>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_press>
                <class>Ecp_Press_Model</class>
                <resourceModel>ecp_press_mysql4</resourceModel>
            </ecp_press>
            <ecp_press_mysql4>
                <class>Ecp_Press_Model_Mysql4</class>
                <entities>
                    <press>
                        <table>ecp_press</table>
                    </press>
                </entities>
            </ecp_press_mysql4>
        </models>
        <resources>
            <ecp_press_setup>
                <setup>
                    <module>Ecp_Press</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_press_setup>
            <ecp_press_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_press_write>
            <ecp_press_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_press_read>
        </resources>
        <blocks>
            <ecp_press>
                <class>Ecp_Press_Block</class>
            </ecp_press>
        </blocks>
        <helpers>
            <ecp_press>
                <class>Ecp_Press_Helper</class>
            </ecp_press>
        </helpers>
    </global>
    <default>
        <ecp_press>
            <press>
                <value>some value</value>
            </press>
        </ecp_press>
    </default>
</config>