<?xml version="1.0"?>
<config>
	<modules>
		<Allure_ProcessOrders>
			<name>Allure - Process Orders</name>
			<version>0.1.0</version>
		</Allure_ProcessOrders>
	</modules>
	
	<global>
		<models>
			<processorders>
				<class>Allure_ProcessOrders_Model</class>
			</processorders>
		</models>
	</global>

	<crontab>
		<jobs>
			<allure_processorders_schedule>
				<schedule>
					<cron_expr>15,45 * * * *</cron_expr>
				</schedule>
				<run>
					<model>processorders/observer::runProcess</model>
				</run>
			</allure_processorders_schedule>
		</jobs>
	</crontab>
	
</config>