<?xml version="1.0"?>
<config>
    <modules>
        <Alluremultistore_Store>
            <version>0.0.1</version>
        </Alluremultistore_Store>
    </modules>
    <global>
        <resources>
            <allure_store_setup>
                <setup>
                    <module>Alluremultistore_Store</module>
                </setup>
            </allure_store_setup>
        </resources>
        
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_store_edit_form>Alluremultistore_Store_Block_Adminhtml_System_Store_Edit_Form</system_store_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Alluremultistore_Store before="Mage_Adminhtml">Alluremultistore_Store_Adminhtml</Alluremultistore_Store>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
</config>
