<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Backup>
        <version>0.1.0</version>
        </Ecp_Backup>
    </modules>
    <frontend>
        <routers>
            <backup>
                <use>standard</use>
                <args>
                    <module>Ecp_Backup</module>
                    <frontName>backup</frontName>
                </args>
            </backup>
        </routers>
        <layout>
            <updates>
                <ecp_backup>
                    <file>ecp/backup.xml</file>
                </ecp_backup>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_backup>
                <use>admin</use>
                <args>
                    <module>Ecp_Backup</module>
                    <frontName>ecpbackup</frontName>
                </args>
            </ecp_backup>
        </routers>
    </admin>
    <global>
        <models>
            <ecp_backup>
                <class>Ecp_Backup_Model</class>
                <resourceModel>ecp_backup_mysql4</resourceModel>
            </ecp_backup>
            <ecp_backup_mysql4>
                <class>Ecp_Backup_Model_Mysql4</class>
                <entities>
                    <backup>
                        <table>backup</table>
                    </backup>
                </entities>
            </ecp_backup_mysql4>
        </models>
        <resources>
            <ecp_backup_setup>
                <setup>
                    <module>Ecp_Backup</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_backup_setup>
            <ecp_backup_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_backup_write>
            <ecp_backup_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_backup_read>
        </resources>
        <blocks>
            <ecp_backup>
                <class>Ecp_Backup_Block</class>
            </ecp_backup>
        </blocks>
        <helpers>
            <ecp_backup>
                <class>Ecp_Backup_Helper</class>
            </ecp_backup>
        </helpers>
    </global>
</config>
