.search-autocomplete ul.wyomind-elasticsearch li.title,
.search-autocomplete ul.wyomind-elasticsearch li.title a {
    background-color: #fff;
    color: #292929;
    text-transform: uppercase;
    font-weight: bold;
}

.search-autocomplete ul.wyomind-elasticsearch {
    background-color: #fff;
    border: 0px solid #d8d8d8;
    border-bottom: 0;
    padding-left: 0px;
}

.search-autocomplete ul.wyomind-elasticsearch li {
    padding: 5px 0px;
    border-bottom: 0.3px solid #d8d8d8;
    width: 100%;
}

.search-autocomplete ul.wyomind-elasticsearch li .image {
    float: left;
    margin-right: 6px;
    background-color: #fff;
}

.search-autocomplete ul.wyomind-elasticsearch li a {
    display: block;
    padding: 6px;
    text-decoration: none;
}

.search-autocomplete ul.wyomind-elasticsearch li.selected a {
    text-decoration: none;
    background-color: #ecf3f6;
}

.search-autocomplete ul.wyomind-elasticsearch li .price-box {
    margin: 0;
}

.search-autocomplete ul.wyomind-elasticsearch li a .price-box .minimal-price-link {
    padding: 0;
}

.search-autocomplete ul.wyomind-elasticsearch li .clearer {
    clear: both;
}


.search-autocomplete {
    background: #fff;
    padding: 25px;
}


.search-autocomplete .all-results {
    text-align: center;
    text-decoration:underline;
}

.search-autocomplete .search-suggestions,
.search-autocomplete .all-results
{
    border-bottom: none !important;
}
/*spcial price*/
.search-autocomplete ul.wyomind-elasticsearch li .info.price {
    margin-left: 56px;
}



