<?xml version="1.0"?>

<config>
    <modules>
        <Ecp_UploadImages>
            <version>0.1.0</version>
        </Ecp_UploadImages>
    </modules>
    <global>
        <models>
            <uploadimages>
                <class>Ecp_UploadImages_Model</class>
                <resourceModel>uploadimages_mysql4</resourceModel>
            </uploadimages>
            <uploadimages_mysql4>
                <class>Ecp_UploadImages_Model_Mysql4</class>
                <entities>
                    <UploadImages>
                        <table>uploadimages</table>
                    </UploadImages>
                </entities>
            </uploadimages_mysql4>
        </models>
        <resources>
            <uploadimages_setup>
                <setup>
                    <module>Ecp_UploadImages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </uploadimages_setup>
            <uploadimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </uploadimages_write>
            <uploadimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </uploadimages_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <uploadimages>
                <use>standard</use>
                <args>
                    <module>Ecp_UploadImages</module>
                    <frontName>uploadimages</frontName>
                </args>
            </uploadimages>
        </routers>  
    </frontend>   
</config>