<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Customercarenavleft>
        <version>0.1.1</version>
        </Ecp_Customercarenavleft>
    </modules>
    <frontend>
        <routers>
            <ecp_customercarenavleft>
                <use>standard</use>
                <args>
                    <module>Ecp_Customercarenavleft</module>
                    <frontName>ecpcustomercare</frontName>
                </args>
            </ecp_customercarenavleft>
        </routers>
        <layout>
            <updates>
                <ecp_customercarenavleft>
                    <file>ecp/customercarenavleft.xml</file>
                </ecp_customercarenavleft>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_customercarenavleft>
                <use>admin</use>
                <args>
                    <module>Ecp_Customercarenavleft</module>
                    <frontName>ecpcustomercare</frontName>
                </args>
            </ecp_customercarenavleft>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <ecp_cms_save_page>
                        <type>singleton</type>
                        <class>Ecp_Customercarenavleft_Model_Observer</class>
                        <method>savePage</method>
                    </ecp_cms_save_page>
                </observers>
            </cms_page_prepare_save> 
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <ecp_cms_prepare_form>
                        <type>singleton</type>
                        <class>Ecp_Customercarenavleft_Model_Observer</class>
                        <method>prepareForm</method>
                    </ecp_cms_prepare_form>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
        <!--<menu>
            <ecp_customercarenavleft module="ecp_customercarenavleft">
                <title>Customercarenavleft</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_customercarenavleft">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpcustomercare/adminhtml_customercarenavleft</action>
                    </items>
                </children>
            </ecp_customercarenavleft>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Customercarenavleft>
                            <title>Customercarenavleft Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Customercarenavleft>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_customercarenavleft>
                    <file>ecp/customercarenavleft.xml</file>
                </ecp_customercarenavleft>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_customercarenavleft>
                <class>Ecp_Customercarenavleft_Model</class>
                <resourceModel>ecp_customercarenavleft_mysql4</resourceModel>
            </ecp_customercarenavleft>
            <ecp_customercarenavleft_mysql4>
                <class>Ecp_Customercarenavleft_Model_Mysql4</class>
                <entities>
                    <customercarenavleft>
                        <table>customercarenavleft</table>
                    </customercarenavleft>
                </entities>
            </ecp_customercarenavleft_mysql4>
        </models>
        <resources>
            <ecp_customercarenavleft_setup>
                <setup>
                    <module>Ecp_Customercarenavleft</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_customercarenavleft_setup>
            <ecp_customercarenavleft_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_customercarenavleft_write>
            <ecp_customercarenavleft_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_customercarenavleft_read>
        </resources>
        <blocks>
            <ecp_customercarenavleft>
                <class>Ecp_Customercarenavleft_Block</class>
            </ecp_customercarenavleft>
        </blocks>
        <helpers>
            <ecp_customercarenavleft>
                <class>Ecp_Customercarenavleft_Helper</class>
            </ecp_customercarenavleft>
        </helpers>
    </global>
    <default>
        <ecp_customercarenavleft>
            <customercarenavleft>
                <value>some value</value>
            </customercarenavleft>
        </ecp_customercarenavleft>
    </default>
</config>