<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_DiscoverNavigation>
        <version>0.1.0</version>
        </Ecp_DiscoverNavigation>
    </modules>
    <frontend>
        <routers>
            <ecp_discovernavigation>
                <use>standard</use>
                <args>
                    <module>Ecp_DiscoverNavigation</module>
                    <frontName>ecpdiscovernavigation</frontName>
                </args>
            </ecp_discovernavigation>
        </routers>
        <layout>
            <updates>
                <ecp_discovernavigation>
                    <file>ecp/discovernavigation.xml</file>
                </ecp_discovernavigation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_discovernavigation>
                <use>admin</use>
                <args>
                    <module>Ecp_DiscoverNavigation</module>
                    <frontName>ecpdiscovernavigation</frontName>
                </args>
            </ecp_discovernavigation>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_discovernavigation">
                <sort_order>75</sort_order>               
                <children>
                    <manage_menu module="ecp_discovernavigation">
                        <title>Discover MariaTash Menu</title>
                        <sort_order>0</sort_order>
                        <action>ecpdiscovernavigation/adminhtml_discoverNavigation/sort</action>
                    </manage_menu>
                </children>                
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_DiscoverNavigation>
                            <title>DiscoverNavigation Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_DiscoverNavigation>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_discovernavigation>
                    <file>ecp/discovernavigation.xml</file>
                </ecp_discovernavigation>
            </updates>
        </layout>
    </adminhtml>   
    <global>        
        <models>
            <ecp_discovernavigation>
                <class>Ecp_DiscoverNavigation_Model</class>
                <resourceModel>ecp_discovernavigation_mysql4</resourceModel>
            </ecp_discovernavigation>
            <ecp_discovernavigation_mysql4>
                <class>Ecp_DiscoverNavigation_Model_Mysql4</class>
                <entities>
                    <discovernavigation>
                        <table>ecp_discover_mariatash_navigation_menu</table>
                    </discovernavigation>
                </entities>
            </ecp_discovernavigation_mysql4>
        </models>
        <resources>
            <ecp_discovernavigation_setup>
                <setup>
                    <module>Ecp_DiscoverNavigation</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_discovernavigation_setup>
            <ecp_discovernavigation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_discovernavigation_write>
            <ecp_discovernavigation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_discovernavigation_read>
        </resources>
        <blocks>
            <ecp_discovernavigation>
                <class>Ecp_DiscoverNavigation_Block</class>
            </ecp_discovernavigation>
        </blocks>
        <helpers>
            <ecp_discovernavigation>
                <class>Ecp_DiscoverNavigation_Helper</class>
            </ecp_discovernavigation>
        </helpers>
        <events>
            <catalog_category_save_commit_after>
              <observers>
                <save_selected_menu_categories>
                  <type>singleton</type>
                  <class>Ecp_DiscoverNavigation_Model_Observer</class>
                  <method>checkMarkedCategories</method>
                </save_selected_menu_categories>
              </observers>
            </catalog_category_save_commit_after>
            <catalog_controller_category_init_before>
              <observers>
                <check_initialized_category>
                  <type>singleton</type>
                  <class>Ecp_DiscoverNavigation_Model_Observer</class>
                  <method>checkCategory</method>
                </check_initialized_category>
              </observers>
            </catalog_controller_category_init_before>
            <catalog_category_delete_after>
                <observers>
                    <save_selected_menu_categories_delete>
                        <type>singleton</type>
                        <class>Ecp_DiscoverNavigation_Model_Observer</class>
                        <method>onCategoryDeleteAfter</method>
                    </save_selected_menu_categories_delete>
                </observers>
            </catalog_category_delete_after>
            <!--catalog_controller_category_init_after>
              <observers>
                <check_initialized_category>
                  <type>singleton</type>
                  <class>Ecp_DiscoverNavigation_Model_Observer</class>
                  <method>checkCategory</method>
                </check_initialized_category>
              </observers>
            </catalog_controller_category_init_after-->
        </events>
    </global>
    <default>
        <ecp_discovernavigation>
            <discovernavigation>
                <value>some value</value>
            </discovernavigation>
        </ecp_discovernavigation>
    </default>
</config>