body, html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

.medium-big-font{
    font-family: urw-din;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height:normal;
    font-weight: 500;
    margin-bottom:17px;
}

h1{
    font-family: urw-din-xlight;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: normal;
    font-weight: 300;
    margin-bottom:17px;
}
h1.error{
    padding-top:15px;
}


.font-white a,
.font-white{
    color: rgb(255, 255, 255);
}
.page-background {
    background-image: url("../images/maintenance-background-img-full.jpg");
    height: 100%;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size:cover;
}
.text-center{
    text-align: center;
}
.maintenance-logo{
    margin-top: 65px;
    margin-bottom:65px;
}

@media screen and (max-width: 767px){

    img.maintenance-logo-img {
        width: 100%;
    }
    .maintenance-logo{
        margin-bottom:25px;
        margin-top: 30px;
    }
    h1{
        font-size: 22px;
    }
    .medium-big-font{
        font-size: 15px;
    }
    .page-background{
        background-image: url("../images/maintenance-background-img-mobile.jpg");
    }
    p.first{
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) and (orientation:landscape){
    img.maintenance-logo-img {
        width: 50%;
    }
    .maintenance-logo{
        margin-bottom: 10px;
        margin-top: 25px;
    }
    .page-background{
        background-image: url("../images/maintenance-background-img-full.jpg");
        background-position: center 0;
    }
    p.first{
        padding-top: 0px;
    }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
    .page-background {
        background-image: url("../images/maintenance-background-img.jpg");
        background-position: 45%;
    }
}