body, html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;

}

.medium-big-font{
    font-family: urw-din;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height:normal;
    font-weight: 500;
    margin-bottom:25px;
}

h1{
    font-family: urw-din-xlight;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: normal;
    font-weight: 300;
    margin-bottom:25px;
}
h1.error{
    padding-top:15px;
}

.font-wight a,
.font-wight{
    color: rgb(255, 255, 255);
}
.page-background {
    background-image: url("../images/maintenance-background-img-full.jpg");
    height: 100%;
    background-position: 0% 15%;
    background-repeat: no-repeat;
    background-size:cover;
}
.text-center{
    text-align: center;
}
.maintenance-logo{
    margin-top: 81px;
    margin-bottom:95px;
}
.maintenance-logo-img{
    width: 250px;
    height: 50px;
}

@media screen and (min-width:320px) and (max-width:1024px) {
    .page-background {
        background-image: url("../images/maintenance-background-img.jpg");
        background-position: 0% 50%;
    }
    .maintenance-logo{
        padding-top: 45px;
        padding-bottom: 25px;
    }
}
@media screen and (min-width:320px) and (max-width:1366px) and (orientation: portrait){
    .page-background {
        background-image: url("../images/maintenance-background-img.jpg");
        background-position: 45%;
    }

}
