body, html {
    height: 100%;
    margin: 0;
}
.medium-big-font{
    font-family: urw-din;
    font-size: 18px;
    line-height: normal;
}

h1{
    font-family: urw-din-xlight;
    font-size: 22px;
    letter-spacing: Normal;
    line-height: 1.13;
    font-weight: normal;
}
h1.error{
    padding-top:20px;
}

.font-wight a,
.font-wight{
    color: rgb(255, 255, 255);
}
.page-background {
    background-image: url("../images/maintenance-background-img-full.jpg");
    height: 100%;
    background-position: 0% 15%;
    background-repeat: no-repeat;
    background-size:cover;
}
.text-center{
    text-align: center;
}
.maintenance-logo{
    padding-top: 5%;
}
.maintenance-logo-img{
    width: 250px;
    height: 50px;
}
.maintenance-content{
    padding-top: 50px;
}
@media screen and (min-width:320px) and (max-width:1024px) {
    .page-background {
        background-image: url("../images/maintenance-background-img.jpg");
        background-position: 0% 50%;
    }
}
@media screen and (min-width:320px) and (max-width:1024px) and (orientation: portrait){
    .page-background {
        background-position: 45%;
    }
    .maintenance-content {
        padding-top: 30px;
    }
}
