<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Category>
            <version>0.5.0</version>
        </Ecp_Category>
    </modules>
    <frontend>
        <routers>            
            <ecp_category>
                <use>standard</use>
                <args>
                    <module>Ecp_Category</module>
                    <frontName>ecpcategory</frontName>
                </args>
            </ecp_category>
        </routers>
        <layout>
            <updates>
                <ecp_category>
                    <file>ecp/category.xml</file>
                </ecp_category>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_category>
                <use>admin</use>
                <args>
                    <module>Ecp_Category</module>
                    <frontName>ecpcategory</frontName>
                </args>
            </ecp_category>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Category>
                            <title>ECPCategory Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Category>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_category>
                    <file>ecp/category.xml</file>
                </ecp_category>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <catalog_controller_category_init_before>
                <observers>
                    <ecp_category_init_before>
                        <type>singleton</type>
                        <class>Ecp_Category_Model_Observer</class>
                        <method>applyDefaultLimitPager</method>
                    </ecp_category_init_before>
                </observers>
            </catalog_controller_category_init_before>
            <catalog_controller_category_init_after>
                <observers>
                    <ecp_category_init_after>
                        <type>singleton</type>
                        <class>Ecp_Category_Model_Observer</class>
                        <method>applyDefaultCategoryDisplay</method>
                    </ecp_category_init_after>
                </observers>
            </catalog_controller_category_init_after>
        </events>
        <models>
            <ecp_category>
                <class>Ecp_Category_Model</class>
                <resourceModel>ecp_category_mysql4</resourceModel>
            </ecp_category>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>Ecp_Category_Model_Layer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>Ecp_Category_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>Ecp_Category_Model_Resource_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <ecp_category_setup>
                <setup>
                    <module>Ecp_Category</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecp_category_setup>
            <ecp_category_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_category_write>
            <ecp_category_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_category_read>
        </resources>
        <blocks>
            <ecp_category>
                <class>Ecp_Category_Block</class>
            </ecp_category>
        </blocks>
        <helpers>
            <ecp_category>
                <class>Ecp_Category_Helper</class>
            </ecp_category>
        </helpers>        
    </global>
    <crontab>
        <jobs>
            <ecp_category>
                <schedule>
					<cron_expr>0 */1 * * *</cron_expr>
				</schedule>
                <run>
					<model>ecp_category/Observer::newProducts</model>
				</run>
            </ecp_category>
        </jobs>
    </crontab>	
</config>