<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooLoyalty>
            <version>1.0.0</version>
        </Ebizmarts_BakerlooLoyalty>
    </modules>
    <global>
        <helpers>
            <bakerloo_loyalty>
                <class>Ebizmarts_BakerlooLoyalty_Helper</class>
            </bakerloo_loyalty>
        </helpers>
        <models>
            <bakerloo_loyalty>
                <class>Ebizmarts_BakerlooLoyalty_Model</class>
            </bakerloo_loyalty>

            <salesrule>
                <rewrite>
                    <validator>Ebizmarts_BakerlooLoyalty_Model_Validator</validator>
                </rewrite>
            </salesrule>
        </models>
        <events>
            <pos_cart_data_return_before>
                <observers>
                    <bakerloo_loyalty_cart_data>
                        <type>model</type>
                        <class>bakerloo_loyalty/observer</class>
                        <method>cartDataReturnBefore</method>
                    </bakerloo_loyalty_cart_data>
                </observers>
            </pos_cart_data_return_before>
            <sales_order_place_before>
                <observers>
                    <bakerloo_loyalty_order_place_before>
                        <class>bakerloo_loyalty/observer</class>
                        <method>awSessionRefresh</method>
                    </bakerloo_loyalty_order_place_before>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <default>
        <bakerloo_loyalty>
            <integrations>
                <Enterprise_Reward><![CDATA[Magento Enterprise]]></Enterprise_Reward>
                <TBT_Rewards><![CDATA[Sweet Tooth]]></TBT_Rewards>
                <AW_Points><![CDATA[aheadWorks Points & Rewards]]></AW_Points>
            </integrations>
        </bakerloo_loyalty>
    </default>
</config>