<?xml version="1.0"?>

<config>
    <sections>
        <allure_counterpoint translate="label" module="allure_counterpoint">
            <class>separator-top</class>
            <label>CounterPoint Bridge</label>
            <tab>allure</tab>
            <frontend_type>text</frontend_type>
            <sort_order>22</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <setting translate="label" module="allure_counterpoint">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <host>
                            <label>Host Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host>
                        <username>
                            <label>DB Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </username>
                        
                        <passwd>
                            <label>DB Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </passwd>
                        
                    </fields>
                </setting>
            </groups>
        </allure_counterpoint>
    </sections>
</config>
