<?xml version="1.0" encoding="UTF-8"?>


<config>
    <modules>
        <Allure_GoogleConnect>
            <version>0.0.2</version>
        </Allure_GoogleConnect>
    </modules>
    <default>
        <customer>
            <allure_googleconnect>
                <enabled>0</enabled>
            </allure_googleconnect>
        </customer>
    </default>
    <frontend>
        <layout>
            <updates>
                <allure_googleconnect>
                    <file>allure_googleconnect.xml</file>
                </allure_googleconnect>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <allure_googleconnect>
                    <file>allure_googleconnect.xml</file>
                </allure_googleconnect>
            </updates>
        </layout>
    </adminhtml>    
    <global>
        <models>
            <allure_googleconnect>
                <class>Allure_GoogleConnect_Model</class>
            </allure_googleconnect>
        </models>
        <blocks>
            <allure_googleconnect>
                <class>Allure_GoogleConnect_Block</class>
            </allure_googleconnect>            
        </blocks>
        <helpers>
            <allure_googleconnect>
                <class>Allure_GoogleConnect_Helper</class>
            </allure_googleconnect>
        </helpers>
        <resources>
            <allure_googleconnect_setup>
                <setup>
                    <module>Allure_GoogleConnect</module>
                    <class>Allure_GoogleConnect_Model_Resource_Setup</class>
                </setup>
            </allure_googleconnect_setup>
        </resources>        
    </global>
    <frontend>
        <routers>
            <allure_googleconnect>
                <use>standard</use>
                <args>
                    <module>Allure_GoogleConnect</module>
                    <frontName>googleconnect</frontName>
                </args>
            </allure_googleconnect>
        </routers>  
    </frontend>    
</config>
