<?xml version="1.0"?>
<config>
    <modules>
        <Alluremultistore_Catalog>
            <version>0.0.1</version>
        </Alluremultistore_Catalog>
    </modules>
    
    <global>
    	
    	<blocks>
            <alluremultistore_catalog>
                <class>Alluremultistore_Catalog_Block</class>
            </alluremultistore_catalog>
           
        </blocks>
    	
    	<models>
	    	<alluremultistore_catalog>
	            <class>Alluremultistore_Catalog_Model</class>
	        </alluremultistore_catalog>
        </models>
        
         <helpers>
            <alluremultistore_catalog>
                <class>Alluremultistore_Catalog_Helper</class>
            </alluremultistore_catalog>
         </helpers>
         
    </global>
    
    <adminhtml>
     	<events>
            <adminhtml_block_html_before>
                <observers>
                    <alluremultistore_catalog_prepare_adminhtml_grid>
                        <type>singleton</type>
                        <class>alluremultistore_catalog/adminhtml_observer</class>
                        <method>prepareGrid</method>
                    </alluremultistore_catalog_prepare_adminhtml_grid>
                </observers>
            </adminhtml_block_html_before>
            
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <alluremultistore_catalog_add_adminhtml_grid_column>
                        <type>singleton</type>
                        <class>alluremultistore_catalog/adminhtml_observer</class>
                        <method>addGridColumn</method>
                    </alluremultistore_catalog_add_adminhtml_grid_column>
                </observers>
            </core_block_abstract_prepare_layout_after>
            
            <!-- <catalog_product_collection_load_before>
                <observers>
                    <warehouse_before_load_adminhtml_product_collection>
                        <class>warehouse/adminhtml_observer</class>
                        <method>beforeLoadProductCollection</method>
                    </warehouse_before_load_adminhtml_product_collection>
                </observers>
            </catalog_product_collection_load_before> -->
            
        </events>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Alluremultistore_Catalog before="Mage_Adminhtml">Alluremultistore_Catalog_Adminhtml</Alluremultistore_Catalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    
</config>
