<?xml version="1.0"?>
<config>
    <modules>
        <Allure_Store>
			<name>Allure - Store Updates</name>
            <version>0.0.1</version>
			<depends>
				<Allure_Core />
			</depends>
        </Allure_Store>
    </modules>
    <global>
        <resources>
            <allure_store_setup>
                <setup>
                    <module>Allure_Store</module>
                </setup>
            </allure_store_setup>
        </resources>
        
        <blocks>
            <adminhtml>
                <rewrite>
                    <system_store_edit_form>Allure_Store_Block_Adminhtml_System_Store_Edit_Form</system_store_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Allure_Store before="Mage_Adminhtml">Allure_Store_Adminhtml</Allure_Store>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
</config>
