<?xml version="1.0"?>
<config>
  <modules>
    <Allure_Metadata>
      <version>0.1.1</version>
    </Allure_Metadata>
  </modules>
  <frontend>
    <routers>
      <metadata>
        <use>standard</use>
          <args>
            <module>Allure_Metadata</module>
            <frontName>metadata</frontName>
          </args>
      </metadata>
    </routers>
		<layout>
		  <updates>
			<metadata>
			  <file>metadata.xml</file>
			</metadata>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <metadata>
        <class>Allure_Metadata_Helper</class>
      </metadata>
    </helpers>
	<blocks>
	  <metadata>
		<class>Allure_Metadata_Block</class>
	  </metadata>
	</blocks>
	<models>
	  <metadata>
		<class>Allure_Metadata_Model</class>
		<resourceModel>metadata_mysql4</resourceModel>
	  </metadata>
	  <metadata_mysql4>
		<class>Allure_Metadata_Model_Mysql4</class>
		<entities>		  
			  <metadata>
				<table>allure_meta_information</table>
			  </metadata>
        </entities>
	  </metadata_mysql4>
	</models>
	<resources>
	  <metadata_setup>
		<setup>
		  <module>Allure_Metadata</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </metadata_setup>
	  <metadata_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </metadata_write>
	  <metadata_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </metadata_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <metadata>
	    <use>admin</use>
		<args>
		  <module>Allure_Metadata</module>
		  <frontName>admin_metadata</frontName>
		</args>
	  </metadata>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <allure>
		<children>
		  <metadata module="metadata">
		    <title>Meta Information</title>
			<sort_order>0</sort_order>
			<action>admin_metadata/adminhtml_metadata</action>
		  </metadata>
		</children>
	  </allure>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<allure> 
			  <children>
				  <metadata translate="title">
					<title>Meta Information</title>
					<sort_order>0</sort_order>
				  </metadata>
			  </children>
			</allure>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<metadata>
		  <file>metadata.xml</file>
		</metadata>
	  </updates>
	</layout>
  </adminhtml>
</config> 