<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooRestful>
            <version>2.0.18</version>
        </Ebizmarts_BakerlooRestful>
    </modules>
    <default>
        <bakerloorestful>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
                <api_key></api_key>
                <filesmode_bypass>0</filesmode_bypass>
                <filter_customers>1</filter_customers>
                <simple_configurable_prices>0</simple_configurable_prices>
                <pin_code_length>4</pin_code_length>
                <filter_tax_rates>0</filter_tax_rates>
            </general>
            <catalog>
                <allow_result_caching>1</allow_result_caching>
                <description>description</description>
                <product_code></product_code>
                <deltas_pagesize>50</deltas_pagesize>
                <subtract_inventory>0</subtract_inventory>
                <show_savings_badge>1</show_savings_badge>
                <simple_tap_addtobasket>1</simple_tap_addtobasket>
                <allow_backorders>0</allow_backorders>
                <category_thumbnails>resize</category_thumbnails>
                <guest_tax_rate>0</guest_tax_rate>
            </catalog>
            <customer>
                <search_by>email</search_by>
                <search_by_online><![CDATA[firstname,lastname,email]]></search_by_online>
                <allow_customer_caching>1</allow_customer_caching>
            </customer>
            <checkout>
                <newsletter_subscribe_checked>0</newsletter_subscribe_checked>
                <create_customer>1</create_customer>
                <always_in_stock>0</always_in_stock>
                <fast_product_load>0</fast_product_load>
                <fast_product_attributes>name,weight,price,price_type,special_price,special_from_date,special_to_date,tax_class_id</fast_product_attributes>
            </checkout>
            <pos_coupon>
                <receipts>magento</receipts>
                <identity>sales</identity>
                <template>bakerloorestful_pos_coupon_template</template>
                <length>4</length>
            </pos_coupon>
            <pos_receipt>
                <receipts>magento</receipts>
                <identity>sales</identity>
                <template>bakerloorestful_pos_receipt_template</template>
            </pos_receipt>
            <pos_customprice>
                <receipts>magento</receipts>
                <identity>sales</identity>
                <template>bakerloorestful_pos_customprice_template</template>
            </pos_customprice>
            <new_customer_account>
                <allow_customer_group_selection>1</allow_customer_group_selection>
                <send_welcome_email>0</send_welcome_email>
                <identity>support</identity>
                <template>bakerloorestful_new_customer_account_template</template>
                <confirmation_template>bakerloorestful_new_customer_account_confirmation_template</confirmation_template>
            </new_customer_account>
            <share_product_email>
                <template>bakerloorestful_share_product_template</template>
            </share_product_email>
            <order_emails>
                <enabled>1</enabled>
            </order_emails>
            <!-- Product default data -->
            <product>
                <imagesizes>
                    <medium><![CDATA[914x914]]></medium>
                    <small><![CDATA[320x320]]></small>
                    <xsmall><![CDATA[100x100]]></xsmall>
                </imagesizes>
            </product>
        </bakerloorestful>
    </default>
    <global>
        <blocks>
            <bakerloo_restful>
                <class>Ebizmarts_BakerlooRestful_Block</class>
            </bakerloo_restful>
        </blocks>
        <helpers>
            <bakerloo_restful>
                <class>Ebizmarts_BakerlooRestful_Helper</class>
            </bakerloo_restful>
        </helpers>
        <models>
            <bakerloo_restful>
                <class>Ebizmarts_BakerlooRestful_Model</class>
                <resourceModel>bakerloo_restful_mysql4</resourceModel>
            </bakerloo_restful>
            <bakerloo_restful_mysql4>
                <class>Ebizmarts_BakerlooRestful_Model_Mysql4</class>
                <entities>
                    <pincode>
                        <table>bakerloo_restful_pin_codes</table>
                    </pincode>
                    <debug>
                        <table>bakerloo_restful_debug</table>
                    </debug>
                    <order>
                        <table>bakerloo_restful_orders</table>
                    </order>
                    <quote>
                        <table>bakerloo_restful_quotes</table>
                    </quote>
                    <catalogtrash>
                        <table>bakerloo_restful_catalogtrash</table>
                    </catalogtrash>
                    <customertrash>
                        <table>bakerloo_restful_customertrash</table>
                    </customertrash>
                    <customprice>
                        <table>bakerloo_restful_customprice</table>
                    </customprice>
                    <inventorydelta>
                        <table>bakerloo_restful_inventory_deltas</table>
                    </inventorydelta>
                    <notification>
                        <table>bakerloo_restful_notifications</table>
                    </notification>
                    <notificationstore>
                        <table>bakerloo_restful_notifications_store</table>
                    </notificationstore>
                    <discount>
                        <table>bakerloo_restful_discounts</table>
                    </discount>
                    <discountstore>
                        <table>bakerloo_restful_discounts_stores</table>
                    </discountstore>
                    <shift>
                        <table>bakerloo_restful_shifts</table>
                    </shift>
                    <shift_activity>
                        <table>bakerloo_restful_shift_activities</table>
                    </shift_activity>
                    <shift_movement>
                        <table>bakerloo_restful_shift_movements</table>
                    </shift_movement>
                    <pphtoken>
                        <table>bakerloo_restful_pphtokens</table>
                    </pphtoken>
                    <!--<shift_transaction>-->
                        <!--<table>bakerloo_restful_shift_transactions</table>-->
                    <!--</shift_transaction>-->
                    <!--<shift_adjustment>-->
                        <!--<table>bakerloo_restful_shift_adjustments</table>-->
                    <!--</shift_adjustment>-->
                </entities>
            </bakerloo_restful_mysql4>
            <cataloginventory>
                <rewrite>
                    <stock_item>Ebizmarts_BakerlooRestful_Model_Rewrite_CatalogInventory_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>
        <resources>
            <bakerloo_restful_setup>
                <setup>
                    <module>Ebizmarts_BakerlooRestful</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bakerloo_restful_setup>
        </resources>
        <ignoredModules> <!-- To avoid Mage_Log to slow down things -->
            <entities>
                <bakerloo_restful />
            </entities>
        </ignoredModules>
        <fieldsets>
            <sales_convert_quote_item>
                <pos_discount_reason><to_order_item>*</to_order_item></pos_discount_reason>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <pos_discount_reason><to_quote_item>*</to_quote_item></pos_discount_reason>
            </sales_convert_order_item>
        </fieldsets>
        <events>
            <sales_order_load_after>
                <observers>
                    <bakerloo_restful_sendEmailFix>
                        <type>model</type>
                        <class>bakerloo_restful/observer_sales</class>
                        <method>sendEmailFix</method>
                    </bakerloo_restful_sendEmailFix>
                </observers>
            </sales_order_load_after>
            <customer_save_after>
                <observers>
                    <bakerloo_restful_customer_save>
                        <type>model</type>
                        <class>bakerloo_restful/observer_customer</class>
                        <method>customerSaveAfter</method>
                    </bakerloo_restful_customer_save>
                </observers>
            </customer_save_after>
            <wishlist_save_after>
                <observers>
                    <bakerloo_restful_wishlist_save>
                        <type>model</type>
                        <class>bakerloo_restful/observer_customer</class>
                        <method>customerWishlistSaveAfter</method>
                    </bakerloo_restful_wishlist_save>
                </observers>
            </wishlist_save_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <bakerloo_restful_inventoryUpdate>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>inventoryUpdate</method>
                    </bakerloo_restful_inventoryUpdate>
                </observers>
            </cataloginventory_stock_item_save_after>
            <sales_order_place_after>
                <observers>
                    <bakerloo_restful_inventory_monitor>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>inventoryNewOrder</method>
                    </bakerloo_restful_inventory_monitor>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <bakerloo_restful_inventory_monitor>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>inventoryNewCreditMemo</method>
                    </bakerloo_restful_inventory_monitor>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_creditmemo_save_after>
                <observers>
                    <bakerloo_restful_inventory_monitor>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>inventoryBackToStock</method>
                    </bakerloo_restful_inventory_monitor>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_item_cancel>
                <observers>
                    <bakerloo_restful_inventory_monitor>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>inventoryOrderItemCancel</method>
                    </bakerloo_restful_inventory_monitor>
                </observers>
            </sales_order_item_cancel>
            <sales_order_invoice_pay>
                <observers>
                    <bakerloo_restful_invoicePay>
                        <class>bakerloo_restful/observer_sales</class>
                        <method>addTransaction</method>
                    </bakerloo_restful_invoicePay>
                </observers>
            </sales_order_invoice_pay>
            <pos_order_has_returns>
                <observers>
                    <pos_update_inventory>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>inventoryPosOrderReturns</method>
                    </pos_update_inventory>
                </observers>
            </pos_order_has_returns>
            <pos_get_inventory>
                <observers>
                    <bakerloo_mdn_inventory>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>addAdvancedStockInventory</method>
                    </bakerloo_mdn_inventory>
                </observers>
            </pos_get_inventory>
        </events>
        <template>
            <email>
                <bakerloorestful_pos_receipt_template translate="label" module="bakerloo_restful">
                    <label>POS Receipt</label>
                    <file>pos/receipt.html</file>
                    <type>html</type>
                </bakerloorestful_pos_receipt_template>
                <bakerloorestful_pos_coupon_template translate="label" module="bakerloo_restful">
                    <label>POS Coupon</label>
                    <file>pos/coupon.html</file>
                    <type>html</type>
                </bakerloorestful_pos_coupon_template>
                <bakerloorestful_pos_customprice_template translate="label" module="bakerloo_restful">
                    <label>POS Custom discount</label>
                    <file>pos/customprice.html</file>
                    <type>html</type>
                </bakerloorestful_pos_customprice_template>
                <bakerloorestful_new_customer_account_template translate="label" module="bakerloo_restful">
                    <label>POS Customer Welcome</label>
                    <file>pos/customer_welcome.html</file>
                    <type>html</type>
                </bakerloorestful_new_customer_account_template>
                <bakerloorestful_new_customer_account_confirmation_template translate="label" module="bakerloo_restful">
                    <label>POS Customer Welcome confirmation key</label>
                    <file>pos/customer_welcome_confirmation.html</file>
                    <type>html</type>
                </bakerloorestful_new_customer_account_confirmation_template>
                <bakerloorestful_share_product_template>
                    <label>POS Product Share</label>
                    <file>pos/product_share.html</file>
                    <type>html</type>
                </bakerloorestful_share_product_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ebizmarts_BakerlooRestful>
                    <files>
                        <default>Ebizmarts_BakerlooRestful.csv</default>
                    </files>
                </Ebizmarts_BakerlooRestful>
            </modules>
        </translate>
        <layout>
            <updates>
                <bakerloo_restful>
                    <file>bakerloo_restful.xml</file>
                </bakerloo_restful>
            </updates>
        </layout>
        <events>
            <catalog_category_prepare_save>
                <observers>
                    <bakerloo_restful_productSaveFromCategory>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>productSaveFromCategory</method>
                    </bakerloo_restful_productSaveFromCategory>
                </observers>
            </catalog_category_prepare_save>
            <catalog_product_attribute_update_before><!-- Magento CE 1.6.0.0+ -->
                <observers>
                    <bakerloo_restful_productAttributeUpdate>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>productAttributeUpdate</method>
                    </bakerloo_restful_productAttributeUpdate>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_website_update_before>
                <observers>
                    <bakerloo_restful_productAttributeUpdate>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>productWebsiteUpdate</method>
                    </bakerloo_restful_productAttributeUpdate>
                </observers>
            </catalog_product_website_update_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <bakerloo_restful_clearCategoryImageCacheButton>
                        <type>model</type>
                        <class>bakerloo_restful/observer</class>
                        <method>clearCategoryImageCacheButton</method>
                    </bakerloo_restful_clearCategoryImageCacheButton>
                    <bakerloo_restful_addTaxRateColumn>
                        <type>model</type>
                        <class>bakerloo_restful/observer</class>
                        <method>addTaxRateSynchColumn</method>
                    </bakerloo_restful_addTaxRateColumn>
                </observers>
            </core_block_abstract_to_html_before>
            <adminhtml_block_html_before>
                <observers>
                    <bakerloo_restful_addTaxRateField>
                        <type>model</type>
                        <class>bakerloo_restful/observer</class>
                        <method>addTaxRateSynchField</method>
                    </bakerloo_restful_addTaxRateField>
                </observers>
            </adminhtml_block_html_before>
            <customer_delete_after>
                <observers>
                    <bakerloo_restful_customerDelete>
                        <type>model</type>
                        <class>bakerloo_restful/observer_customer</class>
                        <method>customerDeleted</method>
                    </bakerloo_restful_customerDelete>
                </observers>
            </customer_delete_after>
            <catalog_product_delete_after_done>
                <observers>
                    <bakerloo_restful_productDelete>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>productDelete</method>
                    </bakerloo_restful_productDelete>
                </observers>
            </catalog_product_delete_after_done>
            <catalog_product_prepare_save>
                <observers>
                    <bakerloo_restful_productPreSave>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>productPreSave</method>
                    </bakerloo_restful_productPreSave>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <bakerloo_restful_productSave>
                        <type>model</type>
                        <class>bakerloo_restful/observer_catalog</class>
                        <method>productSave</method>
                    </bakerloo_restful_productSave>
                </observers>
            </catalog_product_save_after>
            <admin_roles_save_after>
                <observers>
                    <bakerloo_restful_sync_role_users>
                        <type>model</type>
                        <class>bakerloo_restful/observer_adminuser</class>
                        <method>refreshUsersPermissions</method>
                    </bakerloo_restful_sync_role_users>
                </observers>
            </admin_roles_save_after>
            <admin_user_save_before>
                <observers>
                    <bakerloo_restful_savePincode>
                        <type>model</type>
                        <class>bakerloo_restful/observer_adminuser</class>
                        <method>savePincode</method>
                    </bakerloo_restful_savePincode>
                </observers>
            </admin_user_save_before>
            <controller_action_predispatch_adminhtml_bakerlooorders_edit>
                <observers>
                    <bakerloo_restful_sync_order_from_magento>
                        <type>model</type>
                        <class>bakerloo_restful/observer_sales</class>
                        <method>addDataToOrder</method>
                    </bakerloo_restful_sync_order_from_magento>
                </observers>
            </controller_action_predispatch_adminhtml_bakerlooorders_edit>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bakerloo_restful after="Mage_Adminhtml">Ebizmarts_BakerlooRestful_Adminhtml</bakerloo_restful>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
<!--        <secure_url>
            <bakerloo_restful_endpoint>/bakerloo_restful</bakerloo_restful_endpoint>
        </secure_url>-->
        <routers>
            <bakerloo_restful>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_BakerlooRestful</module>
                    <frontName>pos</frontName>
                </args>
            </bakerloo_restful>
        </routers>
        <enterprise>
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <bakerloo_restful_index_index/>
                        <bakerloo_restful_catalog_image/>
                    </generic>
                </full_action_names>
            </websiterestriction>
        </enterprise>
        <comingsoon>
            <public_actions>
                <bakerloo_restful_index_index/>
                <bakerloo_restful_catalog_image/>
            </public_actions>
        </comingsoon>
        <events>
            <http_response_send_before>
                <observers>
                    <bakerloo_response_debug>
                        <class>bakerloo_restful/observer</class>
                        <method>httpResponseDebug</method>
                    </bakerloo_response_debug>
                </observers>
            </http_response_send_before>
        </events>
        <product>
            <collection>
                <attributes>
                    <name />
                    <is_anchor />
                    <image />
                    <thumbnail />
                    <is_active />
                </attributes>
            </collection>
        </product>
    </frontend>
    <crontab>
        <jobs>
            <bakerloo_restful_api_orders_sendEmail>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>bakerloo_restful/api_orders::processUnsentEmails</model></run>
            </bakerloo_restful_api_orders_sendEmail>
        </jobs>
    </crontab>
    <phpunit>
        <suite>
            <modules>
                <Ebizmarts_BakerlooRestful/>
            </modules>
        </suite>
    </phpunit>
</config>
