<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Video>
        <version>0.1.2</version>
        </Ecp_Video>
    </modules>
    <frontend>
        <routers>
            <ecp_video>
                <use>standard</use>
                <args>
                    <module>Ecp_Video</module>
                    <frontName>ecpvideo</frontName>
                </args>
            </ecp_video>
        </routers>
        <layout>
            <updates>
                <ecp_video>
                    <file>ecp/video.xml</file>
                </ecp_video>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_video>
                <use>admin</use>
                <args>
                    <module>Ecp_Video</module>
                    <frontName>ecpvideo</frontName>
                </args>
            </ecp_video>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_video">
                <sort_order>72</sort_order>               
                <children>
                    <video module="ecp_video">
                        <title>Video</title>
                        <sort_order>0</sort_order>
                        <action>ecpvideo/adminhtml_video</action>
                    </video>
                </children>
            </cms>
            <!--ecp_video module="ecp_video">
                <title>Video</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_video">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpvideo/adminhtml_video</action>
                    </items>
                </children>
            </ecp_video-->
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Video>
                            <title>Video Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Video>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_video>
                    <file>ecp/video.xml</file>
                </ecp_video>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_video>
                <class>Ecp_Video_Model</class>
                <resourceModel>ecp_video_mysql4</resourceModel>
            </ecp_video>
            <ecp_video_mysql4>
                <class>Ecp_Video_Model_Mysql4</class>
                <entities>
                    <video>
                        <table>ecp_video</table>
                    </video>
                </entities>
            </ecp_video_mysql4>
        </models>
        <resources>
            <ecp_video_setup>
                <setup>
                    <module>Ecp_Video</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_video_setup>
            <ecp_video_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_video_write>
            <ecp_video_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_video_read>
        </resources>
        <blocks>
            <ecp_video>
                <class>Ecp_Video_Block</class>
            </ecp_video>
        </blocks>
        <helpers>
            <ecp_video>
                <class>Ecp_Video_Helper</class>
            </ecp_video>
        </helpers>
    </global>
    <default>
        <ecp_video>
            <video>
                <value>some value</value>
            </video>
        </ecp_video>
    </default>
</config>