<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Teamwork_Weborder>
            <version>1.1.11</version>
        </Teamwork_Weborder>
    </modules>
    <admin>
        <routers>
            <teamworkweborder_admin>
                <use>admin</use>
                <args>
                    <module>Teamwork_Weborder</module>
                    <frontName>teamworkweborder_admin</frontName>
                </args>
            </teamworkweborder_admin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <teamwork_weborder>
                <use>standard</use>
                <args>
                    <module>Teamwork_Weborder</module>
                    <frontName>teamwork_weborder</frontName>
                </args>
            </teamwork_weborder>
        </routers>
    </frontend>
    <global>
        <helpers>
            <teamwork_weborder>
                <class>Teamwork_Weborder_Helper</class>
            </teamwork_weborder>
        </helpers>
        <models>
            <teamwork_weborder>
                <class>Teamwork_Weborder_Model</class>
                <resourceModel>weborder_resource</resourceModel>
            </teamwork_weborder>
        </models>
        <resources>
            <teamwork_weborder_setup>
                <setup>
                    <module>Teamwork_Weborder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </teamwork_weborder_setup>
            <teamwork_weborder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </teamwork_weborder_write>
            <teamwork_weborder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </teamwork_weborder_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Teamwork Weborder</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <teamwork_weborder>
                                            <title>Teamwork Weborder</title>
                                        </teamwork_weborder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml> 
    <teamwork_weborder>
        <api_user>
            <username>service</username>
            <default_key>service</default_key>
            <role>teamwork</role>
        </api_user>
    </teamwork_weborder>
    <default>
        <teamwork_weborder>
            <general>
                <magento_attribute>sku</magento_attribute>
                <log_api_requests>1</log_api_requests>
                <log_api_responses>1</log_api_responses>
            </general>
        </teamwork_weborder>
    </default>
</config>