<?xml version="1.0"?>
<config>
    <tabs>
        <teamwork translate="label">
            <label>Teamwork</label>
            <sort_order>100</sort_order>
        </teamwork>
    </tabs>
    <sections>
        <teamwork_weborder translate="label">
            <label>External OMS Settings</label>
            <tab>teamwork</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <magento_attribute>
                            <label>Magento Attribute used as item identifier</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>teamwork_weborder/source</source_model>
                        </magento_attribute>
                        <log_api_requests>
                            <label>Log API request</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </log_api_requests>
                        <log_api_responses>
                            <label>Log API response</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </log_api_responses>
                    </fields>
                </general>
            </groups>
        </teamwork_weborder>
    </sections>
</config>