<?xml version="1.0"?>
<config>
    <modules>
        <OpsWay_CheckoutTiming>
            <version>1.0.0</version>
        </OpsWay_CheckoutTiming>
    </modules>
    <global>
        <models>
            <opsway_checkouttiming>
                <class>OpsWay_CheckoutTiming_Model</class>
            </opsway_checkouttiming>
        </models>
        <helpers>
            <opsway_checkouttiming>
                <class>OpsWay_CheckoutTiming_Helper</class>
            </opsway_checkouttiming>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_index>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <controller_action_predispatch_checkout_onepage_saveMethod>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_saveMethod>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_saveMethod>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveMethod>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_saveBilling>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_saveBilling>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <controller_action_predispatch_checkout_onepage_saveShipping>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_saveShipping>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_saveShipping>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShipping>
            <controller_action_predispatch_checkout_onepage_saveShippingMethod>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_saveShippingMethod>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_saveShippingMethod>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveShippingMethod>
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_savePayment>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_savePayment>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <controller_action_predispatch_checkout_onepage_saveOrder>
                <observers>
                    <opsway_checkouttiming_checkout_onepage_saveOrder>
                        <class>OpsWay_CheckoutTiming_Model_Observer</class>
                        <method>onCheckoutEvent</method>
                    </opsway_checkouttiming_checkout_onepage_saveOrder>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveOrder>
        </events>
    </frontend>
</config>