<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Reviews>
        <version>0.1.2</version>
        </Ecp_Reviews>
    </modules>
    <frontend>
        <routers>
            <ecp_reviews>
                <use>standard</use>
                <args>
                    <module>Ecp_Reviews</module>
                    <frontName>ecpreviews</frontName>
                </args>
            </ecp_reviews>
        </routers>
        <layout>
            <updates>
                <ecp_reviews>
                    <file>ecp/reviews.xml</file>
                </ecp_reviews>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_reviews>
                <use>admin</use>
                <args>
                    <module>Ecp_Reviews</module>
                    <frontName>ecpreviews</frontName>
                </args>
            </ecp_reviews>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_reviews">
                <sort_order>71</sort_order>               
                <children>
                    <reviews module="ecp_reviews">
                        <title>Site Reviews</title>
                        <sort_order>0</sort_order>
                        <action>ecpreviews/adminhtml_reviews</action>
                    </reviews>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Reviews>
                            <title>Reviews Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Reviews>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_reviews>
                    <file>ecp/reviews.xml</file>
                </ecp_reviews>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_reviews>
                <class>Ecp_Reviews_Model</class>
                <resourceModel>ecp_reviews_mysql4</resourceModel>
            </ecp_reviews>
            <ecp_reviews_mysql4>
                <class>Ecp_Reviews_Model_Mysql4</class>
                <entities>
                    <reviews>
                        <table>ecp_reviews</table>
                    </reviews>
                </entities>
            </ecp_reviews_mysql4>
        </models>
        <resources>
            <ecp_reviews_setup>
                <setup>
                    <module>Ecp_Reviews</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_reviews_setup>
            <ecp_reviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_reviews_write>
            <ecp_reviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_reviews_read>
        </resources>
        <blocks>
            <ecp_reviews>
                <class>Ecp_Reviews_Block</class>
            </ecp_reviews>
        </blocks>
        <helpers>
            <ecp_reviews>
                <class>Ecp_Reviews_Helper</class>
            </ecp_reviews>
        </helpers>
    </global>
    <default>
        <ecp_reviews>
            <reviews>
                <value>some value</value>
            </reviews>
        </ecp_reviews>
    </default>
</config>