<?xml version="1.0"?>
<config>
	<modules>
		<Allure_Productshare>
			<name>Allure - Share Product Stock</name>
			<version>0.1.0</version>
			<depends>
				<Allure_Core />
			</depends>
		</Allure_Productshare>
	</modules>
	<global>

		<blocks>
			<productshare>
				<class>Allure_Productshare_Block</class>
			</productshare>
		</blocks>

		<helpers>
			<productshare>
				<class>Allure_Productshare_Helper</class>
			</productshare>
		</helpers>

		<models>
			<productshare>
				<class>Allure_Productshare_Model</class>
				<resourceModel>allure_productsharetostore_resource</resourceModel>
			</productshare>

			<allure_productsharetostore_resource>
				<class>Allure_Productshare_Model_Resource</class>
				<entities>
					<productshare>
						<table>allure_productshare</table>
					</productshare>
				</entities>
			</allure_productsharetostore_resource>

		</models>

		<resources>
			<allure_productsharetostore_setup>
				<setup>
					<module>Allure_Productshare</module>
					<connection>
						<use>core_setup</use>
					</connection>
				</setup>
			</allure_productsharetostore_setup>
			<allure_productsharetostore_write>
				<connection>
					<use>core_write</use>
				</connection>
			</allure_productsharetostore_write>
			<allure_productsharetostore_read>
				<connection>
					<use>core_read</use>
				</connection>
			</allure_productsharetostore_read>
		</resources>

	</global>

	<crontab>
		<jobs>
			<allure_productsharetostore_schedule>
				<schedule>
					<cron_expr>0 */4 * * *</cron_expr>
				</schedule>
				<run>
					<model>productshare/observer::shareAvailableProductsToStore</model>
				</run>
			</allure_productsharetostore_schedule>
		</jobs>
	</crontab>


	<admin>
		<routers>
			<productshare>
				<use>admin</use>
				<args>
					<module>Allure_Productshare</module>
					<frontName>admin_productshare</frontName>
				</args>
			</productshare>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<allure>
				<children>
					<store>
						<title>Store</title>
						<sort_order>20</sort_order>
						<children>
							<productshare>
								<title>Product Share</title>
								<sort_order>30</sort_order>
								<action>admin_productshare/adminhtml_productshare</action>
							</productshare>
						</children>
						</store>
				</children>
			</allure>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<productshare translate="title">
							<title>Productshare</title>
							<sort_order>1000</sort_order>
							<children>
								<productshare translate="title">
									<title>Manage Productshare</title>
									<sort_order>0</sort_order>
								</productshare>
							</children>
						</productshare>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productshare>
					<file>productshare.xml</file>
				</productshare>
			</updates>
		</layout>
	</adminhtml>
</config>