<?xml version="1.0"?>

<config>
	<modules>
		<Allure_Teamwork>
			<version>1.0.2</version>
		</Allure_Teamwork>
	</modules>
	<global>
		<resources>
			<allure_teamwork_setup>
				<setup>
                    <module>Allure_Teamwork</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</allure_teamwork_setup>
		</resources>
		
		<helpers>
			<allure_teamwork>
				<class>Allure_Teamwork_Helper</class>
			</allure_teamwork>
		</helpers>
		
		<models>
			<allure_teamwork>
				<class>Allure_Teamwork_Model</class>
				<resourceModel>allure_teamwork_resource</resourceModel>
			</allure_teamwork>
			<allure_teamwork_resource>
				<class>Allure_Teamwork_Model_Resource</class>
				<entities>
					<teamwork>
						<table>allure_teamwork_customer</table>
					</teamwork>
					<customer>
						<table>allure_customer_counterpoint</table>
					</customer>
				</entities>
			</allure_teamwork_resource>
		</models>
	</global>
	
	<crontab>
		<jobs>
			<!-- <allure_teamwork>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>allure_teamwork/observer::addCustomers</model>
				</run>
			</allure_teamwork> -->
		<!--	<allure_teamwork_update>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>allure_teamwork/observer::updateCustomers</model>
				</run>
			</allure_teamwork_update>-->
		</jobs>
	</crontab>
	
</config>
