<?xml version="1.0"?>
<config>
  <modules>
    <Allure_PrivateSale>
      <version>1.0.0</version>
    </Allure_PrivateSale>
  </modules>
  <frontend>
    <routers>
      <privatesale>
        <use>standard</use>
        <args>
          <module>Allure_PrivateSale</module>
          <frontName>privatesale</frontName>
        </args>
      </privatesale>
    </routers>
    <layout>
      <updates>
        <privatesale>
          <file>privatesale.xml</file>
        </privatesale>
      </updates>
    </layout>
  </frontend>
  <global>
    <models>
      <privatesale>
        <class>Allure_PrivateSale_Model</class>
      </privatesale>
    </models>
    <blocks>
      <privatesale>
        <class>Allure_PrivateSale_Block</class>
      </privatesale>
    </blocks>
    <helpers>
      <privatesale>
        <class>Allure_PrivateSale_Helper</class>
      </privatesale>
    </helpers>
    <events>
    <controller_action_predispatch>
      <observers>
        <privatesale>
          <type>singleton</type>
          <class>privatesale/observer</class>
          <method>checkCategory</method>
        </privatesale>
      </observers>
    </controller_action_predispatch>
    </events>
  </global>
</config> 