<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <IWD_OrderManager>
            <version>1.6.5.4</version>
        </IWD_OrderManager>
    </modules>


    <global>
        <blocks>
            <iwd_ordermanager>
                <class>IWD_OrderManager_Block</class>
            </iwd_ordermanager>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>IWD_OrderManager_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_shipment_create_items>IWD_OrderManager_Block_Adminhtml_Sales_Order_Shipment_Create_Items</sales_order_shipment_create_items>
                    <sales_order_shipment_view_form>IWD_OrderManager_Block_Adminhtml_Sales_Order_Shipment_View_Form</sales_order_shipment_view_form>
                    <sales_order_totals_tax>IWD_OrderManager_Block_Adminhtml_Sales_Order_Total_Tax</sales_order_totals_tax>
                    <customer_edit_tab_view_orders>IWD_OrderManager_Block_Adminhtml_Customer_Order_Recent</customer_edit_tab_view_orders>
                    <customer_edit_tab_orders>IWD_OrderManager_Block_Adminhtml_Customer_Order_Orders</customer_edit_tab_orders>
                    <sales_order_create_billing_method_form>IWD_OrderManager_Block_Adminhtml_Sales_Order_Payment_Form</sales_order_create_billing_method_form>
                </rewrite>
            </adminhtml>
            <paygate>
                <rewrite>
                    <authorizenet_info_cc>IWD_OrderManager_Block_Adminhtml_Sales_Order_Payment_Authorizenet_Info_Cc</authorizenet_info_cc>
                </rewrite>
            </paygate>
        </blocks>

        <helpers>
            <iwd_ordermanager>
                <class>IWD_OrderManager_Helper</class>
            </iwd_ordermanager>
        </helpers>

        <models>
            <iwd_ordermanager>
                <class>IWD_OrderManager_Model</class>
                <resourceModel>iwd_ordermanager_mysql4</resourceModel>
            </iwd_ordermanager>
            <iwd_ordermanager_mysql4>
                <class>IWD_OrderManager_Model_Mysql4</class>
                <entities>
                    <backup_comments>
                        <table>iwd_backup_flat_comments</table>
                    </backup_comments>
                    <backup_sales>
                        <table>iwd_backup_flat_sales</table>
                    </backup_sales>
                    <archive_order>
                        <table>iwd_sales_archive_order_grid</table>
                    </archive_order>
                    <archive_invoice>
                        <table>iwd_sales_archive_invoice_grid</table>
                    </archive_invoice>
                    <archive_creditmemo>
                        <table>iwd_sales_archive_creditmemo_grid</table>
                    </archive_creditmemo>
                    <archive_shipment>
                        <table>iwd_sales_archive_shipment_grid</table>
                    </archive_shipment>
                    <confirm_logger>
                        <table>iwd_edit_order_confirm</table>
                    </confirm_logger>
                </entities>
            </iwd_ordermanager_mysql4>
            <paygate>
                <rewrite>
                    <authorizenet>IWD_OrderManager_Model_Payment_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <paypal>
                <rewrite>
                    <payflowpro>IWD_OrderManager_Model_Payment_Paypal_Payflowpro</payflowpro>
                </rewrite>
            </paypal>
            <sales>
                <rewrite>
                    <order_creditmemo>IWD_OrderManager_Model_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>IWD_OrderManager_Model_Resource_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>

        <resources>
            <iwd_ordermanager_setup>
                <setup>
                    <module>IWD_OrderManager</module>
                    <class>IWD_OrderManager_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iwd_ordermanager_setup>

            <iwd_ordermanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </iwd_ordermanager_write>

            <iwd_ordermanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </iwd_ordermanager_read>
        </resources>

        <template>
            <email>
                <iwd_ordermanager_edit_transaction_email module="iwd_ordermanager">
                    <label>Edit Ordered Items</label>
                    <file>sales/ordered_items_update.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_transaction_email>
                <iwd_ordermanager_edit_transaction_email_guest module="iwd_ordermanager">
                    <label>Edit Ordered Items For Guest</label>
                    <file>sales/ordered_items_update_guest.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_transaction_email_guest>

                <iwd_ordermanager_edit_confirm_transaction_email module="iwd_ordermanager">
                    <label>Edit Order Confirm Items</label>
                    <file>sales/order_update_confirm.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_confirm_transaction_email>
                <iwd_ordermanager_edit_confirm_transaction_email_guest module="iwd_ordermanager">
                    <label>Edit Order Confirm For Guest</label>
                    <file>sales/order_update_confirm_guest.html</file>
                    <type>html</type>
                </iwd_ordermanager_edit_confirm_transaction_email_guest>
            </email>
        </template>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <iwd_ordermanager after="Mage_Adminhtml">IWD_OrderManager_Adminhtml</iwd_ordermanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <iwd_ordermanager>
                <use>standard</use>
                <args>
                    <module>IWD_OrderManager_Frontend</module>
                    <frontName>iwd_order_manager</frontName>
                </args>
            </iwd_ordermanager>
        </routers>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_OrderManager.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>IWD_OrderManager.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                    <ordermanager_check_related>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>checkRequiredModules</method>
                    </ordermanager_check_related>
                </observers>
            </controller_action_predispatch>

            <adminhtml_block_html_before>
                <observers>
                    <iwd_ordermanager>
                        <class>iwd_ordermanager/observer</class>
                        <method>orderManagerObserver</method>
                    </iwd_ordermanager>
                </observers>
            </adminhtml_block_html_before>

            <iwd_ordermanager_sales_order_delete_before>
                <observers>
                    <order_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>orderDelete</method>
                    </order_delete_before>
                </observers>
            </iwd_ordermanager_sales_order_delete_before>
            <iwd_ordermanager_sales_invoice_delete_before>
                <observers>
                    <invoice_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>invoiceDelete</method>
                    </invoice_delete_before>
                </observers>
            </iwd_ordermanager_sales_invoice_delete_before>
            <iwd_ordermanager_sales_shipment_delete_before>
                <observers>
                    <shipment_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>shipmentDelete</method>
                    </shipment_delete_before>
                </observers>
            </iwd_ordermanager_sales_shipment_delete_before>
            <iwd_ordermanager_sales_creditmemo_delete_before>
                <observers>
                    <creditmemo_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>creditmemoDelete</method>
                    </creditmemo_delete_before>
                </observers>
            </iwd_ordermanager_sales_creditmemo_delete_before>
            <iwd_ordermanager_sales_comment_delete_before>
                <observers>
                    <comment_delete_before>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>commentDelete</method>
                    </comment_delete_before>
                </observers>
            </iwd_ordermanager_sales_comment_delete_before>

            <sales_order_resource_update_grid_records>
                <observers>
                    <iwd_archive_update>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>salesArchiveOrderGridUpdate</method>
                    </iwd_archive_update>
                </observers>
            </sales_order_resource_update_grid_records>
            <sales_order_invoice_resource_update_grid_records>
                <observers>
                    <iwd_archive_update>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>salesArchiveInvoiceGridUpdate</method>
                    </iwd_archive_update>
                </observers>
            </sales_order_invoice_resource_update_grid_records>
            <sales_order_shipment_resource_update_grid_records>
                <observers>
                    <iwd_archive_update>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>salesArchiveShipmentGridUpdate</method>
                    </iwd_archive_update>
                </observers>
            </sales_order_shipment_resource_update_grid_records>
            <sales_order_creditmemo_resource_update_grid_records>
                <observers>
                    <iwd_archive_update>
                        <type>singleton</type>
                        <class>iwd_ordermanager/observer</class>
                        <method>salesArchiveCreditmemoGridUpdate</method>
                    </iwd_archive_update>
                </observers>
            </sales_order_creditmemo_resource_update_grid_records>
        </events>

        <layout>
            <updates>
                <iwd_ordermanager>
                    <file>iwdordermanager.xml</file>
                </iwd_ordermanager>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <iwd_archive_orders>
                <run>
                    <model>iwd_ordermanager/observer::scheduledArchiveOrders</model>
                </run>
            </iwd_archive_orders>
        </jobs>
    </crontab>

    <default>
        <iwd_ordermanager>
            <iwd_delete_orders>
                <allow_del_orders>1</allow_del_orders>
            </iwd_delete_orders>
            <iwd_delete_invoices>
                <allow_del_invoices>1</allow_del_invoices>
            </iwd_delete_invoices>
            <iwd_delete_creditmemos>
                <allow_del_creditmemos>1</allow_del_creditmemos>
            </iwd_delete_creditmemos>
            <iwd_delete_shipments>
                <allow_del_shipments>1</allow_del_shipments>
                <allow_del_related_cm_for_invoices>0</allow_del_related_cm_for_invoices>
            </iwd_delete_shipments>
            <grid_order>
                <enable>1</enable>
                <columns>real_order_id,ordered_products,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</columns>
                <fix_table_header>1</fix_table_header>
                <status_color>canceled:f3c7c7;complete:7edcab;holded:ede185;closed:d5e8c3;processing:b5c4f5;pending:aaeb6a;pending_payment:aaeb6a;pending_paypal:aaeb6a;fraud:ff7f7f;payment_review:79d1c7</status_color>
            </grid_order>
            <customer_orders>
                <resent_orders_grid_columns>real_order_id,ordered_products,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</resent_orders_grid_columns>
                <orders_grid_columns>real_order_id,ordered_products,store_id,created_at,billing_name,shipping_name,base_grand_total,grand_total,status,action</orders_grid_columns>
                <resent_orders_count>5</resent_orders_count>
            </customer_orders>
            <edit>
                <show_item_image>1</show_item_image>
                <order_status>pending,processing</order_status>
                <return_to_stock>1</return_to_stock>
                <recalculate_shipping>1</recalculate_shipping>
                <transaction_email>iwd_ordermanager_edit_transaction_email</transaction_email>
                <transaction_email_guest>iwd_ordermanager_edit_transaction_email_guest</transaction_email_guest>
                <confirm_transaction_email>iwd_ordermanager_edit_confirm_transaction_email</confirm_transaction_email>
                <confirm_transaction_email_guest>iwd_ordermanager_edit_confirm_transaction_email_guest</confirm_transaction_email_guest>
                <notify_checked>1</notify_checked>
                <confirm_edit_checked>0</confirm_edit_checked>
                <recalculate_amount_checked>1</recalculate_amount_checked>
                <confirm_wait_status>false</confirm_wait_status>
                <confirm_success_status>false</confirm_success_status>
                <confirm_cancel_status>false</confirm_cancel_status>
                <authorizenet_checkout_progress>0</authorizenet_checkout_progress>
                <is_visible_comment_on_front>0</is_visible_comment_on_front>
                <validate_inventory>1</validate_inventory>
            </edit>
            <archive>
                <enable>1</enable>
                <order_statuses>canceled,complete,closed,</order_statuses>
                <auto_archive_enable>0</auto_archive_enable>
                <auto_archive_after_days>7</auto_archive_after_days>
                <auto_archive_frequency>D</auto_archive_frequency>
                <auto_archive_start_time>02,00,00</auto_archive_start_time>
            </archive>
        </iwd_ordermanager>
    </default>
</config>