<?xml version="1.0"?>
<config>
    <modules>
        <Allure_Category>
            <version>0.1.7</version>
        </Allure_Category>
    </modules>
    <global>
    	
    	<models>
			<allure_category>
				<class>Allure_Category_Model</class>
			</allure_category>
		</models>
		
       <helpers>
			<allure_category>
				<class>Allure_Category_Helper</class>
			</allure_category>
		</helpers>
        <resources>
            <allure_category_setup>
              <setup>
                   <module>Allure_Category</module>
                   <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
          </allure_category_setup>
        </resources>  
        
        <events>
			<catalog_category_save_commit_after>
            	<observers>
					<allure_category>
						<class>allure_category/observer</class>
						<method>setProductToCategory</method>
					</allure_category>
				</observers>
        </catalog_category_save_commit_after>
		</events>
		
    </global>
</config> 
