<?xml version="1.0"?>
<config>
    <sections>
        <merchandiser>
            <class>merchandiser-top</class>
            <label>Visual Merchandiser</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <groups>
                <options translate="label">
                    <label>Visual Merchandising options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <expanded>1</expanded>
                    <fields>
                         <hide_simple_products translate="label">
                            <label>Category Id to hide simple products in VM</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>81</sort_order>
                            <comment><![CDATA[Comma-separated ]]></comment>
                            <show_in_default>1</show_in_default>
                        </hide_simple_products>
                        <!--allure code-->
                        <first_post_length_option translate="label">
                            <label>List category id to show 6.5 mm as default post length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>82</sort_order>
                            <comment><![CDATA[Comma-separated ]]></comment>
                            <show_in_default>1</show_in_default>
                        </first_post_length_option>

                        <second_post_length_option translate="label">
                            <label>List category id to show 5 mm as default post length</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>83</sort_order>
                            <comment><![CDATA[Comma-separated ]]></comment>
                            <show_in_default>1</show_in_default>
                        </second_post_length_option>
                    </fields>
                </options>
            </groups>
        </merchandiser>
    </sections>
</config>
