<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Tattoo>
        <version>0.1.6</version>
        </Ecp_Tattoo>
    </modules>
    <frontend>
        <routers>
            <ecp_tattoo>
                <use>standard</use>
                <args>
                    <module>Ecp_Tattoo</module>
                    <frontName>tattoo</frontName>
                </args>
            </ecp_tattoo>
        </routers>
        <layout>
            <updates>
                <ecp_tattoo>
                    <file>ecp/tattoo.xml</file>
                </ecp_tattoo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_tattoo>
                <use>admin</use>
                <args>
                    <module>Ecp_Tattoo</module>
                    <frontName>ecp_tattoo</frontName>
                </args>
            </ecp_tattoo>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_tattoo">
                <children>
                    <tattoo module="ecp_tattoo">
                        <title>Tattoo Artist</title>
                        <sort_order>0</sort_order>
                        <action>ecp_tattoo/adminhtml_tattoo</action>
                    </tattoo>
                </children>
            </cms>
            <cms module="ecp_tattoo">
                <children>
                    <consultations module="ecp_tattoo">
                        <title>Free Consultations</title>
                        <sort_order>1</sort_order>
                        <action>ecp_tattoo/adminhtml_tattoo/consultations</action>
                    </consultations>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Tattoo>
                            <title>Tattoo Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Tattoo>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_tattoo>
                    <file>ecp/tattoo.xml</file>
                </ecp_tattoo>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_tattoo>
                <class>Ecp_Tattoo_Model</class>
                <resourceModel>ecp_tattoo_mysql4</resourceModel>
            </ecp_tattoo>
            <ecp_tattoo_mysql4>
                <class>Ecp_Tattoo_Model_Mysql4</class>
                <entities>
                    <tattoo_artist>
                        <table>ecp_tattoo_artist</table>
                    </tattoo_artist>
                    <tattoo_artist_work>
                        <table>ecp_tattoo_artist_work</table>
                    </tattoo_artist_work>
                    <tattoo_consultations>
                        <table>ecp_tattoo_free_consultations</table>
                    </tattoo_consultations>
                </entities>
            </ecp_tattoo_mysql4>
        </models>
        <resources>
            <ecp_tattoo_setup>
                <setup>
                    <module>Ecp_Tattoo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_tattoo_setup>
            <ecp_tattoo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_tattoo_write>
            <ecp_tattoo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_tattoo_read>
        </resources>
        <blocks>
            <ecp_tattoo>
                <class>Ecp_Tattoo_Block</class>
            </ecp_tattoo>
        </blocks>
        <helpers>
            <ecp_tattoo>
                <class>Ecp_Tattoo_Helper</class>
            </ecp_tattoo>
        </helpers>
        <template>
            <email>
                <tattooer_contact_template module="ecp_tattoo">
                    <label>Custom Email Tattooer Contact</label>
                    <file>tattooer_contact.html</file>
                    <type>html</type>
                </tattooer_contact_template>
            </email>
        </template>
        <index>
            <indexer>
                <ecp_tattoo_indexer>
                    <model>ecp_tattoo/indexer</model>
                </ecp_tattoo_indexer>
            </indexer>
        </index>
    </global>
</config>