<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooPayment>
            <version>1.4.7</version>
        </Ebizmarts_BakerlooPayment>
    </modules>
    <global>
        <helpers>
            <bakerloo_payment>
                <class>Ebizmarts_BakerlooPayment_Helper</class>
            </bakerloo_payment>
        </helpers>
        <blocks>
            <bakerloo_payment>
                <class>Ebizmarts_BakerlooPayment_Block</class>
            </bakerloo_payment>
        </blocks>
        <models>
            <bakerloo_payment>
                <class>Ebizmarts_BakerlooPayment_Model</class>
                <resourceModel>bakerloo_payment_mysql4</resourceModel>
            </bakerloo_payment>
            <bakerloo_payment_mysql4>
                <class>Ebizmarts_BakerlooPayment_Model_Mysql4</class>
                <entities>
                    <installment>
                        <table>bakerloo_payment_installments</table>
                    </installment>
                </entities>
            </bakerloo_payment_mysql4>
            <!--<bakerloo_payment_resource>-->
                <!--<class>Ebizmarts_BakerlooPayment_Model_Resource</class>-->
                <!--<deprecatedNode>bakerloo_payment_mysql4</deprecatedNode>-->
            <!--</bakerloo_payment_resource>-->
        </models>
        <resources>
            <bakerloo_payment_setup>
                <setup>
                    <module>Ebizmarts_BakerlooPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bakerloo_payment_setup>
        </resources>
        <fieldsets>
            <sales_convert_order_payment>
                <pos_payment_info><to_quote_payment>*</to_quote_payment></pos_payment_info>
            </sales_convert_order_payment>
            <sales_convert_quote_payment>
                <pos_payment_info><to_order_payment>*</to_order_payment></pos_payment_info>
            </sales_convert_quote_payment>
        </fieldsets>
        <events>
            <pos_order_has_layaway_payment>
                <observers>
                    <observer_bakerloo_payment_methods>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>orderHasLayawayPayment</method>
                    </observer_bakerloo_payment_methods>
                </observers>
            </pos_order_has_layaway_payment>
            <!--<sales_quote_save_before>-->
                <!--<observers>-->
                    <!--<observer_bakerloo_payment_methods>-->
                        <!--<type>model</type>-->
                        <!--<class>bakerloo_payment/observer</class>-->
                        <!--<method>salesQuoteSaveBefore</method>-->
                    <!--</observer_bakerloo_payment_methods>-->
                <!--</observers>-->
            <!--</sales_quote_save_before>-->
            <!--<sales_quote_payment_import_data_before>-->
                <!--<observers>-->
                    <!--<observer_bakerloo_payment_methods>-->
                        <!--<type>model</type>-->
                        <!--<class>bakerloo_payment/observer</class>-->
                        <!--<method>paymentImportDataBefore</method>-->
                    <!--</observer_bakerloo_payment_methods>-->
                <!--</observers>-->
            <!--</sales_quote_payment_import_data_before>-->
            <payment_method_is_active>
                <observers>
                    <observer_bakerloo_store_credit>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>paymentMethodIsActive</method>
                    </observer_bakerloo_store_credit>
                </observers>
            </payment_method_is_active>
            <sales_order_payment_place_start>
                <observers>
                    <observer_bakerloo_payment_place_start>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>paymentPlaceStart</method>
                    </observer_bakerloo_payment_place_start>
                </observers>
            </sales_order_payment_place_start>
            <order_cancel_after>
                <observers>
                    <observer_bakerloo_payment_methods>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>orderCancelAfter</method>
                    </observer_bakerloo_payment_methods>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <adminhtml>
        <adminhtml>
            <translate>
                <modules>
                    <Ebizmarts_BakerlooPayment>
                        <files>
                            <default>Ebizmarts_BakerlooPayment.csv</default>
                        </files>
                    </Ebizmarts_BakerlooPayment>
                </modules>
            </translate>
        </adminhtml>
        <layout>
            <updates>
                <bakerloo_payment>
                    <file>bakerloo_payment.xml</file>
                </bakerloo_payment>
            </updates>
        </layout>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <observer_bakerloo_payment_methods>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>paymentMethodFieldset</method>
                    </observer_bakerloo_payment_methods>
                </observers>
            </adminhtml_block_html_before>
            <customer_group_save_before>
                <observers>
                    <observer_bakerloo_save_payment_methods>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>saveBakerlooData</method>
                    </observer_bakerloo_save_payment_methods>
                </observers>
            </customer_group_save_before>
            <controller_action_layout_render_before_adminhtml_sales_order_view>
                <observers>
                    <pos_paypal_getinvoicedetails>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>payPalInvoiceDetails</method>
                    </pos_paypal_getinvoicedetails>
                </observers>
            </controller_action_layout_render_before_adminhtml_sales_order_view>
            <admin_system_config_changed_section_bakerloo_payment>
                <observers>
                    <check_magestorecredit_enabled>
                        <type>model</type>
                        <class>bakerloo_payment/observer</class>
                        <method>paymentConfigChanged</method>
                    </check_magestorecredit_enabled>
                </observers>
            </admin_system_config_changed_section_bakerloo_payment>
        </events>
    </adminhtml>
    <default>
        <payment>
            <bakerloo_free>
                <active>1</active>
                <model>bakerloo_payment/free</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Free</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_free>
            <bakerloo_cash>
                <active>1</active>
                <model>bakerloo_payment/cash</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Cash in Hand</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>1</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_cash>
            <bakerloo_cayan>
                <active>1</active>
                <model>bakerloo_payment/cayan</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Cayan</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>1</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_cayan>
            <bakerloo_sagepay>
                <active>0</active>
                <model>bakerloo_payment/sagepay</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Sage Pay (Cloud)</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_sagepay>
            <bakerloo_sagepay_semi>
                <active>0</active>
                <model>bakerloo_payment/sagepaySemi</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Sage Pay (SEMI)</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_sagepay_semi>
            <bakerloo_moneris>
                <active>0</active>
                <model>bakerloo_payment/moneris</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Moneris</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_moneris>
            <bakerloo_square_connect>
                <active>0</active>
                <model>bakerloo_payment/squareConnect</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Square Connect</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_square_connect>
            <bakerloo_payment_express>
                <active>0</active>
                <model>bakerloo_payment/paymentExpress</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Payment Express</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_payment_express>
            <bakerloo_pay_at_till translate="label">
                <active>0</active>
                <model>bakerloo_payment/payAtTill</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Pay at till</title>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
                <types>
                	<cash><![CDATA[Cash]]></cash>
                	<credit_card><![CDATA[Credit Card]]></credit_card>
                	<debit_card><![CDATA[Debit Card]]></debit_card>
                </types>
            </bakerloo_pay_at_till>
            <bakerloo_creditcard>
                <active>0</active>
                <model>bakerloo_payment/cc</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Saved Credit/Debit Card</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_creditcard>
            <bakerloo_manualcreditcard>
                <active>0</active>
                <model>bakerloo_payment/ccManual</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Manual Credit/Debit Card</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
                <require_auth_code>1</require_auth_code>
            </bakerloo_manualcreditcard>
            <bakerloo_purchaseorder>
                <active>0</active>
                <model>bakerloo_payment/purchaseorder</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>POS Purchase Order</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_purchaseorder>
            <bakerloo_multiple>
                <active>1</active>
                <model>bakerloo_payment/multiple</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Multiple Payments</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>1</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_multiple>
            <bakerloo_banktransfer>
                <active>0</active>
                <model>bakerloo_payment/banktransfer</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>POS Bank Transfer</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_banktransfer>
            <bakerloo_net10>
                <active>0</active>
                <model>bakerloo_payment/net10</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>POS Net 10</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_net10>
            <bakerloo_net15>
                <active>0</active>
                <model>bakerloo_payment/net15</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>POS Net 15</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_net15>
            <bakerloo_net30>
                <active>0</active>
                <model>bakerloo_payment/net30</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>POS Net 30</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_net30>
            <bakerloo_net60>
                <active>0</active>
                <model>bakerloo_payment/net60</model>
                <order_status>pending</order_status>
                <payment_action>authorize</payment_action>
                <title>POS Net 60</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_net60>
            <bakerloo_cod>
                <active>0</active>
                <model>bakerloo_payment/cashOnDelivery</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Cash on Delivery</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <show_payment_pre>1</show_payment_pre>
                <requires_signature>0</requires_signature>
            </bakerloo_cod>
            <bakerloo_paypalhere>
                <active>0</active>
                <model>bakerloo_payment/payPalHere</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS PayPal Here</title>
                <api_password backend_model="adminhtml/system_config_backend_encrypted"></api_password>
                <api_signature backend_model="adminhtml/system_config_backend_encrypted"></api_signature>
                <api_mode>sandbox</api_mode>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
                <enable_check_in>0</enable_check_in>
                <use_sideloading>1</use_sideloading>
            </bakerloo_paypalhere>
            <bakerloo_payworks>
                <active>0</active>
                <model>bakerloo_payment/payworks</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS PayWorks</title>
                <allowspecific>0</allowspecific>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_payworks>
            <bakerloo_adyen>
                <active>0</active>
                <model>bakerloo_payment/adyen</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Adyen</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_adyen>
            <bakerloo_anet>
                <active>0</active>
                <model>bakerloo_payment/anet</model>
                <iframe_block>bakerloo_payment/form_anet</iframe_block>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Authorize.net]]></title>
                <allowspecific>0</allowspecific>
                <api_login backend_model="adminhtml/system_config_backend_encrypted"></api_login>
                <api_transaction_key backend_model="adminhtml/system_config_backend_encrypted"></api_transaction_key>
                <api_mode>test</api_mode>
                <payment_mode><![CDATA[AUTH_CAPTURE]]></payment_mode>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_anet>
            <bakerloo_anet_chp>
                <active>0</active>
                <model>bakerloo_payment/anetChp</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Authorize.net CHP]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>1</requires_signature>
                <mode>test</mode>
            </bakerloo_anet_chp>
            <bakerloo_sagepayments_chp>
                <active>0</active>
                <model>bakerloo_payment/sagepaymentsChp</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Sage Payment Solutions CHP]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_sagepayments_chp>
            <bakerloo_sagepayserver>
                <active>0</active>
                <model>bakerloo_payment/sagepayserver</model>
                <iframe_block>bakerloo_payment/form_sagepayserver</iframe_block>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS SagePay SERVER]]></title>
                <allowspecific>0</allowspecific>
                <!--<api_login backend_model="adminhtml/system_config_backend_encrypted"></api_login>
                <api_transaction_key backend_model="adminhtml/system_config_backend_encrypted"></api_transaction_key>-->
                <api_mode>test</api_mode>
                <account_type>E</account_type>
                <payment_mode><![CDATA[AUTH_CAPTURE]]></payment_mode>
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_sagepayserver>
            <bakerloo_appninja>
                <active>0</active>
                <model>bakerloo_payment/appninja</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS App Ninjas]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_appninja>
            <bakerloo_izettle>
                <active>0</active>
                <model>bakerloo_payment/izettle</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS iZettle]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_izettle>
            <!--<bakerloo_stripe>
                <active>0</active>
                <model>bakerloo_payment/stripe</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Stripe]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_stripe> -->
            <bakerloo_storecredit>
                <active>0</active>
                <model>bakerloo_payment/storecredit</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Store Credit]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_storecredit>
            <bakerloo_magestorecredit>
                <active>0</active>
                <model>bakerloo_payment/magestorecredit</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[Magestore Credit]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_magestorecredit>
            <bakerloo_giftcard>
                <active>0</active>
                <model>bakerloo_payment/giftcard</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Gift Card]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_giftcard>
            <bakerloo_loyalty>
                <active>0</active>
                <model>bakerloo_payment/loyalty</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Loyalty]]></title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_loyalty>
            <pos_stripe_offline>
                <active>0</active>
                <model>bakerloo_payment/stripeOffline</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Stripe Offline</title>
                <invoice>1</invoice>
            </pos_stripe_offline>
            <bakerloo_layaway>
                <active>0</active>
                <model>bakerloo_payment/layaway</model>
                <order_status>pending_payment</order_status>
                <!--<order_state>pending</order_state>-->
                <payment_action>authorize_capture</payment_action>
                <title><![CDATA[POS Layaway]]></title>
                <!--<allowspecific>0</allowspecific>-->
                <invoice>0</invoice>
                <ship>0</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_layaway>
            <bakerloo_alipay>
                <active>0</active>
                <model>bakerloo_payment/alipay</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Alipay</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_alipay>
            <bakerloo_transaction_junction>
                <active>0</active>
                <model>bakerloo_payment/transactionJunction</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS Transaction Junction</title>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_transaction_junction>
            <bakerloo_wigroup>
                <active>0</active>
                <model>bakerloo_payment/wigroup</model>
                <order_status>pending</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>POS wiGroup</title>
                <allowspecific>0</allowspecific>
                <invoice>1</invoice>
                <ship>1</ship>
                <open_cash_drawer>0</open_cash_drawer>
                <requires_signature>0</requires_signature>
            </bakerloo_wigroup>
        </payment>
    </default>
    <frontend>
        <routers>
            <bakerloo_payment>
                <use>standard</use>
                <args>
                    <module>Ebizmarts_BakerlooPayment</module>
                    <frontName>pos_payment</frontName>
                </args>
            </bakerloo_payment>
        </routers>
    </frontend>
</config>
