<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Teamwork_Common>
            <version>5.1.1</version>
        </Teamwork_Common>
    </modules>
    <admin>
        <routers>
            <teamwork_common>
                <use>admin</use>
                <args>
                    <module>Teamwork_Common</module>
                    <frontName>teamwork_common</frontName>
                </args>
            </teamwork_common>
        </routers>
    </admin>
    <frontend>
        <routers>
            <teamwork_common>
                <use>standard</use>
                <args>
                    <module>Teamwork_Common</module>
                    <frontName>teamwork_common</frontName>
                </args>
            </teamwork_common>
        </routers>
    </frontend>
    <global>
        <helpers>
            <teamwork_common>
                <class>Teamwork_Common_Helper</class>
            </teamwork_common>
        </helpers>
        <models>
            <teamwork_common>
                <class>Teamwork_Common_Model</class>
                <resourceModel>teamwork_common_resource</resourceModel>
            </teamwork_common>
            <teamwork_common_resource>
                <class>Teamwork_Common_Model_Staging_Resource</class>
                <entities>
                    <service>
                        <table>service</table>
                    </service>
                    <service_acss>
                        <table>service_acss</table>
                    </service_acss>
                    <service_acss_level1>
                        <table>service_acss_level1</table>
                    </service_acss_level1>
                    <service_acss_level2>
                        <table>service_acss_level2</table>
                    </service_acss_level2>
                    <service_acss_level3>
                        <table>service_acss_level3</table>
                    </service_acss_level3>
                    <service_acss_level4>
                        <table>service_acss_level4</table>
                    </service_acss_level4>
                    <service_attribute_set>
                        <table>service_attribute_set</table>
                    </service_attribute_set>
                    <service_attribute_value>
                        <table>service_attribute_value</table>
                    </service_attribute_value>
                    <service_brand>
                        <table>service_brand</table>
                    </service_brand>
                    <service_category>
                        <table>service_category</table>
                    </service_category>
                    <service_channel>
                        <table>service_channel</table>
                    </service_channel>
                    <service_chq>
                        <table>service_chq</table>
                    </service_chq>
                    <service_chq_mappingfields>
                        <table>service_chq_mappingfields</table>
                    </service_chq_mappingfields>
                    <service_collection>
                        <table>service_collection</table>
                    </service_collection>
                    <service_collection_category>
                        <table>service_collection_category</table>
                    </service_collection_category>
                    <service_dcss>
                        <table>service_dcss</table>
                    </service_dcss>
                    <service_dcss_class>
                        <table>service_dcss_class</table>
                    </service_dcss_class>
                    <service_dcss_department>
                        <table>service_dcss_department</table>
                    </service_dcss_department>
                    <service_dcss_subclass1>
                        <table>service_dcss_subclass1</table>
                    </service_dcss_subclass1>
                    <service_dcss_subclass2>
                        <table>service_dcss_subclass2</table>
                    </service_dcss_subclass2>
                    <service_discount>
                        <table>service_discount</table>
                    </service_discount>
                    <service_discount_status>
                        <table>service_discount_status</table>
                    </service_discount_status>
                    <service_fee>
                        <table>service_fee</table>
                    </service_fee>
                    <service_fee_status>
                        <table>service_fee_status</table>
                    </service_fee_status>
                    <service_identifier>
                        <table>service_identifier</table>
                    </service_identifier>
                    <service_inventory>
                        <table>service_inventory</table>
                    </service_inventory>
                    <service_items>
                        <table>service_items</table>
                    </service_items>
                    <service_item_category>
                        <table>service_item_category</table>
                    </service_item_category>
                    <service_item_channel>
                        <table>service_item_channel</table>
                    </service_item_channel>
                    <service_item_collection>
                        <table>service_item_collection</table>
                    </service_item_collection>
                    <service_location>
                        <table>service_location</table>
                    </service_location>
                    <service_location_status>
                        <table>service_location_status</table>
                    </service_location_status>
                    <service_location_schedule>
                        <table>service_location_schedule</table>
                    </service_location_schedule>
                    <service_manufacturer>
                        <table>service_manufacturer</table>
                    </service_manufacturer>
                    <service_media>
                        <table>service_media</table>
                    </service_media>
                    <service_media_dam_image>
                        <table>service_media_dam_image</table>
                    </service_media_dam_image>
                    <service_media_dam_style>
                        <table>service_media_dam_style</table>
                    </service_media_dam_style>
                    <service_media_value>
                        <table>service_media_value</table>
                    </service_media_value>
                    <service_package>
                        <table>service_package</table>
                    </service_package>
                    <service_package_category>
                        <table>service_package_category</table>
                    </service_package_category>
                    <service_package_channel>
                        <table>service_package_channel</table>
                    </service_package_channel>
                    <service_package_collection>
                        <table>service_package_collection</table>
                    </service_package_collection>
                    <service_package_component>
                        <table>service_package_component</table>
                    </service_package_component>
                    <service_package_component_element>
                        <table>service_package_component_element</table>
                    </service_package_component_element>
                    <service_price>
                        <table>service_price</table>
                    </service_price>
                    <service_settings>
                        <table>service_settings</table>
                    </service_settings>
                    <service_setting_attribute_mapping>
                        <table>service_setting_attribute_mapping</table>
                    </service_setting_attribute_mapping>
                    <service_setting_mapping>
                        <table>service_setting_mapping</table>
                    </service_setting_mapping>
                    <service_setting_payment>
                        <table>service_setting_payment</table>
                    </service_setting_payment>
                    <service_setting_rich_content>
                        <table>service_setting_rich_content</table>
                    </service_setting_rich_content>
                    <service_setting_shipping>
                        <table>service_setting_shipping</table>
                    </service_setting_shipping>
                    <service_status>
                        <table>service_status</table>
                    </service_status>
                    <service_statusoms>
                        <table>service_statusoms</table>
                    </service_statusoms>
                    <service_statusoms_items>
                        <table>service_statusoms_items</table>
                    </service_statusoms_items>
                    <service_status_items>
                        <table>service_status_items</table>
                    </service_status_items>
                    <service_status_shipping>
                        <table>service_status_shipping</table>
                    </service_status_shipping>
                    <service_style>
                        <table>service_style</table>
                    </service_style>
                    <service_style_category>
                        <table>service_style_category</table>
                    </service_style_category>
                    <service_style_channel>
                        <table>service_style_channel</table>
                    </service_style_channel>
                    <service_style_collection>
                        <table>service_style_collection</table>
                    </service_style_collection>
                    <service_style_related>
                        <table>service_style_related</table>
                    </service_style_related>
                    <service_weborder>
                        <table>service_weborder</table>
                    </service_weborder>
                    <service_weborder_discount_reason>
                        <table>service_weborder_discount_reason</table>
                    </service_weborder_discount_reason>
                    <service_weborder_fee>
                        <table>service_weborder_fee</table>
                    </service_weborder_fee>
                    <service_weborder_item>
                        <table>service_weborder_item</table>
                    </service_weborder_item>
                    <service_weborder_item_fee>
                        <table>service_weborder_item_fee</table>
                    </service_weborder_item_fee>
                    <service_weborder_item_line_discount>
                        <table>service_weborder_item_line_discount</table>
                    </service_weborder_item_line_discount>
                    <service_weborder_payment>
                        <table>service_weborder_payment</table>
                    </service_weborder_payment>
                </entities>
            </teamwork_common_resource>
        </models>
        <resources>
            <teamwork_common_setup>
                <setup>
                    <module>Teamwork_Common</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </teamwork_common_setup>
        </resources>
    </global>

    <crontab>
        <jobs>
            <teamwork_common_crontab_job_generate_product_ecm>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>teamwork_common/observer::generateProductEcm</model>
                </run>
            </teamwork_common_crontab_job_generate_product_ecm>
            <teamwork_common_crontab_job_clean_chq_staging>
                <schedule>
                    <cron_expr>0 0 */3 * *</cron_expr>
                </schedule>
                <run>
                    <model>teamwork_common/observer::cleanChqStaging</model>
                </run>
            </teamwork_common_crontab_job_clean_chq_staging>
        </jobs>
    </crontab>

    <default>
        <teamwork_common>
            <chq>
                <path/>
                <access_token backend_model="adminhtml/system_config_backend_encrypted"/>
                <log_api>0</log_api>
                <channel_usage>1</channel_usage>
            </chq>
            <chq_request>
                <style_per_butch>100</style_per_butch>
                <price_per_butch>1000</price_per_butch>
                <max_api_chunk_interval>10</max_api_chunk_interval>
            </chq_request>
        </teamwork_common>
    </default>
</config>
