<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Logo>
        <version>0.1.0</version>
        </Ecp_Logo>
    </modules>
    <frontend>
        <routers>
            <ecp_logo>
                <use>standard</use>
                <args>
                    <module>Ecp_Logo</module>
                    <frontName>ecplogo</frontName>
                </args>
            </ecp_logo>
        </routers>
        <layout>
            <updates>
                <ecp_logo>
                    <file>ecp/logo.xml</file>
                </ecp_logo>
            </updates>
        </layout>
    </frontend>
            <admin>
        <routers>
            <ecp_logo>
                <use>admin</use>
                <args>
                    <module>Ecp_Logo</module>
                    <frontName>ecplogo</frontName>
                </args>
            </ecp_logo>
        </routers>
    </admin>
    <adminhtml>
        <!--menu>
            <cms module="ecp_logo">
                <sort_order>71</sort_order>               
                <children>
                    <logo module="ecp_logo">
                        <title>Updatable Logo</title>
                        <sort_order>0</sort_order>
                        <action>ecplogo/adminhtml_logo/edit</action>
                    </logo>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Logo>
                            <title>Logo Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Logo>
                    </children>
                </admin>
            </resources>
        </acl-->
        <layout>
            <updates>
                <ecp_logo>
                    <file>ecp/logo.xml</file>
                </ecp_logo>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_logo>
                <class>Ecp_Logo_Model</class>
                <resourceModel>ecp_logo_mysql4</resourceModel>
            </ecp_logo>
            <ecp_logo_mysql4>
                <class>Ecp_Logo_Model_Mysql4</class>
                <entities>
                    <logo>
                        <table>ecp_logo</table>
                    </logo>
                </entities>
            </ecp_logo_mysql4>
        </models>
        <resources>
            <ecp_logo_setup>
                <setup>
                    <module>Ecp_Logo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_logo_setup>
            <ecp_logo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_logo_write>
            <ecp_logo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_logo_read>
        </resources>
        <blocks>
            <ecp_logo>
                <class>Ecp_Logo_Block</class>
            </ecp_logo>
        </blocks>
        <helpers>
            <ecp_logo>
                <class>Ecp_Logo_Helper</class>
            </ecp_logo>
        </helpers>
    </global>
    <default>
        <!--ecp_logo>
            <logo>
                <value>some value</value>
            </logo>
        </ecp_logo-->
    </default>
</config>