<?xml version="1.0"?>
<config>
    <sections>
        <design translate="label" module="core">
            <groups>
                <header translate="label">
                    <label>Header</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <logo_image translate="label comment">
                            <label>Logo Image</label>
                            <comment>Allowed file types: ICO, PNG, GIF, JPG, JPEG, APNG, SVG. Not all browsers support all these formats!</comment>
                            <frontend_type>image</frontend_type>
                            <!--backend_model>adminhtml/system_config_backend_image_favicon</backend_model-->
                            <backend_model>ecp_logo/logo</backend_model>
                            <base_url type="media" scope_info="1">logo</base_url>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </logo_image>
                    </fields>
                </header>
            </groups>
        </design>
    </sections>
</config>