<?xml version="1.0"?>
<config>
  <modules>
    <Allure_TeamworkDam>
      <version>1.0.2</version>
    </Allure_TeamworkDam>
  </modules>
  <frontend>
    <routers>
      <teamworkdam>
        <use>standard</use>
        <args>
          <module>Allure_TeamworkDam</module>
          <frontName>teamworkdam</frontName>
        </args>
      </teamworkdam>
    </routers>    
  </frontend>
  <global>
    <models>
      <teamworkdam>
        <class>Allure_TeamworkDam_Model</class>
        <resourceModel>allure_teamworkdam_resource</resourceModel>
      </teamworkdam>
      <allure_teamworkdam_resource>
        <class>Allure_TeamworkDam_Model_Resource</class>
        <entities>
          <image>
            <table>allure_teamworkdam_image</table>
          </image>
          <process>
            <table>allure_teamworkdam_process</table>
          </process>
         </entities>
      </allure_teamworkdam_resource>
    </models>
    <resources>
      <allure_teamworkdam_setup>
        <setup>
          <module>Allure_TeamworkDam</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <teamworkdam_write>
          <connection>
            <use>core_write</use>
          </connection>
        </teamworkdam_write>
        <teamworkdam_read>
          <connection>
            <use>core_read</use>
          </connection>
        </teamworkdam_read>
      </allure_teamworkdam_setup>
    </resources>

    <helpers>
      <teamworkdam>
        <class>Allure_TeamworkDam_Helper</class>
      </teamworkdam>
    </helpers>
    <events>
      <allure_teamworkdam_product_image_changed>
        <observers>
          <teamworkdam>
            <type>singleton</type>
            <class>teamworkdam/observer</class>
            <method>handleImageUpdate</method>
          </teamworkdam>
        </observers>
      </allure_teamworkdam_product_image_changed>
    </events>
  </global>
  <crontab>
    <jobs>
      <teamworkdam_send_image>
        <schedule>
          <cron_expr>*/5 * * * *</cron_expr>
        </schedule>
        <run>
          <model>teamworkdam/cron::sendImages</model>
        </run>
      </teamworkdam_send_image>
    </jobs>
  </crontab>
</config> 