<?xml version="1.0"?>
<config>
  <modules>
    <Allure_Wholesale>
      <version>1.0.0</version>
    </Allure_Wholesale>
  </modules>
  <frontend>
    <routers>
      <wholesale>
        <use>standard</use>
        <args>
          <module>Allure_Wholesale</module>
          <frontName>wholesale-customer</frontName>
        </args>
      </wholesale>
    </routers>
    <layout>
      <updates>
        <wholesale>
          <file>allure/wholesale.xml</file>
        </wholesale>
      </updates>
    </layout>
  </frontend>
  <global>
    <models>
      <wholesale>
        <class>Allure_Wholesale_Model</class>
        <resourceModel>allure_wholesale_resource</resourceModel>
      </wholesale>
    </models>
    <helpers>
      <wholesale>
        <class>Allure_Wholesale_Helper</class>
      </wholesale>
    </helpers>
    <blocks>
      <wholesale>
        <class>Allure_Wholesale_Block</class>
      </wholesale>
    </blocks>
    <events>
      <controller_action_predispatch>
        <observers>
          <wholesale>
            <type>singleton</type>
            <class>wholesale/observer</class>
            <method>checkUserIsWholesale</method>
          </wholesale>
        </observers>
      </controller_action_predispatch>
      <customer_customer_authenticated>
        <observers>
          <wholesale>
            <type>singleton</type>
            <class>wholesale/observer</class>
            <method>afterLoginCheckUserGroup</method>
          </wholesale>
        </observers>
      </customer_customer_authenticated>
    </events>
  </global>
</config> 