<?xml version="1.0"?>
<config>
  <modules>
    <Allure_Wholesale>
      <version>1.0.0</version>
    </Allure_Wholesale>
  </modules>
  <frontend>
    <routers>
      <wholesale>
        <use>standard</use>
        <args>
          <module>Allure_Wholesale</module>
          <frontName>wholesale</frontName>
        </args>
      </wholesale>
    </routers>    
  </frontend>
  <global>
    <models>
      <wholesale>
        <class>Allure_Wholesale_Model</class>
        <resourceModel>allure_wholesale_resource</resourceModel>
      </wholesale>
    </models>
    <helpers>
      <wholesale>
        <class>Allure_Wholesale_Helper</class>
      </wholesale>
    </helpers>
    <events>
      <core_block_abstract_to_html_before>
        <observers>
          <wholesale>
            <type>singleton</type>
            <class>wholesale/observer</class>
            <method>checkUserIsWholesale</method>
          </wholesale>
        </observers>
      </core_block_abstract_to_html_before>
      <customer_customer_authenticated>
        <observers>
          <wholesale>
            <type>singleton</type>
            <class>wholesale/observer</class>
            <method>afterLoginCheckUser</method>
          </wholesale>
        </observers>
      </customer_customer_authenticated>
    </events>
  </global>
</config> 