
#sortable{list-style-type:none; margin:8px 0 20px 6px; padding:0; overflow:hidden}
    #sortable > li{padding:5px; margin-right:3px; background-color:#dde; border:1px solid #ccc; float:left}
    #sortable > li.block-holder{background-color:#fff; border:1px solid #ddd; width:70px; height:156px}
        #sortable > li p{padding:5px 12px 2px 12px; font-weight:700}
        #sortable > li img{}

#row_ddmenu_settings_overlay_show td,
#row_ddmenu_animate_transition_out td{padding-top:30px !important}

#ddmenu_animate table{float:left}
#ddmenu_test{float:left; margin:6px 0 0 40px}
    #ddmenu_test a{display:block; text-decoration:none; padding:2px 10px; text-align:center; width:119px; background:#6F8992; color:white; font-size:1em; line-height:18px; font-weight:bold}
    #ddmenu_test .sub{
        display:none; padding:5px; border:1px solid #ddd; background:#fff;
        -webkit-box-shadow:0 2px 8px rgba(0,0,0, 0.4);
        -moz-box-shadow:0 2px 8px rgba(0,0,0, 0.4);
        box-shadow:0 2px 8px rgba(0,0,0, 0.4);
    }
    
.system-tooltip-small{
    clear: none !important;
    border-left: 1px solid #CCC !important;
    margin-left: 5px !important;
    width: 100px !important;
}
