<?xml version="1.0"?>
<config>
    <modules>
        <Allure_Ajaxify>
            <version>0.0.1</version>
        </Allure_Ajaxify>
    </modules>
    
    <global>
    	
    	<blocks>
            <allureajaxify>
                <class>Allure_Ajaxify_Block</class>
            </allureajaxify>
            
            <core>
                <rewrite>
                    <messages>Allure_Ajaxify_Block_Rewrite_Messages</messages>
                </rewrite>
            </core>
         </blocks>
    
    	 <helpers>
       		<allureajaxify>
				<class>Allure_Ajaxify_Helper</class>
		    </allureajaxify>
		    
		    <ecp_ajaxify>
		    	<rewrite>
                	<data>Allure_Ajaxify_Helper_Rewrite_Data</data>
                </rewrite>
            </ecp_ajaxify>
		    
         </helpers>
        
    </global>
    
    
</config>
