<?xml version="1.0"?>
<config>
    <modules>
        <Alluremultistore_Managestock>
            <version>0.0.1</version>
        </Alluremultistore_Managestock>
    </modules>
    <global>
    
    	<helpers>
       		<managestock>
				<class>Alluremultistore_Managestock_Helper</class>
		    </managestock>
       </helpers>
    
          <resources>
            <allure_managestock_setup>
                <setup>
                    <module>Alluremultistore_Managestock</module>
                </setup>
            </allure_managestock_setup>
        </resources>  
        
        <models>
	    	<managestock>
				<class>Alluremultistore_Managestock_Model</class>
		    </managestock>
		    
		    <!-- manage stcok by website -->
		    <cataloginventory>
		    	<rewrite>
		    		<stock>Alluremultistore_Managestock_Model_CatalogInventory_Stock</stock>
		    	    <observer>Alluremultistore_Managestock_Model_CatalogInventory_Observer</observer>
		    		<stock_item>Alluremultistore_Managestock_Model_CatalogInventory_Stock_Item</stock_item>
		    		<stock_status>Alluremultistore_Managestock_Model_CatalogInventory_Stock_Status</stock_status>
		    	</rewrite>
	    	</cataloginventory>
	    	
	    	<cataloginventory_resource>
	    		<rewrite>
	    			<stock_item>Alluremultistore_Managestock_Model_CatalogInventory_Resource_Stock_Item</stock_item>
	    			<stock>Alluremultistore_Managestock_Model_CatalogInventory_Resource_Stock</stock>
	    		</rewrite>
	    	</cataloginventory_resource>
    	
       </models>
       
        
    </global>
    
    
</config>
