<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <OpsWay_CustomOrderManager>
            <version>0.1.2</version>
        </OpsWay_CustomOrderManager>
    </modules>
    <global>
		<resources>
		    <opsway_customordermanager_setup>
		        <setup>
		            <module>OpsWay_CustomOrderManager</module>
		            <class>Mage_Catalog_Model_Resource_Setup</class>
		        </setup>
		    </opsway_customordermanager_setup>
		</resources>
		<sales>
		    <quote>
		        <item>
		            <product_attributes>
		                <backorder_time />
		            </product_attributes>
		        </item>
		    </quote>
		</sales>
		<events>
	        <sales_quote_item_set_product>
	            <observers>
	                <opsway_customordermanager>
	                    <class>OpsWay_CustomOrderManager_Model_Observer</class>
	                    <method>setBackorderTimeAttribute</method>
	                </opsway_customordermanager>
	            </observers>
	        </sales_quote_item_set_product>
	    </events>
	    <fieldsets>
		    <sales_convert_quote_item>
		        <backorder_time>
		            <to_order_item>*</to_order_item>
		        </backorder_time>
		    </sales_convert_quote_item>
		    <sales_convert_order_item>
		        <backorder_time>
		            <to_quote_item>*</to_quote_item>
		        </backorder_time>
		    </sales_convert_order_item>
		</fieldsets>
	</global>
</config>