<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Footlinks>
            <version>0.1.2</version>
        </Ecp_Footlinks>
    </modules>
    <frontend>
        <routers>
            <footlinks>
                <use>standard</use>
                <args>
                    <module>Ecp_Footlinks</module>
                    <frontName>footlinks</frontName>
                </args>
            </footlinks>
        </routers>
        <layout>
            <updates>
                <footlinks>
                    <file>footlinks.xml</file>
                </footlinks>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <footlinks>
                <use>admin</use>
                <args>
                    <module>Ecp_Footlinks</module>
                    <frontName>footlinks</frontName>
                </args>
            </footlinks>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="footlinks">
				<!--title>Footlinks</title-->
                <sort_order>71</sort_order>
                <children>
                    <footlinks module="footlinks">
                        <title>Footlinks</title>
                        <sort_order>0</sort_order>
                        <action>footlinks/adminhtml_footlinks</action>
                    </footlinks>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ecp_footlinks translate="title" module="footlinks">
                                            <title>Footlinks Section ACL</title>
                                            <sort_order>99</sort_order>
                                        </ecp_footlinks>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <footlinks>
                    <file>footlinks.xml</file>
                </footlinks>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ecp_footlinks>
                <class>Ecp_Footlinks_Model</class>
                <resourceModel>footlinks_mysql4</resourceModel>
            </ecp_footlinks>
            <footlinks_mysql4>
                <class>Ecp_Footlinks_Model_Mysql4</class>
                <entities>
                    <footlinks>
                        <table>ecp_footlinks</table>
                    </footlinks>
                </entities>
            </footlinks_mysql4>
        </models>
        <resources>
            <ecp_footlinks_setup>
                <setup>
                    <module>Ecp_Footlinks</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecp_footlinks_setup>
            <ecp_footlinks_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_footlinks_write>
            <ecp_footlinks_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_footlinks_read>
        </resources>
        <blocks>
            <footlinks>
                <class>Ecp_Footlinks_Block</class>
            </footlinks>
        </blocks>
        <helpers>
            <footlinks>
                <class>Ecp_Footlinks_Helper</class>
            </footlinks>
        </helpers>
        <events>
            <!--<core_block_abstract_prepare_layout_after>-->
            <controller_action_layout_load_before>
            <!--<core_layout_block_create_after>-->
                <observers>
                    <ecp_footlinks>
                        <class>Ecp_Footlinks_Model_Observer</class>
                        <method>getContent</method>
                    </ecp_footlinks>
              </observers>
            <!--</core_layout_block_create_after>-->
            <!--</core_block_abstract_prepare_layout_after>-->
            </controller_action_layout_load_before>
        </events>
        <footlinks>
            <addvalueToUrl>
                <footerLinkMenu>1</footerLinkMenu>
            </addvalueToUrl>
        </footlinks>
    </global>
</config>