<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Seo>
        <version>0.1.0</version>
        </Ecp_Seo>
    </modules>
    <frontend>
        <routers>
            <ecp_seo>
                <use>standard</use>
                <args>
                    <module>Ecp_Seo</module>
                    <frontName>ecpseo</frontName>
                </args>
            </ecp_seo>
        </routers>
        <layout>
            <updates>
                <ecp_seo>
                    <file>ecp/seo.xml</file>
                </ecp_seo>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_seo>
                <use>admin</use>
                <args>
                    <module>Ecp_Seo</module>
                    <frontName>ecpseo</frontName>
                </args>
            </ecp_seo>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <ecp_seo module="ecp_seo">
                <title>Seo</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_seo">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpseo/adminhtml_seo</action>
                    </items>
                </children>
            </ecp_seo>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Seo>
                            <title>Seo Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Seo>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_seo>
                    <file>ecp/seo.xml</file>
                </ecp_seo>
            </updates>
        </layout>-->
    </adminhtml>   
    <global>
        <models>
            <ecp_seo>
                <class>Ecp_Seo_Model</class>
                <resourceModel>ecp_seo_mysql4</resourceModel>
            </ecp_seo>
            <ecp_seo_mysql4>
                <class>Ecp_Seo_Model_Mysql4</class>
                <entities>
                    <seo>
                        <table>ecp_seo</table>
                    </seo>
                </entities>
            </ecp_seo_mysql4>
        </models>
        <resources>
            <ecp_seo_setup>
                <setup>
                    <module>Ecp_Seo</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_seo_setup>
            <ecp_seo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_seo_write>
            <ecp_seo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_seo_read>
        </resources>
        <blocks>
            <ecp_seo>
                <class>Ecp_Seo_Block</class>
            </ecp_seo>
        </blocks>
        <helpers>
            <ecp_seo>
                <class>Ecp_Seo_Helper</class>
            </ecp_seo>
        </helpers>
    </global>
    <default>
        <ecp_seo>
            <seo>
                <value>some value</value>
            </seo>
        </ecp_seo>
    </default>
</config>