@import '../core/_general';
@import '../core/_hostedfields';
@import '../core/_paypal';
@import '../core/_saved';

#paypal-complete #paypal-label {
    float: right;
    margin-right: 8px;
    line-height: 44px;
}
#paypal-container iframe {
    display: none;
}
#paypal-complete #paypal-container {
    float: right;
}
#braintree-paypal-button {
    padding: 0;
}

#payment_form_gene_braintree_paypal, #payment_form_gene_braintree_creditcard {
    padding-top: 6px;
    padding-bottom: 6px;

    label {
        float: left;
        width: 100%;
        margin-bottom: 4px;
    }
    .braintree-card-input-field {
        float: left;
        width: 100%;
    }
    #cvv {
        float: left;
    }
    a.cvv-what-is-this {
        display: block;
        clear: both;
    }
}