@import '../core/_general';
@import '../core/_hostedfields';
@import '../core/_paypal';
@import '../core/_saved';

#paypal-complete #paypal-label {
    float: right;
    margin-right: 8px;
    line-height: 44px;
}
#paypal-container iframe {
    display: none;
}
#paypal-complete #paypal-container {
    float: right;
}
#braintree-paypal-button {
    padding: 0;
}

#payment_form_gene_braintree_paypal, #payment_form_gene_braintree_creditcard {
    padding-top: 6px;
    padding-bottom: 6px;
}

.braintree-input-field {
    height: 42px;
    max-width: 340px;
    padding: 0 10px;
    border: 1px solid lightgrey;
    background: white;
}
.braintree-card-input-field {
    height: 50px;
    width: 100%;
    max-width: 372px;
    border: 1px solid lightgrey;
    position: relative;
    background: white;
}
.braintree-card-input-field .card-type {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px 0 8px;
}
.braintree-card-input-field .card-type img {
    height: 48px;
}
.braintree-card-input-field #card-number {
    float: left;
    height: 48px;
    width: 100%;
    padding-left: 66px;
    box-sizing: border-box;
}
#braintree-expiration-container {
    display: block;
    width: 100%;
    vertical-align: middle;
    font-size: 0;
}
.braintree-expiration {
    width: 70px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.braintree-expiration-seperator {
    vertical-align: top;
    line-height: 42px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    font-size: 30px;
    padding: 0 8px;
}
.braintree-cvv {
    width: 80px;
}
.braintree-hostedfield .cvv-what-is-this {
    margin-left: 0;
}