<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Slideshow>
        <version>0.1.3</version>
        </Ecp_Slideshow>
    </modules>
    <frontend>
        <routers>
            <ecp_slideshow>
                <use>standard</use>
                <args>
                    <module>Ecp_Slideshow</module>
                    <frontName>ecpslideshow</frontName>
                </args>
            </ecp_slideshow>
        </routers>
        <layout>
            <updates>
                <ecp_slideshow>
                    <file>ecp/slideshow.xml</file>
                </ecp_slideshow>
            </updates>
        </layout>
    </frontend>
            <admin>
        <routers>
            <ecp_slideshow>
                <use>admin</use>
                <args>
                    <module>Ecp_Slideshow</module>
                    <frontName>ecpslideshow</frontName>
                </args>
            </ecp_slideshow>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_slideshow">
                <sort_order>71</sort_order>               
                <children>
                    <slideshow module="ecp_slideshow">
                        <title>Slideshow</title>
                        <sort_order>0</sort_order>
                        <action>ecpslideshow/adminhtml_slideshow</action>
                    </slideshow>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Slideshow>
                            <title>Slideshow Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Slideshow>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_slideshow>
                    <file>ecp/slideshow.xml</file>
                </ecp_slideshow>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_slideshow>
                <class>Ecp_Slideshow_Model</class>
                <resourceModel>ecp_slideshow_mysql4</resourceModel>
            </ecp_slideshow>
            <ecp_slideshow_mysql4>
                <class>Ecp_Slideshow_Model_Mysql4</class>
                <entities>
                    <slideshow>
                        <table>ecp_slideshow</table>
                    </slideshow>
                </entities>
            </ecp_slideshow_mysql4>
        </models>
        <resources>
            <ecp_slideshow_setup>
                <setup>
                    <module>Ecp_Slideshow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_slideshow_setup>
            <ecp_slideshow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_slideshow_write>
            <ecp_slideshow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_slideshow_read>
        </resources>
        <blocks>
            <ecp_slideshow>
                <class>Ecp_Slideshow_Block</class>
            </ecp_slideshow>
        </blocks>
        <helpers>
            <ecp_slideshow>
                <class>Ecp_Slideshow_Helper</class>
            </ecp_slideshow>
        </helpers>
    </global>
    <default>
        <ecp_slideshow>
            <slideshow>
                <value>some value</value>
            </slideshow>
        </ecp_slideshow>
    </default>
</config>
