<?xml version="1.0"?>
<config>
  <modules>
    <Allure_CustomerLoginMonitor>
      <version>1.0.0</version>
    </Allure_CustomerLoginMonitor>
  </modules>
  <frontend>
    <routers>
      <customerloginmonitor>
        <use>standard</use>
        <args>
          <module>Allure_CustomerLoginMonitor</module>
          <frontName>customerloginmonitor</frontName>
        </args>
      </customerloginmonitor>
    </routers>    
  </frontend>
  <global>
    <blocks>
      <customerloginmonitor>
        <class>Allure_CustomerLoginMonitor_Block</class>
      </customerloginmonitor>
    </blocks>
    <models>
      <customerloginmonitor>
        <class>Allure_CustomerLoginMonitor_Model</class>
        <resourceModel>allure_customerloginmonitor_resource</resourceModel>
      </customerloginmonitor>
      <allure_customerloginmonitor_resource>
        <class>Allure_CustomerLoginMonitor_Model_Resource</class>
        <entities>
          <login>
            <table>allure_customerloginmonitor_login</table>
          </login>
        </entities>
      </allure_customerloginmonitor_resource>
    </models>
    <resources>
      <allure_customerloginmonitor_setup>
        <setup>
          <module>Allure_CustomerLoginMonitor</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <customerloginmonitor_write>
          <connection>
            <use>core_write</use>
          </connection>
        </customerloginmonitor_write>
        <customerloginmonitor_read>
          <connection>
            <use>core_read</use>
          </connection>
        </customerloginmonitor_read>
      </allure_customerloginmonitor_setup>
    </resources>
    <helpers>
      <customerloginmonitor>
        <class>Allure_CustomerLoginMonitor_Helper</class>
      </customerloginmonitor>
    </helpers>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <customerloginmonitor>
                      <title>customer login monitor</title>
                    </customerloginmonitor>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <customerloginmonitor before="Mage_Adminhtml">Allure_CustomerLoginMonitor_Adminhtml</customerloginmonitor>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config> 