<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Shippingtext>
        <version>0.1.1</version>
        </Ecp_Shippingtext>
    </modules>
    <frontend>
        <routers>
            <ecp_shippingtext>
                <use>standard</use>
                <args>
                    <module>Ecp_Shippingtext</module>
                    <frontName>ecpshippingtext</frontName>
                </args>
            </ecp_shippingtext>
        </routers>
        <layout>
            <updates>
                <ecp_shippingtext>
                    <file>ecp/shippingtext.xml</file>
                </ecp_shippingtext>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_shippingtext>
                <use>admin</use>
                <args>
                    <module>Ecp_Shippingtext</module>
                    <frontName>ecpshippingtext</frontName>
                </args>
            </ecp_shippingtext>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_shippingtext">
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_shippingtext">
                        <title>Shipping Text</title>
                        <sort_order>0</sort_order>
                        <action>ecpshippingtext/adminhtml_shippingtext</action>
                    </items>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Shippingtext>
                            <title>Shippingtext Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Shippingtext>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_shippingtext>
                    <file>ecp/shippingtext.xml</file>
                </ecp_shippingtext>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_shippingtext>
                <class>Ecp_Shippingtext_Model</class>
                <resourceModel>ecp_shippingtext_mysql4</resourceModel>
            </ecp_shippingtext>
            <ecp_shippingtext_mysql4>
                <class>Ecp_Shippingtext_Model_Mysql4</class>
                <entities>
                    <shippingtext>
                        <table>ecp_shippingtext</table>
                    </shippingtext>
                </entities>
            </ecp_shippingtext_mysql4>
        </models>
        <resources>
            <ecp_shippingtext_setup>
                <setup>
                    <module>Ecp_Shippingtext</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_shippingtext_setup>
            <ecp_shippingtext_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_shippingtext_write>
            <ecp_shippingtext_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_shippingtext_read>
        </resources>
        <blocks>
            <ecp_shippingtext>
                <class>Ecp_Shippingtext_Block</class>
            </ecp_shippingtext>
        </blocks>
        <helpers>
            <ecp_shippingtext>
                <class>Ecp_Shippingtext_Helper</class>
            </ecp_shippingtext>
        </helpers>
    </global>
    <default>
        <ecp_shippingtext>
            <shippingtext>
                <value>some value</value>
            </shippingtext>
        </ecp_shippingtext>
    </default>
</config>