<?xml version="1.0"?>
<config>
	<modules>
		<Allure_WaitWhile>
			<name>Allure - WaitWhile</name>
			<version>1.0.1</version>
		</Allure_WaitWhile>
	</modules>
	<global>
		<resources>
			<allure_waitwhile_setup>
				<setup>
                    <module>Allure_WaitWhile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			</allure_waitwhile_setup>
		</resources>
		<helpers>
			<allure_waitwhile>
				<class>Allure_WaitWhile_Helper</class>
			</allure_waitwhile>
		</helpers>
		<models>
			<allure_waitwhile>
				<class>Allure_WaitWhile_Model</class>
				<resourceModel>allure_waitwhile_resource</resourceModel>
			</allure_waitwhile>
			<allure_waitwhile_resource>
				<class>Allure_WaitWhile_Model_Resource</class>
				<entities>
					<booking>
						<table>allure_waitwhile_booking</table>
					</booking>
					<services>
						<table>allure_waitwhile_services</table>
					</services>
					<localization>
						<table>allure_waitwhile_localization</table>
					</localization>
					<resources>
						<table>allure_waitwhile_resources</table>
					</resources>
				</entities>
			</allure_waitwhile_resource>
		</models>
		<events>
            <appointment_complete_save_after>
                <observers>
                    <allure_waitwhile>
                        <class>allure_waitwhile/observer</class>
                        <method>process</method>
                    </allure_waitwhile>
                </observers>
            </appointment_complete_save_after>
            <appointment_save_commit_after>
                <observers>
                    <allure_waitwhile>
                        <class>allure_waitwhile/observer</class>
                        <method>process</method>
                    </allure_waitwhile>
                </observers>
            </appointment_save_commit_after>
        </events>
	</global>
</config>
