<?xml version="1.0"?>
<config>
  <modules>
    <Allure_PromoBox>
      <version>1.0.0</version>
    </Allure_PromoBox>
  </modules>
  <frontend>
    <routers>
      <promobox>
        <use>standard</use>
        <args>
          <module>Allure_PromoBox</module>
          <frontName>promobox</frontName>
        </args>
      </promobox>
    </routers>    
  </frontend>
  <global>
    <blocks>
      <promobox>
        <class>Allure_PromoBox_Block</class>
      </promobox>
    </blocks>
    <models>
      <promobox>
        <class>Allure_PromoBox_Model</class>
        <resourceModel>allure_promobox_resource</resourceModel>
      </promobox>
      <allure_promobox_resource>
        <class>Allure_PromoBox_Model_Resource</class>
        <entities>
          <banner>
            <table>allure_promobox_banner</table>
          </banner>
          <category>
            <table>allure_promobox_category</table>
          </category>
          <box>
            <table>allure_promobox_box</table>
          </box>
        </entities>
      </allure_promobox_resource>
    </models>
    <resources>
      <allure_promobox_setup>
        <setup>
          <module>Allure_PromoBox</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <promobox_write>
          <connection>
            <use>core_write</use>
          </connection>
        </promobox_write>
        <promobox_read>
          <connection>
            <use>core_read</use>
          </connection>
        </promobox_read>
      </allure_promobox_setup>
    </resources>
    <helpers>
      <promobox>
        <class>Allure_PromoBox_Helper</class>
      </promobox>
    </helpers>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <promobox>
                      <title>Promo Box</title>
                    </promobox>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <promobox before="Mage_Adminhtml">Allure_PromoBox_Adminhtml</promobox>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
</config> 