<?xml version="1.0"?>
<config>
  <modules>
    <Allure_PromoBox>
      <version>1.0.2</version>
    </Allure_PromoBox>
  </modules>
  <frontend>
    <routers>
      <promobox>
        <use>standard</use>
        <args>
          <module>Allure_PromoBox</module>
          <frontName>promobox</frontName>
        </args>
      </promobox>
    </routers>    
  </frontend>
  <global>
    <blocks>
      <promobox>
        <class>Allure_PromoBox_Block</class>
      </promobox>
    </blocks>
    <models>
      <promobox>
        <class>Allure_PromoBox_Model</class>
        <resourceModel>allure_promobox_resource</resourceModel>
      </promobox>
      <allure_promobox_resource>
        <class>Allure_PromoBox_Model_Resource</class>
        <entities>
          <banner>
            <table>allure_promobox_banner</table>
          </banner>
          <category>
            <table>allure_promobox_category</table>
          </category>
          <box>
            <table>allure_promobox_box</table>
          </box>
        </entities>
      </allure_promobox_resource>
    </models>
    <resources>
      <allure_promobox_setup>
        <setup>
          <module>Allure_PromoBox</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <promobox_write>
          <connection>
            <use>core_write</use>
          </connection>
        </promobox_write>
        <promobox_read>
          <connection>
            <use>core_read</use>
          </connection>
        </promobox_read>
      </allure_promobox_setup>
    </resources>
    <helpers>
      <promobox>
        <class>Allure_PromoBox_Helper</class>
      </promobox>
    </helpers>
  </global>
  <admin>
    <routers>
      <allure_promobox>
        <use>admin</use>
        <args>
          <module>Allure_PromoBox</module>
          <frontName>allurepromobox</frontName>
        </args>
      </allure_promobox>
    </routers>
  </admin>
  <adminhtml>
    <menu>
      <allure>
        <children>
          <promobox module="promobox">
            <title>Promo Box</title>
            <sort_order>3</sort_order>
            <children>
              <banners module="promobox">
                <title>Manage Banner</title>
                <sort_order>1</sort_order>
                <action>allurepromobox/adminhtml_banner</action>
              </banners>
              <category module="promobox">
                <title>Manage Categories</title>
                <sort_order>2</sort_order>
                <action>allurepromobox/adminhtml_category</action>
              </category>
            </children>
          </promobox>
        </children>
      </allure>
    </menu>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <Allure_PromoBox>
              <title>Promo Box Module</title>
              <sort_order>10</sort_order>
            </Allure_PromoBox>
          </children>
        </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <allure_promobox>
          <file>allure/promobox.xml</file>
        </allure_promobox>
      </updates>
    </layout>
  </adminhtml>
</config> 