<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Productview>
        <version>0.1.1</version>
        </Ecp_Productview>
    </modules>    
    <frontend>
    	<routers>
    		<ecp_productview>
	    		<use>standard</use>
	    		<args>
	    			<module>Ecp_Productview</module>
	    			<frontName>productview</frontName>
	    		</args>
    		</ecp_productview>
    	</routers>
    </frontend>
    <global>
        <resources>
            <ecp_productview_setup>
                <setup>
                    <module>Ecp_Productview</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_productview_setup>
            <ecp_productview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_productview_write>
            <ecp_productview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_productview_read>
        </resources>
        <blocks>
            <ecp_productview>
                <class>Ecp_Productview_Block</class>
            </ecp_productview>
             
        </blocks>
        <helpers>
            <ecp_productview>
                <class>Ecp_Productview_Helper</class>
            </ecp_productview>
        </helpers>   
        <models>
            <ecp_productview>
                <class>Ecp_Productview_Model</class>
            </ecp_productview>
    </models>   
    </global>
</config>