<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Faq>
        <version>0.1.0</version>
        </Ecp_Faq>
    </modules>
    <frontend>
        <routers>
            <ecp_faq>
                <use>standard</use>
                <args>
                    <module>Ecp_Faq</module>
                    <frontName>ecpfaq</frontName>
                </args>
            </ecp_faq>
        </routers>
        <layout>
            <updates>
                <ecp_faq>
                    <file>ecp/faq.xml</file>
                </ecp_faq>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_faq>
                <use>admin</use>
                <args>
                    <module>Ecp_Faq</module>
                    <frontName>ecpfaq</frontName>
                </args>
            </ecp_faq>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_press">
                <sort_order>71</sort_order>               
                <children>
                    <faqs module="ecp_press">
                        <title>FAQ's</title>
                        <sort_order>0</sort_order>
                        <action>ecpfaq/adminhtml_faq</action>
                    </faqs>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Faq>
                            <title>Faq Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Faq>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_faq>
                    <file>ecp/faq.xml</file>
                </ecp_faq>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_faq>
                <class>Ecp_Faq_Model</class>
                <resourceModel>ecp_faq_mysql4</resourceModel>
            </ecp_faq>
            <ecp_faq_mysql4>
                <class>Ecp_Faq_Model_Mysql4</class>
                <entities>
                    <faq>
                        <table>ecp_faq</table>
                    </faq>
                </entities>
            </ecp_faq_mysql4>
        </models>
        <resources>
            <ecp_faq_setup>
                <setup>
                    <module>Ecp_Faq</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_faq_setup>
            <ecp_faq_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_faq_write>
            <ecp_faq_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_faq_read>
        </resources>
        <blocks>
            <ecp_faq>
                <class>Ecp_Faq_Block</class>
            </ecp_faq>
        </blocks>
        <helpers>
            <ecp_faq>
                <class>Ecp_Faq_Helper</class>
            </ecp_faq>
        </helpers>
    </global>
    <default>
        <ecp_faq>
            <faq>
                <value>some value</value>
            </faq>
        </ecp_faq>
    </default>
</config>