iframe {
    max-width: 100%;
}

#two-shipping-method-layout{
	margin-bottom:20px;
	margin-left:15px;
}
#select-delivery-shipment{
	/*width:50%;*/
}

#select-delivery-shipment,#shipping-method-two{
	margin-left:15px;
}

#delivery-shiping-option #checkout-shipping-method-load{
	margin-left:15px ! important;
}

#two-shipping-method-layout h2{
	text-transform: none;
}

#backordered-two-ship{
	clear: both;
    overflow: hidden;
    display: block;
    position: relative;
}

#ordered-two-ship{
	clear: both;
    overflow: hidden;
    display: block;
    position: relative;
    margin-bottom: 25px;
}

#ordered-two-ship .shipment-title,#backordered-two-ship .shipment-title{
	padding:10px;
	border-top: 1px solid #ccc;
}

#ordered-two-ship .shipment-message .shipment-notice-sp .shipment-color,
#backordered-two-ship .shipment-message .shipment-notice-sp .shipment-color{
	color:red;
}
#ordered-two-ship .shipment-message .shipment-notice-sp,
#backordered-two-ship .shipment-message .shipment-notice-sp{
	padding-bottom:5px;
	float:right;
}


#ordered-two-ship #checkout-review-table-wrapper{
	/*margin-bottom:20px;*/
}

#checkout-review-table tbody tr{
	background:none;
}

/*Wholeseller payment methods layout*/

#wholeseller-payment-methods{
	width: 100%;
    display: block;
    overflow: hidden;
}

#wholeseller-payment-methods ul{
	border-bottom: 1px solid #ccc;margin-bottom:10px;
}

#wholeseller-payment-methods ul li,
#co-delivery-method-form .sp-methods li{
	padding: 10px 0px 10px 10px;
	background-color: #d1d1d1;
}

.checkout-two-shipment-shipping-method-mt p{
	padding-top:10px;
}

.mt-shipping-methods.mt-gift-card-present{
	width: 100% ! important;
	padding: 0px;
}


/*My account payment info*/

.my-account .manage-payment-method .addresses-list .col-1 ,
 .my-account .manage-payment-method .addresses-list .col-2{
    width: 100% ! important;
}

.manage-payment-method .addresses-list li.item {
    padding: 0 10px;
    margin: 0 7px 15px;
    width: 45%;
    display: inline-block;
    border: 1px solid #ccc;
}

.my-account .manage-payment-method .addresses-list .col-1 ol {
    border-right: none;
}

.manage-payment-method .addresses-list li.item .box-title{
	background: none;
	text-align: left;
	margin-bottom: 15px;
}

.manage-payment-method .addresses-list li.item .mt-paymentifo-card{
	margin-top: 10px;
    margin-bottom: 10px;
}

.manage-payment-method .addresses-list li.item .mt-paymentifo-card .mt-payment-card{
	border-left: 1px dashed #ccc;
	padding-left: 10px;
	margin-left: 30px;
}

.manage-payment-method .addresses-list li.item .mt-paymentifo-card .btn-link .delete-link{
	float: right;
}

.my-account .manage-payment-method .addresses-list .col-2 #billing-new-address-form{
	border-right:none;
	width: 100%;
	min-height: 230px;
}

.my-account .manage-payment-method .addresses-list .col-2 #billing-new-address-form li{
	width: 49%;
	display: inline-block;
}

.my-account .manage-payment-method .addresses-list .col-2 #mt-credit-card-info li{
	width: 100%;
}

/* .my-account .manage-payment-method .addresses-list .col-2 #billing-new-address-form .input-box input.input-text,
#shipping-new-address-form .input-box input.input-text,
.my-account .manage-payment-method .addresses-list .col-2 #billing-new-address-form select{
    width: 99% !important;
    border-top: 1px solid #b2b2b2;
    border-bottom: none;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #d8d8d8;
    height: 19px;
    padding: 0px;
    margin-bottom: 10px;
} */

 #mt-credit-card-info li #authnetcim_cc_type,#mt-credit-card-info li #authnetcim_cc_number
{
	width: 100% !important;
	padding: 2px;
	margin-bottom: 10px;
}

#mt-credit-card-info #authnetcim_cc_type_exp_div label,
#mt-credit-card-info #authnetcim_cc_type_exp_div .input-box,
#mt-credit-card-info #authnetcim_cc_type_cvv_div label,
#mt-credit-card-info #authnetcim_cc_type_cvv_div .input-box{
	float: right;
}

#mt-credit-card-info #authnetcim_cc_type_cvv_div .input-box .v-fix{
	width: 30%;
}

.mt-paycard-title{
	font-size: 18px;
}

.manage-payment-method .addresses-list .col-2 .box-title h3 > a{
	text-decoration: none;
}

.manage-payment-method .card-line{
	border-left: 1px solid #ccc;
    padding-left: 10px;
}

.manage-payment-method small.mt-pages{
	text-transform: none;
}

.manage-payment-method .card-label-name{
	float: left;padding-right: 10px;
}

.manage-payment-method .card-type{
	text-transform: none;
}

.mt-paymentifo-card .edit-link .mt-edit-icon,
.mt-paymentifo-card .delete-link .mt-delete-icon,
.mt-paymentifo-card .icon-wait-clock{
	width:15px;
    height:15px;
    position:absolute;
}

 .mt-paymentifo-card .edit-link .mt-edit-icon{
	content: '';
    background:url('../images/pencil.svg');
    background-size:cover;
}

.mt-paymentifo-card .delete-link .mt-delete-icon{
	content: '';
    background:url('../images/trash_bin.svg');
    background-size:cover;
    margin-left: -15px;
}

.mt-paymentifo-card .icon-wait-clock{
	content: '';
    background:url('../images/wait-clock.svg');
    background-size:cover;
}

.manage-payment-method .mt-add-icon{
	content: '';
    background:url('../images/pencil.svg');
    background-size:cover;
    width:15px;
    height:15px;
    position:absolute;
}

.manage-payment-method .title-add-credit{
	margin-left: 25px;
}

input.special-inst-product {
    width: 250px;
}

.opc .step .buttons-set button.btn-amazon_continue {float:left; margin-top: 10px;}
.opc .step .buttons-set button.button.btn-amazon_change_payment_method {
	margin-top: 10px;;
}

#AmazonPayButtonMethod img {
	height: 41.5px;
}

label[for=is_subscribed] {
    background: url(../images/checkbox-login.png) no-repeat 0 0;
    padding: 2px 0 2px 30px;
}

.customer-account-create .page-title {
    margin: 16px auto;
    float: none;
    text-align: center;
}

.customer-account-create .account-create {
    font-size: 13px;
    color: #3f3f47;
    background: #cfcfd1;
    padding: 25px;
    min-height: 386px;
    position: relative;
    margin: 0 auto;
    float: none;
    width: 500px;
    max-width: 95%;
}

.customer-account-create input {
    background: #F7F7F7;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    padding: 6px 9px;
    line-height: 20px;
    margin-bottom: 3px;
    width: 100%;
    display: inline-block;
    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}

.customer-account-create select {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    padding: 6px 9px;
    margin: 3px 0;
    width: 100%;
    line-height: 20px;
    height: auto;
    border-radius: 0px;
    font-size: 13px;
    display: block;
    border: none;
    -webkit-appearance: none;
}

.customer-account-create input:after {
	content:"";
	display: none
}

ul#account-create {
    margin: -5px;
    display: block;
    overflow: hidden;
}

#account-create li {
    width: 50%;
    float: left;
    line-height: 3em;
    padding: 0 3px;
    overflow: hidden;
    display: block;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}
#account-create li.one_column {
    width: 100%;
}

.customer-account-create .input-row {
	margin: 0 -3px;
}

.account-create{

}

.customer-account-create input:checked + label {
    background-position: 0px -22px;
}

img.snize-item-image[src^=data]::before {
    background-color: red;
    background-image: url(/media/catalog/product/placeholder/default/placeholder-base_1.png);
    content: "";
    display: block;
}

img.snize-item-image[src^=data]::after {
    background-color: red;
    background-image: url(/media/catalog/product/placeholder/default/placeholder-base_1.png);
    content: "";
    display: block;
}

.customer-account-login .account-create, .account-login{
	margin: 17px 17px 10px 0 !important;
}

.customer-account-login #amazon-buttons-wrapper {
    /*padding: 60px 0 !important;*/
}


/*Loader Css start*/
.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  /* top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #8cc759;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #8c6daf;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #ef5d74;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #f9a74b;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #60beeb;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #fbef5a;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}

/*Loader Css end*/

/* popop css added by Ajay */



/* .popupLoginModel {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top:-20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	background: rgba(0,0,0,0.45);
}
.popupLoginModel:target {
	opacity:1;
	pointer-events: auto;
} */

/* .popupLoginModel > div {
	width: 320px;
    position: relative;
    margin: 4% auto;/*10% to 5% changed*/
    /* padding: 5px 20px 13px 20px;
    padding: 20px;
    /* border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background: #dcdcdc;
    box-shadow: 0px 0px 6px
}
.popupLoginModel #login-msg{
	color:#830000;
	margin-left: 20px;
	font-size: 12px;
    font-weight: bold;
    line-height: 1.63636363636;

} */

/* .close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
} */

/* .close:hover { background: #00d9ff; } */

/* #signin-btn{
	float:right;
}

.popupResetPasswordModel {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top:-20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	background: rgba(0,0,0,0.8);
}
.popupResetPasswordModel:target {
	opacity:1;
	pointer-events: auto;
} */

/* .popupResetPasswordModel > div {
	width: 320px;
    position: relative;
    margin: 10% auto;
    /* padding: 5px 20px 13px 20px;
    padding: 20px;
    /* border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background: #dcdcdc;
    box-shadow: 0px 0px 6px
} */




/* .popupRegisterModel {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: -80px;;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	background: rgba(0,0,0,0.8);
} */
/* .popupRegisterModel:target {
	opacity:1;
	pointer-events: auto;
}

.popupRegisterModel > div {
	width: 320px;
    position: relative;
    margin: 10% auto;
    /* padding: 5px 20px 13px 20px;
    padding: 20px;
    /* border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background: #dcdcdc;
    box-shadow: 0px 0px 6px
} */
/* .popupRegisterModel #register-msg{
	color:#830000;
	margin-left: 20px;
	font-size: 12px;
  /*   font-weight: bold;
    line-height: 1.63636363636;
} */

/* .pop-title{
	border-bottom: 1px solid #999;
	margin-bottom: 10px;
}
.pop-title h2{
   	margin: 0 0 10px
}
label.popup-login-lbl{
   width: 100%;
   float: left;
   font-size: 12px;
	margin: 10px 0 5px;
} */
/* .popupLoginModel input{
	width: calc(100% - 10px);
	height: 25px !important;
	margin: 2px 0 10px;
	border-top: 1px solid #b2b2b2;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0;
	padding: 5px;
} */

/* .popupResetPasswordModel input{
   width: 96%;
   margin: 2px 0 10px;
   border-top: 1px solid #b2b2b2;
   border-bottom: 0px;
   border-left: 0px;
   border-right: 0;
   padding: 5px;
}
.popupResetPasswordModel .pop-link{
	   overflow: hidden;
        clear: both;
}

.popupRegisterModel input{
   width: 96%;
   margin: 2px 0 10px;
   border-top: 1px solid #b2b2b2;
   border-bottom: 0px;
   border-left: 0px;
   border-right: 0;
   padding: 5px;
}
.popupRegisterModel .news-letter{
	display: inline-block;
}
.pop-link a{
	outline: 0;
	text-decoration: underline;
	color: #000;
	cursor: pointer;
	font-size: 12px;
	display: inline-block;
	margin: 10px 0;
}
.pop-link p{
	clear: both;
	letter-spacing: 0.7px;
}
.popupRegisterModel .pop-link{
	margin-top: 15px;

}
.pop-link a:hover{
   outline: 0;
   text-decoration: none;
   color: #000;
}
.popupLoginModel #signin-btn-popup {
   float: right;
   margin: 10px 0 10px;
   color: #fff;
   background: -webkit-linear-gradient(top, #646469 13%, #3b3b3b 99%);
}
.popupResetPasswordModel #reset_pass_btn{
   float: right;
   margin: 10px 0 10px;
   color: #fff;
   background: -webkit-linear-gradient(top, #646469 13%, #3b3b3b 99%);
}
#popup_is_subscribed{
	width: 20px;
    height: 20px;
}
#popup_is_subscribed{
	left: 0;
	margin: 3px 20px;
}
.popupcheckbox_lbl{
	padding: 3px 0 0 25px  !important;
}
.popuporlbl{
    padding-left: 5px;
    padding-right: 5px;
}

#signup-btn-popup{
	 background: transparent url(../images/bkg_black_btn.png) repeat-x;
    height: 26px;
    color: #fff;
    border: none;
    margin-top: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: normal;
} */
/* .popup-benifits{
    list-style-type: disc;
    margin-left: 25px;
}
.pop-link .new_account{
	text-align: right!important;
    margin-top: 10px;
}
#reg_msg_div{
	text-align: left;
    margin-bottom: 5px;
    display: none;
}
#reg_msg_div #register-msg{
	margin: auto;
	color: #830000;
    font-size: 12px;
  /*   font-weight: bold;
    line-height: 1.63636363636;
}
#login_msg_div{
	text-align: left;
    margin-bottom: 5px;
    display: none;
}
#login_msg_div #login-msg{
	margin: auto;
	color: #830000;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.63636363636;
}
#resetpassword_msg_div{
    text-align: left;
    margin-bottom: 5px;
    display: none;
}
#resetpassword_msg_div #resetpassword-msg{
    margin: auto;
    color: #830000;
    font-size: 12px;
   /*  font-weight: bold;
    line-height: 1.63636363636;
}
.popupLoginModel .submit-login{
    float: right;
}
.popupResetPasswordModel .submit-login{
    float: right;
}
.please-wait-popup{
    float: left;
    margin-top: 16px;
    margin-right: 15px;
}
.please-wait-popup-register{
    margin-top: 16px;
    margin-left: 15px;
} */
.custom_recaptcha .recaptcha{
	float:right;
}
.gift-confirm .gift-confirm-msg{
	margin-top: 20px;
    color: #3F4048;
    font-family: dinmittelschriftregular;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}
.gift-confirm  .redirect{
	margin: 5 px !important;
}
.deletemyaccount-login-security {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    float: left;
}
.del-my-acc-note{
	color: #3f4048;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
}
/* .popupDelMyAccModel {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    background: rgba(0,0,0,0.45);
}
.popupDelMyAccModel > div {
    width: 460px;
    position: relative;
    margin: 10% auto;
    /* padding: 5px 20px 13px 20px;
    padding: 20px;
    /* border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
    background: #dcdcdc;
    box-shadow: 0px 0px 6px;
} */
.popupDelMyAccModel .submit-delete{
	    margin-bottom: 45px;
}
.popupDelMyAccModel .submit-delete button {
	margin-top: 20px;
    float: right;
    color: #6f6b5a;
}
.popupDelMyAccModel .popupcheckbox_lbl_delacc{
	display: inline-grid;
    text-align: justify;
}
.popupDelMyAccModel .del_my_acc_confirm_p{
	padding-bottom: 5px;
    text-align: justify;
}
#popupcheckbox_delmyacc_confirm {
    left: 0;
    margin: 3px 20px;
    width: 20px;
    height: 20px;
}
label.popup-reg-privacy-lbl {
    width: 95%;
    float: left;
    font-size: 12px;
}
#popup_is_privacy_agree {
    width: 20px;
    height: 20px;
    left: 0;
    margin: 3px 20px;
}
.please-wait-popup-del{
	float: left;
    margin-left: 301px;
    margin-top: 16px;
    margin-right: 12px;
    padding-top: 6px;
}
.gdpr_confirmation{
	margin-left: 10px;
    margin-bottom: 20px;
}
.gdpr_confirmation #checkout_privacry_confirm{
	    position: initial;
	    height: 18px;
	    width:18px;
}

/* #review-buttons-container.buttons-set .checkout_privacry_link {
	    float: unset;
	    margin: 0;
} */

.popupRegisterModel .news-letter {
	margin-top: 10px;
}

.main-container.col1-layout .messages{
	margin-left: 20px ! important;
    margin-top: 15px ! important;
}

.mt-myaccount-new .messages{
	margin-right: 40px! important;
}
.product-options-bottom {
    margin-top: 20px;
}
.product-custom-option{
	width: 130px;
    height: 27px !important;
}
#myaccount-shopping-cart-table a:hover {
    color: #906E39;
}
/* .post-lengthds-lbl{
    display: inline-block !important;
    float: left;
    width: 90px;
    text-indent: 3px;
    font-size: 13px;
    color: #3f3f47;

} */
.post-lengthds-lbl label.required{

    color: rgb(63, 64, 72);
    font-weight: 200;

}
/* dd.post-lengthds-lbl-options.last{
	    display: inline-block;
	    padding-top: 10px;
} */
.post-lengthds-lbl-options .product-custom-option{
	padding-left: 1px;
    padding-right: 36px;
    background: #f8f8f8;
    font-size: 12px;
    font-weight: normal;
}
/* .quickview-index-index .custom-options{
	margin-bottom: 30px;
} */
/* .quickview-index-index dd.post-lengthds-lbl-options.last{
	padding-top: 7px;
    height: 24px !important;
} */
/* .quickview-index-index .post-lengthds-lbl {
    display: inline-block;
    float: left;
    width: 80px;
    text-indent: 3px;
    font-size: 13px;
    color: #3f3f47;
}
.quickview-index-index .product-view .product-options dd option {
    font-weight: normal !important;
} */
.custom-options-univaersal{
	    margin-left: 25px !important;
}

.hideaddToCart{
    display: none !important;
}

/* for paypal review */
.paypal-express-review .checkout-two-shipment-shipping-method-mt,
.paypal-express-review .checkout-two-shipment-payment-method-mt,
.paypal-express-review .checkout-two-shipment-shipping-address-mt,
.paypal-express-review .checkout-two-shipment-billing-address-mt{
	padding: 17px;
}

.paypal-express-review .mt-paypal-total{
	margin-top: 10px;
}

.paypal-express-review #shopping-cart-totals-table{
	width: 100%;
	background: #ccc;
}
.paypal-express-review #shopping-cart-totals-table tr td{
	padding: 5px;
}

.paypal-express-review #shipping_method_2,
.paypal-express-review #shipping_method_1{
	background: white url(../images/formelements-select.png);
}



/*

!*-------------------new alert box--------------------------*!

 #allureModalContainer {
     background-color: rgba(0, 0, 0, 0.47);
     position:absolute;
     width:100%;
     height:100%;
     top:0px;
     left:0px;
     z-index:10000;
     !*background-image:url(tp.png); !* required by MSIE to prevent actions on lower z-index elements *!*!
 }

#allureAlertBox {
    padding: 50px;
    position:relative;
    width:300px;
    min-height:100px;
    margin-top:100px;
    background-color:#dcdcdc;
    box-shadow: 2px 2px 8px #00000063
}

#allureModalContainer > #allureAlertBox {
    position:fixed;
}

#allureAlertBox h1 {
    margin:0;
    font:bold 0.9em verdana,arial;
    background-color:#3073BB;
    color:#FFF;
    border-bottom:1px solid #000;
    padding:2px 0 2px 5px;
}

#allureAlertBox p {
    text-align: center;
    font:12px arial,verdana;
    !*margin-top: 10px;*!
    color: #3f4048;
}

#allureAlertBox #closeBtn{
    display:block;
    position:absolute;
    bottom: 44px;
    left: 152px;
    margin:5px auto;
    padding:7px;
    border:0 none;
    width:80px;
    font:12px dinmittelschriftregular,arial;
    text-transform:uppercase;
    text-align:center;
    color:#3f4048;
    background: transparent url(../images/bkg_brown_btn.png);
    background-color:#906E39;
    border-radius: 3px;
    text-decoration:none;
}


#allureAlertBox #closeBtn:hover{
    background: transparent url(../images/bkg_brown_btn_hover.png) repeat-x;
    color: #3f4048;
    text-decoration: none;
}



!*-------------confirm popup----------------*!



 #allureAlertBox #okConfirm, #allureAlertBox #cancelConfirm{
     display:block;
     position:absolute;
     bottom: 10px;
     left: 125px;
     margin:5px auto;
     padding:7px;
     border:0 none;
     width:80px;
     font:12px dinmittelschriftregular,arial;
     text-transform:uppercase;
     text-align:center;
     color:#3f4048;
     background: transparent url(../images/bkg_brown_btn.png);
     background-color:#906E39;
     border-radius: 3px;
     text-decoration:none;
 }

#allureAlertBox #cancelConfirm
{
    position:absolute;
    bottom: 44px;
    left: 85px;
}
#allureAlertBox #okConfirm
{
    position:absolute;
    bottom: 44px;
    left: 221px;
}

#allureAlertBox #okConfirm:hover, #allureAlertBox #cancelConfirm:hover{
    background: transparent url(../images/bkg_brown_btn_hover.png) repeat-x;
    color: #3f4048;
    text-decoration: none;
}

*/



/*-------------------------alert end-------------------------*/
.customer-account-index .main .col-main .messages {.
width: 94%;
    float: right;
}
/* div#advice-required-entry-authnetcim_cc_cid {
    margin-top: 25px;
} */


.product-options-bottom .add-to-cart-left .ajax-error-messages {
    left: 150px;
}
.cart-mt ul.messages{
    position: static;
}

#popup-login-form .pop-title h2{
    font-weight: normal;
    color: #303136;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1.285714286;
    font-family: dinmittelschriftregular;
    background: transparent;
    float: none;
    width: auto;
    height: auto;
    padding-left: initial;
}

.pop-link .mt-amazon{
    float: right;
}
.pop-link .mt-googleconnect-btn
{
    float: right;
}
.pop-link .mt-googleconnect-btn a
{
    margin: 0;
}
.pop-link .soc-login-btn{
    clear: left !important;
    float: left !important;
}
.facebook-login-checkout .fb-img, .mt-facebookconnect-btn .fb-img {
    width: 200px;
    float: right;
}
.mt-facebookconnect-btn a{
 margin: 0px;
}
/* .soc-login-btn div#amazon-buttons-wrapper {
    padding-top: 10px;
} */

.allure-amazon-connect-login .account-login .content{
    min-height: 0;
}
