
.conact-us-body .col-main {
    height: auto;
    margin: 0 auto;
    width: 960px;
}
.conact-us-body .conact-us-body {
    float: left;
    height: auto;
    width: 100%;
}
.conact-us-body .contact-us-banner > table {
    float: left;
    font: 12px/12px arial;
    height: auto;
    width: 100%;
}
.conact-us-body  .contact-us-banner p span {
    background: none repeat scroll 0 0 transparent !important;
    font: 12px/18px Arial, Helvetica, sans-serif !important;
}
.conact-us-body .contact-us-banner strong {
    font: 32px/32px dinmittelschriftregular;
}
.conact-us-body .contact-us-banner p {
    height: 40px;
}
.conact-us-body .other-contact-options {
    float: right;
    height: auto;
    width: 40%;
    background:#CFCFD1; 
    padding: 25px;
}
.conact-us-body .contact-us-form {
    float: left;
    height: auto;
    width: 45%;
    border-right: 1px solid #CFCFD0;
    background: #CFCFD1;
    padding: 25px;
}
.conact-us-body .contact-us-form .field {
    float: left;
    height: auto;
    margin: 5px 0;
    width: 100%;
}
.conact-us-body .contact-us-form input {
    float: left;
    width: 212px;
    border: medium none;
    height: 20px;
}
.conact-us-body .contact-us-form .validation-advice {
    margin:3px 2px 0 0;
}
.conact-us-body .contact-us-form .field > label {
    float: left;
    min-width: 138px;
}
.conact-us-body .contact-us-form textarea {
    height: 80px;
    resize: none;
    width: 202px;
}
.conact-us-body .other-contact-options > table {
    border: 1px solid #000000;
    float: left;
    width: 98%;
    background:none repeat scroll 0 0 #D1D1D1;
}
.conact-us-body  .other-contact-options tr {
    border-top: 1px solid #CFCFD0;
    height: 30px;
}
.conact-us-body .other-contact-options > table {
    border: 1px solid #CFCFD0;
    float: left;
    width: 98%;
}
.conact-us-body .other-contact-options td {
    line-height: 25px;
    padding-left: 10px;
}

.conact-us-body .button-conact-us {
	float: right;
    margin:5px 0px 5px 0;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    font-family: dinmittelschriftregular;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 13px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
   background: #5e5d62; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlNWQ2MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzODM4M2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	background: -moz-linear-gradient(top,  #5e5d62 0%, #38383a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5d62), color-stop(100%,#38383a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e5d62 0%,#38383a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e5d62 0%,#38383a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e5d62 0%,#38383a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e5d62 0%,#38383a 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5d62', endColorstr='#38383a',GradientType=0 );  IE6-8 */
	color:#fff;
}
.conact-us-body .button-conact-us:hover {
	float: right;
    background: #38383a;
    color:#fff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM4MzgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTVkNjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	background: -moz-linear-gradient(top,  #38383a 0%, #5e5d62 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38383a), color-stop(100%,#5e5d62)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #38383a 0%,#5e5d62 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #38383a 0%,#5e5d62 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #38383a 0%,#5e5d62 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #38383a 0%,#5e5d62 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38383a', endColorstr='#5e5d62',GradientType=0 );  IE6-8 */
}
.conact-us-body .contact-us-banner {
    float: left;
    height: auto;
    margin: 6px 0 25px;
    width: 100%;
}
.conact-us-body .success {
    color: #3F4048;
    font-weight: bold;
    padding: 20px;
    width: 300px;
}
.conact-us-body .contact-us-banner img {
    margin:0 20px 0 0;
    background: #CFCFD1;
    min-height: 150px;
    min-width: 150px;
    display: block;
}








