.customer_care h1 {
    color: #3F4048;
    font-family: dinmittelschriftregular;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.customer_care .col-main {
    margin: 0 auto;
    height: auto;
    width: 960px;
    text-align: center;
}

.customer_care .content-customer {
    float: left;
    width: 100%;
    height: auto;
    margin: 7px 0 25px 0;
}

.customer_care .sub-customer-care {
    float: left;
    width: 169px;
    height: auto;
    background: #ccc;
    margin-right: 8px;
}

.customer_care .table-customer-care {
    float: left;
    width: 783px;
    height: auto;
}

.customer_care .table-customer-care table {
    float: left;
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.customer_care .table-customer-care table tr {
    width: 100%;
    height: auto;
    float: left;
    margin: 0px;
    padding: 0px;
}

.customer_care .table-customer-care table td {
    width: 261px;
    height: auto;
    float: left;
    margin: 0px;
    padding: 0px;
}

.customer_care .title-table-customer {
    float: left;
    width: 241px;
    height: 34px;
    background: #d1d1d1;
    padding-left: 13px;
    color: #3F4048;
    font: normal 17px/33px dinmittelschriftregular;
    text-transform: uppercase;
    overflow: hidden;
    margin: 0;
}

.customer_care ul.list-table-customer {
    float: left;
    height: auto;
    width: 246px;
    margin: 10px 0 27px 10px;
}

.customer_care ul.list-table-customer li {
    margin: 14px 0;
}

.customer_care ul.list-table-customer a {
    font: 13px/13px Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #3F4048;
}

.customer_care ul.list-table-customer a:hover {
    font: 13px/13px Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.customer-care-body { /*margin:18px auto 0; width:965px;*/
}

.customer-care-body .customer-care-content a {
    /*color:#000;*/
}

.customer-care-navigation-left {
    width: 170px;
    min-height: 380px;
    float: left;
}

.customer-care-content {
}

.customer-care-content div {
    /*float: left;
    font-size: 13px;
    height: 150px;*/
    margin-bottom: 15px;
    /*margin-left: 8px;*/
    /*padding-left: 10px;
    width: 246px;*/
}

.customer-care-content div h2 {
    background: #d1d1d1;
    padding: 7px 5px;
    margin: 0 0 17px -10px;
}

.customer-care-content div p { /*padding:0 0 13px 0px;*/
    font-size: 13px;
    margin-bottom: 7px;
}

.customer-care-navigation-left h4 {
    font-family: dinmittelschriftregular;
    padding: 10px 8px 8px 7px;
    font-size: 17px;
    font-weight: normal;
    alignment-baseline: middle;
    background: #D1d1d1;
    margin: 0 0 0px;
}

.customer-care-navigation-left ul li {
    font-size: 14px;
    text-transform: uppercase;
    height: 34px;
    width: 160px;
}

.customer-care-navigation-left ul li a {
    text-decoration: none;
    line-height: 34px;
    padding-left: 7px;
}

.customer-care-navigation-left ul li a:hover {
    text-decoration: none;
}

.content-about-designer,
.aboutdesign { /*float:left;*/
    width: 960px;
    height: auto;
    margin: 0 auto 0;
}

.content-about-designer .img-designer {
    float: left;
    width: 392px;
    height: auto;
    margin-top: 4px;
}

.content-about-designer .text-designer {
    float: left;
    width: 568px;
    height: auto;
}

.content-about-designer .text-designer p {
    float: left;
    width: 548px;
    height: auto;
    margin: 9px 0 0 20px;
    font: normal 13px/18px Arial, Helvetica, sans-serif;
    text-align: justify;
}

.content-about-designer .links-maria {
    float: left;
    width: 90px;
    height: auto;
    font: normal 13px/18px Arial, Helvetica, sans-serif;
    margin-top: 8px;
}

.content-about-designer .links-maria a {
    cursor: pointer;
    text-decoration: underline;
}

.category-about-our-jewelry .category-title h1,
.category-about-designer .category-title h1 {
    margin: 10px auto 0;
    width: 960px;
}

.content-about-jewelry {
    width: 960px;
    margin: 0 auto 0;
    height: auto;
}

.content-about-jewelry .text-jewelry {
    float: left;
    width: 466px;
    height: auto;
}

.content-about-jewelry .text-jewelry p {
    float: left;
    width: 450px;
    height: auto;
}

.content-about-jewelry .content-signature-jewelry {
    float: right;
    width: 473px;
    height: auto;
}

.content-about-jewelry .content-signature-jewelry h2 {
    float: left;
    width: 100%;
    height: 36px;
    font: normal 17px/22px dinmittelschriftregular;
    background: #cfcfd0;
    display: block;
}

.content-about-jewelry .content-signature-jewelry ul {
    float: right;
    width: 472px;
    height: auto;
}

.content-about-jewelry .content-signature-jewelry li {
    float: left;
    width: 100%;
    height: 190px;
    border-bottom: 1px dotted #CCCCCC;
}

.content-about-jewelry .content-signature-jewelry h3 {
    float: left;
    margin-bottom: 20px;
    font: bold 17px/normal Arial, Helvetica, sans-serif;
    margin-top: -3px;
}

.content-about-jewelry .content-signature-jewelry ul li p {
    float: left;
    font: normal 13px/17px Arial, Helvetica, sans-serif;
}


/*.content-about-jewelry {float:left; width:100%; height:auto;margin-top: 12px;}*/

.content-about-jewelry .text-jewelry {
    float: left;
    width: 466px;
    height: auto;
}

.content-about-jewelry .text-jewelry p {
    float: left;
    width: 450px;
    height: auto;
    font: normal 13px/18px Arial, Helvetica, sans-serif;
    text-align: justify;
}

.content-about-jewelry .content-signature-jewelry {
    float: right;
    width: 473px;
    height: auto;
    border-left: 1px solid #CCCCCC;
    padding-left: 19px;
}

.content-about-jewelry .content-signature-jewelry h2 {
    float: left;
    width: 463px;
    height: 36px;
    font: normal 17px/34px dinmittelschriftregular;
    background: #cfcfd0;
    display: block;
    padding-left: 10px;
}

.content-about-jewelry .content-signature-jewelry ul {
    float: right;
    width: 472px;
    height: auto;
}

.content-about-jewelry .content-signature-jewelry li {
    float: left;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #CCCCCC;
    padding: 19px 0;
}

.content-about-jewelry .content-signature-jewelry li:last-child {
    border-bottom: none;
}

.content-about-jewelry .img-signature-jewelry {
    background: linear-gradient(to bottom, #757881 13%, #b5bbc9 49%, #b5bbc9 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: #757881; /* Old browsers */
    background: -moz-linear-gradient(top, #757881 13%, #b5bbc9 49%, #b5bbc9 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #757881), color-stop(49%, #b5bbc9), color-stop(99%, #b5bbc9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #757881 13%, #b5bbc9 49%, #b5bbc9 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #757881 13%, #b5bbc9 49%, #b5bbc9 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #757881 13%, #b5bbc9 49%, #b5bbc9 99%); /* IE10+ */
    background: linear-gradient(to bottom, #757881 13%, #b5bbc9 49%, #b5bbc9 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757881', endColorstr='#b5bbc9', GradientType=0); /* IE6-9 */
    display: table-cell;
    height: 170px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}

.content-about-jewelry .content-signature-jewelry li img {
    max-width: 130px;
}

.content-about-jewelry .content-signature-jewelry ul li p {
    float: left;
    font: 13px/17px Arial, Helvetica, sans-serif;
    min-height: 68px;
    margin-bottom: 25px;
    overflow: hidden;
    text-align: justify;
}

.content-about-jewelry .info-signature-jewelry {
    display: table-cell;
    height: auto;
    padding-left: 10px;
    width: 331px;
}

.content-about-jewelry .info-signature-jewelry a {
    float: left;
    width: 100%;
    text-decoration: underline;
    font: normal 13px/22px Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #3f4048;
}

.customer-care-body h1 {
    margin-bottom: 16px;
    font-size: 30px;
    text-transform: capitalize;
}

.customer-care-body h3 {
    text-transform: uppercase !important;
    font-family: urw-din-regular;
    font-weight: bold;
}

@media (max-width: 767px) and (orientation: landscape) {
    /*All Mobile Landscape*/
    .my-ordres-section.my-ordres-section, .my-account-section, .contact-us-section, .return-policy-section, .our-products-section, .faqs-section, .shipping-section {
        width: 50% !important;
        flex: 0 0 50% !important;
    }
}