
/*Standard Mendetory CSS*/

h1{
	font-family: urw-din-xlight;
	font-size: 22px;
	letter-spacing: Normal;
	text-align: Left;
}

.cms-page-view h1, .category-press h1{
  font-size: 30px;
  text-transform: none;
  letter-spacing: 0;
}

h2, h3, h4{
	font-family: urw-din;
}

h3{
	font-size: 15px;
}

.qty-buttons{
	font-family: urw-din-bold;
	font-size: 18px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 1.5px;
}

.info-text-three{
	font-family: urw-din-xlight;
	font-size: 13px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 0.25px;
	line-height: 17px;
}

.info-text-two{
	font-family: urw-din-medium;
	font-size: 13px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 0.25px;
	line-height: 17px;
}

.para-normal{
	font-family: urw-din-light;
	font-size: 13px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 0.5px;
	line-height: 20px;
}

.para-two{
	font-family: urw-din-medium;
	font-size: 13px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 1px;
	line-height: 20px;
}

.para-three{
	font-family: urw-din-xlight;
	font-size: 15px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 0;
	line-height: 25px;
}

.light-button{
	border: 0.5px solid rgba(41,41,41,0.90);
	font-family: urw-din-bold;
	font-size: 15px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 1.5px;
	text-align: center;
	background: #fff;
}

.dark-button{
	background: rgba(41,41,41,0.90);
	font-family: urw-din-bold;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 1.5px;
	text-align: center;
	outline: none;
	border: transparent;
	border-radius: 0;
}

.dark-button:hover {
    background: rgba(41,41,41,0.9) !important;
}

.input-patern{
	font-family: urw-din-light;
	font-size: 13px;
	color: rgba(41,41,41,0.60);
	line-height: 18px;
	border: 0.25px solid rgba(41,41,41,0.90);
}

.border-style-one{
	border: 0.25px solid
	rgba(41,41,41,0.90);
}

.border-style-two{
	border: 0.5px solid
	rgba(41,41,41,0.90);
}

.selection-line{
	border: 3px solid
	rgba(41,41,41,0.90);
}

.main-dropdown-box{
	border: 0.5px solid #292929;
	font-family: urw-din-xlight;
	font-size: 18px;
	color: rgba(41,41,41,0.90);
}

.low-emphasis-dropdown{
	font-family: urw-din-xlight;
	font-size: 13px;
	color: rgba(41,41,41,0.90);
	line-height: 18px;
}

.check-text{
	font-family: urw-din-light;
	font-size: 13px;
	color: rgba(41,41,41,0.90);
	letter-spacing: 0.5px;
	line-height: 20px;
	border: 0.5px solid rgba(41,41,41,0.90);
}

.link-button{
	font-family: urw-din-light;
	font-size: 13px;
	color: rgba(41,41,41,0.60) !important;
	letter-spacing: 0.5px !important;
	text-decoration: underline !important;
}

.pop-up-button{
	width: 149px;
	text-transform: uppercase;
	height: 42px;
}

.custom-checkbox{
	padding-left: 45px;
	display: block;
	position: relative;
}

.checkmark {
	position: absolute;
  top: 50%;
  left: 0;
  height: 24px;
  width: 24px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  transform: translatey(-50%);
}

.checkmark:after{
	content: '';
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
  background: rgba(41,41,41,.60);
	position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
	display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active{
	background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  -webkit-text-fill-color: rgba(41,41,41,0.9) !important;
}
.form-control:focus, button:focus, .input-form:focus{
	border-color: #D8D8D8;
	outline:0;
}
img{
	border: none;
	outline: 0;
}
button, a{
	cursor: pointer;
}
button:focus {
  outline: none;
}
a{
	color: rgba(41,41,41,0.9);
}
a:hover{
	text-decoration: none;
}
ul, ol{
	list-style: none;
}

/*Checkout Left Section (Steps)*/
.checkout-step-name {
  border-top: 1px solid #D8D8D8;
}

.checkout-step-name h3 {
  font-size: 13px;
  font-family: urw-din-bold;
  text-transform: uppercase;
  color: #292929;
  letter-spacing: 1px;
  padding-top: 21.3px;
  opacity: 0.6;
}

/*Checkout Right Section (Sidebar)*/
.side-box{
	background-color: #f3f3f3;
}

.checkout-input{
	width: 322px;
	margin-bottom: 24px;
}

.state-selection{
	width: 173px;
}

.zip-selection{
	width: 126px;
}

.product-select{
	width: 210px;
}

input, select, textarea{
  height: 42px !important;
  padding: 9px 20px !important;
  border-radius: 0 !important;
	font-size: 13px;
  letter-spacing: 0;
  font-family: urw-din-light;
	box-shadow: 0 0 0 0 !important;
}

select{
	-webkit-appearance:none;
}
.validation-advice {
	clear: both;
	font-size: 10px;
	color: #906E39;
	font-weight: bold;
	float: left;
	text-align: right;
}
.form-checkbox{
	position: absolute;
	margin-top: -8px;
}

.next-button button{
	width: 204px;
}

.next-button {
  margin-bottom: 32.5px;
}

.product-description-section {
  border-top: 1px solid #ccc;
  padding: 30px 0;
}

.gift-marked input{
	width: 192px;
}

.gift-marked textarea{
	width: 323px;
	min-height: 108px;
}

.checkout-below.summary {
  float: right;
}

.checkout-button {
  height: 51px;
  width: 227px;
}

.price-calculation{
	border-top: 1px solid #292929;
}

.shipping-info-extend:after, .return-policy-extend:after{
	background-image: url(../images/maria/plus.png);
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  margin-top: 3px;
}

select{
	position: relative;
}

select:after{
	background-image: url(../images/maria/arrow-down-bk.png);
  content: '';
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  margin-top: 3px;
}

.login-dropdown li a {
  color: #fff;
}

.login-dropdown li a:hover {
  color: #fff;
}

.icon-user:hover .login-dropdown,.login-dropdown:hover .login-dropdown {
    display: block;
}

.login-dropdown{
	display: none;
}

.login-dropdown {
  float: none;
}

.login-dropdown {
  position: absolute;
  width: 137px;
  right: -56px;
  top: 20px;
	padding-top: 10px;
  line-height: 25px;
}

#narrow-by-list li div dt{
  cursor: pointer;
  background: url(../images/redesign/arrow-down-bk.png) no-repeat right 12px center !important;
  font-family: urw-din-xlight;
  font-size: 13px;
  color: rgba(41,41,41,0.90);
  letter-spacing: 0;
  border: 1px solid rgba(41,41,41,0.60);
  height: 30px;
  width: 181px;
  padding: 3px 0 10px 24px;
}
body{
  overflow-x: hidden !important;
	height: 100%;
}
.wrapper{
	min-height: 100%;
	margin-bottom: -50px;
}
/*Aditya CSS_____Start*/
/* :root {
    --dark-black: rgb(41, 41, 41);
    --light-black: #3e3e3e;
    --dark-gray: #7f7f7f;
    --light-gray: #f2f2f2;
} */

body {
    font-family: urw-din, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

/* h1 {
    font-style: normal;
    font-weight: 200;
    font-size: 22px;

} */

/* input.form-control {
    border: .5px solid var(--dark-gray);
    height: 42px;
    line-height: 18px;
    border-radius: 0;
    color: var(--dark-gray);
    padding: 0 20px;
} */

button:focus {
    outline: none;
}

/* a {
    color: #666;
    letter-spacing: 0.5px;
    text-decoration: none !important;
} */

a:hover {
    color: #000;
}

/* p {
    font-size: 13px;
    color: #333;
    letter-spacing: 0.5px;
    line-height: 1.54;
    font-weight: 300;
} */

html {
    position: relative;
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

/* hr {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
} */

/* .btn {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
} */

/* .btn-outline-dark:focus,
.btn-outline-dark:active,
.btn-dark:focus {
    box-shadow: none!important;
} */
/*
.btn-primary {
    background-color: #999;
    border-color: #999;
}

.btn-primary:hover,
.btn-dark:hover,
.btn-outline-dark:hover {
    background-color: #000;
    border-color: #000;
} */

/* .btn-dark {
    font-style: normal;
    font-weight: 600;
    background-color: var(--light-black);
    padding: 13px 25px;
    min-width: 150px;
    font-size: 15px;
} */

/* .btn-outline-dark {
    color: var(--light-black);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    border-color: var(--dark-gray);
    font-size: 15px;
}

.dark-message {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: var(--light-black);
} */

/* .anchor-link-underline {
    font-size: 13px;
    text-decoration: underline;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
} */

/* span {
    color: var(--light-black); */
    /* font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.25px; */
}


/* homepage */

.home-background {
    background-image: url('../images/home-banner.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.homepage-menu.mariatash-header {
    /* background: linear-gradient(180deg, #2f2f2fee 15%, #2f2f2f66 70%, #9991 100%);  */
    background: linear-gradient(to bottom, #25211e 0%, rgba(37, 33, 30, 0) 100%);
}

/* .homepage-menu.mariatash-header:hover {
    background-color: #333;
} */

nav.mariatash-header {
    background: var(--light-black);
    /* height: auto;
    width: 100%;
    position: fixed;
    z-index: 1002; */
}

/* nav.mariatash-header a.navbar-brand {
    letter-spacing: 2px;
    color: #fff;
    font-size: 25px;
    margin-right: 0;
    padding-bottom: 0;
    font-weight: 500;
} */

.menu-dropdown {
    padding: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.33px;
    cursor: pointer;
    text-transform: uppercase;
}

.dropdown-toggle::after {
    vertical-align: 0em;
    border-top: .5em solid #717171;
    border-right: .35em solid transparent;
    border-left: .35em solid transparent;
}

.mariatash-content {
    padding-top: 59px;
}

@media (min-width: 992px) {
    .mariatash-content {
        padding-top: 120px;
    }
    /* nav.mariatash-header {
        height: 120px;
    } */
}

/* @media (min-width: 1250px) {
    .navbar-nav .nav-item {
        margin: 0 25px;
    }
} */

/* @media (max-width: 1250px) {
    .navbar-nav .nav-item {
        margin: 0 15px;
    }
} */

.mariatash-header .navbar-nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 !important;
}

.mariatash-header .navbar-nav .active>.nav-link,
.mariatash-header a.navbar-brand:hover,
.mariatash-header .navbar-nav .nav-link:hover {
  color: #fff;
  position: relative;
}
.icon-bar .icon-item {
  float: left;
}

.icon-bar .icon-item:last-child {
  margin-left: 34px;
}
.icon-bar .icon-item .icon-link img {
  width: 18px;
}

.cart-icon {
  position: relative;
}

.cart-counter {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50px;
  bottom: -10px;
  right: -8px;
  text-align: center;
  font-size: 12.5px;
}

.black-bg {
  background-color: #000d!important;
  height: 100vh!important;
  display: block;
}

.black-bg .navbar-collapse {
  text-align: center;
  padding: 50px 0
}

.black-bg .navbar-collapse ul li {
  padding: 20px;
}

.icon-bar {
  list-style: none;
  padding-left: 5px;
  margin-top: 5px;
}

.catalog-category-view .for-space-to-bottom, .cms-page-view .for-space-to-bottom{
  height:320px;
}

.for-space-to-bottom{
  height: 200px;
}

.category-image {
  position: absolute;
  top: 0;
	left: 0;
	width: 100%;
}

.category-image img{
	width: 100%;
}

/* footer */

.container-footlinks {
    background: rgba(41, 41, 41, 0.5);
}
.footer {
    padding-top: 60px;
    height: 60px;
    z-index: 1;
}
.footer .footer-item-list a {
    color: #fff;
    font-size: 12px;
		font-family: urw-din-medium;
    letter-spacing: 0;
}
.footer ul li {
    display: inline-flex;
}
.footer ul .footer-item-list{
    margin-right: 19px;
}
.footer .social-media li{
    margin-right: 26px;
}
.footer .footlinks li:first-child {
    margin-left: 40px;
}
.footer-items a {
    color: #fff;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 12px;
}
.footlinks{
    margin: 20px 0 18px 0;
}
.social-media ul {
    margin: 18px 12px 14px 0;
		padding: 0;
}

@media (min-width: 992px) {
    .footer-box {
        height: 60px;
        padding: 15px 70px;
    }
}





.footer-items a:hover {
    text-decoration: none;
}

.footerlink-icons .item-icons img {
    width: 22px;
}


/* catalog page */

.catalog a:hover {
    text-decoration: none;
}

.catalog .item,
.insta-item {
    position: relative;
    background-color: #eee;
    margin: 6px;
    text-align: center;
}

.catalog .item .product-img {
    padding: 15% 0;
}

.catalog .item h6 {
    text-align: left;
}

.products-grid .product-name a {
    font-size: 13px;
		color: rgba(41,41,41,1);
    font-family: urw-din-xlight;
}
.catalog-common-grid .price-box {
    text-align: right;
    margin-right: 3px;
}

.btn-quickview{
	   text-transform: uppercase;
}

.list-mt-w .actions {
    margin-bottom: 5px;
}

.m-filter-checkboxes li {
    float: none !important;
    display: flex;
    margin-top: 5px;
}
/* @media (max-width: 576px) {
    .catalog .item,
    .insta-item {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .catalog .item,
    .insta-item {
        width: calc((100% / 2) - 12px);
    }
}

@media (min-width: 767px) {
    .catalog .item,
    .insta-item {
        width: calc((100% / 3) - 12px);
    }
}

@media (min-width: 1020px) {
    .catalog .item,
    .insta-item {
        width: calc((100% / 4) - 12px);
    }
}

@media (min-width: 1265px) {
    .catalog .item,
    .insta-item {
        width: calc((100% / 5) - 12px);
    }
    .header-item-hide {
        display: none!important;
    }
    .header-item-show {
        display: block!important
    }
    .header-height {
        transition: 500ms ease;
        height: 70px!important;
        background: rgba(41,41,41,0.90) !important;
    }
} */

.catalog .item:hover {
    background-color: #fff;
}

.catalog .item:hover .details {
    display: block;
}

.catalog .item .details h6 {
    font-size: 13px;
    color: #333;
}

ul.swatch {
    display: inline-flex;
    padding-left: 0;
    list-style: none;
}

ul.swatch .swatch-item {
    position: relative;
}

ul.swatch .swatch-item a {
    display: block;
    position: relative;
    padding: 5px;
}

.active-swatch a::after {
    content: '';
    position: absolute;
    border: 1px solid #aaa;
    display: block;
    border-radius: 50%;
    left: 0;
    padding: 5px;
    top: 1px;
    width: 32px;
    height: 32px;
}

.catalog ul.swatch .swatch-item img {
    width: 18px;
    position: absolute;
    left: 5px;
    top: 6px;
}

.catalog ul.swatch .swatch-item a {
    width: 28px;
    height: 28px;
}

.catalog .active-swatch a::after {
    left: 1px;
    top: 2px;
    width: 26px;
    height: 26px;
}


/* hamburger */

.navbar-toggler {
    border: none;
    position: absolute;
    top: 16px;
    left: 10px;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.3s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
    width: 0px;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}


/* product details page*/

.product-details-box {
    background-color: #f7f7f7;
    padding-bottom: 42px;
}

.product-name-div {
    margin-top: 75px;
}

.product-image-div {
    margin-top: 100px;
    text-align: center;
}

.product-details-box h2 {
    color: #444;
}

.mariatash-item-price {
    font-size: 22px;
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.mariatash-item-id {
    font-weight: 300;
    color: #666;
    letter-spacing: 1px;
    font-size: 15px;
}

.product-details-box ul.swatch .swatch-item img {
    width: 22px;
}

.product-details-box ul.swatch .swatch-item a,
.product-details-flow .active-swatch a::after {
    width: 32px;
    height: 32px;
}

.product-details-box ul.swatch .swatch-item:last-child {
    padding-right: 0!important
}

.label {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--dark-gray);
}

.more-details .label {
    letter-spacing: 1.08px;
    color: var(--light-black);
    text-transform: capitalize;
}

.maria-options[type=radio]:checked,
.maria-options[type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.maria-options[type=radio]:checked+label,
.maria-options[type=radio]:not(:checked)+label {
    border-bottom: 3px solid transparent;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 13px;
    font-size: 18px;
    font-weight: 200;
    color: #000;
    letter-spacing: 1px;
}

.maria-options[type=radio]:checked+label {
    color: #333;
    font-style: normal;
    font-weight: 500;
}

.maria-options[type=radio]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 45px;
    border-bottom: 3px solid #333;
}

.maria-options[type=radio]+label:first-of-type {
    margin-left: 0!important;
}

.maria-options[type=radio]+label:last-child {
    margin-right: 0!important;
}

.product-details-box .qty {
    font-size: 17px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    color: #3e3e3e;
}

.product-details-box .qty-input {
    border: none;
    background-color: transparent;
    padding: 0 5px;
    max-width: 40px;
    text-align: center;
    font-size: 18px;
}

.item-qty-msg {
    color: var(--light-black);
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.5px;
}

.wishlist-icon {
    position: relative;
}

.wishlist-icon:before {
    position: absolute;
    content: "";
    width: 18px;
    top: -3px;
    left: -32px;
    height: 18px;
    background-position: center;
    background-size: 18px;
    background-image: url('../images/iwwa-star-o.svg');
}

.thumbnail-items {
    position: relative;
    max-width: 90px;
    border: 1px solid #ddd;
    margin: 4px;
}

.active-thumbnail {
    border-bottom: 3px solid;
    border-color: #333;
}

@media(max-width:992px) {
    .product-details-box {
        padding: 40px 10px;
    }
}

.featuring-box {
    padding: 70px 0;
}

.mariatash-content h5 {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #555;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 1.5px;
    color: var(--light-black);
}

.featuring-item img {
    background-color: #efefef;
    width: 100%;
    padding: 15% 0;
}

.left-arrow img,
.right-arrow img {
    width: 30px
}

.carousel-arrow {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 45%;
}

.left-arrow {
    transform: rotate(180deg);
    left: -4%;
}

.right-arrow {
    right: -4%;
}

@media(max-width:992px) {
    .left-arrow {
        transform: rotate(180deg);
        left: -6%;
        top: 50%;
    }
    .right-arrow {
        right: -6%;
        top: 50%;
    }
}

.more-details .nav-tabs .nav-link {
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #999;
    padding: 1.2rem 0rem;
}

.more-details .nav-tabs .nav-link.active {
    font-style: normal;
    font-weight: 700;
    color: var(--dark-gray);
    background-color: #f7f7f7;
    border-color: #f7f7f7 #f7f7f7 #dee2e6;
}

.more-details .nav-tabs .nav-link.active:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 55px;
    border-bottom: 3px solid #333;
}

.more-details .nav-tabs .nav-link:hover {
    font-weight: 700;
    border-color: #f7f7f7 #f7f7f7 #dee2e6;
}

@media(max-width:576px) {
    .more-details .nav-tabs {
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width:992px) {
    .position-bottom {
        position: absolute;
        bottom: 0;
        padding-right: 15px;
    }
    .offset-66 {
        margin-left: 58.33333%;
    }
    .fix-image {
        position: fixed;
        width: 58.333333%;
        max-width: 58.333333%;
    }
    .more-details .nav-tabs {
        display: flex;
        justify-content: space-between;
    }
}

@media(min-width:1200px) {
    .offset-66 {
        margin-left: 66.666%;
    }
}

.product-details-flow .availabilty-span {
    font-style: normal;
    font-weight: 600;
    color: var(--light-black);
    font-size: 13px;
    letter-spacing: 0.25px;
}


/* open menu */

.open-navigation {
    display: none;
    position: fixed;
    min-height: 300px;
    height: auto;
    width: 100%;
    z-index: 1001;
    background-color: #fff;
    box-shadow: 0px 2px 10px #0002;
}

.dark-header {
    background-color: var(--light-black);
}

.open-navigation a:hover {
    text-decoration: none
}

/* .navbar-nav .nav-link:hover:after {
    content: "◈";
    position: absolute;
    width: 20px;
    height: 15px;
    left: 0;
    right: 0;
    bottom: -12px;
    color: #fff;
    margin: auto;
    font-size: 20px;
} */

.open-navigation h6 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    color: #333;
}

.open-navigation ul {
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    line-height: 2;
}

.open-navigation ul li a {
    position: relative;
    padding-bottom: 3px;
    font-size: 13px;
}

.open-navigation ul li a:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    transform: scale(0);
    height: 1px;
    bottom: 0px;
    background-color: #555;
    transition: all 0.2s ease-in-out 0s;
}

.open-navigation ul li a:hover:after {
    /* width: 100%; */
    transform: scale(1);
}

.gray {
    background-color: #efefef;
}


/* filter */

.items-found {
    font-size: 13px;
    color: #777;
}

.items-found-count {
    font-size: 15px;
    color: #333;
}

.grid-icon img {
    height: 20px;
    opacity: .5;
}

.grid-icon img:hover {
    opacity: 1;
}

.filter-common-div{
  top:341px;
}

.category-products {
  position: relative;
  margin-top: 20px;
	margin-bottom: 100px;
}

.dropdown-menu {
  padding: 5px 10px 10px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0px;
  border: 1px solid #000;
}

input[type="checkbox"]+label {
  cursor: pointer;
  font-size: 13px;
  color: var(--light-black);
}

input[type="checkbox"]:checked+label:before {
  background-image: url('../images/checked.png');
  background-size: 18px;
  background-position: center;
}


/* @media(max-width:768px) {
    .modal-login .modal-body {
        flex-direction: column;
    }
    .modal-login .register-block,
    .modal-login .signin-block {
        padding: 50px;
    }
    .modal-login {
        margin: 10px;
    }
}

@media(min-width:768px) {
    .modal-login .register-block,
    .modal-login .signin-block {
        padding: 55px;
    }
}

@media(min-width:992px) {
    .modal-login .register-block,
    .modal-login .signin-block {
        padding: 95px;
    }
}

.modal-login .register-block {
    flex-basis: 55%;
}

.modal-login .signin-block {
    flex-basis: 45%;
    background-color: #f3f3f3;
}

.modal-login .btn {
    height: 42px;
    line-height: 0;
    min-width: 100px;
}

.modal-login .btn-outline-dark {
    background-color: #fff;
}

.modal-login .btn-outline-dark:hover {
    background-color: #333;
}

.modal-login .third-party-icons {
    max-height: 39px;
    width: auto;
    max-width: 93px;
} */

/* .view-password {
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
} */


/* checkout */

.mt-onepage-checkout .mt-checkout-top {
    height: 300px;
    background-color: #eee;
    background-image: url('../images/checkout-banner.jpg');
    background-position: center;
}

.mt-onepage-checkout .mt-checkout-steps {
    padding: 48px 0;
}

.mt-onepage-checkout .steps-expandable {
    border-top: 1px solid var(--light-black);
    padding: 21px 0;
    margin-bottom: 0;
}

.mt-onepage-checkout .steps-expandable:last-child {
    border-bottom: 1px solid var(--light-black);
}

.mt-onepage-checkout .steps-content {
    display: none;
}

.mt-onepage-checkout .checkout-step-count {
    margin-right: 14px;
}

.mt-onepage-checkout .active-step h5 {
    color: var(--light-black)!important;
}

.mt-onepage-checkout .mt-checkout-steps h5 {
    font-style: normal;
    font-weight: 700;
    color: var(--dark-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 1.08px;
    cursor: pointer;
}

.mt-onepage-checkout .checkout-total-block {
    background-color: #f3f3f3;
    padding: 48px;
}

.mt-onepage-checkout .checkout-total-block .item-qty-msg {
    margin-bottom: 25px;
}

.mt-onepage-checkout .additional-info {
    margin-top: 44px
}

.mt-onepage-checkout .shipping-return-content {
    display: none;
}

.mt-onepage-checkout .accordion-icon {
    font-size: 18px;
    font-weight: bold;
    color: var(--light-black);
    margin-right: 2px;
}

.mt-onepage-checkout .shipping-return-header {
    cursor: pointer;
}
/*Aditya End*/


/* a, h1, h2, h3, h4, h5, h6, p{
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
} */

/*Header*/
.nav-item span, .level-top span {
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
}
.main-nav-title li:last-child {
    margin-right: 0;
}
.block-currency, #currency-selector{
  z-index: 1;
}
.main-nav-link li {
    float: left;
}
.number-circle{
    position: relative;
}
.number-circle span {
    position: absolute;
    top: -30px;
    right: 0;
    bottom: 0;
    left: 14px;
    font-family: urw-din-bold;
    font-size: 9px;
}
#top-nav > li{
  font-family: urw-din-medium;
}
.navbar-brand{
  margin: 0;
}
.form-search input.input-text{
    float: left;
    width: 285px;
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    color:#fff;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0px 0 10px 0;
		height: 31px !important;
}
.mt-logo {
    padding: 0px 0 14px 0;
    font-size: 22px !important;
}
#top-nav {
    padding-bottom: 31px;
}
.mariatash-header:hover #top-nav {
    padding-bottom: 31px;
}
.homepage-menu {
    padding-top: 27px !important;
}
.main-nav-link li {
    margin-right: 24px;
}
.nav-links-right {
    margin-right: 5px;
}
.maria-left-menus{
    left: 17px;
    z-index: 1;
    top: 2px;
}
.maria-right-menus{
    right: 15px;
}
.main-nav-title li {
    margin-right: 54px;
}
.last.nav-item, .main-nav-link li:last-child {
    margin-right: 0;
}
.mariatash-header:hover, .container-footlinks:hover{
  background-color: rgba(41,41,41,0.90);
}
.maria-black{
      background-color: rgba(41,41,41,0.90)!important;
}
.nav-links-left span {
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: urw-din-light;
}
.select-currency img {
	margin: 0 0 5px 3px;
}
.main-nav-link li:nth-child(2) {
  margin-right: 16px;
}

/*Navigation dropdown*/
.main-nav-title .sub-menu .sub{
  top: 111px;
  width: 100% !important;
  left: 0;
}
#top-nav .sub-menu .sub{
  background: #fff;
  position: absolute;
  width: 100% !important;
  left: 0 !important;
}

.mariatash-header-nav li a{
  color: #4a4a4a;
  font-weight: 500;
}
.sub ul li {
  width: 20%;
}
.sub ul {
  display: flex;
}
/*Sub menus*/
.menu-common-section {
  margin-top: 48px;
  margin-bottom: 28px;
}
.head-child li a {
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 13px;
  font-family: urw-din-xlight;
}
.menu-head span {
  font-size: 13px;
  letter-spacing: 1px;
}
.inner-box {
  width: 624px;
  margin-left: 137px;
}
.right-section a:last-child {
  margin-left: 9px;
}
.menu-head {
  margin-bottom: 17px;
}
.sub-menu {
  z-index: 999/* changed by aditya 1 */;
  position: fixed;
  width: 100%;
  top: 138px;
  overflow-x: hidden;
  right:0;
}
#piercing_appointments {
  padding: 48px 21px;
}
#piercing_appointments .col {
  width: 14.28%;
  padding: 0;
  text-align: center;
}
.image-text {
  position: absolute;
  bottom: 15px;
  width:100%;
}
.image-text h6{
  font-size: 13px;
  letter-spacing: 1px;
  font-family: urw-din-regular;
}
.head-child {
  line-height: 25px;
}
.menu-head a {
  font-family: urw-din-regular;
  letter-spacing: 2px;
}
.right-section {
  padding-left: 3px;
}

/* Mobile Navigation */
#side-navigation {
  width: 30%;
  background: rgb(41, 41, 41);
}
.side-nav-link{
	color: #fff !important;
}
.nav-item-mobile {
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
#cross-icon {
  right: 0;
	top: 6px;
}
#search::placeholder {
  font-size: 13px;
  letter-spacing: 1px;
}

/* Catalog Page CSS */
.products-grid li.item .list-mt-w{
  position: absolute;
  bottom: 0;
}
.grid-mt-w{
	bottom: 15px;
	position: absolute;
 }
.catalog-category-view .mariatash-header:hover, .cms-page-view .mariatash-header:hover {
  background: transparent;
}
.five-col{
  width: 20%;
}
.products-grid li.item{
  padding: 4px;
  position: relative;
}
.catalog-common-grid{
  padding: 0;
  /* margin-top: 13px; */
	margin-bottom: 0;
}
.catalog-common-grid .product-image img{
  width: 100%;
  height: auto;
	background: #eee;
}
.catalog-grid-image{
  background: #eee;
}
.catalog-grid-image:hover, .products-grid li.item:hover .catalog-grid-image{
  background: #fff;
}
.mobile-main_menu{
  background: #292929;
  width: 290px;
  left: -420px;
  top: 68px;
  position: fixed;
  z-index: 999;
  display: block;
  overflow: hidden;
  transition:.3s;
}
.mobile-main_menu .main-nav-title li {
  text-align: left;
  border-bottom: 1px solid #fff;
  width: 93%;
  padding: 30px 0px 10px;
  text-transform: uppercase;
  position: relative;
}
.mobile-main_menu .main-nav-title li:first-child {
    padding-top: 0;
}
.mobile-main_menu ul {
    padding-left: 15px;
}
.mobile-main_menu li.nav-item:after {
  background: url(../images/redesign/arrow-down-bk-right.png) no-repeat;
  content: '';
  height: 18px;
  width: 18px;
  background-position: right;
  position: absolute;
  right: 0;
}
.close-section:after{
  background: url(../images/redesign/arrow-down-bk.png) no-repeat;
  content: '';
  height: 14px;
  width: 19px;
  background-position: right;
  position: absolute;
  right: 45px;
  transform: rotate(90deg);
}
.mobile-main_menu.active{
  left:0;
}
.mobile-main_menu .main-nav-title{
  padding-bottom: 71px;
}
.mobile-sub_menu .sub-menu {
  left: 0;
  width: 290px !important;
  top: 63px;
}
.menu-common-section{
  margin-top: 20px;
}
.mobile-sub_menu .right-section img {
  display: none;
}
.mobile-sub_menu .image-text{
  position: relative;
  bottom: 0;
  text-align: left;
}
.mobile-sub_menu .right-section {
  padding-left: 16px;
}
.mobile-sub_menu .special-menu {
  margin-top: 0;
  margin-bottom: 35px;
}
.mobile-sub_menu .image-text h6{
  color: #666 !important;
  font-family: urw-din-regular;
  letter-spacing: 2px;
  text-align: left;
}
.catalog-category-view .actions .super_attribute ul li, .catalogsearch-result-index .actions .super_attribute ul li{
  border-radius: 100%;
  margin-left: 7px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.swatches{
  padding: 5px 4px 0 0px;
}
.swatches li{
  width: 18px !important;
  height: 18px !important;
}
.colorSelector.tipped-create.active::after {
  content: '';
  border: 1px solid #ccc !important;
  width: 26px !important;
  height: 26px;
  border-radius: 100%;
  position: absolute;
  left: -5px;
  top: -5px;
}
.regular-price .price, .old-price .price, .special-price .price{
  font-size: 13px;
  font-family: urw-din-regular;
  white-space: nowrap !important;
  letter-spacing: 1px;
}
.old-price .price{
  text-decoration: line-through;
}
.availability {
  margin: 7px auto;
}
.list-mt-upper {
  min-height: 39px;
}
.products-grid2 li.item{
  padding: 5px;
}
div#narrow-by-list {
  position: absolute;
  top: 330px;
}
#narrow-by-list{
  margin-left: 106px;
}
.catalog-grid-option img{
  opacity: 0.5;
}
.catalog-grid-option:hover img{
  opacity: 1;
}
/* .view-mode {
  margin: 20px 0 0;
} */
.toolbar-top {
  z-index: 1;
}
#narrow-by-list li div dd{
  position: absolute;
  top: 29px;
  left: 8px;
  height: auto;
  cursor: pointer;
  z-index: 2;
  background-color: #fff;
  opacity: 0.9;
  width: 181px;
  border: 1px solid #7f7f7f;
}
.block-layered-nav dd a, .block-layered-nav label {
  font-family: urw-din-xlight !important;
  font-size: 13px !important;
  color: rgba(41,41,41,0.90) !important;
  letter-spacing: 0 !important;
}
#narrow-by-list li div dd ol{
  padding: 3px;
}
.m-filter-checkboxes li {
    width: 100%;
}
::-webkit-scrollbar {
  width: 0 !important;
}
.overflow-hidden{
  overflow: hidden;
}
.piercing_options{
  text-align: center;
  padding: 0;
}
/* .catalog-category-view .mobile-main_menu{
  top: 86px;
} */
/* .catalog-category-view .mobile-sub_menu .sub-menu{
  top: 86px;
} */
/* Designer Page */
.second-header-image{
  position: absolute;
  top: 0;
	left: 0;
	width: 100%;
}
.about-designer {
  margin-top: 32px;
  padding: 0 146px;
  margin-bottom: 32px;
}
.about-designer h1 {
  font-size: 30px;
  text-transform: none;
  margin-bottom: 40px;
  letter-spacing: 0;
}
.about-designer .para-normal {
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}
/* About Jewelry Page  */
.about-jewelry h1{
  font-size: 30px;
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 42px;
}
.about-jewelry h3{
  font-family: urw-din-bold;
	font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.61px;
}
.about-jewelry {
  padding: 0 146px;
  margin-bottom: 47px;
}
.jewelry-copy-odd{
  padding: 0 58px 0 13px;
}
.jewelry-copy-even{
  text-align: right;
  padding: 0 29px 0 27px;
}
.jewelry-container {
  margin-top: 32px;
  margin-bottom: 96px;
}
.about-jewelry .para-normal{
  margin-top: 14px;
}

/* FAQ PAGE CSS */
.customer-care-page .faq-question span:after{
  background: url(../images/redesign/plus.png) no-repeat;
  content: '';
  height: 30px;
  width: 26px;
  background-position: right;
  position: absolute;
  right: 19px;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 5px;
}
.customer-care-page .faq-question.active span:after{
  background: url(../images/redesign/minus.png) no-repeat;
  background-position: right;
  content: '';
  transition: 0.5s;
}
.faq-copy-section h1 {
  margin-bottom: 33px;
  line-height: 0.7;
}
.faq.faq-answer p {
  font-family: urw-din-light;
  font-size: 13px;
  color: rgba(41,41,41,0.90);
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-top: 20px;
}
.faq.faq-answer p:first-child{
  margin-top: 6px;
}
.faq.faq-answer p:last-child {
  margin-bottom: 4px;
}
.faq-question.active span{
  font-family: urw-din-medium;
  cursor: pointer;
}
.faq-question span{
  font-family: urw-din-xlight;
  font-size: 18px;
}
.faq-question {
  border-bottom: 1px solid #D8D8D8;
  padding: 15px 0 18px;
}
.faq-main {
  margin-top: 40px !important;
  margin-bottom: 32px !important;
}
.faq-image-section img {
  padding-right: 20px;
}

/* POP-UP Changes */
.pop-up-cover{
	width: 520px;
	background: #fff;
	position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    max-height: calc(100vh - 10px);
    overflow-y: auto;
}
.pop-title a {
  margin: 24px 24px 0 0;
	position: absolute;
  right: 24px;
  top: 24px;
}
.pop-title h1 {
  clear: both;
	margin-top: 59px;
	margin-bottom: 34px;
	letter-spacing: 0;
}
.input-form input{
	width: 318px;
	border: 1px solid #D8D8D8;
	-webkit-appearance: none;
}
.input-form {
  position: relative;
	margin-bottom: 18px;
	text-align: center;
}
.buttons-set img {
	width: auto !important;
}
.buttons-set a {
  -webkit-appearance: none;
}
.modal-header{
	padding: 0 101px;
	border:0;
}
.modal-body{
	padding: 0 101px;
	border:0;
}
.popupLoginModel .modal-footer{
	background-color: #F2F2F2;
}
.modal-footer{
	border: 0;
	justify-content: center;
	padding: 0;
}
button#signin-btn-popup {
	margin: 25px 0 38px;
}
.mt-amazon-btn, .mt-googleconnect-btn {
  margin-right: 21px;
}
.amazon-login-button-wrapper img {
	max-height: 40px !important;
  height: 40px;
}
.option-text p {
	margin: 42px 0 18px;
}
.new_account a{
	margin: 32px 0 45px;
}
.eye-image {
  position: absolute;
  top: 14.5px;
  right: 14.5px;
}
.invalid-login, #register-msg{
	position: absolute;
  top: -25px;
	color: #830000;
	font-size: 12px;
	font-weight: bold;
}
#login_msg_div, #reg_msg_div{
	position: relative;
	display: none;
}
.exit-large{
	opacity: 100%;
}
span#popup_loader {
  position: absolute;
  top: 40px;
  right: 120px;
}
/*Forget Password*/
.popupResetPasswordModel .input-form {
    margin-bottom: 47px;
}
.pop-up-button-set{
	margin-bottom: 66px;
}
.popupResetPasswordModel .pop-up-button-set{
	margin-bottom: 80px;
}
.pop-up-button-set .col {
  padding: 0 13px;
}
/* Register Pop-up */
.input-set {
  margin-bottom: 35px;
}
.agreement {
	margin: 27px 0 18px;
}
.agreement .link-button{
	color: rgba(41,41,41,0.90);
}
.back-to-login .pop-up-button {
  width: 142px;
}
span#popup_loader_register {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}
/* Notification Popup */
.popupSignUpConfirmationModel .modal-body{
	margin-bottom: 87px;
}
.popupSignUpConfirmationModel .info-text-two{
	font-family: urw-din-regular;
	color: rgba(41,41,41,1.0);
	margin-top: 5px;
}
.popupSignUpConfirmationModel .pop-up-cover{
	width: 462px;
}
/* Cookies pop-up */
.dialogClose{
	background: url(../images/redesign/exit-small-wt.png) no-repeat !important;
	height: 13px !important;
  width: 14px !important;
}

.usd-account .icon-item span {
  color: #292929;
}
.block-cart .tite_cart{
	background: #fff;
  text-align: center;
}
.block-cart .cart_sidebar{
	left: -60px;
	width: 229px;
}
/*Old Css*/
.popupResetPasswordModel, .popupRegisterModel, .popupLoginModel, .popupSignUpConfirmationModel,.filterPopup  {
	position: fixed;
	top:-20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	background: rgba(0,0,0,0.4);
}

/* Press Page CSS */
.press-custom-container{
	max-width: 1018px !important;
  margin: 0 auto;
}
.insta-custom-container {
  width: 1040px;
  margin: 0 auto;
}
.press-title {
  margin: 23px 0 36px;
}
.images-press img {
  width: 322px;
	height: 433px;
}
.images-press li {
  padding: 0;
	margin-bottom: 54px;
}
.fancybox-skin{
	background: #fff;
}
.fancybox-opened {
	z-index: 10100;
}
/* .fancybox-inner {
  overflow: hidden;
} */
.fancybox-lock {
  overflow: hidden;
}
.categorypath-discover-maria-tash-press-html-w ul.gallery img {
  float: left;
  height: auto;
  padding: 0 20px;
  /* width: 666px; */
}
.categorypath-discover-maria-tash-press-html-w .fancybox-inner {
  height: auto !important;
  /*width: 666px !important;*/
}
.categorypath-discover-maria-tash-press-html-w.fancybox-lock ul.gallery li{
  list-style: none outside none;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 10001;
  background: url(fancybox_overlay.png);
}
.old-price {
	margin: 0 0 0 -9px;
}
.products-grid .availability{
	line-height: 13px;
}
#currency-selector {
  position: absolute;
  top: 20px;
  right: -20px;
  z-index: 99999;
  width: 96px;
  height: auto;
}

/* Product Details CSS */
ul#foo4 {
    min-width: 100%;
}

/* Temperory */
#narrow-by-list .filtru-price dd{
  display: none;
}
#slidecaption{
  visibility: hidden;
}
.select-currency.main-nav-link-dropdown img:first-child {
    display: none;
}
.cms-faqs .col-left.sidebar {
    display: none;
}


/*filter popup-----------------------------------------------------*/
.filterPopup #narrow-by-list li div dt {
    cursor: pointer;
    background: #0000008c!important;
    border: none;
    color: white;
    width: auto;
}
.filterPopup #narrow-by-list li div dd {
 display: block!important;
    position: relative;
    top:auto;
    left: auto;
    border: none;
}
.filterPopup .close div{
    background-image: url("../images/redesign/login-cross.png");
    width: 25px;
    height: 26px;
    background-size: 100%;
}
.filterPopup #narrow-by-list{
    display: block!important;
    margin-left: auto;
}
.filterPopup ul#narrow-by-list li{
    float: none;
}
.filterPopup .filtru-price .m-filter-slider {
    margin-left: 10px;
    margin-top: 11px;
    margin-bottom: 50px;
}
.filterPopup .m-slider-selected-value{
    width: 245px;
}
.filterPopup .block.block-layered-nav.mb-mana-catalogsearch-leftnav{
    margin-top: 50px;
}
.filterPopup .selected-filters{
width: 100%;
    position: static;
    top:auto;
    left: auto;
}
.filterPopup .selected-filters .currently{
    display: none;
}
.filterPopup .selected-filters .actions.current{
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.filterPopup .selected-filters .actions.current a{
    text-align: center;
    display: block;
    background: gray;
    width: 100px;
    color: white;
}
.filterButton:before{
    content: '';
    background-image: url(../images/filter.png);
    width: 32px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 33px;
    position: absolute;
}
.filterButton{
    padding-left: 10px;
    width: 100%;
    height: 32px;
    display: block;
}
/*filter popup end----------------------------------*/