/* ipad - portrait, iphone - landscape,portrait */
@media (max-width:1023px){
  .main-nav-title li {
    margin-right: 0;
    text-align: center;
    margin-top: 15px;
  }
  .maria-left-menus li:first-child, .maria-left-menus li:nth-child(2){
    display: none;
  }
  .nav-links-right li:nth-child(3){
    display: none;
  }
  .main-nav-link li:nth-child(2) {
    margin-right: 18px;
  }
  .footer ul .footer-item-list{
    max-width: 45%;
    flex: 0 0 45%;
    border-bottom: 1px solid #fff;
    padding: 20px 0 10px 0;
    margin: 20px auto 0 !important
  }
  .footer-item-list.data-block:after {
    background: url(../images/redesign/arrow-down-bk-right.png) no-repeat;
    content: '';
    height: 18px;
    width: 18px;
    background-position: right;
    position: absolute;
    right: 0;
    transform: rotate(90deg);
  }
  .footer-item-list.data-block.active:after {
    transform: rotate(270deg);
  }
  .container-footlinks, .homepage-menu.mariatash-header {
    background: rgb(41, 41, 41);
  }
  .footer .footlinks li,.social-media ul{
    position: relative;
  }
  .footer .social-media li:last-child{
    margin-right: 0;
  }
  .social-media ul {
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .container-footlinks {
    padding-left: 30px;
  }
  .inner-box {
    width: 100%;
    margin-left: 0;
  }
  .head-child, #piercing_appointments img {
    display: none;
    padding-left: 10px;
  }
  .right-section a {
    width: 100%;
    margin-left: 30px !important;
  }
  .sub-menu{
    width: 50% !important;
  }
  #piercing_appointments .col{
    width: 100%;
    margin-bottom: 9px;
    flex: 0 0 100%;
  }
  #piercing_appointments{
    padding: 0;
  }
  .maria-right-menus{
    right: 0;
  }
  .main-nav-link li:nth-child(3){
    margin-right: 0;
  }
  .mobile-main_menu, .mobile-sub_menu .sub-menu {
    height: 100%;
  }
  .piercing_options .image-text {
    padding-left: 15px;
    margin-bottom: 17px;
  }
  #search-input {
    z-index: 2;
  }
  .form-search input.input-text{
    background: #292929;
  }
  .form-search input.input-text{
    padding-bottom: 2px;
  }
  #jewelry .menu-head span a:after {
    background: url(../images/redesign/plus.png) no-repeat;
    content: '';
    height: 19px;
    width: 19px;
    background-position: right;
    position: absolute;
    right: 15px;
    transition: 0.5s;
  }
  #jewelry .menu-head span a.active:after {
    background: url(../images/redesign/minus.png) no-repeat;
    content: '';
    height: 19px;
    width: 19px;
    background-position: right;
    position: absolute;
    right: 15px;
    transition: 0.5s;
  }
  .menu-head {
    margin-bottom: 9px;
  }
  .common-option-div{
    margin-bottom: 20px;
  }
  .head-child ul {
    margin-bottom: 0;
  }
  .menu-head span a, .mobile-sub_menu .image-text h6 {
    color: #000 !important;
  }
  /* .catalog-category-view nav.homepage-menu.navbar {
    background: transparent;
  } */
  #narrow-by-list{
    display: none;
  }
  .footer .footlinks li:first-child{
    margin-left: 0;
  }
  .second-header-image{
    display: none;
  }
  .footer{
    padding: 0 15px;
  }
  .catalog-category-view .mariatash-header:hover, .cms-page-view .mariatash-header:hover{
    background: rgba(41,41,41)
  }
  .responsive-direction{
    flex-direction: column-reverse;
  }
  .jewelry-copy-even{
    text-align: left;
  }
  .image-section, .copy-section{
    padding: 0;
  }
  .jewelry-container{
    margin-top: 0;
  }
  .designer-copy{
    margin: 30px 0 115px;
  }
  .faq-main > .row{
    flex-direction: column-reverse;
  }
  .faq-image-section img {
    padding-right: 0px;
    width: 100%;
  }
  .faq-main{
    margin-top: 0 !important;
  }
  div#category-title{
    margin: 16px 0 20px;
    padding: 0;
  }
  .content-customer {
    margin: 15px 0 115px;
  }
  .customer-care-page .faq-question span:after{
    margin-top: 0;
  }
  .footer-item-list:last-child{
    display: none;
  }
  .piercing_options{
    padding: 0 15px;
  }
  .mobile-sub_menu .image-text h6{
    margin-bottom: 37px;
  }
  .parent-category {
    font-size: 13px;
    text-transform: uppercase;
    font-family: urw-din-bold;
  }
  .submenu-upper-section {
    padding: 0 0 10px;
    border-bottom: 1px solid #292929;
    margin-bottom: 20px;
    margin: 20px 15px;
  }
  .category-image img{
    display: none;
  }
}

/* till ipad (all mobiles and ipads) */
@media (max-width:1024px){
  .toolbar-top {
    display: none;
  }
}

/*All ipads*/
@media (min-width:767px) and (max-width:1024px){
  #narrow-by-list li div dt{
    width: 104px;
  }
  .form-search input.input-text{
    width: 200px;
  }
}
/* ipad portrait */
@media (min-width:767px) and (max-width:1024px) and (orientation:portrait){
  .with-category-image .mb-mana-catalog-leftnav .block-layered-nav-bg{
    top: 198px;
  }
  #narrow-by-list {
    margin-left: 0;
  }
  .navbar-toggler{
    top: 25px;
  }
  .maria-left-menus{
    left: 77px;
  }
  .nav-links-right{
    margin-right: 0px;
  }
  .mobile-sub_menu .sub-menu{
    top: 83px;
  }
  .about-designer{
    padding: 0 45px;
  }
  .about-jewelry{
    padding: 0 60px;
  }
  .about-designer h1{
    margin-bottom: 0px;
  }
  .about-designer{
    margin-bottom: 0;
  }
  .for-space-to-bottom{
    height: 130px !important;
  }
  .copy-section{
    margin: 30px 0 30px;
  }
  .about-jewelry h1{
    margin-bottom: 0;
  }
  .custom-container{
    max-width: 650px;
    margin: 0 auto;
  }
  .mobile-main_menu, .mobile-sub_menu .sub-menu{
    width: 380px !important;
  }
  .mobile-main_menu{
    top: 83px;
  }
  .five-col{
    width: 50%;
  }
  #slide-list{
    top: 780px !important;
  }
  #controls{
    height: 840px;
  }
}


/* ipad landscape */
@media (min-width:767px) and (max-width:1024px) and (orientation:landscape){
  .with-category-image .mb-mana-catalog-leftnav .block-layered-nav-bg{
    top: 227px;
  }
  .about-designer{
    padding: 0 26px;
  }
  .about-designer h1{
    margin-bottom: 20px;
  }
  .catalog-category-view .for-space-to-bottom, .cms-page-view .for-space-to-bottom{
    height: 240px;
  }
  .about-jewelry{
    padding: 0 26px;
  }
  .jewelry-copy-odd {
    padding: 0 15px;
  }
  .custom-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .five-col{
    width: 33.33%;
  }
  #narrow-by-list{
    margin-left: 0;
  }
  #narrow-by-list li div dt {
    width: 161.4px;
  }
  #narrow-by-list li div dd{
    width: 161px;
  }
}

/* ALl Mobiles */
@media (max-width:767px) {
  .homepage-menu {
    padding-top: 18px !important;
    padding: 0;
  }
  .about-designer{
    padding: 0 21px;
    margin: 0;
  }
  .about-designer h1{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .about-jewelry{
    padding: 0 36px;
  }
  .for-space-to-bottom{
    height: 90px !important;
  }
  .copy-section{
    margin: 30px 0 0;
  }
  .about-jewelry h1{
    margin-bottom: 20px;
  }
}

/* Mobile Portrait */
@media (max-width:767px) and (orientation:portrait) {
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid{
    margin: 0;
  }
  .main-nav-link li{
    margin-right: 14px;
  }
  .navbar-toggler{
    left:0;
  }
  .maria-left-menus {
    left: 50px;
  }
  .mt-logo img {
    width: 130px;
  }
  .footer ul .footer-item-list{
    max-width: 100%;
    flex: 0 0 100%;
  }
  .social-media ul{
    padding-left: 5px;
  }
  .custom-container {
    max-width: 380px;
    margin: 0 auto;
  }
  .main-nav-link li:nth-child(2) {
    margin-right: 10px;
  }
  .pop-up-cover{
    width: 92%;
  }
  .input-form input{
    width: 100%;
  }
  .modal-body, .modal-header{
    padding: 0 18px;
  }
  .pop-title h1{
    margin-top: 70px;
    margin-bottom: 24px;
  }
  #signin-btn-popup{
    margin: 30px 0 30px;
  }
  .option-text p {
    margin: 30px 0 18px;
  }
  .new_account a {
    margin: 22px 0 45px;
  }
  .popupResetPasswordModel .pop-up-button-set{
    margin-bottom: 78px;
  }
  .pop-up-button-set .col {
    padding: 0 9px;
  }
  .five-col{
    width: 100%;
  }
  #slide-list{
    top: 490px !important;
  }
  #controls{
    height: 517px;
  }
}

/* Mobile landscape */
@media (max-width:767px) and (orientation:landscape) {
  .maria-left-menus{
    left:85px;
  }
  .form-search input.input-text{
    width: 150px;
  }
  .custom-container {
    max-width: 1000px !important;
    margin: 0 auto;
  }
  .faq-main {
    padding: 0 40px;
  }
  .five-col{
    width: 50%;
  }
}


@media (min-width:1024px){
  .close-section{
    display: none;
  }
}

@media (min-width: 1200px){
.custom-container {
    max-width: 1178px !important;
    margin: 0 auto;
}
