/* ipad - portrait, iphone - landscape,portrait */
@media (max-width:1023px){


  /*filter -------------------------------*/
  dt.filter-head:after {
    background: url(../images/redesign/plus.png) no-repeat;
    content: '';
    height: 20px;
    width: 24px;
    background-position: right;
    position: absolute;
    right: 10px;
    /*transition: 0.5s;*/
    background-size: 10px;
  }
  dt.filter-head.showing:after {
    background: url(../images/redesign/minus.png) no-repeat;
    content: '';
    height: 20px;
    width: 24px;
    background-position: right;
    position: absolute;
    right: 10px;
    /*transition: 0.5s;*/
  }
  #narrow-by-list li div dt:after{
    background: url(../images/redesign/plus-wt.png) no-repeat;
    content: '';
    height: 20px;
    width: 24px;
    background-position: right;
    position: absolute;
    right: 10px;
    background-size: 10px;
  }

  #narrow-by-list li div dt.showing:after {
    background: url(../images/redesign/minus-wt.png) no-repeat;
    content: '';
    height: 20px;
    width: 24px;
    background-position: right;
    position: absolute;
    right: 10px;
    /*transition: 0.5s;*/
  }
  #narrow-by-list li div dt{
    background-image: none!important;
  }




.sticky-bar {
  position: fixed;
  top: 60px;
  background: white;
  z-index: 3;
}
  .sticky-filter{
    position: fixed;
    top: 80px;
    width: 100%;
    background: white;
    z-index: 2;
  }
  #narrow-by-list li:first-child{
    margin-top: 0px;
  }
  .allure_filter {
    border: 1px solid lightslategray;
    margin: 10px;
  }
  .allure_filter dt.filter-head {
    cursor: pointer;
    background: white !important;
    width: auto;
    padding: 6px 24px;
    height: 33px;
  }
   .filtru-price .m-filter-slider {
    margin-left: 10px;
    margin-top: 11px;
    margin-bottom: 50px;
  }
   .m-slider-selected-value{
    width: 245px;
  }
   .block.block-layered-nav.mb-mana-catalogsearch-leftnav{
    margin-top: 20px;
  }
   .selected-filters{
    width: 100%;
    position: static;
    top:auto;
    left: auto;
  }
   .selected-filters .currently{
    display: none;
  }
   .selected-filters .actions.current{
    width: 50%;
    padding: 0 18px;
  }
  #narrow-by-list li div dd ol{
    padding: 10px;
  }
  .selected-filters .actions.current a{
    text-align: center;
    background: #fff;
    width: 100px;
    height: 32px;
    vertical-align: middle;
    padding: 5px;
    border: 1px solid #292929;
  }
  .filterButton:before{
    content: '';
    background-image: url(../images/filter.png);
    width: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    position: absolute;
  }
  /* .filterButton{
    padding-left: 10px;
    width: 100%;
    height: 32px;
    display: block;
  } */
   #narrow-by-list dd{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
   #narrow-by-list li div dd, .optionfilter, .filterPopup #narrow-by-list .filtru-style_of_jewelry-dtn dd{
    width: 100%;
  }
   .pop-up-cover {
    width: 100%;
  }
   #narrow-by-list li div dd ol {
    padding: 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
   #narrow-by-list li div dd {
    /*display: block!important;*/
    position: relative;
    top:auto;
    left: auto;
    border: none;
     margin: 0px 10px;
  }
   #narrow-by-list{
    padding: 0;
    margin-left:0;
  }
   #narrow-by-list li div dt {
    cursor: pointer;
    background: #292929 !important;
    border: none;
    color: white;
    width: auto;
    padding: 6px 24px;
    height: 34px;
  }
   #narrow-by-list li {
    min-width: 100%;
     padding-left: 0px;
  }
   #narrow-by-list ol li {
    min-width: 208px;
    padding: 0;
  }
  .filter-actions{
    padding: 0px 10px!important;
  }
  /*filter end----------------------------*/
  .mobile-device .main-nav-title li {
    margin-right: 0;
    margin-top: 15px;
  }
  .maria-left-menus li:first-child, .maria-left-menus li:nth-child(2){
    display: none;
  }
  .main-nav-link li:nth-child(2) {
    margin-right: 18px;
  }
  .footer ul .footer-item-list{
    max-width: 47%;
    flex: 0 0 47%;
    padding: 20px 0 10px 0;
    margin: 20px auto 0 !important
  }
  .footer-item-list.data-block:after {
    background: url(../images/redesign/downward-arrow.png) no-repeat;
    content: '';
    height: 18px;
    width: 18px;
    background-position: right;
    position: absolute;
    right: 0;
    background-size: 10px;
    top: 26px;
  }
  .footer-item-list.data-block.active:after {
    transform: rotate(180deg);
    top: 30px;
    background-position: bottom left;
  }
  .container-footlinks, .homepage-menu.mariatash-header {
    background: rgb(41, 41, 41);
  }
  .footer .footlinks li,.social-media ul{
    position: relative;
  }
  .footer .social-media li:last-child{
    margin-right: 0;
  }
  .social-media ul {
    margin-bottom: 40px;
  }
  .mobile-device .head-child, #appointments img {
    display: none;
    padding-left: 10px;
  }
  .mobile-device .head-child.active {
  	display: block;
  }
  #appointments .col{
    width: 100%;
    margin-bottom: 9px;
    flex: 0 0 100%;
  }
  #appointments{
    padding: 0;
  }
  .maria-right-menus{
    right: 0;
  }
  .mobile-main_menu, .mobile-sub_menu .sub-menu {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .piercing_options .image-text {
    padding-left: 15px;
    margin-bottom: 17px;
  }
  .form-search input.input-text{
    background: #292929;
  }
  .form-search input.input-text{
    padding-bottom: 2px;
  }
  #jewelry .menu-head span a:after {
    background: url(../images/redesign/plus.png) no-repeat;
    content: '';
    height: 20px;
    width: 19px;
    background-position: right;
    position: absolute;
    right: 30px;
    transition: 0.5s;
    background-size: 10px;
  }
  #jewelry .menu-head span a.active:after {
    background: url(../images/redesign/minus.png) no-repeat;
    content: '';
    height: 19px;
    width: 19px;
    background-position: right;
    position: absolute;
    right: 30px;
    transition: 0.5s;
  }
  .menu-head {
    margin-bottom: 9px;
  }
  .common-option-div{
    margin-bottom: 20px;
  }
  .head-child ul {
    margin-bottom: 0;
  }
  .menu-head span a, .mobile-sub_menu .image-text h6 {
    color: #000 !important;
  }
  .footer .footlinks li:first-child{
    margin-left: 0;
  }
  .second-header-image{
    display: none;
  }
  .catalog-category-view .mariatash-header:hover, .cms-page-view .mariatash-header:hover{
    background: rgba(41,41,41)
  }
  .responsive-direction{
    flex-direction: column-reverse;
  }
  .jewelry-copy-even{
    text-align: left;
  }
  .image-section, .copy-section{
    padding: 0;
  }
  .mobile-device .jewelry-container{
    margin-top: 0;
    margin-bottom: 0px;
  }
  .mobile-device .designer-copy{
    margin: 30px 0 5px;
  }
  .faq-main > .row{
    flex-direction: column-reverse;
  }
  .faq-image-section img {
    padding-right: 0px;
    width: 100%;
  }
  .gift-card-main > .row {
    flex-direction: initial;
  }
  .gift-card-main .faq-image-section img {
    padding-right: 0;
    width: 100%;
    height: 100%;
  }
  #faq-one {
    margin-top: 15px;
  }
  .faq-main h1 {
    text-align: center;
  }
  .customer-care-page .main {
    padding-bottom: 0;
  }
  .content-customer {
    margin: 15px 0 0;
  }
  .piercing_options{
    padding: 0 15px;
  }
  .mobile-sub_menu .image-text h6{
    margin-bottom: 37px;
  }
  .parent-category {
    font-size: 13px;
    text-transform: uppercase;
    font-family: urw-din-bold;
  }
  .submenu-upper-section {
    padding: 0 0 10px;
    border-bottom: 1px solid #292929;
    margin-bottom: 20px;
    margin: 35px 15px 20px;
  }
  .category-image img{
    display: none;
  }
  .newsletter-mt {
    display: none;
  }
  .popbox, #link_about-maria-tash > div, .popbox_ajax, #link_about-our-jewelry > div, #link_accessibility > div, #link_contact-us > div{
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  #tooltip-id-contact-us, #tooltip-id-customer-care, #tooltip-id-my-account{
    margin-top: 7px;
  }
  #tooltip-id-contact-us table td{
    color: white;
  }
  #tooltip-id-our-jewelry {
    margin-top: 13px;
  }
  .contact-table, .customer-care-list {
    line-height: 35px;
  }
  .form-subscribe-mt{
    margin-top: 20px;
  }
  .customer-care-list li span{
    font-size: 12px;
  }
  #link_about-maria-tash a, #link_about-our-jewelry a, #link_accessibility a{
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  #container{
    height: 80px;
  }
  .form-subscribe-mt .input-box{
    margin-bottom: 10px;
  }
  #success {
    margin-bottom: 30px;
  }
  #success p {
    margin: 15px 0px 0px 0;
    letter-spacing: 1px;
  }
  .designer-image img{
    width: 100%;
  }
  .level-top.parent span:hover {
    border-bottom: none;
  }
  .maria-left-menus{
    top: 2px;
  }
  .shop_by_look .big-popup-body {
    padding: 48px 26px 48px 29px!important;
  }
  .popup-right-section{
    padding: 0 30px 0 6px;
  }
  .checkout-multishipping-addresses .col-main, .checkout-multishipping-shipping .col-main, .checkout-multishipping-delivery .col-main, .checkout-multishipping-billing .col-main, .checkout-multishipping-overview .col-main,
  .checkout-onepage-index .col-right.sidebar, .checkout-onepage-index .col-main, .paypal-express-overview .col-main{
    flex: 0 0 100%;
    max-width: 100%;
  }
  #narrow-by-list li div dd ol li{
    width: auto;
  }
  .checkout-multishipping-success .multiple-checkout, .checkout-onepage-success .multiple-checkout, .checkout-onepage-successorder .multiple-checkout{
    width: 90%;
  }
  .checkout-onepage-index .for-space-to-bottom {
    height: 120px !important;
  }
  .checkout-cart-index .for-space-to-bottom,
  .checkout-multishipping-addresses .for-space-to-bottom,
  .checkout-multishipping-shipping .for-space-to-bottom,
  .checkout-multishipping-delivery .for-space-to-bottom,
  .checkout-multishipping-billing .for-space-to-bottom,
  .checkout-multishipping-overview .for-space-to-bottom{
    height: 110px !important;
  }
  .collat-wrap{
    margin: 0 auto;
  }
  /*Different Footer */
  .customer-care-list {
  	padding: 0;
    width: 100%;
  }
  #tooltip-id-customer-care{
  	width: 100% !important;
  }
  .customer-care-list li{
  	width: 100%;
  }
  #piercing .inner-box{
    width: 100%;
  }
  .contact-table td, .contact-table td a, #tooltip-id-our-jewelry p, .form-subscribe-mt p{
  	color: #fff;
  	font-size: 12px;
  	font-family: urw-din-medium;
  	letter-spacing: 0.5px;
  }
  #tooltip-id-our-jewelry .slide {
  	width: 300px;
  	height: 120px;
  	overflow: hidden;
  	float: left;
  	overflow-y: auto;
  	color: #fff;
  }
  #tooltip-id-our-jewelry a.next-content-block-seo{
    margin-right: -15px;
  }
  .form-subscribe-mt{
    margin-top: 10px;
    width: auto;
  }
  #newsletter-form .link-button{
  	color: #fff !important;
  }
  .form-subscribe-mt .checkmark:after{
  	background: #fff;
  }
  #newsletter-form .dark-button{
    border: 1px solid #fff;
  	background: transparent;
  	color: #fff;
    padding: 10px;
  }
  .form-subscribe-mt input, .form-subscribe-mt select {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .footer-item-list span {
    font-size: 12px !important;
    font-family: urw-din-medium;
  	letter-spacing: 0 !important;
    text-transform: uppercase;
  }
  .footer-items a:hover {
    text-decoration: none;
  }
  .footerlink-icons .item-icons img {
    width: 22px;
  }
  #foo4_next, #foo4_prev{
    top: 40%;
  }
  #newsletter-form .label-error-validate p, #newsletter-form .label-error-validate .link-button, #newsletter-form .validation-advice{
  	color: red !important;
  }
  #newsletter-form .validation-advice{
    position: relative;
    top:0;
  }
  #appointments .image-text{
    position: relative;
    background: none;
  }
  .image-text{
    background: none;
  }
/* Catalog Filter CSS */
  .m-filter-checkboxes{
    display: flex;
  }
  .m-filter-checkboxes li {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 25%;
  }
  .common-filter {
    display: flex;
  }
  .thumb.thumb1 img {
    margin-top: 0;
  }
  .pdp-image-section{
    flex-direction: column-reverse;
  }
  .thumb img{
    margin-top: 0;
  }
  .thumb {
    margin-left: 5px;
  }
  .thumb:first-child {
    margin-left: 0;
  }
  .containerThumb{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 10px;
  }
  .celebPopup .product-info {
    position: relative;
    bottom: 0;
  }
  .big-popup-body{
    padding: 28px 93px !important;
  }
  .popup-below-content {
    margin-top: 8px;
    padding: 0 36px 0px 35px;
  }
  .category-image-bleed{ /* Head Image */
    display: none;
  }
  ul.tabs li{
    flex: 0 0 33.33% !important;
    max-width: 33.33% !important;
  }
  .catalog-category-view .simple-page-title{
    padding: 0!important;
  }
  .btn-quickview {
    display: none !important;
  }
  #tooltip-id-our-jewelry a.previous-content-block-seo {
    background: url(../images/white-active-arrow.png) no-repeat 0 0;
    width: 14px;
    height: 20px;
    display: block;
    float: right;
    margin-right: 10px;
    text-indent: -9000px;
    background-size: 100% 100%;
    position: relative;
    transform: rotate(180deg);
  }
  #tooltip-id-our-jewelry a.next-content-block-seo {
    background: url(../images/white-active-arrow.png) no-repeat 0 0;
    width: 14px;
    height: 20px;
    display: block;
    float: right;
    margin-right: 10px;
    text-indent: -9000px;
    background-size: 100% 100%;
    position: relative;
    margin-left: 10px;
  }
  #tooltip-id-our-jewelry #container{
    height: auto;
  }
  #total_item_counts_holder{
    display: none;
  }
  .login-dropdown {
    position: absolute;
    width: 137px;
    right: 10px;
    top: 22px;
    padding-top: 18px;
    line-height: 25px;
  }
  .checkoutPopupLoginModel .pop-up-cover{
    width: 520px;
  }
  .guest-right{
    max-width: 100%;
    flex: 0 0 100%;
  }
  .checkoutPopupLoginModel #signin-btn-popup, .checkoutPopupLoginModel .sign-in-register{
    margin: 25px 0 75px;
  }
  .guest-checkout button{
    margin-top: 60px;
  }
  .checkoutPopupLoginModel .social-options {
    padding-bottom: 60px;
  }
  .url-caption{
    margin-top: 37px;
  }
  .video-caption {
    margin-top: 39px;
  }
  .containerVideo {
    margin-top: 40px;
  }
  .giftcards .div_selector_month{
    width: 40%;
  }
  .giftcards .div_selector_day{
    width: 30%;
  }
  .giftcards .div_selector_year {
    width: 20%;
  }
  .mobile-device .menu-common-section{
    margin-top: 13px;
    padding-bottom: 50px;
  }
  .common-option-div{
    width: 100%;
    padding: 0 16px;
  }
  .menu-common-section{
    margin-top: 13px;
  }
  .general-piercing-information{
    margin-top: 0 !important;
    margin-bottom: 30px;
  }
  .paypal-express-review .col-main{
    padding: 0;
  }
  .vertical-middle {
    padding: 0 30px;
  }
  .navigation-parent{
  	/* height: 100vh;
  	overflow-y: auto; */
    padding-bottom: 60px;
  }
  .mobile-main_menu .main-nav-title li:last-child {
    border-bottom: none;
  }
}

/* till ipad (all mobiles and ipads) */
@media (max-width:1024px){
  .toolbar-top {
    display: none;
  }
  /* .products-grid li.item .list-mt-w{
    position: relative;
    background: #eee;
    padding: 0px 5px 5px 5px;
  } */
  .catalog-common-grid .product-image img:hover{
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Safari 3-8 */
    transform: none;
  }
  .products-grid li.item:hover .catalog-grid-image {
    background: #eee;
  }
  .product-buy-btn{
    display: block!important;
  }
  .swatches {
    padding: 9px 3px 0 0px;
  }
  .col-right.sidebar{
    display: none;
  }
  .cart-collaterals.fix-section{
    padding-top: 0;
  }
  .footer{
    z-index:0;
    clear: both;
  }
  .desktop-device .products-grid li.item .list-mt-w{
    position: absolute;
    background: transparent;
    width: 100%;
  }
  .paypal-express-review .main {
    padding: 0 40px;
  }
  .paypal-express-review .col-main{
    width: 100%;
  }
  .paypal-express-review .col-main {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #search {
    position: fixed;
    width: 100%;
    left: 0;
  }
  .mobile-device #search {
    top: 0px;
    background: #292929;
    color: white;
    z-index: 1032;
  }
  .desktop-device #search{
    top: 72px;
  }
  #cross-icon{
    right: 19px;
  }

  #search_autocomplete {
    max-height: 80vh !important;
  }
}

/*All ipads*/
@media (min-width:767px) and (max-width:1024px){

  .my-account .box {
    padding-left: 45px;
    padding-right: 45px;
    margin-left: auto;
    margin-right: auto;
  }
  #mt-credit-card-info li #authnetcim_cc_type, #mt-credit-card-info li #authnetcim_cc_number{
    width: 100%;
  }
  .manage-payment-method #mt-credit-card-info .mt-card-info{
    width: 47%;
    float: left;
    clear: none;
  }
  .mt-new-payment li.payment-exp-date {
    margin-right: 6%;
  }
  .cvv-textbox input{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form #mt-credit-card-info ul{
    padding-left: 0px;
  }
  .manage-payment-method #new-mt-saved-card form ul{
    padding-left: 0px;
    float: left;
    width: 100%;
  }
  .mt-new-payment .mt-new-payment-list{
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    float: left;
  }
  .manage-payment-method #mt-credit-card-info .mt-card-info {
    width: 47%;
    float: left;
    clear: none;
  }
  #mt-credit-card-info li #authnetcim_cc_type, #mt-credit-card-info li #authnetcim_cc_number{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form .exp-year {
    width: 48.5%;
    float: left;
    margin-left: 9px;
  }
  .mt-new-payment li.payment-card-type {
    margin-right: 6%;
  }
  .manage-payment-method #edit-main .box-title {
    padding: 7px 0px 7px 0px;
  }
  .myaccount-add-payment-form .add-new-payment-method-ul {
    padding-left: 0;
    float: left;
  }
  .myaccount-add-payment-form .add-new-payment-method-ul{
    padding-left: 0px;
  }
  #new-mt-add-payment-method li.payment-card-type {
    margin-right: 6%;
  }
  #new-mt-add-payment-method li.payment-exp-date {
    margin-left: 6%;
  }


  .caroufredsel_wrapper{
    width: 79%;
  }
  .checkout-multishipping-success .next-button, .checkout-onepage-success .next-button, .checkout-onepage-successorder .next-button{
    width: 250px;
  }
  .desktop-device .products-grid li.item{
    margin: 3px !important;
  }
  .desktop-device .catalog-category-view .for-space-to-bottom{
    height: 80px !important;
  }
  .desktop-device .catalog-category-view .category-title{
    padding-left: 0 !important;
  }
  .desktop-device .category-image img{
    display: block;
  }
}
/* ipad portrait */
@media (min-width:767px) and (max-width:1024px) and (orientation:portrait){
  .with-category-image .mb-mana-catalog-leftnav .block-layered-nav-bg, .with-category-image-bleed .mb-mana-catalog-leftnav .block-layered-nav-bg{
    top: 198px;
  }
  /* .navbar-toggler{
    top: 25px;
  } */
  .maria-left-menus{
    left: 77px;
  }
  .nav-links-right{
    margin-right: 0px;
  }
  .mobile-sub_menu .sub-menu{
    top: 77px;
  }
  .about-designer{
    padding: 0 45px;
  }
  .about-jewelry{
    padding: 0 60px;
  }
  .about-designer h1{
    margin-bottom: 0px;
  }
  .about-designer{
    margin-bottom: 0;
  }
  .for-space-to-bottom{
    height: 77px !important;
  }
  .catalog-product-view .for-space-to-bottom{
    height: 73px !important;
  }
  .copy-section{
    margin: 30px 0 30px;
  }
  .about-jewelry h1{
    margin-bottom: 0;
  }
  .custom-container{
    max-width: 650px;
    margin: 0 auto;
  }
  .mobile-main_menu, .mobile-sub_menu .sub-menu{
    width: 380px !important;
  }
  .mobile-main_menu{
    top: 76px;
  }
  .five-col{
    width: 49%;
  }
  .products-grid li.item{
    display: grid;
    background: #eee;
    margin: 0.5%;
  }
  .form-search input.input-text{
    width: 550px;
    height: 60px !important;
  }
  .footlinks {
    margin: 20px 0 18px 0;
    padding: 0 10px;
  }
  #newsletter-form .dark-button{
    float: right;
  }
  .social-media ul {
    padding-left: 22px;
  }
  .filterPopup .block.block-layered-nav.mb-mana-catalogsearch-leftnav{
    padding: 0 58px 30px;
  }
  .filterPopup .selected-filters .actions.current{
  	width: 50%;
    padding: 0 18px 0px;
  }
  .big-popup-image{
    height: 874.4px;
    width: 100%;
  }
  .container.celebrities, .container.press{
    padding: 0 60px 120px;
  }
  .big-popup-cover{
    height: 936px;
    overflow-x: auto;
  }
  .celebPopup .next, .celebPopup .prev{
    top: 47%;
  }
  .celebPopup .next {
    right: 18px;
  }
  .celebPopup .prev{
    left: 18px;
  }
  .celeb-info{
    margin-top: 30px;
  }
  .shop_by_look .celeb-info {
    margin-top: 0;
  }
  .big-popup-body {
    padding: 28px 75px !important;
  }
  .ecp-celebrities-index-index .simple-page-title {
    margin: 0 0 46px !important;
  }
  .breadcrumbs {
    padding-left: 39px;
  }
  .category-products {
    margin-top: 0px;
  }
  .cartilage-section {
    margin-top: 28px;
  }
  #category-title{
    /* margin: 16px 0 20px !important; */
    padding: 0 !important;
  }
  .catalog-category-view #category-title{
    padding-left: 77px !important;
  }
  .cart-collaterals.fix-section{
    background: #f2f2f2;
    margin-top: 30px;
  }
  .collat-wrap{
    margin: 0 auto;
  }
  .categorypath-jewelry-ear-cartilage-jewelry-html .catalog-product-name-display {
    padding-left: 0;
  }
  #checkoutSteps {
    padding: 0;
  }
  .product-shop > .row{
    padding: 0 50px;
  }
  .padder{
    min-height: 250px;
  }
  .containerThumb{
    width: 100%;
  }
  #foo4_next, #foo6_next{
    right: 10px;
  }
  #foo4_prev, #foo6_prev{
    left: 10px;
  }
  .post_optio .chooseList ul li.option{
    flex: 0 0 25%;
    max-width: 25%;
  }
  .containerImage img{
    margin: 30px auto 0;
  }
  .navbar-brand{
    margin-top: 2px;
  }
  .homepage-menu{
    padding-top: 21px !important;
  }
  .navbar-toggler {
    top: 22px !important;
  }
  .giftcards.product-shop > .row, .product-maria-tash-in-store-gift-card .product-shop > .row{
    padding: 0 130px;
  }
  .data-table.cart-table .messages.wholesale-avail-row .item-msg{
    max-width: 382px;
  }
  .product-shop{
    padding: 0 25px !important;
  }
  .mobile-device.catalog-category-view .category-title{
    padding-left: 77px !important;
  }
  .jewelry-container{
    margin-top: 0;
    padding: 0 30px;
  }
  .acc-products-wrapper .mt-new-purchase .cart-table .cart_col2 .purchase-store-name{
    padding-right: 5px !important;
  }
  .mt-new-purchase .cart-table .cart_col2 .purchase-store-name{
    position: relative !important;
  }
  .cms-home .wrapper{
    margin: 0 auto -98px;
  }
  ul#slide-list{
		bottom: 120px !important;
	}
  /*Search CSS*/
  #cross-icon{
    right: 8px;
  }
  .breadcrumbs{
    margin-top: 19px;
  }
}


/* ipad landscape */
@media (min-width:767px) and (max-width:1024px) and (orientation:landscape){
  .about-designer{
    padding: 0 26px;
  }
  .mobile-device .about-designer h1{
    margin-bottom: 20px;
  }
  .categorypath-celebrity-clientele-html .for-space-to-bottom, .category-piercing-gallery .for-space-to-bottom {
    height: 170px !important;
  }
  .about-jewelry{
    padding: 0 26px;
  }
  .jewelry-copy-odd {
    padding: 0 15px;
  }
  .custom-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .five-col{
    width: 32.3%;
  }
  .products-grid li.item{
    display: grid;
    background: #eee;
    margin: 0.5%;
  }
  #narrow-by-list li div dt {
    width: 161.4px;
  }
  #narrow-by-list li div dd{
    width: 161px;
  }
  .form-search input.input-text{
    width: 200px;
    height: 60px !important;
  }
  .menu-inner{
    overflow-x: auto;
  }
  .div-row{
    width:1250px;
    overflow-x: scroll;
  }
  .mobile-device #appointments {
    padding: 55px 32px 32px 32px;
  }
  .container.celebrities, .container.press {
    padding: 0 20px 60px;
  }
  .ecp-celebrities-index-index .for-space-to-bottom {
    height: 240px;
  }
  .desktop-device .product-shop {
    margin-top: 71px;
    width: 100%;
    max-width: 100%;
    flex: 0 0 30%;
  }
  .btn-quickview {
    display: none !important;
  }
  .block-layered-nav dd a, .block-layered-nav label{
    font-size: 10px !important;
  }
  .common-redesign-checkout .for-space-to-bottom{
    height: 252px !important;
  }
  .checkout-cart-index .for-space-to-bottom,
  .checkout-multishipping-addresses .for-space-to-bottom,
  .checkout-multishipping-shipping .for-space-to-bottom,
  .checkout-multishipping-delivery .for-space-to-bottom,
  .checkout-multishipping-billing .for-space-to-bottom,
  .checkout-multishipping-overview .for-space-to-bottom {
    height: 265px !important;
  }
  .checkout-multishipping-addresses .col-main,
  .checkout-multishipping-shipping .col-main,
  .checkout-multishipping-delivery .col-main,
  .checkout-multishipping-billing .col-main,
  .checkout-multishipping-overview .col-main,
  .checkout-onepage-index .col-main{
    flex: 0 0 100%;
    max-width: 100%;
  }
  #checkoutSteps{
    padding: 0 100px;
  }
  .address-method-common .select-type-one{
    width: 100%;
  }
  .product-shop{
    padding: 0 14px;
  }
  .catalog-category-view .footer:hover {
    opacity: 1;
  }
  .pdp-image-section
  {
    margin-top: 153px;
  }
  .pdp-image-section .containerImage{
    margin-top: -70px;
  }
  .quickview-index-index .pdp-image-section .containerImage{
    margin-top: auto;
  }
  .containerVideo iframe{
    display: block;
    margin: auto;
    width: 553px;
    height: 312px;
  }
  .pressPopup .big-popup-body{
    height: 708px;
  }
  .catalog-category-view.category-press .for-space-to-bottom{
    height: 220px !important;
  }
  .gift-card-main .faq-image-section img {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .data-table.cart-table .messages.wholesale-avail-row .item-msg{
    max-width: 332px;
  }
  .mobile-device .product-detail-parent > .row{
  	width: 100%;
  }
  .mobile-device .position-bottom{
    padding-right: 13px;
  }
  .over-img-right{
    right: 26px !important;
    width: 40% !important;
  }
  #search {
    background: #292929;
  }
  .footer .social-media li{
    margin-right: 24px;
  }
  .mobile-device .for-space-to-bottom.cat-img-space{
    height: 140px !important;
  }
  .top-nav-v2{
    display: none;
  }
}

/* ipad landscape */
@media (min-width:1024px) and (max-width:1366px) and (orientation:landscape) {
  .mobile-device #search {
    top: 0 !important;
    background: #292929;
    width: 100%;
    color:#fff;
  }

  #cross-icon {
    position: absolute;
    top:0px;
    padding:10px;
    margin-right: 10px;
    right: 20px;
    z-index: 1032;
  }

  #search-input {
    z-index: 1032;
  }
  .select-currency-mobile, .wishlist-section-mobile, .account-section-mobile {
    display: none;
  }
  #apply-filter-btn{
    margin-left: 10px;
    margin-right: 10px;
  }
}


/* ALl Mobiles */                         /*allmob*/
@media (max-width:767px) {
  .my-account .box{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .mt-new-payment .mt-new-payment-list{
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .mt-new-payment .mt-new-payment-list .mt-payment-item .mt-card-name img{
    margin-top: 2px;
  }
  .manage-payment-method #edit-main .box-title{
    padding:7px 0px 7px 0px;
  }
  .manage-payment-method #new-mt-saved-card form ul{
    padding-left: 0px;
    float: left;
    width: 100%;
  }
  #mt-credit-card-info li #authnetcim_cc_type, #mt-credit-card-info li #authnetcim_cc_number{
    width: 100%;
  }
  .cvv-textbox input{
    width: 100%;
  }
  .mt-logo{
    padding: 0px 0 6px 0;
  }
  .homepage-menu {
    padding-top: 8px !important;
    padding: 0;
  }
  .about-designer{
    padding: 0 21px;
    margin: 0;
  }
  .about-designer h1{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .about-jewelry{
    padding: 0 36px;
  }
  .for-space-to-bottom{
    height: 70px !important;
  }
  .catalog-product-view .for-space-to-bottom{
    height: 60px !important;
  }
  .mobile-device .copy-section{
    margin: 20px 0 0;
  }
  .about-jewelry h1{
    margin-bottom: 20px;
  }
  .cms-page-view h1, .category-press h1, .categorypath-celebrity-clientele-html h1,.booking .store-info-wrapper h1, #shop_our_instagram h1{
    font-size: 25px !important;
  }
  .faq-question span{
    font-size: 14px;
  }
  .input-set {
    margin-bottom: 20px;
  }
  .agreement{
    margin: 16px 0 0;
  }
  .pop-title h1, .checkoutPopupLoginModel .pop-title h1, .checkout-cart-index .fancybox-skin .checkout-list-title h1{
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .pop-title a{
    right: 15px;
    top: 15px;
  }
  #signin-btn-popup {
    margin: 15px 0 28px;
  }
  .option-text p {
    margin: 10px 0 15px;
  }
  .new_account a {
    margin: 17px 0 25px;
  }
  .input-form{
    margin-bottom: 18px;
  }
  .pop-up-button-set, .popupResetPasswordModel .pop-up-button-set {
    margin-bottom: 50px;
  }
  .faq-main{
    margin-bottom: 0 !important;
  }
  .gift-card-main h1 {
    margin-bottom: 0;
  }
  .input-form input{
    height: 35px !important;
  }
  .giftcard-left-form .input-form input{
    height: 42px !important;
  }
  .invalid-login, #register-msg, #resetpassword_msg_div{
    top:-18px;
  }
  .eye-image{
    top: 11.5px;
  }
  .m-filter-checkboxes label {
    margin-bottom: 12px;
  }
  .breadcrumbs :last-child {
    padding-right: 0;
  }
  .breadcrumbs ul {
    padding: 0;
    display: inline-block;
  }
  .catalog-category-view .category-title {
    padding-left: 0 !important;
  }
  .catalog-category-view .category-title h1{
    text-align: center;
  }
  .category-products{
    margin-top: 0;
  }
  .filterButton:before{
    width: 15px;
    height: 15px;
  }
  .breadcrumbs{
    padding: 0 15px;
    text-align: center;
  }
  .cartilage-section {
    margin-top: 28px;
  }
  .filter-common-div{
    /*display: none;*/
  }
  .filterPopup .pop-up-cover {
    margin-top: 5%;
    padding-bottom: 20px;
  }
  .filterButton::before{
    left: 10px;
    top: 2px;
  }
  .filterPopup #narrow-by-list {
    padding-top: 30px;
  }
  #slidecaption{
    display: none;
  }
.category-press h1, .simple-page-title h1, .order-success-title, .higher-h1{
    font-size: 19px;
  }
  .cart-collaterals.fix-section{
    margin-top: 40px;
  }
  .multi-column-1{
    order: 1;
  }
  .multi-column-2{
    order: 3;
  }
  .multi-column-3{
    order: 2;
  }
  .product-description-section select{
    width: 100%;
  }
  .you_may_like #foo4 li{
    margin: 0;
  }
  .image_carousel #foo4 li img {
    width: 94%;
    margin: 0 auto !important;
  }
  #foo4_next, #foo6_next, #foo4_prev, #foo6_prev {
    background-size: 35px;
    height: 79px;
  }
  .gift-message-section {
    margin-bottom: 30px;
  }
  .second-shipment-method{
    margin-top: 10px;
  }
  .checkoutPopupLoginModel #signin-btn-popup, .checkoutPopupLoginModel .sign-in-register{
    width: 100%;
  }
  .checkoutPopupLoginModel #signin-btn-popup{
    margin: 25px 0 0px;
  }
  .checkoutPopupLoginModel .sign-in-register{
    margin: 15px 0 20px;
  }
  .checkoutPopupLoginModel .submit-login{
    flex-direction: column-reverse;
  }
  .guest-checkout button {
    margin-top: 40px;
  }
  .checkoutPopupLoginModel .social-options{
    padding-bottom: 0;
  }
  .checkout-cart-index .messages-tr .product-name{
    padding-right: 0;
  }
  .to-from-section input, .gift-message-section textarea {
    width: 100%;
  }
  .checkout-cart-index .fancybox-inner {
    width: 100% !important;
  }
  .checkout-cart-index .fancybox-inner .selectboxit-container, .checkout-cart-index .fancybox-opened .selectboxit-container .selectboxit{
    width: 100% !important;
  }
  .checkout-list-title{
    margin-bottom: 10px;
  }
  .pressPopup .big-popup-body{
    height: 538px;
  }
  .only-celeb .big-popup-image{
    height: 362.4px;
  }
  .only-celeb .prev, .only-celeb .prev, .only-celeb .next, .only-celeb .next{
    top: 193px;
    height: 45px;
    width: 20px;
  }
  .faq-main{
    margin-top: 0 !important;
  }
  .gift-card-main h1 {
    margin: 29px 0;
  }
  .gift-card-main .content-customer{
    margin-bottom: 50px;
  }
  .jewelry-container{
    margin-top: 20px !important;
  }
  .fancybox-lock .fancybox-sample-size .fancybox-close, .fancybox-item.fancybox-close{
    background-image: url(../images/redesign/thinner-cross.png);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    right: 15px !important;
    top: 15px !important;
  }
  .checkout-onepage-index #billing-address-select, .checkout-onepage-index #shipping-address-select{
    width: 100%;
  }
  .priceCategory{
    display: none;
  }
  .catalog-category-view .product-name, .catalogsearch-result-index .product-name{
    max-width: 100%;
    width: 100%;
  }
  .form-search input.input-text{
    height: 60px !important;
  }
  .appointment-container{
    margin-top: 18px!important;
  }
}

/********************** Mobile Portrait *****************/           /*mobport*/
@media (max-width:767px) and (orientation:portrait) {
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid{
    margin: 0;
  }

  .manage-payment-method .tablinks{
    width: 50%;
  }


  .manage-payment-method .mt-payment-details .card-details-main .mt-name-on-card{
    width: 100%;
  }
  .manage-payment-method .mt-payment-details .card-details-main .mt-card-address{
    width: 100%;
    float: left;
  }
  .manage-payment-method #new-mt-add-payment-method .tabcontent{
    padding: 0px;
  }
  .myaccount-add-payment-form .add-new-payment-method-ul{
    padding-left: 0;
  }
  .myaccount-add-payment-form .add-new-payment-method-ul #mt-credit-card-info ul li{
    width: 100%;
  }
  .myaccount-add-payment-form #mt-credit-card-info #authnetcim_cc_type_exp_div .card-exp .exp-year{
    margin-left: 0px;
  }
  .manage-payment-method #new-mt-add-payment-method .add-new-payment-method-ul #billing-new-address-form ul li{
    width: 100%;
  }
  .manage-payment-method .myaccount-add-payment-form #billing-new-address-form .input-box select{
    width: 100%;
  }
  .manage-payment-method #new-mt-add-payment-method .add-new-payment-method-ul .buttons-set button{
    margin-bottom: 25px;
    margin-top: 5px;
  }
  .manage-payment-method #new-mt-saved-card form ul{
    padding-left: 0px;
  }
  .manage-payment-method .mt-edit-form .radio-continue{
    width: 50px!important;
  }
  .manage-payment-method .mt-edit-form .radio-change{
    width: 50px!important
  }
  .manage-payment-method #new-mt-saved-card #mt-credit-card-info ul li{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form .exp-year{
    margin-left: 0px;
  }
  .manage-payment-method .mt-edit-form .exp-month{
    margin-bottom: 10px;
  }
  .manage-payment-method #new-mt-saved-card #billing-new-address-form ul li{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form .state-select-payment{
    width: 100%;
  }
  .manage-payment-method #billing-new-address-form .input-box select{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form ul li.buttons-set{
    float: left;
    width: 100%;
  }
  li.buttons-set .btn-cancel-edit{
    width: 150px!important;
    float: right!important;
    margin-right:0px!important;

  }
  li.buttons-set .btn-continue-edit{
    width: 150px!important;
    float: left!important;
  }
  .manage-payment-method #edit-main .box-title{
    padding:7px 0px 7px 0px;
  }
  .manage-payment-method .mt-edit-form #mt-credit-card-info .mt-card-info #authnetcim_cc_number{
    width: 100%;
  }



  .main-nav-link li{
    margin-right: 14px;
  }
  .navbar-toggler{
    left:0;
    /* top:0; */
  }
  .maria-left-menus {
    left: 50px;
  }
  .mt-logo img {
    width: 130px;
    margin-top: 1px;
  }
  .footer ul .footer-item-list{
    max-width: 100%;
    flex: 0 0 100%;
  }
  .social-media ul{
    padding-left: 25px;
  }
  .custom-container {
    max-width: 370px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .main-nav-link li:nth-child(2) {
    margin-right: 10px;
  }
  .pop-up-cover{
    width: 92% !important;
  }
  .input-form input{
    width: 100%;
  }
  .modal-body, .modal-header{
    padding: 0 18px;
  }
  .five-col{
    width: 48%;
  }
  .form-search input.input-text{
    width: 240px;
  }
  .pop-up-button-set .col{
    padding: 0 9px;
  }
  .popupResetPasswordModel .input-form {
    margin-bottom: 35px;
  }
  .faq-copy-section {
    padding: 5px;
  }
  .footlinks {
    padding: 0 20px;
  }
  #narrow-by-list ol li{
    min-width: 50% !important;
  }
  .mobile-device .product-shop > .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  .big-popup-image {
    height: 434.4px;
    width: 100%;
  }
  .big-popup-image {
    height: 352.4px;
    width: 100%;
    margin: 0 auto;
  }
  .container.celebrities{
    padding: 0 40px 120px;
  }
  .big-popup-cover, .pressPopup .pop-up-cover{
    height: 490px;
    overflow-x: scroll;
  }
  .celebPopup .next, .celebPopup .prev, .pressPopup .next, .pressPopup .prev{
    top: 40%;
    height: 55px;
    width: 20px;
  }
  .celebPopup .prev, .pressPopup .prev{
    left: 6px;
  }
  .celebPopup .next, .pressPopup .next{
    right: 6px;
  }
  .big-popup-body{
    padding: 28px 33px !important;
  }
  .ecp-celebrities-index-index .simple-page-title{
    margin: 20px 0 36px !important;
  }
  .press-popup-image {
    background-size: 100% !important;
    width: 100%;
    height: 388px;
    background-repeat: no-repeat;
  }
  .popup-below-content{
    padding: 0 14px 0px 15px !important;
  }
  .pressPopup .modal-body{
    padding-top: 50px !important;
  }
  .caroufredsel_wrapper{
    width: 49%;
  }
  .insta-main .image_carousel, .recently-view .image_carousel, .you_may_like .image_carousel{
    width: 68%;
  }
  .image_carousel .item.product-view-instagram-item img{
    height: auto;
    width: 120px;
  }
  .product-collateral .prev {
    left: 8px;
  }
  .product-collateral .next {
    right: 8px;
  }
  .containerImage {
    overflow-y: auto;
  }
  .image_carousel .item.product-view-instagram-item{
    height: auto;
    width: auto;
  }
  .homepageSliderControllers .nextS{
    top: 45%;
    right: 8px;
    height: 45px;
    width: 20px;
  }
  .homepageSliderControllers .prevS{
    top: 45%;
    left: 14px;
    height: 45px;
    width: 20px;
    z-index: 1;
  }
  .popup-right-section{
    padding: 20px 40px 0 46px;
  }
  .input-type-one, .form-list input, .gift-message-section textarea, .select-type-two, .product-description-section select, .select-type-one, .country-section select,
  .expiry-section, .v-fix, .new_address .input-box {
    width: 100% !important;
  }
  .dark-button, .next-button {
    width: 100% !important;
  }
  .multiple-checkout.shipping-method-parent .next-button {
    margin-top: 10px;
  }
  .coupons .discount {
    margin-bottom: 15px;
  }
  .coupons { /*Css is for Payment section of multi checkout*/
    padding: 0;
  }
  .overview-price-qty{
    margin-top: 0;
  }
  #shopping-cart-table td.cart_col3 .price {
    text-align: left !important;
  }
  .padder{
    min-height: 320px;
  }
  .containerImage img {
    width: 90%;
    margin: 20px auto 0;
  }
  .containerThumb {
    /* width: 340px; */
    overflow-y: scroll;
    padding-left: 65px;
    padding-right: 52px;
  }
  .shop_by_look .product-info .product_details{
    padding: 10px 30px;
  }
  .shop_by_look .quick_link {
    margin-bottom: 9px;
  }
  .collat-wrap{
    width: 100%;
  }
  ul#slide-list{
    top: 360px;
  }

  /* TABLE TO DIV CONVERSION - SHOPPING CART */
  #shopping-cart-form tbody, .checkout-onepage-index #checkout-review-table tbody, .paypal-express-review tbody, .mt-myaccount-page .data-table#wishlist-table{
    display: grid;
  }
  #shopping-cart-form thead, .checkout-onepage-index #checkout-review-table thead, .paypal-express-review thead {
    display: none;
  }
  #shopping-cart-table tbody td:before, .checkout-onepage-index #checkout-review-table tbody td:before, .paypal-express-review tbody td:before{
    content: attr(data-th);
    font-size: 12px;
    font-family: urw-din-bold;
    color: rgba(41,41,41,0.6);
    text-transform: uppercase;
    letter-spacing: 1.08px;
    line-height: 0px;
  }
  #shopping-cart-table .price, .checkout-onepage-index #checkout-review-table .price, .paypal-express-review.price{
    font-size: 15px;
    display: block;
  }
  .ad-to-fav, .w-remove{
    margin-top: 5px;
  }
  .wholesale-avail-row .ad-to-fav, .wholesale-avail-row .w-remove{
    margin-top: 0;
    margin-bottom: 20px;
  }
  .data-table.cart-table .messages.wholesale-avail-row .item-msg {
    margin-bottom: 0px;
  }
  #shopping-cart-table tr.messages-tr, .paypal-express-review tr.messages-tr, .paypal-express-review .odd {
    margin-top: 20px;
  }
  .data-table.cart-table .gift-messages, .gift-row td:nth-child(2){
    width: 100%;
  }
  .gift-row td:nth-child(2){
    padding-bottom: 30px;
  }
  #shopping-cart-table td.cart_col1{
    width: 28%;
    display: block;
    float: left;
    margin-top: 0;
  }
  #shopping-cart-table td.cart_col2, .checkout-onepage-index #checkout-review-table tbody td.cart_col1, .paypal-express-review td.cart_col2{
    width: 100%;
    display: block;
    min-height: 120px;
  }
  #shopping-cart-table td.cart_col3, #shopping-cart-table td.cart_col4, #shopping-cart-table td.cart_col5,
  #checkout-review-table tbody td.cart_col3, #checkout-review-table tbody td.cart_col4, #checkout-review-table tbody td.cart_col5, .paypal-express-review td.cart_col3, .paypal-express-review td.cart_col4, .paypal-express-review td.cart_col5 {
    width: 28%;
    display: block;
    float: left;
    margin-right: 5.33%;
    line-height: 30px;
    margin-top: 20px;
  }
  .minus_icon.minus_qty, .qty-wrap.total_qty {
    max-width: 33.33%;
    float: left;
    flex: 0 0 33.33%;
  }
  #shopping-cart-table .cart_col3, #checkout-review-table .cart_col3, .paypal-express-review .cart_col3 {
    text-align: left !important;
  }
  #shopping-cart-table .cart_col4, .paypal-express-review td:nth-child(3){
    text-align: center;
  }
  .checkout-onepage-index #checkout-review-table{
    border-top: 1px solid #d8d8d8;
  }
  .checkout-onepage-index #checkout-review-table tr.messages-tr {
    padding: 20px 0;
  }
  .checkout-onepage-index #checkout-review-table tr.messages{
    padding-bottom: 20px;
  }
  .checkout-onepage-index #checkout-review-table .quantity-count{
    font-size: 12px;
  }
  .messages-tr .product-name a{
    font-size: 15px;
  }
  .data-table.cart-table td{
    margin-top: 18px;
  }
  .messages-tr .product-name{
    margin-top: 18px;
    margin-bottom: 9px;
  }
  .messages-tr .plus_icon, .messages-tr .minus_icon{
    display: table;
  }
  .paypal-express-review  td.cart_col1{
    width: 30%;
    display: block;
    float: left;
    margin-top: 0;
  }
  /*Checkout*/
  #checkoutSteps {
    padding: 0;
  }
  #multiaddress-new-address .container{
    padding: 0 10px;
  }
  .promoDiv {
    padding: 0 15px;
  }
  .coupons .discount {
    margin-bottom: 0;
  }
  #reset_pass_btn, #signup-btn-popup {
    width: 149px !important;
  }
  ul.tabs li{
    flex: 0 0 auto !important;
    width: auto !important;
  }
  ul.tabs{
    justify-content: space-between;
  }
  .product-shop {
    margin-top: 15px;
    padding: 0 25px;
  }
  .data-table.cart-table .gift-messages{
    margin-bottom: 10px;
  }
  .checkout-cart-index .fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
    width: 90% !important;
  }
  .checkout-cart-index .fancybox-opened .fancybox-skin #inline{
    padding: 0;
  }
  .login-dropdown{
    right: 23px;
  }
  .product-shop > .row{
    width: 100% !important;
  }
  .paypal-express-review .overview-common-prices, .paypal-express-review .overview-grand{
    padding: 0;
  }
  .qty-wrap.total_qty{
    padding: 0;
  }
  /*Search CSS*/
  #cross-icon{
    right: 8px;
  }
  .products-grid li.item{
    padding: 34px;
    margin: 1%;
    background: #eee;
  }
  .catalog-common-grid .product-image img{
    margin-top: 20px;
  }
  .products-grid li.item{
    height: 256px;
  }
}

/* Mobile landscape */                                      /*allmobland*/
@media (max-width:767px) and (orientation:landscape) {
  .manage-payment-method .mt-edit-form #billing-new-address-form ul li input{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form .state-select-payment{
    width: 100%;
  }
  .manage-payment-method .mt-edit-form .country-select-payment select{
    width: 100%;
  }
  /*#mt-credit-card-info li #authnetcim_cc_type, #mt-credit-card-info li #authnetcim_cc_number{
    width: 48%;
  }*/
  .manage-payment-method #mt-credit-card-info .mt-card-info{
    width: 47%;
    float: left;
    clear: none;
  }
  .manage-payment-method .mt-edit-form .exp-year{
    width: 48.5%;
    float: left;
    margin-left:9px;
  }
  .manage-payment-method #mt-credit-card-info #authnetcim_cc_type_cvv_div .input-box{
    width: 100%;
  }
  .mt-new-payment li.payment-card-type{
    margin-right: 6%;
  }
  .mt-new-payment li.payment-exp-date{
    margin-right: 6%;
  }
  li.payment-card-number input{
    width: 100%;
  }
  .myaccount-add-payment-form .add-new-payment-method-ul {
    padding-left: 0;
  }
  .myaccount-add-payment-form #mt-credit-card-info #authnetcim_cc_type_exp_div .card-exp .exp-year{
    width: 48.5%;
    float: left;
    margin-left: 9px;
  }
  #new-mt-add-payment-method li.payment-card-type{
    margin-right: 6%;
  }
  #new-mt-add-payment-method li.payment-exp-date{
    margin-left: 6%;
  }
  .manage-payment-method #new-mt-add-payment-method #billing-new-address-form ul li input {
    width: 100%;
  }
  /*.manage-payment-method #new-mt-add-payment-method select{
    width: 100%;
  }*/
  .myaccount-add-payment-form #billing-new-address-form .input-box select{
    width: 100%;
  }
  .mobile-main_menu, .mobile-sub_menu .sub-menu{
    top: 55px;
  }
  .maria-left-menus{
    left:85px;
  }
  .form-search input.input-text{
    width: 150px;
  }
  .custom-container {
    max-width: 1000px !important;
    margin: 0 auto;
  }
  .faq-main {
    padding: 0 40px;
  }
  .five-col{
    width: 49%;
  }
  .products-grid li.item {
    display: grid;
    background: #eee;
    margin: 0.5%;
  }
  .social-media ul {
    padding-left: 15px;
  }
  .celeb-img-block, .press-img-block{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .container.celebrities{
    padding: 0 15px 120px;
  }
  .celeb-img-block{
    margin-bottom: 10px;
  }
  .big-popup-image {
    height: 707.4px;
    width: 100%;
  }
  .big-popup-body {
    padding: 48px 83px !important;
  }
  .caroufredsel_wrapper{
    width: 82%;
  }
  .popup-left-section{
    max-width: 54%;
    flex: 0 0 54%;
  }
  .popup-right-section {
    max-width: 46%;
    flex: 0 0 46%;
    padding: 0 0px 0 10px;
  }
  .shop_by_look .big-popup-body{
    padding: 48px 10px 48px 10px !important;
  }
  .shop_by_look .product-info .product_details{
    padding: 10px 20px;
  }
  .shop_by_look .celeb-info {
    margin-top: 0;
  }
  .cart-mt.container {
    max-width: 670px;
  }
  .cart-collaterals.fix-section{
    background: #f2f2f2;
  }
  .collat-wrap{
    margin: 0 auto;
  }
  .cartilage-section .next {
    right: 1.7%;
  }
  .cartilage-section .prev {
    left: 1.7%;
  }
  .address-method-common {
    margin-bottom: 25px;
  }
  .place-order .grand-total{
    padding-left: 140px;
  }
  .product-shop{
    padding: 0 135px;
  }
  #foo4_next, #foo6_next{
    right: 0;
  }
  #foo4_prev, #foo6_prev{
    left: 0;
  }
  ul.tabs li{
    flex: 0 0 50% !important;
    max-width: 37% !important;
  }
  ul.tabs li:first-child{
    max-width: 25% !important;
  }
  .checkout-multishipping-success .multiple-checkout {
    margin-top: 110px;
  }
  .navbar-brand{
    margin-top: 2px;
  }
  .product-shop{
    margin-top: 35px;
  }
  .checkout-cart-index .fancybox-inner {
    height: 100% !important;
  }
  .big-popup-cover{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .only-celeb .big-popup-image{
    height: 347.4px;
  }
  #newsletter-form .dark-button{
    float: right;
  }
  .product-shop > .row{
    padding-left: 0;
  }
  ul#slide-list{
    top: 310px;
  }
  .containerImage img{
    margin: 30px auto 0;
  }
}
@media (max-width:1024px) and (orientation:portrairt){
  .catalog-category-view .product-name, .catalogsearch-result-index .product-name{
    max-width: 100%;
  }
}

@media (min-width:1024px){
  .close-section{
    display: none;
  }
  .level-top.parent.active_menu span {
    border-bottom: 6px solid #fff;
    padding-bottom: 28px;
  }
  .vertical-middle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .piercing-right-text {
    padding: 0 30px 0 0;
  }
  .piercing-right-copy-section {
    padding-left: 0px;
  }
  .text-lg-white{
    color: #fff !important;
  }
  .over-img-right {
    width: 36%;
    z-index: 1;
    right: 160px;
    padding: 0 48px;
    position: absolute;
    bottom: 30px;
  }
}
@media (min-width:1025px){
  /*footer display on hover bottom  of the page*/
  .floating.footer {
    padding-top: 0px !important;
    height: auto;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    /*opacity: 0;*/
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  }

  .floating.footer:hover {
    opacity: 1;
  }
  .pdp-image-section{
    margin-top: 80px;
  }
  .quickview-index-index .pdp-image-section{
    margin-top: auto;
  }
  .containerVideo iframe{
    display: block;
    margin: auto;
    width: 553px;
    height: 312px;
  }
  .container-footlinks {
    transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
    height: 0px;
  }
}

@media (min-width: 1200px){
.custom-container {
    max-width: 1178px !important;
    margin: 0 auto;
  }
  .footlinks .footer-item-list span:hover{
    border-bottom: 6px solid #fff;
    padding-bottom: 16px;
  }
}
@media (min-width:1030px) and (max-width:1200px){
.div-row {
  width: 1270px;
  overflow-x: scroll;
 }
 .row.menu-inner{
   overflow: auto;
 }
}

/************** Big Screen Laptops ***************/
@media (min-width:1920px){
  /* .inner-box{
    width: 742px;
    margin-left: 300px;
  } */
  .custom-container{
    max-width: 1318px !important;
  }
  .jewelry-container, .faq-main{
    margin-top: 65px !important;
  }
  .about-designer{
    margin-top: 30px;
  }
  #appointments{
    padding: 48px 254px;
  }
  .footer{
    padding: 0;
  }
  .caroufredsel_wrapper{
    width: 88.3%;
  }
  .categorypath-piercing-piercing-gallery-html .category-products {
    margin-top: 0;
  }
  .categorypath-jewelry-ear-cartilage-jewelry-html .category-products{
    margin-top: 56px;
  }
  .gift-card-main{
    margin-top: 20px !important;
  }
  .giftcards.product-shop{
    padding: 0 60px;
  }
  .giftcards .div_selector_month{
    width: 40%;
  }
  .giftcards .div_selector_day{
    width: 30%;
  }
  .giftcards .div_selector_year {
    width: 20%;
  }
}

/*************Small Laptops : 1366px ***********/
@media (min-width:1025px) and (max-width:1432px) {
  .swatches li{
    margin-left: 7px;
  }
  .post_optio .chooseList ul li.option{
    flex: 0 0 49%;
    max-width: 49%;
  }
  .s_length .chooseList ul li.option{
    flex: 0 0 30%;
    max-width: 30%;
  }
  .menu-inner{
    overflow-x: auto;
  }
  .div-row {
    width: 1250px;
    overflow-x: scroll;
  }
  #appointments{
    padding:48px 30px 20px;
  }
}
/*********************Very Small Mobile*********************/
@media (max-width:325px) {
  #shopping-cart-table td.cart_col1{
    width: 35%;
  }
  .collat-wrap{
    width: 100%;
    padding: 0 25px;
  }
}
@media (min-width:1025px) and (max-width:1278px) {
  .gauge .chooseList ul li.option {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width:1535px) and (max-width:1919px){
  .checkout-multishipping-addresses .main-container.col2-right-layout, .checkout-cart-index .main-container.col2-right-layout {
    margin-top: 70px;
  }
}
@media (min-width:992px) and (max-width:1278px) {
  .main-nav-title li {
    margin-right: 38px;
  }
}

@media (min-width:768px) and (max-width:992px){
.mobile-device .maria-left-menus{
    top: 4px;
    left: 70px;
  }
/* .navbar-toggler{
    top: 28px;
  } */
  .copy-section {
    padding: 0;
  }
  .desktop-device .five-col{
    width: 32.5%;
  }
}
@media (min-width:1200px) and (max-width:1430px) {
  /* .inner-box{
    margin-left: 57px;
  } */
}
@media (min-width:1318px) and (max-width:1432px) {
  .div-row {
    width: 100%;
    overflow-x: scroll;
    margin: 0;
  }
}
@media (min-width:1025px) and (max-width:1358px) {
  .five-col{
    width: 25%;
  }
}
@media (min-width:992px) and (max-width:1023px){
.desktop-device .maria-left-menus li:first-child, .desktop-device .maria-left-menus li:nth-child(2){
  display: block;
  }
.responsive-direction {
  flex-direction: initial;
  }
#appointments img{
  display: block;
  padding-top: 45px;
  }
}
@media (max-width: 1200px){
  .about-jewelry{
    padding: 0 26px;
  }
}
@media (min-width:1024px) and (max-width:1199px){
  .fix-image, .product-view-left{
    width: 55.333333%;
    flex: 0 0 55.333333%;
  }
  .offset-66{
    margin-left: 55.333333% !important;
  }
  .position-bottom{
    padding-right: 24px;
  }
  .form-search input.input-text{
    width: 270px;
  }
}
@media (min-width:992px) and (max-width:1023px){
  .fix-image{
    width: 44.333333%;
    flex:0 0 44.333333%;
  }
  .offset-66{
    margin-left: 44.333333% !important;
  }
  .position-bottom{
    padding-right: 67px;
  }
  .desktop-device .common-option-div {
    width: auto;
    padding: 0;
  }
  .desktop-device .menu-common-section{
    margin-top: 43px;
  }
  .desktop-device #jewelry .menu-head span a:after{
    content: none;
  }
}
@media (min-width:768px) and (max-width:850px){
  .product-view-left{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .product-shop{
    flex: 0 0 100%;
    padding: 0 135px;
  }
  .product-shop > .row{
    width: 100%;
    margin: 0 auto;
  }
  .desktop-device .product-shop{
    flex: 0 0 100%;
  }
  .about-designer h1{
    margin-bottom: 0;
  }
  .about-designer, .jewelry-container{
    margin-top: 27px;
  }
  .desktop-device .about-designer{
    margin-top: 20px;
  }
  .about-designer.designer-image-section {
    margin-top: 20px;
  }
}
@media (min-width:851px) and (max-width:991px){
  .product-view-left {
    flex: 0 0 48.666667%;
    max-width: 48.666667%;
  }
  .product-shop > .row{
    padding-left: 14px;
    width: 407px;
  }
  .product-img-box {
    display: flex;
    justify-content: center;
  }
  .designer-image, .designer-copy, .image-section, .copy-section{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .d-block.d-lg-none.about-designer, .d-block.d-lg-none.jewelry-title{
    display: none !important;
  }
  .designer-copy .d-lg-block.d-none, .jewelry-title h1.d-lg-block.d-none{
    display: block !important;
  }
  .responsive-direction {
    flex-direction: initial;
  }
}
@media (min-width:851px) and (max-width:992px){
  .copy-section {
    padding: 0 15px;
  }
}
@media (min-width:768px) and (max-width:991px) {
  .desktop-device .maria-left-menus{
    left: 70px;
    top: 5px;
  }
  .for-space-to-bottom{
    height: 77px;
  }
  .catalog-product-view .for-space-to-bottom{
    height: 73px;
  }
  .desktop-device .common-option-div{
    padding:0;
  }
}
@media (max-width:991px){
  .desktop-device .image-section{
    margin-bottom: 30px;
  }
  .desktop-device .piercing_options{
    display: block;
    padding: 0 15px;
  }
  .piercing_options .image-text{
    margin-bottom: 40px;
  }
  #search{
    top: 80px;
  }
}
@media (max-width:749px){
  .desktop-device .product-shop > .row{
    width: 100% !important;
    padding: 0 52px !important;
  }
}
@media (min-width:767px) and (max-width:1250px){
  .for-space-to-bottom.cat-img-space{
    background-image: none;
  }
}
@media (max-width:2323px){
    #next3, #prev3{
      display: block !important;
    }
}
@media (min-width:768px) and (max-width:1023px) {
  .desktop-device .homepage-menu.mariatash-header{
    background: no-repeat;
  }
}
@media (min-width:786px) and (max-width:1111px){
  #jewelry .special-menu img {
    width: 200px !important;
  }
}
@media (min-width:992px){
  .cms-home .homepage-menu.mariatash-header {
    background: linear-gradient(to bottom, #25211e 0%, rgba(37, 33, 30, 0) 100%) !important;
  }
  .cms-home .homepage-menu.mariatash-header:hover{
  	background: rgba(41, 41, 41, 0.9) !important;
  }
}
@media (max-width:992px){
  .desktop-device .image-text{
    top: 70px;
  }
}
@media (min-width:686px) and (max-width:850px){
  .post_optio .chooseList ul li.option{
    min-width: 110px;
  }
}
@media (min-width:581px) and (max-width:650px){
  .post_optio .chooseList ul li.option{
    min-width: 120px;
  }
}
@media (max-width:850px){
  .about-jewelry h1{
    margin-top: 0;
  }
}
@media (min-width:1359px) and (max-width:1424px){
  .products-grid li.item .list-mt-w{
    padding: 0 14px;
  }
}
@media (min-width:1025px) and (max-width:1045px){
  .products-grid li.item .list-mt-w{
    padding: 0 14px;
  }
}
@media (min-width:1025px) and (max-width:1105px){
  .catalog-category-view .product-name, .catalogsearch-result-index .product-name{
    max-width: 130px;
  }
}
@media (min-width:768px) and (max-width:863px){
  .catalog-category-view .product-name, .catalogsearch-result-index .product-name{
    max-width: 140px;
  }
}
@media (min-width:1025px){
  .products-grid li.item a{
    display: block !important;
  }
}
@media (min-width:1366px) and (max-width:1390px){
  .catalog-category-view .product-name, .catalogsearch-result-index .product-name{
    max-width: 150px;
  }
}
@media (min-width:768px) and (max-width:910px){
  .catalog-category-view .product-name, .catalogsearch-result-index .product-name{
    max-width: 132px;
  }
  .category-earring-pairs.catalog-category-view .product-name{
  	max-width: 120px;
  }
}
@media (min-width:1025px) and (max-width:1130px){
  .category-earring-pairs.catalog-category-view .product-name{
  	max-width: 120px;
  }
}
