/* ipad - portrait, iphone - landscape,portrait */
@media (max-width:1023px){
  .main-nav-title li {
      margin-right: 0;
      text-align: center;
      margin-top: 25px;
  }
  .maria-left-menus li:first-child, .maria-left-menus li:nth-child(2){
    display: none;
  }
  .nav-links-right li:nth-child(4), .nav-links-right li:nth-child(2) {
    display: none;
  }
  .footer ul .footer-item-list{
    display: block;
    margin-top: 20px;
  }
  .footlinks, .social-media > .row {
    text-align: center;
    justify-content: center !important;
  }
  .container-footlinks, .homepage-menu.mariatash-header {
    background: rgb(41, 41, 41);
  }
  .footer .footlinks li,.social-media ul{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .footer .social-media li:last-child{
    margin-right: 0;
  }
  .social-media ul {
    margin-bottom: 40px;
  }
  .inner-box {
    width: 100%;
    margin-left: 0;
  }
  .head-child, #piercing_appointments img {
    display: none;
  }
  .right-section a {
    width: 100%;
    margin-left: 30px !important;
  }
  .sub-menu{
    width: 50% !important;
  }
  #piercing_appointments .col{
    width: 100%;
    margin-bottom: 9px;
    flex: 0 0 100%;
  }
  #piercing_appointments{
    padding: 0;
  }
  .maria-right-menus{
    right: 0;
  }
  .main-nav-link li:nth-child(3){
    margin-right: 0;
  }
  .mobile-main_menu {
    height: 493px;
  }
  .mobile-sub_menu .sub-menu{
    height: 498px;
  }
  .piercing_options .image-text {
    padding-left: 15px;
    margin-bottom: 17px;
  }
  #search-input {
    z-index: 2;
  }
  .form-search input.input-text{
    background: #292929;
  }
  .form-search input.input-text{
    padding-bottom: 2px;
  }
}

/* till ipad (all mobiles and ipads) */
@media (max-width:1024px){

}

/*All ipads*/
@media (min-width:767px) and (max-width:1024px){
  #narrow-by-list li div dt{
    width: 104px;
  }
  .five-col{
    width: 50%;
  }
  .form-search input.input-text{
    width: 200px;
  }
}
/* ipad portrait */
@media (min-width:767px) and (max-width:1024px) and (orientation:portrait){
  .with-category-image .mb-mana-catalog-leftnav .block-layered-nav-bg{
    top: 198px;
  }
  #narrow-by-list {
    margin-left: 0;
  }
  .navbar-toggler{
    top: 25px;
  }
  .maria-left-menus{
    left: 77px;
  }
  .nav-links-right{
    margin-right: 0px;
  }
  .mobile-sub_menu .sub-menu{
    top: 83px;
  }
}


/* ipad landscape */
@media (min-width:767px) and (max-width:1024px) and (orientation:landscape){
  .with-category-image .mb-mana-catalog-leftnav .block-layered-nav-bg{
    top: 250px;
  }
}

/* ALl Mobiles */
@media (max-width:767px) {
  .five-col{
    width: 100%;
  }
  .homepage-menu {
    padding-top: 18px !important;
    padding: 0;
  }
}

/* Mobile Portrait */
@media (max-width:767px) and (orientation:portrait) {
  .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid{
    margin: 0;
  }
  .main-nav-link li{
    margin-right: 14px;
  }
  .navbar-toggler{
    left:0;
  }
  .maria-left-menus {
    left: 50px;
  }
  .mt-logo img {
    width: 130px;
  }
}

/* Mobile landscape */
@media (max-width:767px) and (orientation:landscape) {
  .maria-left-menus{
    left:85px;
  }
  .form-search input.input-text{
    width: 150px;
  }
}
