/*=====================*/
/*CONTACT US*/
/*=====================*/
.cms-contact-us .page-title{
	display: none;
}
.cms-contact-us .footer{
	padding-top: 0!important;
	margin-top: 60px;
}

.contact-us-wrapper .block-text{
	max-width: 440px;
}

.contact-us-wrapper input{
	width: 100%;
}
.contact-us-wrapper textarea{
	width: 100%;
	height: 100%!important;
	background: white;
}

.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-col .fl-two{
	height: 100%!important;
}
.conact-us-body .contact-us-form .field {
	margin: 0;
	margin-bottom: 24px;
}
.customButton{
	float: right;
	width: 205px;
	height: 46px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.61px;
	font-family: urw-din-medium;
	color: #ffffff;
}
.field.custom_recaptcha{
	margin-bottom: 11px!important;
}
.other-contact-options{
	padding-top: 50px;
	padding-left: 48px;
	background-color: #f3f3f3;
}
.other-contact-options .details h4{
	font-size: 13px;
}
.img-responsive{
	width: 100%;
}
.details{
	padding-bottom: 2.5rem;
}
/*=====================*/
/*STORE LOCATIONS*/
/*=====================*/
.cms-store-locations-html .page-title{
	display: none;
}
.cms-store-locations-html .footer{
	padding-top: 0!important;
	margin-top: 60px;
}
.locations-wrapper{
	padding-bottom: 180px;
}
.locations-wrapper .section,
.locations-wrapper .section-even{
	display: flex;
	align-items: flex-end;
	margin-bottom: 48px;
}
.locations-wrapper .img-wrap{
	width: 793px;
	height: 472px;
}
.locations-wrapper .img-wrap img{
	height: 100%;
	cursor: pointer;
}
.locations-wrapper .section .text-wrap{
	padding-left: 30px;
}
.locations-wrapper .section-even .text-wrap{
	padding-right: 30px;
	text-align: right;
}
.locations-wrapper p{
	font-size: 15px;
	margin-bottom: 0;
}
.tel{display: inline-block;}
.popups{
	margin-top: 70px;
	margin-bottom: 31px;
}
.mid{
	padding-left: 4rem;
}
#locationPopup .modal-dialog{
	z-index: 9999;
	max-width: 843px;
}
#locationPopup .modal-content{
	padding: 96px;
}
#locationPopup .modal-header,
#locationPopup .modal-body{
	padding: 0;
}
.cms-store-locations-html .modal-backdrop{
	background-color: rgba(41, 41, 41, 0.6);
}
#locationPopup .close{
	position: absolute;
	right: 24px;
	top: 24px;
}
/*=====================*/
/*MEDIA QUERIES*/
/*=====================*/
@media(max-width: 1200px){
	.locations-wrapper .img-wrap{
		max-width: 400px;
		height: auto;
	}
}
@media(min-width:1024px ){
	.other-contact-options{
		margin-bottom: 235px;
	}
}
@media(max-width:991px){
	#locationPopup .modal-content{
		padding: 51px;
	}
	.mid{
		padding-left: 15px;
	}
	.section .text-wrap{
		width: 100%;
		text-align: left!important;
		padding:0!important;
		padding-top: 40px!important;
	}
	.section-even .text-wrap{
		order: 2;
		width: 100%;
		text-align: left!important;
		padding:0!important;
		padding-top: 40px!important;
	}
	.locations-wrapper .section,
	.locations-wrapper .section-even{
		flex-direction: column;
		align-items: flex-start;
	}
	.other-contact-options{
		margin-bottom: 40px;
	}
	.contact-us-wrapper .custom_recaptcha{
		display: flex;
		justify-content: center;
	}
	.buttn-wrapper{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;
	}
}

@media (min-width: 1800px){
	#container-cu {
		margin-top: 130px;
	}
}

@media(max-width: 480px){
	.locations-wrapper .img-wrap{
		width: 100%;
	}
}