<?xml version="1.0"?>
<config>
    <modules>
        <Doddle_Returns>
            <version>0.2.0</version>
        </Doddle_Returns>
    </modules>
    <global>
        <helpers>
            <doddle_returns>
                <class>Doddle_Returns_Helper</class>
            </doddle_returns>
        </helpers>
        <blocks>
            <doddle_returns>
                <class>Doddle_Returns_Block</class>
            </doddle_returns>
        </blocks>
        <models>
            <doddle_returns>
                <class>Doddle_Returns_Model</class>
                <resourceModel>doddle_returns_resource</resourceModel>
            </doddle_returns>
            <doddle_returns_resource>
                <class>Doddle_Returns_Model_Resource</class>
                <entities>
                    <order_sync_queue>
                        <table>doddle_returns_order_sync_queue</table>
                    </order_sync_queue>
                </entities>
            </doddle_returns_resource>
        </models>
        <resources>
            <doddle_returns_setup>
                <setup>
                    <module>Doddle_Returns</module>
                    <class>Doddle_Returns_Model_Resource_Setup</class>
                </setup>
            </doddle_returns_setup>
        </resources>
        <events>
            <!-- Queue new order to be pushed to Doddle API -->
            <sales_order_place_after>
                <observers>
                    <doddle_returns_sales_order_place_after_handler>
                        <class>doddle_returns/observer</class>
                        <method>queueOrderForSync</method>
                    </doddle_returns_sales_order_place_after_handler>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <doddle_returns module="doddle_returns">
                    <file>doddle/returns/doddle_returns.xml</file>
                </doddle_returns>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <doddle_returns>
            <api>
                <mode>test</mode>
                <live_url>https://apigw.apac-prod.doddle.tech</live_url>
                <test_url>https://apigw.apac-preprod.doddle.tech</test_url>
            </api>
            <order_sync>
                <enabled>1</enabled>
                <batch_size>10</batch_size>
                <max_fails>5</max_fails>
            </order_sync>
        </doddle_returns>
    </default>
    <crontab>
        <jobs>
            <doddle_returns_order_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>doddle_returns/order_sync_queue::processPendingOrders</model>
                </run>
            </doddle_returns_order_sync>
            <doddle_returns_order_sync_retry>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>doddle_returns/order_sync_queue::retryFailedOrders</model>
                </run>
            </doddle_returns_order_sync_retry>
        </jobs>
    </crontab>
</config>
