<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Categorycarrousel>
            <version>0.1.0</version>
        </Ecp_Categorycarrousel>
    </modules>
    <frontend>
        <routers>
            <ecp_categorycarrousel>
                <use>standard</use>
                <args>
                    <module>Ecp_Categorycarrousel</module>
                    <frontName>categorycarrousel</frontName>
                </args>
            </ecp_categorycarrousel>
        </routers>
        <layout>
            <updates>
                <ecp_categorycarrousel>                    
                    <file>categorycarrousel.xml</file>
                </ecp_categorycarrousel>
            </updates>
        </layout>
    </frontend>
    <global>
       <blocks>
          <ecp_categorycarrousel>
                <class>Ecp_Categorycarrousel_Block</class>
          </ecp_categorycarrousel>
       </blocks>
       <helpers>
            <ecp_categorycarrousel>
                <class>Ecp_Categorycarrousel_Helper</class>
            </ecp_categorycarrousel>
        </helpers>
    </global>    
</config>