<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooEmail>
            <version>1.0.2</version>
        </Ebizmarts_BakerlooEmail>
    </modules>
    <global>
        <blocks>
            <bakerloo_email>
                <class>Ebizmarts_BakerlooEmail_Block</class>
            </bakerloo_email>
        </blocks>
        <helpers>
            <bakerloo_email>
                <class>Ebizmarts_BakerlooEmail_Helper</class>
            </bakerloo_email>
        </helpers>
        <models>
            <bakerloo_email>
                <class>Ebizmarts_BakerlooEmail_Model</class>
                <resourceModel>bakerloo_email_mysql4</resourceModel>
            </bakerloo_email>
            <bakerloo_email_mysql4>
                <class>Ebizmarts_BakerlooEmail_Model_Mysql4</class>
                <entities>
                    <queue>
                        <table>bakerloo_email_queue</table>
                    </queue>
                    <unsent>
                        <table>bakerloo_email_unsent</table>
                    </unsent>
                </entities>
            </bakerloo_email_mysql4>
        </models>
        <resources>
            <bakerloo_email_setup>
                <setup>
                    <module>Ebizmarts_BakerlooEmail</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bakerloo_email_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bakerloo_email after="Mage_Adminhtml">Ebizmarts_BakerlooEmail_Adminhtml</bakerloo_email>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Ebizmarts_BakerlooEmail>
                    <files>
                        <default>Ebizmarts_BakerlooRestful.csv</default>
                    </files>
                </Ebizmarts_BakerlooEmail>
            </modules>
        </translate>
        <layout>
            <updates>
                <bakerloo_email>
                    <file>bakerloo_email.xml</file>
                </bakerloo_email>
            </updates>
        </layout>
    </adminhtml>
</config>