<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<allure_geolocation>
			<groups>
				<switch_currency translate="label" module="allure_geocurrency">
					<label>Currency Switching</label>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<status translate="label">
							<label>Enable Geolocation Based Currency Switching</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<sort_order>21</sort_order>
						</status>
						<mapping translate="label">
							<label>Currency GeoIP Pairing</label>
							<frontend_model>Allure_GeoCurrency_Block_CurrencyMap</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enable>1</enable>
							</depends>
							<sort_order>22</sort_order>
						</mapping>
						<debug translate="label">
							<label>Debug</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<status>1</status>
							</depends>
							<sort_order>23</sort_order>
						</debug>
					</fields>
				</switch_currency>
			</groups>
		</allure_geolocation>
	</sections>
</config>