<?xml version="1.0" ?>
<config>
	<modules>
		<Allure_ApplePay>
			<name>Allure - Apple Pay Payment Method</name>
			<version>1.0.0</version>
		</Allure_ApplePay>
	</modules>
	<global>
		<blocks>
			<allure_applepay>
				<class>Allure_ApplePay_Block</class>
			</allure_applepay>
			<applepay>
				<class>Allure_ApplePay_Block</class>
			</applepay>
		</blocks>
		<helpers>
			<allure_applepay>
				<class>Allure_ApplePay_Helper</class>
			</allure_applepay>
			<applepay>
				<class>Allure_ApplePay_Helper</class>
			</applepay>
		</helpers>
		<models>
			<allure_applepay>
				<class>Allure_ApplePay_Model</class>
			</allure_applepay>
			<applepay>
				<class>Allure_ApplePay_Model</class>
			</applepay>
			<sales_resource>
	            	<rewrite>
	                    <quote>Allure_ApplePay_Model_Resource_Quote</quote>
	             </rewrite>
            </sales_resource>
		</models>
		
        <resources>
            <allure_applepay_setup>
                <setup>
                    <module>Allure_ApplePay</module>
					<class>Allure_ApplePay_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
            </allure_applepay_setup>
        </resources>
	</global>
	<default>
		<payment>
			<applepay>
				<active>1</active>
				<title>Apple Pay (Authorize.Net)</title>
				<login backend_model="adminhtml/system_config_backend_encrypted" />
				<model>applepay/method</model>
                <secure_cart>1</secure_cart>
                <show_pay_cart>0</show_pay_cart>
                <visible_on_product>0</visible_on_product>
                <payment_action>authorize_capture</payment_action>
				<order_status>pending</order_status>
			</applepay>
		 </payment>
	</default>
	<frontend>
		<routers>
			<allure_applepay>
				<use>standard</use>
				<args>
					<module>Allure_ApplePay</module>
					<frontName>applepay</frontName>
				</args>
			</allure_applepay>
		</routers>
		<layout>
			<updates>
				<applepay module="allure_applepay">
					<file>allure/applepay.xml</file>
				</applepay>
			</updates>
		</layout>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<applepay module="allure_applepay">
					<file>allure/applepay.xml</file>
				</applepay>
			</updates>
		</layout>
	</adminhtml>
</config>
