<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Alertstock>
        <version>0.1.0</version>
        </Ecp_Alertstock>
    </modules>
    <frontend>
        <unsecure_url>
            <ecpalertstock_index>/ecpalertstock/index</ecpalertstock_index>
        </unsecure_url>
        <routers>
            <alertstock>
                <use>standard</use>
                <args>
                    <module>Ecp_Alertstock</module>
                    <frontName>ecpalertstock</frontName>
                </args>
            </alertstock>
        </routers>
        <!--<layout>
            <updates>
                <ecp_alertstock>
                    <file>ecp/alertstock.xml</file>
                </ecp_alertstock>
            </updates>
        </layout>-->
    </frontend>
    <admin>
        <routers>
            <ecp_alertstock>
                <use>admin</use>
                <args>
                    <module>Ecp_Alertstock</module>
                    <frontName>ecpalertstockadmin</frontName>
                </args>
            </ecp_alertstock>
        </routers>
    </admin>
    <!--<adminhtml>
        <menu>
            <ecp_alertstock module="ecp_alertstock">
                <title>Alertstock</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_alertstock">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpalertstockadmin/adminhtml_alertstock</action>
                    </items>
                </children>
            </ecp_alertstock>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Alertstock>
                            <title>Alertstock Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Alertstock>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_alertstock>
                    <file>ecp/alertstock.xml</file>
                </ecp_alertstock>
            </updates>
        </layout>
    </adminhtml>-->
    <global>
        <models>
            <ecp_alertstock>
                <class>Ecp_Alertstock_Model</class>
            </ecp_alertstock>
            <ecp_alertstock>
                <class>Ecp_Alertstock_Model</class>
                <resourceModel>ecp_alertstock_mysql4</resourceModel>
            </ecp_alertstock>
            <ecp_alertstock_mysql4>
                <class>Ecp_Alertstock_Model_Mysql4</class>
                <entities>
                    <alertstock>
                        <table>ecp_alertstock</table>
                    </alertstock>
                </entities>
            </ecp_alertstock_mysql4>
            <productalert>
                <rewrite>
                      <Model_Observer>Ecp_Alertstock_Model_Observer</Model_Observer>
                </rewrite>
            </productalert>
        </models>
        <resources>
            <ecp_alertstock_setup>
                <setup>
                    <module>Ecp_Alertstock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_alertstock_setup>
            <ecp_alertstock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_alertstock_write>
            <ecp_alertstock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_alertstock_read>
        </resources>
        <blocks>
            <ecp_alertstock>
                <class>Ecp_Alertstock_Block</class>
            </ecp_alertstock>
        </blocks>
        <helpers>
            <ecp_alertstock>
                <class>Ecp_Alertstock_Helper</class>
            </ecp_alertstock>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <ecp_alertstock>
                <run>
                    <model>ecp_alertstock/observer::process</model>
                </run>
            </ecp_alertstock>
        </jobs>     
    </crontab>
    <default>
        <ecp_alertstock>
            <alertstock>
                <value>some value</value>
            </alertstock>
        </ecp_alertstock>
    </default>
</config>