<?xml version="1.0"?>
<config>
    <sections>
        <ecp_alertstock translate="label">
            <label>Ecp Alertstock</label>
            <tab>general</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <cronjobs translate="label">
                    <label>Cron job Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields> 
                        <cron_hours translate="label">
                            <label>Hour</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>ecp_alertstock/source_hours</source_model>
                        </cron_hours>
                       
                        <cron_minutes translate="label">
                            <label>Minute</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <source_model>ecp_alertstock/source_minutes</source_model>
                            <backend_model>ecp_alertstock/backend_cron</backend_model>
                        </cron_minutes>
                    </fields>
                </cronjobs>
            </groups>
        </ecp_alertstock>
    </sections>
</config>