<?xml version="1.0"?>
<config>
	<modules>
		<Allure_Matrixrate>
			<version>2.0.1</version>
		</Allure_Matrixrate>
	</modules>
	<global>
		<blocks>
			<matrixrate_adminhtml>
				<class>Allure_Matrixrate_Block_Adminhtml</class>
			</matrixrate_adminhtml>
		</blocks>
		<helpers>
			<matrixrate>
				<class>Allure_Matrixrate_Helper</class>
			</matrixrate>
		</helpers>
		<models>
			<matrixrate>
				<class>Allure_Matrixrate_Model</class>
			</matrixrate>
			<matrixrate_adminhtml>
				<class>Allure_Matrixrate_Model_Adminhtml</class>
			</matrixrate_adminhtml>
			<matrixrate_shipping>
				<class>Allure_Matrixrate_Model</class>
				<resourceModel>matrixrate_mysql4</resourceModel>
			</matrixrate_shipping>
			<matrixrate_mysql4>
				<class>Allure_Matrixrate_Model_Mysql4</class>
				<entities>
					<matrixrate>
						<table>shipping_matrixrate</table>
					</matrixrate>
				</entities>
			</matrixrate_mysql4>
		</models>
		<resources>
			<allure_matrixrate_setup>
				<setup>
					<module>Allure_Matrixrate</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
				<allure_matrixrate_write>
					<connection>
						<use>core_write</use>
					</connection>
				</allure_matrixrate_write>
				<allure_matrixrate_read>
					<connection>
						<use>core_read</use>
					</connection>
				</allure_matrixrate_read>
			</allure_matrixrate_setup>
		</resources>
		<sales>
			<shipping>
				<carriers>
					<matrixrate>
						<class>Allure_Matrixrate_Model_Carrier_Matrixrate</class>
					</matrixrate>
				</carriers>
			</shipping>
		</sales>
		<helpers>
			<matrixrate>
				<class>Allure_Matrixrate_Helper</class>
			</matrixrate>
		</helpers>
	</global>
	<frontend>
		<translate>
			<modules>
				<Allure_Matrixrate>
					<files>
						<default>Allure_Matrixrate.csv</default>
					</files>
				</Allure_Matrixrate>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Allure_Matrixrate before="Mage_Adminhtml">Allure_Matrixrate
						</Allure_Matrixrate>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Allure_Matrixrate>
					<files>
						<default>Allure_Matrixrate.csv</default>
					</files>
				</Allure_Matrixrate>
			</modules>
		</translate>
	</adminhtml>
	<default>
		<carriers>
			<matrixrate>
				<condition_name>package_weight</condition_name>
				<active>0</active>
				<include_virtual_price>1</include_virtual_price>
				<sallowspecific>0</sallowspecific>
				<allow_free_shipping_promotions>1</allow_free_shipping_promotions>
				<show_only_free>0</show_only_free>
				<free_method_text>Free Shipping</free_method_text>
				<cutoff_cost>50</cutoff_cost>
				<model>matrixrate_shipping/carrier_matrixrate</model>
				<name>MatrixRate</name>
				<title>Select Shipping Method</title>
				<specificerrmsg>This shipping method is currently unavailable. If
					you would like to ship using this shipping method, please contact
					us.</specificerrmsg>
				<include_free_ship_items>0</include_free_ship_items>
			</matrixrate>
		</carriers>
		<allure_matrixrate>
			<settings>
				<status>1</status>
				<allow_to_frontend>1</allow_to_frontend>
				<allow_to_backend>1</allow_to_backend>
				<allow_default_shipping_to_frontend>0</allow_default_shipping_to_frontend>
				<allow_default_shipping_to_backend>0</allow_default_shipping_to_backend>
			</settings>
		</allure_matrixrate>
	</default>
</config>
