<?xml version="1.0"?>
<config>
    <modules>
        <Allure_Translations>
            <version>1.0.0</version>
        </Allure_Translations>
    </modules>
 	<global>
		<helpers>
			<allure_translations>
				<class>Allure_Translations_Helper</class>
			</allure_translations>
		</helpers>
		<blocks>
			<allure_translations>
				<class>Allure_Translations_Block</class>
			</allure_translations>
		</blocks>
	</global>
    <frontend>
        <translate>
            <modules>
                <Allure_Translations>
                    <files>
                        <default>Allure_Translations.csv</default>
                    </files>
                </Allure_Translations>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Allure_Translations>
                    <files>
                        <default>Allure_Translations.csv</default>
                    </files>
                </Allure_Translations>
            </modules>
        </translate>
    </adminhtml>
</config>
