<?xml version="1.0"?>
<config>
    <sections>
        <report translate="label" module="ecp_reporttoemail">
            <label>Report to Email</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
            	<general translate="label">
					<label>General Store Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enable_stores translate="title">
							<label>Enable Stores for Dialy Order Summary Reports</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>appointments/adminhtml_source_stores</source_model>
							<sort_order>10</sort_order> <!-- feel free to change this value -->
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enable_stores>
				   </fields>
			   </general>		
            	
                <scheduled_reports translate="label">
                    <label>Scheduled reports</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <emails translate="label">
                            <label>List of emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Comma separate</comment>
                        </emails>
                        <time translate="label">
                            <label>Time sending email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Only hour part (in 24h format by UTC time)</comment>
                        </time>
                        <count_days translate="label">
                            <label>Count last days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>From now</comment>
                        </count_days>

                        <run_script translate="label">
                            <label>Script</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ecp_reporttoemail/script</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose Script To Run</comment>
                        </run_script>

                        <debug_enabled translate="label">
                            <label>Debug Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug_enabled>

                        <enable_updown translate="title">
                            <label>Enable Up/Down Indications</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ecp_reporttoemail/record</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Compared with previous Day Record</comment>
                        </enable_updown>
                    </fields>
                </scheduled_reports>


                <refund_report translate="label">
                    <label>Refund Report Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <emails translate="label">
                            <label>List of emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Comma separate</comment>
                        </emails>
                    </fields>
                </refund_report>

                <comparsion_report translate="label">
                    <label>Comparison Report Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status>
                            <label>Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>

                        <comparison_report_cron_time>
                            <label>Cron Expression</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><status>1</status></depends>
                        </comparison_report_cron_time>

                        <emails translate="label">
                            <label>List of emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Comma separate</comment>
                            <depends><status>1</status></depends>
                        </emails>
                    </fields>
                </comparsion_report>

            </groups>
        </report>
    </sections>
</config>