<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Teamwork_Service>
            <version>5.1.3</version>
        </Teamwork_Service>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <teamworkservice after="Mage_Adminhtml">Teamwork_Service_Adminhtml</teamworkservice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <service>
                <use>standard</use>
                <args>
                    <module>Teamwork_Service</module>
                    <frontName>service</frontName>
                </args>
            </service>
        </routers>
    </frontend>
    <global>
        <helpers>
            <teamwork_service>
                <class>Teamwork_Service_Helper</class>
            </teamwork_service>
        </helpers>
        <blocks>
            <teamwork_service>
                <class>Teamwork_Service_Block</class>
            </teamwork_service>
        </blocks>
        <models>
            <teamwork_service>
                <class>Teamwork_Service_Model</class>
                <resourceModel>service_resource</resourceModel>
            </teamwork_service>
            <service_resource>
                <class>Teamwork_Service_Model_Resource</class>
                <entities>
                    <service>
                        <table>service</table>
                    </service>
                    <service_acss>
                        <table>service_acss</table>
                    </service_acss>
                    <service_acss_level1>
                        <table>service_acss_level1</table>
                    </service_acss_level1>
                    <service_acss_level2>
                        <table>service_acss_level2</table>
                    </service_acss_level2>
                    <service_acss_level3>
                        <table>service_acss_level3</table>
                    </service_acss_level3>
                    <service_acss_level4>
                        <table>service_acss_level4</table>
                    </service_acss_level4>
                    <service_attribute_set>
                        <table>service_attribute_set</table>
                    </service_attribute_set>
                    <service_attribute_value>
                        <table>service_attribute_value</table>
                    </service_attribute_value>
                    <service_brand>
                        <table>service_brand</table>
                    </service_brand>
                    <service_category>
                        <table>service_category</table>
                    </service_category>
                    <service_channel>
                        <table>service_channel</table>
                    </service_channel>
                    <service_chq>
                        <table>service_chq</table>
                    </service_chq>
                    <service_chq_mappingfields>
                        <table>service_chq_mappingfields</table>
                    </service_chq_mappingfields>
                    <service_collection>
                        <table>service_collection</table>
                    </service_collection>
                    <service_collection_category>
                        <table>service_collection_category</table>
                    </service_collection_category>
                    <service_dcss>
                        <table>service_dcss</table>
                    </service_dcss>
                    <service_dcss_class>
                        <table>service_dcss_class</table>
                    </service_dcss_class>
                    <service_dcss_department>
                        <table>service_dcss_department</table>
                    </service_dcss_department>
                    <service_dcss_subclass1>
                        <table>service_dcss_subclass1</table>
                    </service_dcss_subclass1>
                    <service_dcss_subclass2>
                        <table>service_dcss_subclass2</table>
                    </service_dcss_subclass2>
                    <service_discount>
                        <table>service_discount</table>
                    </service_discount>
                    <service_fee>
                        <table>service_fee</table>
                    </service_fee>
                    <service_identifier>
                        <table>service_identifier</table>
                    </service_identifier>
                    <service_inventory>
                        <table>service_inventory</table>
                    </service_inventory>
                    <service_item_category>
                        <table>service_item_category</table>
                    </service_item_category>
                    <service_item_channel>
                        <table>service_item_channel</table>
                    </service_item_channel>
                    <service_item_collection>
                        <table>service_item_collection</table>
                    </service_item_collection>
                    <service_items>
                        <table>service_items</table>
                    </service_items>
                    <service_location>
                        <table>service_location</table>
                    </service_location>
                    <service_location_schedule>
                        <table>service_location_schedule</table>
                    </service_location_schedule>
                    <service_manufacturer>
                        <table>service_manufacturer</table>
                    </service_manufacturer>
                    <service_media>
                        <table>service_media</table>
                    </service_media>
                    <service_media_value>
                        <table>service_media_value</table>
                    </service_media_value>
                    <service_package>
                        <table>service_package</table>
                    </service_package>
                    <service_package_category>
                        <table>service_package_category</table>
                    </service_package_category>
                    <service_package_channel>
                        <table>service_package_channel</table>
                    </service_package_channel>
                    <service_package_collection>
                        <table>service_package_collection</table>
                    </service_package_collection>
                    <service_package_component>
                        <table>service_package_component</table>
                    </service_package_component>
                    <service_package_component_element>
                        <table>service_package_component_element</table>
                    </service_package_component_element>
                    <service_price>
                        <table>service_price</table>
                    </service_price>
                    <service_setting_mapping>
                        <table>service_setting_mapping</table>
                    </service_setting_mapping>
                    <service_setting_attribute_mapping>
                        <table>service_setting_attribute_mapping</table>
                    </service_setting_attribute_mapping>
                    <service_setting_payment>
                        <table>service_setting_payment</table>
                    </service_setting_payment>
                    <service_setting_shipping>
                        <table>service_setting_shipping</table>
                    </service_setting_shipping>
                    <service_settings>
                        <table>service_settings</table>
                    </service_settings>
                    <service_status>
                        <table>service_status</table>
                    </service_status>
                    <service_status_items>
                        <table>service_status_items</table>
                    </service_status_items>
                    <service_status_shipping>
                        <table>service_status_shipping</table>
                    </service_status_shipping>
                    <service_style>
                        <table>service_style</table>
                    </service_style>
                    <service_style_category>
                        <table>service_style_category</table>
                    </service_style_category>
                    <service_style_channel>
                        <table>service_style_channel</table>
                    </service_style_channel>
                    <service_style_collection>
                        <table>service_style_collection</table>
                    </service_style_collection>
                    <service_style_related>
                        <table>service_style_related</table>
                    </service_style_related>
                    <service_weborder>
                        <table>service_weborder</table>
                    </service_weborder>
                    <service_weborder_discount_reason>
                        <table>service_weborder_discount_reason</table>
                    </service_weborder_discount_reason>
                    <service_weborder_fee>
                        <table>service_weborder_fee</table>
                    </service_weborder_fee>
                    <service_weborder_item>
                        <table>service_weborder_item</table>
                    </service_weborder_item>
                    <service_weborder_item_fee>
                        <table>service_weborder_item_fee</table>
                    </service_weborder_item_fee>
                    <service_weborder_item_line_discount>
                        <table>service_weborder_item_line_discount</table>
                    </service_weborder_item_line_discount>
                    <service_weborder_payment>
                        <table>service_weborder_payment</table>
                    </service_weborder_payment>
                    <service_acss>
                        <table>service_acss</table>
                    </service_acss>
                    <service_acss_level1>
                        <table>service_acss_level1</table>
                    </service_acss_level1>
                    <service_acss_level2>
                        <table>service_acss_level2</table>
                    </service_acss_level2>
                    <service_acss_level3>
                        <table>service_acss_level3</table>
                    </service_acss_level3>
                    <service_acss_level4>
                        <table>service_acss_level4</table>
                    </service_acss_level4>
                    <service_attribute_set>
                        <table>service_attribute_set</table>
                    </service_attribute_set>
                    <service_attribute_value>
                        <table>service_attribute_value</table>
                    </service_attribute_value>
                    <service_brand>
                        <table>service_brand</table>
                    </service_brand>
                    <service_category>
                        <table>service_category</table>
                    </service_category>
                    <service_channel>
                        <table>service_channel</table>
                    </service_channel>
                    <service_collection>
                        <table>service_collection</table>
                    </service_collection>
                    <service_collection_category>
                        <table>service_collection_category</table>
                    </service_collection_category>
                    <service_dcss>
                        <table>service_dcss</table>
                    </service_dcss>
                    <service_dcss_class>
                        <table>service_dcss_class</table>
                    </service_dcss_class>
                    <service_dcss_department>
                        <table>service_dcss_department</table>
                    </service_dcss_department>
                    <service_dcss_subclass1>
                        <table>service_dcss_subclass1</table>
                    </service_dcss_subclass1>
                    <service_dcss_subclass2>
                        <table>service_dcss_subclass2</table>
                    </service_dcss_subclass2>
                    <service_discount>
                        <table>service_discount</table>
                    </service_discount>
                    <service_fee>
                        <table>service_fee</table>
                    </service_fee>
                    <service_identifier>
                        <table>service_identifier</table>
                    </service_identifier>
                    <service_inventory>
                        <table>service_inventory</table>
                    </service_inventory>
                    <service_item_category>
                        <table>service_item_category</table>
                    </service_item_category>
                    <service_item_channel>
                        <table>service_item_channel</table>
                    </service_item_channel>
                    <service_item_collection>
                        <table>service_item_collection</table>
                    </service_item_collection>
                    <service_items>
                        <table>service_items</table>
                    </service_items>
                    <service_location>
                        <table>service_location</table>
                    </service_location>
                    <service_location_schedule>
                        <table>service_location_schedule</table>
                    </service_location_schedule>
                    <service_manufacturer>
                        <table>service_manufacturer</table>
                    </service_manufacturer>
                    <service_media>
                        <table>service_media</table>
                    </service_media>
                    <service_media_value>
                        <table>service_media_value</table>
                    </service_media_value>
                    <service_package>
                        <table>service_package</table>
                    </service_package>
                    <service_package_category>
                        <table>service_package_category</table>
                    </service_package_category>
                    <service_package_channel>
                        <table>service_package_channel</table>
                    </service_package_channel>
                    <service_package_collection>
                        <table>service_package_collection</table>
                    </service_package_collection>
                    <service_package_component>
                        <table>service_package_component</table>
                    </service_package_component>
                    <service_package_component_element>
                        <table>service_package_component_element</table>
                    </service_package_component_element>
                    <service_price>
                        <table>service_price</table>
                    </service_price>
                    <service_setting_mapping>
                        <table>service_setting_mapping</table>
                    </service_setting_mapping>
                    <service_setting_payment>
                        <table>service_setting_payment</table>
                    </service_setting_payment>
                    <service_setting_shipping>
                        <table>service_setting_shipping</table>
                    </service_setting_shipping>
                    <service_settings>
                        <table>service_settings</table>
                    </service_settings>
                    <service_status>
                        <table>service_status</table>
                    </service_status>
                    <service_status_items>
                        <table>service_status_items</table>
                    </service_status_items>
                    <service_status_shipping>
                        <table>service_status_shipping</table>
                    </service_status_shipping>
                    <service_style>
                        <table>service_style</table>
                    </service_style>
                    <service_style_category>
                        <table>service_style_category</table>
                    </service_style_category>
                    <service_style_channel>
                        <table>service_style_channel</table>
                    </service_style_channel>
                    <service_style_collection>
                        <table>service_style_collection</table>
                    </service_style_collection>
                    <service_style_related>
                        <table>service_style_related</table>
                    </service_style_related>
                    <service_weborder>
                        <table>service_weborder</table>
                    </service_weborder>
                    <service_weborder_discount_reason>
                        <table>service_weborder_discount_reason</table>
                    </service_weborder_discount_reason>
                    <service_weborder_fee>
                        <table>service_weborder_fee</table>
                    </service_weborder_fee>
                    <service_weborder_item>
                        <table>service_weborder_item</table>
                    </service_weborder_item>
                    <service_weborder_item_fee>
                        <table>service_weborder_item_fee</table>
                    </service_weborder_item_fee>
                    <service_weborder_item_line_discount>
                        <table>service_weborder_item_line_discount</table>
                    </service_weborder_item_line_discount>
                    <service_weborder_payment>
                        <table>service_weborder_payment</table>
                    </service_weborder_payment>
                    <service_acss>
                        <table>service_acss</table>
                    </service_acss>
                    <service_acss_level1>
                        <table>service_acss_level1</table>
                    </service_acss_level1>
                    <service_acss_level2>
                        <table>service_acss_level2</table>
                    </service_acss_level2>
                    <service_acss_level3>
                        <table>service_acss_level3</table>
                    </service_acss_level3>
                    <service_acss_level4>
                        <table>service_acss_level4</table>
                    </service_acss_level4>
                    <service_attribute_set>
                        <table>service_attribute_set</table>
                    </service_attribute_set>
                    <service_attribute_value>
                        <table>service_attribute_value</table>
                    </service_attribute_value>
                    <service_brand>
                        <table>service_brand</table>
                    </service_brand>
                    <service_category>
                        <table>service_category</table>
                    </service_category>
                    <service_channel>
                        <table>service_channel</table>
                    </service_channel>
                    <service_collection>
                        <table>service_collection</table>
                    </service_collection>
                    <service_collection_category>
                        <table>service_collection_category</table>
                    </service_collection_category>
                    <service_dcss>
                        <table>service_dcss</table>
                    </service_dcss>
                    <service_dcss_class>
                        <table>service_dcss_class</table>
                    </service_dcss_class>
                    <service_dcss_department>
                        <table>service_dcss_department</table>
                    </service_dcss_department>
                    <service_dcss_subclass1>
                        <table>service_dcss_subclass1</table>
                    </service_dcss_subclass1>
                    <service_dcss_subclass2>
                        <table>service_dcss_subclass2</table>
                    </service_dcss_subclass2>
                    <service_discount>
                        <table>service_discount</table>
                    </service_discount>
                    <service_fee>
                        <table>service_fee</table>
                    </service_fee>
                    <service_identifier>
                        <table>service_identifier</table>
                    </service_identifier>
                    <service_inventory>
                        <table>service_inventory</table>
                    </service_inventory>
                    <service_item_category>
                        <table>service_item_category</table>
                    </service_item_category>
                    <service_item_channel>
                        <table>service_item_channel</table>
                    </service_item_channel>
                    <service_item_collection>
                        <table>service_item_collection</table>
                    </service_item_collection>
                    <service_items>
                        <table>service_items</table>
                    </service_items>
                    <service_location>
                        <table>service_location</table>
                    </service_location>
                    <service_location_schedule>
                        <table>service_location_schedule</table>
                    </service_location_schedule>
                    <service_manufacturer>
                        <table>service_manufacturer</table>
                    </service_manufacturer>
                    <service_media>
                        <table>service_media</table>
                    </service_media>
                    <service_media_value>
                        <table>service_media_value</table>
                    </service_media_value>
                    <service_package>
                        <table>service_package</table>
                    </service_package>
                    <service_package_category>
                        <table>service_package_category</table>
                    </service_package_category>
                    <service_package_channel>
                        <table>service_package_channel</table>
                    </service_package_channel>
                    <service_package_collection>
                        <table>service_package_collection</table>
                    </service_package_collection>
                    <service_package_component>
                        <table>service_package_component</table>
                    </service_package_component>
                    <service_package_component_element>
                        <table>service_package_component_element</table>
                    </service_package_component_element>
                    <service_price>
                        <table>service_price</table>
                    </service_price>
                    <service_setting_mapping>
                        <table>service_setting_mapping</table>
                    </service_setting_mapping>
                    <service_setting_payment>
                        <table>service_setting_payment</table>
                    </service_setting_payment>
                    <service_setting_rich_content>
                        <table>service_setting_rich_content</table>
                    </service_setting_rich_content>
                    <service_setting_shipping>
                        <table>service_setting_shipping</table>
                    </service_setting_shipping>
                    <service_settings>
                        <table>service_settings</table>
                    </service_settings>
                    <service_status>
                        <table>service_status</table>
                    </service_status>
                    <service_status_items>
                        <table>service_status_items</table>
                    </service_status_items>
                    <service_status_shipping>
                        <table>service_status_shipping</table>
                    </service_status_shipping>
                    <service_style>
                        <table>service_style</table>
                    </service_style>
                    <service_style_category>
                        <table>service_style_category</table>
                    </service_style_category>
                    <service_style_channel>
                        <table>service_style_channel</table>
                    </service_style_channel>
                    <service_style_collection>
                        <table>service_style_collection</table>
                    </service_style_collection>
                    <service_style_related>
                        <table>service_style_related</table>
                    </service_style_related>
                    <service_weborder>
                        <table>service_weborder</table>
                    </service_weborder>
                    <service_weborder_discount_reason>
                        <table>service_weborder_discount_reason</table>
                    </service_weborder_discount_reason>
                    <service_weborder_fee>
                        <table>service_weborder_fee</table>
                    </service_weborder_fee>
                    <service_weborder_item>
                        <table>service_weborder_item</table>
                    </service_weborder_item>
                    <service_weborder_item_fee>
                        <table>service_weborder_item_fee</table>
                    </service_weborder_item_fee>
                    <service_weborder_item_line_discount>
                        <table>service_weborder_item_line_discount</table>
                    </service_weborder_item_line_discount>
                    <service_weborder_payment>
                        <table>service_weborder_payment</table>
                    </service_weborder_payment>
                    <service_media_dam_style>
                        <table>service_media_dam_style</table>
                    </service_media_dam_style>
                    <service_media_dam_image>
                        <table>service_media_dam_image</table>
                    </service_media_dam_image>
                </entities>
            </service_resource>
        </models>
        <resources>
            <service_setup>
                <setup>
                    <module>Teamwork_Service</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </service_setup>
            <service_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </service_write>
            <service_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </service_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <teamwork_service>
                            <title>Teamwork</title>
                            <sort_order>90</sort_order>
                            <children>
                                <staging_table>
                                    <title>Staging tables</title>
                                    <sort_order>10</sort_order>
                                </staging_table>
                                <chq_mapping>
                                    <title>Mapping CHQ Fields</title>
                                    <sort_order>20</sort_order>
                                </chq_mapping>
                                <rich_media>
                                    <title>Mapping rich media</title>
                                    <sort_order>30</sort_order>
                                </rich_media>
                                <chq_attributeset>
                                    <title>Mapping configurable attributes</title>
                                    <sort_order>40</sort_order>
                                </chq_attributeset>
                                <modules_info>
                                    <title>About</title>
                                    <sort_order>50</sort_order>
                                </modules_info>
                            </children>
                        </teamwork_service>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <teamwork_service>
                                            <title>Teamwork Service</title>
                                        </teamwork_service>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <menu>
            <teamwork_service module="teamwork_service">
                <title>Teamwork</title>
                <sort_order>90</sort_order>
                <children>
                    <staging_table translate="title" module="teamwork_service">
                        <title>Staging tables</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/teamworkservice_service</action>
                    </staging_table>
                    <chq_mapping translate="title" module="teamwork_service">
                        <title>Mapping CHQ Fields</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml/teamworkservice_chqmapping</action>
                    </chq_mapping>
                    <rich_media translate="title" module="teamwork_service">
                        <title>Mapping rich media</title>
                        <sort_order>30</sort_order>
                        <action>adminhtml/teamworkservice_richmedia</action>
                    </rich_media>
                    <chq_attributeset translate="title" module="teamwork_service">
                        <title>Mapping configurable attributes</title>
                        <sort_order>40</sort_order>
                        <action>adminhtml/teamworkservice_confattrmap</action>
                    </chq_attributeset>
                    <modules_info translate="title" module="teamwork_service">
                        <title>About</title>
                        <sort_order>50</sort_order>
                        <action>adminhtml/teamworkservice_modulesinfo</action>
                    </modules_info>
                </children>
            </teamwork_service>
        </menu>
    </adminhtml>
    <teamwork_service>
        <api_user>
            <username>service</username>
            <default_key>service</default_key>
            <role>teamwork</role>
        </api_user>
        <temp_dir>var/xmlservice</temp_dir>
        <staging_url>adminhtml/teamworktransfer_index/staging/</staging_url>
        <status_url>adminhtml/teamworktransfer_index/status/</status_url>
        <statusoms_url>adminhtml/teamworktransfer_index/statusoms/</statusoms_url>
        <is_local_staging_url>1</is_local_staging_url>
        <is_local_status_url>1</is_local_status_url>
        <is_async_type>1</is_async_type>
        <dam_update_url>adminhtml/teamworktransfer_dam/update/</dam_update_url>
    </teamwork_service>
    <crontab>
        <jobs>
            <teamwork_service_minimize_size>
                <schedule>
                    <cron_expr>0 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>teamwork_service/log_minimizer::archive</model>
                </run>
            </teamwork_service_minimize_size>
        </jobs>
    </crontab>
    <default>
        <teamwork_service>
            <debug>
                <log_api_requests>1</log_api_requests>
                <log_api_responses>1</log_api_responses>
                <log_api_minimize_size>80</log_api_minimize_size>
            </debug>
            <dam>
                <enabled>0</enabled>
                <token backend_model="adminhtml/system_config_backend_encrypted"></token>
            </dam>
        </teamwork_service>
    </default>
</config>
