<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooLocation>
            <version>0.0.2</version>
        </Ebizmarts_BakerlooLocation>
    </modules>
    <global>
        <blocks>
            <bakerloo_location>
                <class>Ebizmarts_BakerlooLocation_Block</class>
            </bakerloo_location>
        </blocks>
        <helpers>
            <bakerloo_location>
                <class>Ebizmarts_BakerlooLocation_Helper</class>
            </bakerloo_location>
        </helpers>
        <models>
            <bakerloo_location>
                <class>Ebizmarts_BakerlooLocation_Model</class>
                <resourceModel>bakerloo_location_mysql4</resourceModel>
            </bakerloo_location>
            <bakerloo_location_mysql4>
                <class>Ebizmarts_BakerlooLocation_Model_Mysql4</class>
                <entities>
                    <store>
                        <table>bakerloo_location_stores</table>
                    </store>
                </entities>
            </bakerloo_location_mysql4>
        </models>
        <resources>
            <bakerloo_location_setup>
                <setup>
                    <module>Ebizmarts_BakerlooLocation</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bakerloo_location_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <bakerloo_location>
                    <file>bakerloo_location.xml</file>
                </bakerloo_location>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ebizmarts_BakerlooLocation>
                    <files>
                        <default>Ebizmarts_BakerlooLocation.csv</default>
                    </files>
                </Ebizmarts_BakerlooLocation>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bakerloo_location after="Mage_Adminhtml">Ebizmarts_BakerlooLocation_Adminhtml</bakerloo_location>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
