<?xml version="1.0" encoding="utf-8"?>
<config>
	<modules>
		<Allure_Customer>
            <name>Allure Customer</name>
			<version>1.0.1</version>
		</Allure_Customer>
	</modules>
	<global>
		<models>
				<allure_customer>
					<class>Allure_Customer_Model</class>
				</allure_customer>
		</models>
		<events>
            <admin_system_config_changed_section_customer>
                <observers>
                    <allure_customer>
                        <type>singleton</type>
                        <class>allure_customer/observer</class>
                        <method>saveDefaultCustomerWebsite</method>
                    </allure_customer>
                </observers>
            </admin_system_config_changed_section_customer>
        </events>
        <resources>
            <allure_customer_setup>
                <setup>
                    <module>Allure_Customer</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
			</allure_customer_setup>
        </resources>
	</global>
	<frontend>
		<routers>
			<allure_customer>
				<use>standard</use>
				<args>
					<module>Allure_Customer</module>
					<frontName>customers</frontName>
				</args>
			</allure_customer>
		</routers>
		<layout>
            <updates>
                <customer module="Mage_Customer">
                    <file>allure/customer.xml</file>
                </customer>
            </updates>
        </layout>
	</frontend>
	 <crontab>
	<jobs>
		<!-- <allure_customer_schedule>
			<schedule>
				<cron_expr>* 12 * * *</cron_expr>
			</schedule>
			<run>
				<model>allure_customer/observer::setcustomerStatusActive</model>
			</run>
		</allure_customer_schedule> -->
		<allure_wholesale_schedule>
			<schedule>
				<cron_expr>*/30 * * * *</cron_expr>
			</schedule>
			<run>
				<model>allure_customer/observer::setcustomerGroup</model>
			</run>
		</allure_wholesale_schedule>
	</jobs>
	</crontab>
</config>