<?xml version="1.0"?>
<config>
	<modules>
		<Allure_Indexer>
			<name>Allure - Indexer Updates</name>
			<version>0.0.1</version>
			<depends>
				<Allure_Core />
			</depends>
		</Allure_Indexer>
	</modules>
	<global>

		<models>
			<allure_indexer>
				<class>Allure_Indexer_Model</class>
			</allure_indexer>

			<catalog_resource>
				<rewrite>
					<product_indexer_eav_source>Allure_Indexer_Model_Resource_Rewrite_Catalog_Product_Indexer_Eav_Source
					</product_indexer_eav_source>
					<product_indexer_price_default>Allure_Indexer_Model_Resource_Rewrite_Catalog_Product_Indexer_Price_Default
					</product_indexer_price_default>
				</rewrite>
			</catalog_resource>

		</models>

	</global>

</config>
