<?xml version="1.0"?>
<config>
  <modules>
    <Allure_BackorderRecord>
      <version>0.1.0</version>
    </Allure_BackorderRecord>
  </modules>
  <global>
    <blocks>
      <backorderrecord>
        <class>Allure_BackorderRecord_Block</class>
      </backorderrecord>
    </blocks>
    <helpers>
      <backorderrecord>
        <class>Allure_BackorderRecord_Helper</class>
      </backorderrecord>
    </helpers>
    <models>
    <backorderrecord>
      <class>Allure_BackorderRecord_Model</class>
    </backorderrecord>
    </models>
  </global>
  <crontab>
  <jobs>
  <backorder_report_cron>
    <schedule>
      <cron_expr>0 7 * * *</cron_expr>
    </schedule>
    <run>
      <model>backorderrecord/cron::getBackorderRecord</model>
    </run>
  </backorder_report_cron>
  </jobs>
  </crontab>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <backorderrecord>
                      <title>back order record</title>
                    </backorderrecord>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <backorderrecord before="Mage_Adminhtml">Allure_BackorderRecord_Adminhtml</backorderrecord>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <backorderrecord>
          <file>backorderrecord.xml</file>
        </backorderrecord>
      </updates>
    </layout>
  </adminhtml>
</config> 