<?xml version="1.0" encoding="UTF-8"?>

<config>
  <sections>
    <zaius_engage translate="label" module="zaius_engage">
      <label>Zaius Engage</label>
      <tab>sales</tab>
      <frontend_type>text</frontend_type>
      <sort_order>9999</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <zaius_config translate="label">
          <label>Zaius Engage</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <tracking_id translate="label">
              <label>Tracking Identifier</label>
              <frontend_type>text</frontend_type>
              <sort_order>9</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </tracking_id>
            <cart_abandon_secret_key translate="label">
              <label>Cart Abandonment Secret Key</label>
              <frontend_type>text</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_abandon_secret_key>
            <global_id_prefix translate="label">
              <label>Global ID Prefix</label>
              <frontend_type>text</frontend_type>
              <sort_order>11</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </global_id_prefix>
            <zaius_newsletter_list_id translate="label">
              <label>Zaius Newsletter List ID</label>
              <frontend_type>text</frontend_type>
              <sort_order>12</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </zaius_newsletter_list_id>
            <use_magento_customer_id translate="label">
              <label>Use Magento Customer ID</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>13</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </use_magento_customer_id>
            <track_product_listings translate="label">
              <label>Track Product Listing Views</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>15</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </track_product_listings>
            <track_orders_on_frontend translate="label">
              <label>Track Orders on Frontend</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>16</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </track_orders_on_frontend>
            <collect_all_product_attributes translate="label">
              <label>Collect All Product Attributes</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>17</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </collect_all_product_attributes>
          </fields>
        </zaius_config>
      </groups>
    </zaius_engage>
  </sections>
</config>
