.categorypath-discover-maria-tash-press-html-w .press-list img{
	float:left;
	width:287px;
	height:370px;
}
.categorypath-discover-maria-tash-press-html-w .col-main {
	margin: 0 auto;
	height:auto;
	width:1010px;
}

.categorypath-discover-maria-tash-press-html-w .press-list{
	float:left;
	width:100%;
	height:auto;
}
.categorypath-discover-maria-tash-press-html-w .press-list ul {
	float:left;
	width:100%;
	height:auto;
	
}
.categorypath-discover-maria-tash-press-html-w .press-list li{
	float:left;
	height:370px;
	margin:0;
	/*width: 320px;*/
        margin:0 48px 48px 0;
}
/*.categorypath-discover-maria-tash-press-html-w .press-list li:nth-child(3) {  margin-right: 0 !important; background: #f00;}*/
.categorypath-discover-maria-tash-press-html-w .press-list img{
	float:left;
	width:287px;
	height:370px;
        background: #CCC;
}
.categorypath-discover-maria-tash-press-html-w .sharrre {
	float: right;
	
} 

.categorypath-discover-maria-tash-press-html-w .press > p {
	color: #8f6e39;
	float: none;
	clear: both;
	display: none;
	font-size: 13px;
	font-weight:bold;
}
.showtitle .press > p {
	display: block;
	line-height:18px;
	padding:8px 23px 2px 19px;
}
.category-press .presspopup-bottom .number_img{padding-left:18px;line-height:26px;font-size:13px;}

.categorypath-discover-maria-tash-press-html-w #facebook1 {
	display: none;
} 
/*.fancybox-inner .social-mt iframe {
	width: 68px !important;
}*/
.catalog-category-view.category-press .page-title{margin-top:20px;margin-bottom:9px;}
#emailToFriendOverlay {display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 8020; background: url('fancybox/fancybox_overlay.png')}
.iframe-close{float:right;background-image: url("../images/fancybox_sprite.png");height:25px;width:26px;position:absolute;right:-23px;top:-13px;}
.press_email .page-title h5{margin-top:10px !important;margin-bottom:0px !important;}
