/*==========================TATTOO=============================*/

.ecp-tattoo-index-index .col-main {
    margin-bottom: 25px;
}

#tatoo_wrapper {
    background: #dedede;
    margin: 0 auto;
    width: 960px;
}

#tatoo_wrapper h1 {
    padding-bottom: 10px;
    padding-top: 17px;
}

#tatoo_wrapper h3 {
    padding: 4px 10px;
    text-transform: uppercase;
    color: #3F4048;
    font-family: dinmittelschriftregular;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    margin: 0 0 15px;

}

#tatoo_wrapper .block {
    background: none repeat scroll 0 0 #D1D1D1;
    margin: 0;

}

/*=====================  Left Col  ===================
====================================================*/
/*
#tatoo_col_left .social-mt .emailBtn {
	padding-top:1px;
    width:auto;
    padding-bottom: 2px
}
#tatoo_col_left .social-mt  #mail31 .emailBtn{ margin:0;}
*/

.social-mt > div#pinit29{
	margin-right:15px;
}
#tatoo_col_left .social-mt .printBtn {
	padding-bottom:1px;
    width:auto;
}
.ecp-tattoo-index-index #tatoo_col_left .social-mt .printBtn img{margin-right:0px;}
#tatoo_col_left .social-mt #print31 .printBtn{
	margin: 10px 0 0 -5px !important;

}
.ecp-tattoo-index-index .sharrre .button,
.ecp-tattoo-index-index .social-mt > div,
.ecp-tattoo-index-index .social-media-divs > div,
.ecp-tattoo-index-index .social-mt > a,
.ecp-tattoo-index-index .social-media-divs > a,
.ecp-tattoo-index-index .social-mt .social-media-divs > a,
.ecp-tattoo-index-index .social-mt > iframe, 
.ecp-tattoo-index-index .social-media-divs > iframe {
    margin:0 0 0 5px !important;
}
/*
.ecp-tattoo-index-index .social-mt > div,
.ecp-tattoo-index-index .social-mt > a,
.ecp-tattoo-index-index .social-mt .twitter-tweet-button{
    margin-right:4px !important;
}
.ecp-tattoo-index-index .social-mt .twitter-tweet-button {
    margin-right:1px !important;
}
.fancybox-title-inside-wrap .social-mt > div,
.fancybox-title-inside-wrap .social-mt > a,
.fancybox-title-inside-wrap .social-mt .twitter-tweet-button {
    margin-right:0 !important;
}
.ecp-tattoo-index-index  #tatoo_col_left .social-mt > div.fb-like.fb_edge_widget_with_comment.fb_iframe_widget{margin-right:2px;}
.ecp-tattoo-index-index  #tatoo_col_left .social-mt .twitter-share-button .hcount .count-o{margin-left:2px !important;}
*/
#tatoo_col_left .social-mt{width:100%;padding-top:6px;}
#tatoo_col_left .social-mt .tatoo_email,#tatoo_col_left .social-mt .tatoo_pint,#tatoo_col_left .social-mt .tatoo_print{width:auto;float:left;}
#tatoo_col_left .social-mt .tatoo_print .printBtn img,
#tatoo_col_left .social-mt .tatoo_email .emailBtn img {
    margin-right:0;
}
#tatoo_col_left .social-mt .tatoo_print .printBtn,
#tatoo_col_left .social-mt .tatoo_email .emailBtn {
    padding-right:3px !important;
}
#tatoo_col_left .social-mt .tatoo_print .printBtn {
    padding-left:3px !important;
}
#tatoo_col_left .social-mt .tatoo_email .emailBtn img {
  margin:3px 0 0 0;
}
/*
#tatoo_col_left .social-mt  .fb-like {
    margin-left:0;
}
#tatoo_col_left .social-mt .fb-like span{ width:45px !important; }
*/
#tatoo_col_left .social-mt .pluginButtonSmall{ padding:0 3px 2px 5px !important;}
#tatoo_col_left {
    width: 240px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#tatoo_col_left img {
    max-width: 234px;
}

#tatoo_col_left .block {
    margin-top: 20px;
}

#tatoo_col_left p {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

#tatoo_col_left span {
    /*float:left;*/
    clear: left;
    margin: 0;
    padding: 0 4px;
}
#tatoo_col_left .social-mt span{
	padding:0 !important;
	}
#tatoo_col_left .social-mt .tatoo_pint span{padding-left:2px !important;display:none;}
.dir_tattoo, .phone_tattoo, .mail_tattoo, .hour_tattoo {
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

/*.center_col_tatoo {
    margin:0 10px;
}*/

/*=====================  Main Col  ===================
====================================================*/

#tatoo_col_main {
    float: left;
    width: 435px;
    margin-left: 10px;
    margin-right: 10px;

}

#tatoo_col_main p {
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#tatoo_col_main h4 {
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
}

.tatoo_article p {
    font-size: 13px;
    text-align: justify;
    line-height: 21px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.tatoo_article {
    /*border-bottom: 1px solid #333;
    padding:10px 0;*/
}

.tatoo_article h5 {
    /*border-bottom:1px solid #333;*/
    margin-bottom: 4px;
    margin-top: -8px;
}

/*=====================  Right Col  ===================
====================================================*/

#tatoo_col_right {
    float: left;
    width: 245px;
    margin-left: 10px;
}

#tatoo_col_right .block {
    height: 60px;
    width: 244px;
    float: left;
    margin: 0;
    /*background:url(../images/thumb_artist.jpg) no-repeat 0 0 #D1D1D1 ;*/
}

#tatoo_col_right .block h3 {
    /*    background: none repeat scroll 0 0 red;*/
    float: right;
    line-height: 20px;
    /*    margin-left: 65px;*/
    margin-top: 8px;
    width: 155px;
}

#tatoo_col_right .block .tattoo-crop-image {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
}

#tatoo_col_right .block .tattoo-crop-image img {
    max-width: 60px;
    max-height: 60px;
}

#tatoo_col_right .block .view-other-artists {
    float: right;
}

.tatoo_form h6 {
    padding: 0;
    text-transform: uppercase;
    color: #3F4048;
    font-family: dinmittelschriftregular;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    width: 190px;
    margin: 14px 0 20px 26px;
    padding: 0;
}

#tatoo_col_right h3 span {
    padding-right: 10px;
}

.tatoo_right_title img {
    width: 63px;
    height: 63px;
    float: left;
}

.tatoo_right_form {
    width: 244px;
    float: left;
    background: #d1d1d1;
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 16px;
}

.tatoo_form {
    margin: 0;
}

.tatoo_right_form .input-text {
    width: 180px;
    height: 20px;
    margin: 5px 0 6px 26px;
    border: none;
    padding: 0 5px;
}

.tatoo_right_form .multi {
    width: 178px;
    height: 122px;
    margin: 5px 0 0 26px;
    border: none;
    resize: none;
    background: #ffffff;

}

.tatoo_right_form .button {
    float: right;
    background: linear-gradient(to bottom, #A78B58 0%, #D2C092 100%) repeat scroll 0 0 transparent;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, rgb(167, 139, 88)), color-stop(1, rgb(210, 192, 146)));

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa78b58,endColorstr=#ffd2c092,GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffa78b58, endColorstr=#ffd2c092, GradientType=0);

    border: medium none;
    border-radius: 2px 2px 2px 2px;

    padding: 5px 10px;
    font-family: dinmittelschriftregular;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
    margin-top: 19px;
    margin-right: 26px;
}

.tatoo_right_form span {
    font-size: 12px;
    float: none;
    padding-left: 26px;
}
#success span {
    font-size: 12px;
    float: none;
}

.tatoo_form span.mini {
    font-size: 11px !important;
    float: left;
    clear: left;
    margin: 5px 0 0;
    padding: 0;
    width: 100%;
}

.tatoo_form span.mini2 {
    font-size: 11px;
    float: left;
    clear: left;
    margin-top: 30px;
}

/*=====================  Banner  ===================
====================================================*/
#tatoo_wrapper .clear {
    clear: both;
}

.tatoo_banner {
    height: auto;
    width: 1100px;
    margin: 10px auto;
    clear: both;
    text-align: center;
    background: #cfcfd0;
}

.tatoo_banner img {
    max-width: 960px;
}

.tatoo_banner span {
    display: none;
}

/*=====================  Tabs ===================
====================================================*/
#tatoo_wrapper_tabs {
    width: 960px;
    margin: 0 auto 28px;
}

#tatoo_wrapper_tabs .tabs {
    background: none repeat scroll 0 0 #D1D1D1;
    margin: 19px 0;
    margin-bottom: 0;
    overflow: hidden;
}

#tatoo_wrapper_tabs .tabs li {
    float: left;
    font-size: 14px;
    line-height: 0.8em;
    margin-right: -2px;
    padding: 2px 0 0;
}

#tatoo_wrapper_tabs .tabs a {
    color: #3F4048;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    width: auto;
}

#tatoo_wrapper_tabs .tabs li h4 {
    color: #3F4048;
    display: block;
    font-size: 14px;
    margin: 0 0 0 -25px;
    padding-right: 30px;
    padding-top: 10px;
    text-transform: uppercase;
    width: auto;
}

#tatoo_wrapper_tabs .tabs li a:hover,
#tatoo_wrapper_tabs .tabs li a.active {
    background: none repeat scroll 0 0 #DEDEDE;
    box-shadow: 0 0 3px 0 #666666;
    text-decoration: none;
}

ul.tatto_grid {
    padding: 0;
    width: 961px;
    margin: 0 auto;
}

.tatoo_right_form .validation-advice {
    margin-left: 25px;
    margin-right: 28px;
    min-width: 190px;
    text-align: right;
}

.tatto_grid li {
    display: inline-block;
    padding: 4px;
    position: relative;
    vertical-align: top;
    width: 234px;
    height: 305px;
    overflow: hidden;
    margin: 0 0 6px;
	text-align: center;
}

.tatto_grid li:nth-child(1n) {
    margin-left: 0;
    padding-left: 0;
}

.tatto_grid li:nth-child(4n) {
    margin-right: 0;
}

/*
.tatto_grid img {
    width: 234px;
}
*/

.tatto_grid li img:hover {
    opacity: 0.7;

}

/*===========================END==TATTOO======================================*/



.ecp-tattoo-index-index #twitter-widget-0 .hcount .count-o{
	margin:0 0 0 3px !important;
	min-width:13px !important;
}	
.hcount .count-o {
	margin:0 0 0 3px !important;
	min-width:13px !important;
	}

@font-face {
    font-family: 'dinmittelschriftregular';
    /*src: url('../fonts/mt/din1451alt-webfont.eot');*/
	src: url('../fonts/mt/din1451alt-webfont.eot');
	
    src: url('../fonts/mt/din1451alt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mt/din1451alt-webfont.woff') format('woff'),
         url('../fonts/mt/din1451alt-webfont.ttf') format('truetype'),
         url('../fonts/mt/din1451alt-webfont.svg#dinmittelschriftregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	font-family: Arial,Helvetica,sans-serif; color:#3F4048;
	 font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */
}

body {
	 margin: 0;
	 position:relative;
	 padding:0;
	 background:#dedede;
}

ul, ol, dl, dt, dd {
    list-style: none outside none;
}



h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0 0 10px;
	clear: both;
}




h1 {
    color: #3F4048;
    font-family: dinmittelschriftregular;
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
}

h1, p {
    margin: 0;
    padding: 0;
}
.categorypath-celebrity-clientele-html .col-main > h1 {
    margin: 21px 0 18px;
}


/*COMIENZAN ESTILOS - ARG */

.tattoo-1 {}
.tattoo-1 h1 { margin:18px auto 17px; width:1100px;}
.tattoo-1 h3  {
		padding:7px 10px;
		text-transform:uppercase;
		color: #3F4048;
   		font-family: dinmittelschriftregular;
		font-weight:normal;
		font-size:17px;
		text-align:left;
		margin: 0 0 16px;
	}
.tattoo-1 p  { font-size:13px;padding: 0 0 10px; }	

	
	

.ban_tattoo-1 { width:1100px; text-align:center; margin: 0 auto;}

.col-tattoo-1 { width: 1100px; margin: 20px auto 0; overflow: hidden; color: #3f4048; }
.col-tattoo-1 h3 { font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; text-transform: none; }
.col-tattoo-1 p { padding: 0 0 15px 0; }
.col-left-tattoo-1 { width: 530px; float: left; padding-right: 20px; }
.celebrating-tattoo-1 { padding-bottom: 10px; line-height: 18px; }
.services-tattoo-1 { padding: 0 0 20px 0; border-bottom: 1px solid #d5d5d5; line-height: 22px; }
.services-tattoo-1 .services-divider { width: 450px; height: 1px; background: #d5d5d5; float: right; clear: both; }
.services-tattoo-1 ul { list-style-image: url(../images/tattoo-bullet.png); padding-left: 20px; }
.block-rating-tattoo-1 { padding: 20px 0; border-bottom: 1px solid #d5d5d5; }
.block-rating-tattoo-1 h4 { font-family: Verdana; font-weight: normal; font-size: 16px; line-height: 40px; margin: 0; }
.block-rating-tattoo-1 .rate { margin-bottom: 5px; }
.block-rating-tattoo-1 .reviews { color: #9d8751; padding: 0 2px 0; }
.block-rating-tattoo-1 .reviews img { margin-top: -2px; }
.block-rating-tattoo-1 .location { font-family: Verdana, Geneva, sans-serif; font-size: 12px; line-height: 17px; }
.address-tattoo-1 { padding-top: 20px; padding-bottom:20px; position: relative; border-bottom: 1px solid #D5D5D5;}
.address-tattoo-1 h4 { font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 13px; line-height: 18px; margin: 0 0 5px 0; color: #3F99C4; }
.address-tattoo-1 h4 + p { font-size: 11px; margin: 0; color: #999; }
.address-tattoo-1 p { font-size: 12px; padding: 0 0 2px 0; margin-top: 0 }
.address-tattoo-1 .city-search-rating p { float: right; color: #3F99C4; }
.address-tattoo-1 .city-search-rating { position: absolute; top: 20px; right: 0; width: 100px; }
.artists-tattoo-1 { border-bottom: 1px solid #d5d5d5; }
.artists-tattoo-1 img { padding: 0; margin: 0 0 10px 0; }
.artists-tattoo-1 a {  margin: 0; padding:0; }
.artists-tattoo-1 .artist-tattoo {  width: 234px; float: left; margin: 10px 30px 10px 0; }
.artists-tattoo-1 .artist-tattoo a:hover {text-decoration:none;}
.artists-tattoo-1 .artist-tattoo span { width: 214px; display: block; background: #d1d1d1; padding: 0 10px; font-size: 13px; line-height: 35px; color:#38393c;}
.artists-tattoo-1 .artist-tattoo span:hover {color:#906E39;}
.hours-tattoo-1 { line-height: 18px; }
.ban-gift-tatto-1 { width: 1100px; margin-top: 30px; float: left; background: #cfcfd0; }
.ban-gift-tatto-1 p { width: 960px; margin: 0 auto; padding: 0; }





.col-right-tattoo-1 { width: 529px; float: right; padding-left: 20px; border-left: 1px solid #d0d0d1;}
.col-right-tattoo-1 h2 {
		color: #3F4048;
   		font-family: Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:17px;
		text-align:left;
		margin: 0 0 10px;
		text-transform:none;
}
.col-right-tattoo-1 h3 {padding:10px 0; margin:0; text-transform:none;}
.col-right-tattoo-1 p { font-size:13px; margin:0; float:left; width: 100%; line-height:8px;}
.col-right-tattoo-1 p.spacer-tattoo-1 {margin-top:10px;}

.categorypath-celebrity-clientele-html .col-main > h1 {
    margin: 19px 0 18px;
}

