<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ecp_Newsletter>
            <version>0.1.0</version>
        </Ecp_Newsletter>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ecp_newsletter>
                    <file>ecp/newsletter.xml</file>
                </ecp_newsletter>
            </updates>
        </layout>
        <routers>
            <ecp_newsletter>
                <use>standard</use>
                <args>
                    <module>Ecp_Newsletter</module>
                    <frontName>ecpnewsletter</frontName>
                </args>
            </ecp_newsletter>
            <newsletter>
                <args>
                    <modules>
                        <Ecp_Newsletter before="Mage_Newsletter">Ecp_Newsletter</Ecp_Newsletter>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <global>
        <blocks>
            <ecp_newsletter>
                <class>Ecp_Newsletter_Block</class>
            </ecp_newsletter>
        </blocks>
        <resources>
            <ecp_newsletter_setup>
                <setup>
                    <module>Ecp_Newsletter</module>
                </setup>
            </ecp_newsletter_setup>
        </resources>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Ecp_Newsletter_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <helpers>
            <ecp_newsletter>
                <class>Ecp_Newsletter_Helper</class>
            </ecp_newsletter>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ecp_newsletter>
                                            <title>ECP newsletter - All</title>
                                        </ecp_newsletter>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ecp_newsletter>
            <newsletter_subscription_transactional_mails>
                <enabled>1</enabled>
            </newsletter_subscription_transactional_mails>
        </ecp_newsletter>
    </default>
</config>