<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Tryon>
        <version>0.1.1</version>
        </Ecp_Tryon>
    </modules>
    <frontend>
        <routers>
            <ecp_tryon>
                <use>standard</use>
                <args>
                    <module>Ecp_Tryon</module>
                    <frontName>ecptryon</frontName>
                </args>
            </ecp_tryon>
        </routers>
        <layout>
            <updates>
                <ecp_tryon>
                    <file>ecp/tryon.xml</file>
                </ecp_tryon>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_tryon>
                <use>admin</use>
                <args>
                    <module>Ecp_Tryon</module>
                    <frontName>ecptryon</frontName>
                </args>
            </ecp_tryon>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms module="ecp_tryon">
                <sort_order>71</sort_order>               
                <children>
                    <menu module="ecp_tryon">
                        <title>Tryon</title>
                        <sort_order>0</sort_order>
                        <action>ecptryon/adminhtml_tryon</action>
                    </menu>
                </children>
            </cms>
        </menu>        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Tryon>
                            <title>Tryon Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Tryon>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_tryon>
                    <file>ecp/tryon.xml</file>
                </ecp_tryon>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <ecp_tryon>
                <class>Ecp_Tryon_Model</class>
                <resourceModel>ecp_tryon_mysql4</resourceModel>
            </ecp_tryon>
            <ecp_tryon_mysql4>
                <class>Ecp_Tryon_Model_Mysql4</class>
                <entities>
                    <tryon>
                        <table>tryon</table>
                    </tryon>
                </entities>
            </ecp_tryon_mysql4>
        </models>
        <resources>
            <ecp_tryon_setup>
                <setup>
                    <module>Ecp_Tryon</module>
                     <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_tryon_setup>
            <ecp_tryon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_tryon_write>
            <ecp_tryon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_tryon_read>
        </resources>
        <blocks>
            <ecp_tryon>
                <class>Ecp_Tryon_Block</class>
            </ecp_tryon>
        </blocks>
        <helpers>
            <ecp_tryon>
                <class>Ecp_Tryon_Helper</class>
            </ecp_tryon>
        </helpers>
    </global>
    <default>
        <ecp_tryon>            
            <regions>
                <lobule>
                    <code>lobule</code>
                    <name>Lobule</name>
                    <subregions>
                        <lobule1>
                            <code>lobule-one</code>
                            <name>Lobule One</name>
                            <coordinates>100,308,101,322,107,333,113,343,122,348,133,351,143,349,154,347,144,336,130,329,118,316</coordinates>
                            <shape>poly</shape>
                        </lobule1>
                        <lobule2>
                            <code>lobule-two</code>
                            <name>Lobule Two</name>
                            <coordinates>101,306,102,302,101,298,101,292,102,287,101,281,101,275,107,271,112,271,116,273,121,276,123,282,126,287,131,291,132,298,131,304,126,309,122,312,119,315,114,314,107,310,99,307</coordinates>
                            <shape>poly</shape>
                        </lobule2>
                        <lobule3>
                            <code>lobule-three</code>
                            <name>Lobule Three</name>
                            <coordinates>133,298,138,300,141,304,146,307,144,313,141,315,139,319,136,323,134,325,131,328,128,326,126,324,122,320,119,316,123,310,127,308,130,302,131,297</coordinates>
                            <shape>poly</shape>
                        </lobule3>
                        <lobule4>
                            <code>lobule-four</code>
                            <name>Lobule Four</name>
                            <coordinates>147,307,155,313,162,316,169,322,173,328,176,333,179,337,178,340,172,342,167,344,162,346,156,348,154,347,151,343,148,339,144,336,139,333,135,331,130,328,134,324,138,320,141,316,144,312,146,307</coordinates>
                            <shape>poly</shape>
                        </lobule4>
                        <lobule5>
                            <code>lobule-five</code>
                            <name>Lobule Five</name>
                            <coordinates>180,338,178,335,175,331,173,328,170,324,167,320,162,317,157,314,153,311,149,308,143,305,139,301,133,298,132,292,128,288,124,284,122,278,118,275,113,272,117,267,123,266,131,269,139,273,148,279,156,287,162,294,168,299,172,304,177,311,182,317,184,322,188,326,192,332,185,335,181,338</coordinates>
                            <shape>poly</shape>
                        </lobule5>
                        <lobule6>
                            <code>lobule-six</code>
                            <name>Lobule Six</name>
                            <coordinates>117,266,123,266,129,268,134,270,138,273,144,276,149,280,153,283,157,288,161,292,166,296,170,300,173,305,178,311,182,317,186,323,191,328,192,332,196,329,200,327,203,324,207,320,202,313,198,306,191,298,185,292,178,287,170,282,165,277,157,272,150,268,142,265,136,263,129,261,121,261</coordinates>
                            <shape>poly</shape>
                        </lobule6>
                    </subregions>
                </lobule>
                <internal_area>
                    <code>internal_area</code>
                    <name>Internal Area</name>
                    <subregions>
                        <internal_area1>
                            <code>internal_area-one</code>
                            <name>Internal Area One</name>
                            <coordinates>188,53,197,50,208,51,217,53,226,56,234,62,241,69,247,78,254,85,258,92,263,101,265,110,267,118,269,125,269,131,269,137,270,142,270,148,270,153,271,160,271,167,270,173,268,181,267,189,265,196,263,204,260,211,256,215,252,221,249,226,245,231,241,236,236,241,232,246,226,251,216,258,212,263,207,267,201,268,192,266,188,261,182,255,189,247,199,240,206,234,213,228,219,222,226,216,231,209,235,201,238,192,240,184,240,174,239,163,238,152,235,143,231,133,227,123,224,113,220,105,214,93,205,83,191,73,185,63</coordinates>
                            <shape>poly</shape>
                        </internal_area1>                        
                    </subregions>
                </internal_area>
            </regions>                    
        </ecp_tryon>
    </default>
</config>