<?xml version="1.0"?>
<config>
  <modules>
    <Allure_BrownThomas>
      <version>1.0.0</version>
    </Allure_BrownThomas>
  </modules>
  <frontend>
    <routers>
      <brownthomas>
        <use>standard</use>
        <args>
          <module>Allure_BrownThomas</module>
          <frontName>brownthomas</frontName>
        </args>
      </brownthomas>
    </routers>    
  </frontend>
  <global>
    <resources>
      <allure_brownthomas_setup>
        <setup>
          <module>Allure_BrownThomas</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <brownthomas_write>
          <connection>
            <use>core_write</use>
          </connection>
        </brownthomas_write>
        <brownthomas_read>
          <connection>
            <use>core_read</use>
          </connection>
        </brownthomas_read>
      </allure_brownthomas_setup>
    </resources>

    <helpers>
      <brownthomas>
        <class>Allure_BrownThomas_Helper</class>
      </brownthomas>
    </helpers>    
    <models>
          <brownthomas>
            <class>Allure_BrownThomas_Model</class>
          </brownthomas>
    </models>
  </global>
</config> 