<?xml version="1.0"?>
<config>
  <modules>
    <Allure_BrownThomas>
      <version>1.0.0</version>
    </Allure_BrownThomas>
  </modules>
  <frontend>
    <routers>
      <brownthomas>
        <use>standard</use>
        <args>
          <module>Allure_BrownThomas</module>
          <frontName>brownthomas</frontName>
        </args>
      </brownthomas>
    </routers>    
  </frontend>

  <global>

    <models>
      <brownthomas>
        <class>Allure_BrownThomas_Model</class>
        <resourceModel>allure_brownthomas_resource</resourceModel>
      </brownthomas>
      <allure_brownthomas_resource>
        <class>Allure_BrownThomas_Model_Resource</class>
        <entities>
          <price>
            <table>allure_brownthomas_price</table>
          </price>
        </entities>
      </allure_brownthomas_resource>
    </models>

    <resources>
      <allure_brownthomas_setup>
        <setup>
          <module>Allure_BrownThomas</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <brownthomas_write>
          <connection>
            <use>core_write</use>
          </connection>
        </brownthomas_write>
        <brownthomas_read>
          <connection>
            <use>core_read</use>
          </connection>
        </brownthomas_read>
      </allure_brownthomas_setup>
    </resources>

    <helpers>
      <brownthomas>
        <class>Allure_BrownThomas_Helper</class>
      </brownthomas>
    </helpers>

    <events>
      <catalog_product_save_after>
        <observers>
          <brownthomas>
            <type>singleton</type>
            <class>brownthomas/observer</class>
            <method>checkPrice</method>
          </brownthomas>
        </observers>
      </catalog_product_save_after>
    </events>

  </global>

</config> 