<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Teamwork_Transfer>
            <version>5.1.0</version>
        </Teamwork_Transfer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <teamworktransfer after="Mage_Adminhtml">Teamwork_Transfer</teamworktransfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <helpers>
            <teamwork_transfer>
                <class>Teamwork_Transfer_Helper</class>
            </teamwork_transfer>
        </helpers>
        <models>
            <teamwork_transfer>
                <class>Teamwork_Transfer_Model</class>
            </teamwork_transfer>
        </models>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Teamwork_Transfer_Block_Rewrite_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <transfer_setup>
                <setup>
                    <module>Teamwork_Transfer</module>
                </setup>
            </transfer_setup>
        </resources>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <teamwork_transfer_sales_model_service_quote_submit_before>
                        <type>singleton</type>
                        <class>teamwork_transfer/webstaging</class>
                        <method>confirmSubmit</method>
                    </teamwork_transfer_sales_model_service_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
            
            <sales_order_save_after>
                <observers>
                    <teamwork_transfer_sales_order_save_after>
                        <type>singleton</type>
                        <class>teamwork_transfer/webstaging</class>
                        <method>activate</method>
                    </teamwork_transfer_sales_order_save_after>
                </observers>
            </sales_order_save_after>
            
            <sales_model_service_quote_submit_after>
                <observers>
                    <teamwork_transfer_sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>teamwork_transfer/webstaging</class>
                        <method>activate</method>
                    </teamwork_transfer_sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Teamwork transfer</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <teamwork_transfer>
                                            <title>Teamwork Transfer</title>
                                        </teamwork_transfer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <teamwork_transfer>
            <general>
                <update_inventory>1</update_inventory>
                <import_products>0</import_products>
                <import_categories>0</import_categories>
                <update_product_positions>0</update_product_positions>
                <sku_for_simple_products>styleno-plu</sku_for_simple_products> <!-- Possible values are Teamwork_Transfer_Helper_Config::ITEMSKU_PLU and Teamwork_Transfer_Helper_Config::ITEMSKU_STYLENO_PLU -->
                <import_relationships>0</import_relationships>
                <update_statuses>1</update_statuses>
                <update_visibility>1</update_visibility>
                <update_stock_avaliability>1</update_stock_avaliability>
                <default_value_for_configurable_attribute>1</default_value_for_configurable_attribute>
                <throw_wrong_pricing_errors>1</throw_wrong_pricing_errors>
                <ecm_reindex_mode>0</ecm_reindex_mode>
                <ecm_cache_mode>flush_system</ecm_cache_mode>
                <max_ecm_update_interval>15</max_ecm_update_interval>
                <max_reindex_interval>30</max_reindex_interval>
                <several_stores>0</several_stores>
                <richmedia_push_rich_media_from>all_channels</richmedia_push_rich_media_from>
                <richmedia_import_images>1</richmedia_import_images>
                <richmedia_import_item_images_to_item>0</richmedia_import_item_images_to_item>
                <richmedia_import_item_images_to_style>1</richmedia_import_item_images_to_style>
                <richmedia_delete_product_images_absent_in_ecm>0</richmedia_delete_product_images_absent_in_ecm>
                <default_attribute_set>0</default_attribute_set>
                <attribute_set>0</attribute_set>
            </general>
            <weborder>
                <weborder_item_secondary_id>0</weborder_item_secondary_id>
                <process_unknown_weborders>0</process_unknown_weborders>
                <chq_as_processing_zone>1</chq_as_processing_zone>
                <send_shipment_emails>1</send_shipment_emails>
                <send_creditmemo_emails>1</send_creditmemo_emails>
            </weborder>
        </teamwork_transfer>
    </default>
</config>
