<?xml version="1.0"?>
<config>
  <modules>
    <Allure_HarrodsInventory>
      <version>3.0.0</version>
    </Allure_HarrodsInventory>
  </modules>
  <frontend>
    <routers>
      <harrodsinventory>
        <use>standard</use>
        <args>
          <module>Allure_HarrodsInventory</module>
          <frontName>harrodsinventory</frontName>
        </args>
      </harrodsinventory>
    </routers>    
  </frontend>
  <global>
    <resources>
      <allure_harrodsinventory_setup>
        <setup>
          <module>Allure_HarrodsInventory</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
        <harrodsinventory_write>
          <connection>
            <use>core_write</use>
          </connection>
        </harrodsinventory_write>
        <harrodsinventory_read>
          <connection>
            <use>core_read</use>
          </connection>
        </harrodsinventory_read>
      </allure_harrodsinventory_setup>
    </resources>

    <helpers>
      <harrodsinventory>
        <class>Allure_HarrodsInventory_Helper</class>
      </harrodsinventory>
    </helpers>    
    <models>
          <harrodsinventory>
            <class>Allure_HarrodsInventory_Model</class>
          </harrodsinventory>
    </models>
    <events>
      <catalog_product_save_after>
        <observers>
          <allure_harrodsinventory>
            <type>singletone</type>
            <class>harrodsinventory/Observer</class>
            <method>checkHarrodsPrice</method>
          </allure_harrodsinventory>
        </observers>
      </catalog_product_save_after>
    </events>
  </global>
  <crontab>
    <jobs>
      <harrods_inventory_generate_files>
        <schedule>
          <cron_expr>*/5 * * * *</cron_expr>
        </schedule>
        <run>
          <model>harrodsinventory/cron::generateHarrodsFiles</model>
        </run>
      </harrods_inventory_generate_files>
      <harrods_inventory_daily_sales>
          <schedule>
          <config_path>harrodsinventory/daily_sales/perday_cron_time</config_path>
          </schedule>
          <run>
              <model>harrodsinventory/cron::sendDailySales</model>
          </run>
      </harrods_inventory_daily_sales>
    </jobs>
  </crontab>
</config> 