<?xml version="1.0"?>
<config>
    <sections>
        <harrodsinventory translate="label" module="harrodsinventory">
            <label>Harrods Reports Settings</label>
            <tab>allure</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>


                <module_status translate="label">
                <label>General</label>
                <frontend_type>text</frontend_type>
                <sort_order>1</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <module_enabled translate="label">
                        <label>Module Enabled</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </module_enabled>
                    <timezone translate="label">
                        <label>Timezone</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_locale_timezone</source_model>
                        <backend_model>adminhtml/system_config_backend_locale_timezone</backend_model>
                        <sort_order>1</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>0</show_in_store>
                    </timezone>
                </fields>


                </module_status>


            <email_group translate="label">
            <label>Debug</label>
            <frontend_type>text</frontend_type>
            <sort_order>3</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <fields>
                <debug_enabled translate="label">
                    <label>Debug Enabled</label>
                    <frontend_type>select</frontend_type>
                    <source_model>adminhtml/system_config_source_yesno</source_model>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </debug_enabled>
                <group_emails>
                    <label>Email's (Please enter coma',' Seperated values) : </label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </group_emails>
                <!--<email_template>
                    <label>Email template for product price</label>
                    <frontend_type>select</frontend_type>
                    <source_model>adminhtml/system_config_source_email_template</source_model>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </email_template>-->
            </fields>
            </email_group>
                <sftp_details translate="label">
                    <label>SFTP SETTINGS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <host translate="label">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <comment>some.server.com</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>80</sort_order>
                        </host>
                        <username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>80</sort_order>
                        </username>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>80</sort_order>
                        </password>
                        <timeout translate="label">
                            <label>Timeout</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>80</sort_order>
                        </timeout>
                        <location translate="label">
                            <label>Location</label>
                            <comment>example: for test folder write test/</comment>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <sort_order>80</sort_order>
                        </location>
                    </fields>
                </sftp_details>

            <product_cron translate="label">
                <label>PLU FILE CRON SETTINGS</label>
                <frontend_type>text</frontend_type>
                <sort_order>4</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>
                <fields>
                    <enabled translate="label">
                        <label>Enabled</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </enabled>
                    <hour translate="label">
                        <label>Hour</label>
                        <frontend_type>select</frontend_type>
                        <source_model>harrodsinventory/hour</source_model>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </hour>
                    <!--<minute translate="label">
                        <label>Minute</label>
                        <frontend_type>select</frontend_type>
                        <source_model>harrodsinventory/min</source_model>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </minute>-->

                  <!--  <file_content translate="label">
                        <label>Content</label>
                        <frontend_type>select</frontend_type>
                        <source_model>harrodsinventory/content</source_model>
                        <sort_order>5</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                    </file_content>-->
                </fields>
            </product_cron>


                <stock_cron translate="label">
                    <label>STK FILE CRON SETTINGS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <hour translate="label">
                            <label>Hour</label>
                            <frontend_type>select</frontend_type>
                            <source_model>harrodsinventory/hour</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hour>
                        <!--<minute translate="label">
                            <label>Minute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>harrodsinventory/min</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minute>-->
                    </fields>
                </stock_cron>


                <price_cron translate="label">
                    <label>PPC FILE CRON SETTINGS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <hour translate="label">
                            <label>Hour</label>
                            <frontend_type>select</frontend_type>
                            <source_model>harrodsinventory/hour</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hour>
                        <!--<minute translate="label">
                            <label>Minute</label>
                            <frontend_type>select</frontend_type>
                            <source_model>harrodsinventory/min</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minute>-->
                     <!--   <file_content translate="label">
                            <label>Content</label>
                            <frontend_type>select</frontend_type>
                            <source_model>harrodsinventory/content</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </file_content>-->
                    </fields>
                </price_cron>


            </groups>
        </harrodsinventory>
    </sections>
</config>
