<?xml version="1.0" encoding="utf-8"?>
<config>
	<tabs>
		<allure translate="label">
			<label>Allure</label>
			<sort_order>10</sort_order>
		</allure>
	</tabs>
	<sections>
		<allure translate="label">
			<label>Allure</label>
			<tab>allure</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General Information</label>
					<frontend_type>text</frontend_type>
					<comment><![CDATA[<a href="http://www.allureinc.co" target="_blank"><strong>Allure Software, Inc.</strong></a> is a software e-commerce services company offering innovative and value-driven solutions to the e-commerce industry. The company provides on-demand solutions in the area of software development, deployment, maintenance, mobile enablement and consulting services to e-commerce vertical. Customers include Fortune 500 companies and leading brands as well as small and medium businesses. The company is headquartered in NY.]]></comment>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</general>
				<extensions translate="label">
					<label>Extensions</label>
					<frontend_type>text</frontend_type>
                    <frontend_model>allure/extensions</frontend_model>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
				</extensions>
			</groups>
		</allure>
	</sections>
</config>