<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Contactus>
        <version>0.1.0</version>
        </Ecp_Contactus>
    </modules>
    <frontend>
        <routers>
            <ecp_contactus>
                <use>standard</use>
                <args>
                    <module>Ecp_Contactus</module>
                    <frontName>ecpcontactus</frontName>
                </args>
            </ecp_contactus>
        </routers>
        <layout>
            <updates>
                <ecp_contactus>
                    <file>ecp/contactus.xml</file>
                </ecp_contactus>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_contactus>
                <use>admin</use>
                <args>
                    <module>Ecp_Contactus</module>
                    <frontName>ecpcontactus</frontName>
                </args>
            </ecp_contactus>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <ecp_contactus module="ecp_contactus">
                <title>Contactus</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_contactus">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpcontactus/adminhtml_contactus</action>
                    </items>
                </children>
            </ecp_contactus>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Contactus>
                            <title>Contactus Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Contactus>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_contactus>
                    <file>ecp/contactus.xml</file>
                </ecp_contactus>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <template>
            <email>
                <custom_email_contact_us module="ecp_contactus">
                    <label>Custom Email Contact us</label>
                    <file>custom_email_contactus.html</file>
                    <type>html</type>
                </custom_email_contact_us>
            </email>
        </template>
        <models>
            <ecp_contactus>
                <class>Ecp_Contactus_Model</class>
                <resourceModel>ecp_contactus_mysql4</resourceModel>
            </ecp_contactus>
            <ecp_contactus_mysql4>
                <class>Ecp_Contactus_Model_Mysql4</class>
                <entities>
                    <contactus>
                        <table>ecp_contact_us</table>
                    </contactus>
                </entities>
            </ecp_contactus_mysql4>
        </models>
        <resources>
            <ecp_contactus_setup>
                <setup>
                    <module>Ecp_Contactus</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_contactus_setup>
            <ecp_contactus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_contactus_write>
            <ecp_contactus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_contactus_read>
        </resources>
        <blocks>
            <ecp_contactus>
                <class>Ecp_Contactus_Block</class>
            </ecp_contactus>
        </blocks>
        <helpers>
            <ecp_contactus>
                <class>Ecp_Contactus_Helper</class>
            </ecp_contactus>
        </helpers>
    </global>
    <default>
        <ecp_contactus>
            <contactus>
                <value>some value</value>
            </contactus>
        </ecp_contactus>
    </default>
</config>