<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Citysearch>
        <version>0.1.0</version>
        </Ecp_Citysearch>
    </modules>
    <frontend>
        <routers>
            <ecp_citysearch>
                <use>standard</use>
                <args>
                    <module>Ecp_Citysearch</module>
                    <frontName>ecpcitysearch</frontName>
                </args>
            </ecp_citysearch>
        </routers>
        <!--<layout>
            <updates>
                <ecp_citysearch>
                    <file>citysearch.xml</file>
                </ecp_citysearch>
            </updates>
        </layout>-->
    </frontend>
    <admin>
        <routers>
            <ecp_citysearch>
                <use>admin</use>
                <args>
                    <module>Ecp_Citysearch</module>
                    <frontName>ecpcitysearch</frontName>
                </args>
            </ecp_citysearch>
        </routers>
    </admin>
    <adminhtml>
        <!--<menu>
            <ecp_citysearch module="ecp_citysearch">
                <title>Citysearch</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_citysearch">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpcitysearch/adminhtml_citysearch</action>
                    </items>
                </children>
            </ecp_citysearch>
        </menu>-->
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Citysearch>
                            <title>Citysearch Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Citysearch>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_citysearch>
                    <file>citysearch.xml</file>
                </ecp_citysearch>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ecp_citysearch>
                <class>Ecp_Citysearch_Model</class>
                <resourceModel>ecp_citysearch_mysql4</resourceModel>
            </ecp_citysearch>
            <ecp_citysearch_mysql4>
                <class>Ecp_Citysearch_Model_Mysql4</class>
                <entities>
                    <citysearch>
                        <table>citysearch</table>
                    </citysearch>
                </entities>
            </ecp_citysearch_mysql4>
        </models>
        <resources>
            <ecp_citysearch_setup>
                <setup>
                    <module>Ecp_Citysearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_citysearch_setup>
            <ecp_citysearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_citysearch_write>
            <ecp_citysearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_citysearch_read>
        </resources>
        <blocks>
            <ecp_citysearch>
                <class>Ecp_Citysearch_Block</class>
            </ecp_citysearch>
        </blocks>
        <helpers>
            <ecp_citysearch>
                <class>Ecp_Citysearch_Helper</class>
            </ecp_citysearch>
        </helpers>
    </global>
    <default>
        <ecp_citysearch>
            <citysearch>
                <value>some value</value>
            </citysearch>
        </ecp_citysearch>
    </default>
</config>