<?xml version="1.0"?>
<config>
    <sections>
        <ecp_citysearch translate="label">
            <label>Citysearch</label>
            <tab>general</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <citysearch translate="label" module="ecp_citysearch">
                    <label>Main configuration</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <detail_api_url translate="label">
                            <label>Detail Place Api URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </detail_api_url>
                        <!--<listing_id translate="label">
                            <label>Listing id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </listing_id>
                        <id_type translate="label">
                            <label>Type id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id_type>
                        <client_ip translate="label">
                            <label>Client IP</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_ip>
                        <publisher translate="label">
                            <label>Publisher</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </publisher>-->
                        <api_citysearch_new_config translate="label">
                            <label>Account</label>
                            <frontend_model>ecp_citysearch/system_config_form_field_account</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_citysearch_new_config>
                        <api_citysearch_new_config_map translate="label">
                            <label>Map Url</label>
                            <frontend_model>ecp_citysearch/system_config_form_field_map</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_citysearch_new_config_map>
                    </fields>
                </citysearch>
            </groups>
        </ecp_citysearch>
    </sections>
</config>