<?xml version="1.0"?>
<config>
	<modules>
		<Allure_RedesignCheckout>
			<name>Allure - Redesign Checkout</name>
			<version>1.0.1</version>
		</Allure_RedesignCheckout>
	</modules>
	<global>
		<controllers>
			<Allure_RedesignCheckout>
				<rewrite>
					<checkout>Allure_RedesignCheckout_MultishippingController</checkout>
				</rewrite>
			</Allure_RedesignCheckout>
		</controllers>
		<helpers>
            <redesign_checkout>
                <class>Allure_RedesignCheckout_Helper</class>
            </redesign_checkout>
        </helpers>
        <blocks>
        	<allure_redesigncheckout>
				<class>Allure_RedesignCheckout_Block</class>
			</allure_redesigncheckout>
			<checkout>
				<rewrite>
					<multishipping_overview>Allure_RedesignCheckout_Block_Checkout_Multishipping_Overview</multishipping_overview>
				</rewrite>
			</checkout>
        </blocks>
        <models>
        	<allure_redesigncheckout>
				<class>Allure_RedesignCheckout_Model</class>
			</allure_redesigncheckout>
			<shipping>
				<rewrite>
					<shipping>Allure_RedesignCheckout_Model_Shipping_Shipping</shipping>
				</rewrite>
			</shipping>
			<checkout>
				<rewrite>
					<type_multishipping>Allure_RedesignCheckout_Model_Checkout_Type_Multishipping</type_multishipping>
					<type_multishipping_state>Allure_RedesignCheckout_Model_Checkout_Type_Multishipping_State</type_multishipping_state>
				</rewrite>
			</checkout>
			<sales>
				<rewrite>
					<quote_address>Allure_RedesignCheckout_Model_Sales_Quote_Address</quote_address>
				</rewrite>
			</sales>
        </models>
		<resources>
			<allure_redesigncheckout_setup>
				<setup>
					<module>Allure_RedesignCheckout</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</allure_redesigncheckout_setup>
		</resources>
		<fieldsets>
			<sales_convert_quote_item>
				<is_gift>
					<to_order_item>*</to_order_item>
				</is_gift>
			</sales_convert_quote_item>
			<sales_convert_order_item>
				<is_gift>
					<to_quote_item>*</to_quote_item>
				</is_gift>
			</sales_convert_order_item>
		</fieldsets>
		<template>
			<email>
				<multiaddress_order_email_template translate="label" module="redesign_checkout">
					<label>Multi Address Order Email Template With Customer</label>
					<file>sales/multiaddress_customer_order.html</file>
					<type>html</type>
				</multiaddress_order_email_template>
			</email>
		</template>
	</global>
	<frontend>
		<layout>
            <updates>
                <amstockstatus>
                    <file>allure/redesign_checkout.xml</file>
                </amstockstatus>
            </updates>
        </layout>
		<routers>
			<checkout>
				<args>
					<modules>
						<Allure_RedesignCheckout before="Allure_MultiCheckout">Allure_RedesignCheckout</Allure_RedesignCheckout>
					</modules>
				</args>
			</checkout>
		</routers>
        <events>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <allure_redesigncheckout>
                        <type>model</type>
                        <class>allure_redesigncheckout/observer</class>
                        <method>salesEventConvertQuoteItemToOrderItem</method>
                    </allure_redesigncheckout>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_address_to_order>
                <observers>
                    <allure_redesigncheckout>
                        <type>model</type>
                        <class>allure_redesigncheckout/observer</class>
                        <method>salesEventConvertQuoteAddressToOrder</method>
                    </allure_redesigncheckout>
                </observers>
            </sales_convert_quote_address_to_order>
            <checkout_controller_multishipping_shipping_signature_post>
                <observers>
                    <allure_redesigncheckout>
                        <type>model</type>
                        <class>allure_redesigncheckout/observer</class>
                        <method>checkoutEventSaveSignature</method>
                    </allure_redesigncheckout>
                </observers>
            </checkout_controller_multishipping_shipping_signature_post>
            <checkout_controller_multishipping_overview_giftmessage_post>
                <observers>
                    <allure_redesigncheckout>
                        <type>model</type>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </allure_redesigncheckout>
                </observers>
            </checkout_controller_multishipping_overview_giftmessage_post>
   		</events>
   	</frontend>
   	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Allure_RedesignCheckout before="Mage_Adminhtml">Allure_RedesignCheckout_Adminhtml</Allure_RedesignCheckout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
   	<adminhtml>
        <layout>
            <updates>
                <allure_redesigncheckout>
                    <file>allure/redesign.xml</file>
                </allure_redesigncheckout>
            </updates>
        </layout>
    </adminhtml>
</config>