<?xml version="1.0"?>
<config>
    <modules>
        <Ebizmarts_BakerlooBackup>
            <version>0.0.5</version>
        </Ebizmarts_BakerlooBackup>
    </modules>
    <global>
        <blocks>
            <bakerloo_backup>
                <class>Ebizmarts_BakerlooBackup_Block</class>
            </bakerloo_backup>
        </blocks>
        <helpers>
            <bakerloo_backup>
                <class>Ebizmarts_BakerlooBackup_Helper</class>
            </bakerloo_backup>
        </helpers>
        <models>
            <bakerloo_backup>
                <class>Ebizmarts_BakerlooBackup_Model</class>
                <resourceModel>bakerloo_backup_mysql4</resourceModel>
            </bakerloo_backup>
            <bakerloo_backup_mysql4>
                <class>Ebizmarts_BakerlooBackup_Model_Mysql4</class>
                <entities>
                    <files>
                        <table>bakerloo_backup_files</table>
                    </files>
                </entities>
            </bakerloo_backup_mysql4>
        </models>
        <resources>
            <bakerloo_backup_setup>
                <setup>
                    <module>Ebizmarts_BakerlooBackup</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </bakerloo_backup_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Ebizmarts_BakerlooBackup>
                    <files>
                        <default>Ebizmarts_BakerlooBackup.csv</default>
                    </files>
                </Ebizmarts_BakerlooBackup>
            </modules>
        </translate>
        <events>
            <admin_system_config_changed_section_bakerloo_backup>
                <observers>
                    <bakerloo_backup_setDestination>
                        <type>model</type>
                        <class>bakerloo_backup/observer_main</class>
                        <method>setDestination</method>
                    </bakerloo_backup_setDestination>
                    <bakerloo_backup_saveUserAccess>
                        <type>model</type>
                        <class>bakerloo_backup/observer_main</class>
                        <method>saveUserAccess</method>
                    </bakerloo_backup_saveUserAccess>
                </observers>
            </admin_system_config_changed_section_bakerloo_backup>
        </events>
    </adminhtml>
</config>
