<?xml version="1.0"?>
<config>
    <sections>
        <bakerloo_backup translate="label" module="bakerloo_backup">
            <label>Backups</label>
            <tab>pos</tab>
            <frontend_type>text</frontend_type>
            <sort_order>172</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <hint>
                    <frontend_model>bakerloo_backup/adminhtml_system_config_hint</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <storage translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>bakerloo_backup/system_config_source_storage</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <dropbox_apikey_button translate="label">
                            <label>Get Dropbox credentials</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>bakerloo_backup/adminhtml_system_config_dbxoauth</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                        </dropbox_apikey_button>
                        <drive_apikey_button translate="label">
                            <label>Get Google Drive credentials</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>bakerloo_backup/adminhtml_system_config_driveoauth</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enabled>2</enabled>
                            </depends>
                        </drive_apikey_button>
                        <access_code translate="label comment">
                            <label>Access code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Please paste your activation code here.]]></comment>
                            <depends>
                                <enabled separator=",">1,2</enabled>
                            </depends>
                        </access_code>
                    </fields>
                </storage>
            </groups>
        </bakerloo_backup>
    </sections>
</config>
