<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <magebird translate="label" module="magebird_popup">
            <label>Magebird Extensions</label>
            <sort_order>195</sort_order>
        </magebird>
    </tabs>
    <sections>
        <magebird_popup translate="label" module="magebird_popup">
            <label>Popup</label>
            <tab>magebird</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>          
            <groups>
                <general translate="label" module="magebird_popup">
                    <label>Extension Licence</label>  
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                     
                    <fields>    
                        <licence_key translate="label comment">
                            <label>Licence Key</label>
                            <comment>Write your licence key. The key is inside New Order e-mail.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                            <backend_model>Magebird_Popup_Model_Config</backend_model>                
                        </licence_key>                                                                                                                                                                                                                                                                                                        
                    </fields>
                </general>                                            
                <settings translate="label" module="magebird_popup">
                    <label>Settings</label>  
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                     
                    <fields>    
                        <!--
                        <useajax translate="label comment">
                            <label>Load popup with ajax?</label>
                            <comment><![CDATA[Choose ajax (recommended) if you use full page html caching (e.g Varnish cache). This will prevent popup to be cached.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </useajax>
                        -->      
                        <requesttype translate="label comment">
                            <label>Ajax request type</label>
                            <comment><![CDATA[Recommended GET. Also leave GET if you don't know what is that.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>Magebird_Popup_Model_System_Requesttype</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                            <depends><useajax>1</useajax></depends>                            
                        </requesttype>                                         
                        <load_jquery translate="label comment">
                            <label>Load jQuery?</label>
                            <comment><![CDATA[Leave 'Yes' if you don't know what is that. ONLY if your site already loads jquery you can disable popup jquery so it won't be loaded again and thus you save 90kb of loading.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </load_jquery>
                        <asynchronous translate="label comment">
                            <label>Make JavaScript Asynchronous?</label>
                            <comment><![CDATA[By default JavaScript blocks page DOM until the script is loaded. To prevent popup JavaScript from blocking the parser we recommend choosing 'Yes'. If you don't want to show page content before popup is loaded, choose 'No'.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </asynchronous>                                                                                                                                                                                                                                                                                                                              
                    </fields>                    
                </settings> 
                          
                <statistics translate="label">
                  <label>Statistics settings</label>  
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>                 
                  <fields>
                        <ajax_async translate="label comment">
                            <label>Ajax async settings on window exit</label>
                            <comment><![CDATA[User can leave browser window when popup is still opened without any interaction. This event is tracked in statistics as 'Window closed or page left'. Ajax call is created for this purpose. When 'asynchronously' is selected the browser window will be closed without delay, but some browsers may cancel ajax call and statistics will be less accurance. Selecting 'synchronous' statistics will be more accurance, but this will lock browser window when closing it until ajax call is finished. Usually it is not detectable by user and it takes less than half second, but it can be more if server is slow.]]></comment>
                            <frontend_type>select</frontend_type>
                            <frontend_type>select</frontend_type>
                            <source_model>Magebird_Popup_Model_System_Asyncoption</source_model>                             
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </ajax_async>                                                                                                                                                                                                                                                                                                                                                            
                        <ga_tracking translate="label comment">
                            <label>Event tracking with Google analytics?</label>
                            <comment><![CDATA[You must have Google Analytics javascript code already installed on your website for this to work.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </ga_tracking> 
                        <!--
                        <mousetracking translate="label comment">
                            <label>Track user mouse movements?</label>
                            <comment><![CDATA[Mousetrackings will appear inside CMS->Popup grid.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </mousetracking>  
                        <delete_mousetracking translate="label comment">
                            <label>Delete old mousetracking data</label>
                            <comment><![CDATA[Delete old data to prevent database table oversize.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>Magebird_Popup_Model_System_Deletemousetracking</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><mousetracking>1</mousetracking></depends>                    
                        </delete_mousetracking>-->                                         
                  </fields>
                </statistics>
                     
                <services translate="label" module="magebird_popup">
                    <label>Newsletter Services</label>  
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>                     
                    <fields>
                        <enablemagento translate="label">
                            <label>Add subscriber's e-mail to Magento Newsletter</label>
                            <comment><![CDATA[Subscriber's e-mail is added to Magento by default. If you use any external newsletter service from the below list, you can disable this option.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enablemagento>                      
                        <enablemailchimp translate="label">
                            <label>Add subscriber's e-mail to Mailchimp</label>
                            <comment><![CDATA[Choose yes if you want to use Mailchimp integration.]]></comment>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enablemailchimp>                                               
                        <mailchimp_key translate="label comment">
                            <label>Mailchimp Api Key</label>
                            <comment><![CDATA[Write only if you use MailChimp service, otherwise leave empty. Go to <a target="_blank" href="http://admin.mailchimp.com/account/api/">http://admin.mailchimp.com/account/api/</a> to find the key.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enablemailchimp>1</enablemailchimp></depends>                    
                        </mailchimp_key>   
                        <mailchimp_double_option translate="label comment">
                            <label>Mailchimp Double Opt-in</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>      
                            <comment><![CDATA[If yes, user needs to confirm subscription. Read more about MailChimp The Double Opt-in Process <a target="_blank" href="http://kb.mailchimp.com/lists/signup-forms/the-double-opt-in-process">here</a>.]]></comment>
                            <depends><enablemailchimp>1</enablemailchimp></depends>                                          
                        </mailchimp_double_option>    
                        <enablecampaignmonitor translate="label">
                            <label>Add subscriber's e-mail to Campaignmonitor</label>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enablecampaignmonitor>                                               
                        <campaignmonitor_key translate="label comment">
                            <label>Campaign Monitor Api Key</label>
                            <comment><![CDATA[<a target="_blank" href="http://help.campaignmonitor.com/topic.aspx?t=206">Where you can find Campaign Monitor api key?</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enablecampaignmonitor>1</enablecampaignmonitor></depends>                    
                        </campaignmonitor_key>   
                        <enablegetresponse translate="label">
                            <label>Add subscriber's e-mail to GetResponse</label>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enablegetresponse>                                               
                        <getresponse_key translate="label comment">
                            <label>GetResponse Api Key</label>
                            <comment><![CDATA[Write only if you use GetResponse service, otherwise leave empty. Go to <a target="_blank" href="http://admin.mailchimp.com/account/api/">http://admin.mailchimp.com/account/api/</a> to find the key.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enablegetresponse>1</enablegetresponse></depends>                    
                        </getresponse_key>  
                        <enableactivecampaign translate="label">
                            <label>Add subscriber's e-mail to ActiveCampaign</label>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enableactivecampaign>                                               
                        <activecampaign_key translate="label comment">
                            <label>ActiveCampaign Api Key</label>
                            <comment><![CDATA[Write only if you use ActiveCampaign service, otherwise leave empty. You can find key <a target="_blank" href="https://magebird.activehosted.com/admin/main.php?action=settings#tab_api">here</a>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enableactivecampaign>1</enableactivecampaign></depends>                    
                        </activecampaign_key>    
                        <activecampaign_url translate="label comment">
                            <label>ActiveCampaign Api Url</label>
                            <comment><![CDATA[Write only if you use ActiveCampaign service, otherwise leave empty. You can find url <a target="_blank" href="https://magebird.activehosted.com/admin/main.php?action=settings#tab_api">here</a>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enableactivecampaign>1</enableactivecampaign></depends>                    
                        </activecampaign_url>                                              
                        <enablesendy translate="label">
                            <label>Add subscriber's e-mail to Sendy</label>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enablesendy>                                               
                        <sendy_key translate="label comment">
                            <label>Sendy Api Key</label>
                            <comment><![CDATA[You can find the Api Key inside Sendy Settings</a>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enablesendy>1</enablesendy></depends>                    
                        </sendy_key>  
                        <sendy_url translate="label comment">
                            <label>Sendy Installation Url</label>
                            <comment><![CDATA[Url where Sendy is installed (e.g. http://www.example.com).]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enablesendy>1</enablesendy></depends>                    
                        </sendy_url>    
                        <enable_phplist translate="label">
                            <label>Add subscriber's e-mail to phpList</label>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enable_phplist>                                               
                        <phplist_url translate="label comment">
                            <label>Phplist url</label>
                            <comment><![CDATA[Url where phplist is installed]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_phplist>1</enable_phplist></depends>                    
                        </phplist_url>  
                        <phplist_username translate="label comment">
                            <label>Phplist admin username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_phplist>1</enable_phplist></depends>                    
                        </phplist_username>  
                        <phplist_password translate="label comment">
                            <label>Phplist admin password</label>
                            <frontend_type>password</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_phplist>1</enable_phplist></depends>                    
                        </phplist_password>        
                        <phplist_confirmed translate="label comment">
                            <label>Automatically confirmed?</label>
                            <comment><![CDATA[If you select No user will receive confirmation e-mail and will be added to list only if he/she confirms subscription.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_phplist>1</enable_phplist></depends>                    
                        </phplist_confirmed>  
                        <enable_klaviyo translate="label">
                            <label>Add subscriber's e-mail to Klaviyo</label>
                            <comment><![CDATA[Choose yes if you want to use Klaviyo integration.]]></comment>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enable_klaviyo>                                               
                        <klaviyo_key translate="label comment">
                            <label>Klaviyo Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_klaviyo>1</enable_klaviyo></depends>                    
                        </klaviyo_key>   
                        <klaviyo_double_option translate="label comment">
                            <label>Klaviyo Double Opt-in</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>      
                            <comment><![CDATA[If yes, user needs to confirm subscription.]]></comment>
                            <depends><enable_klaviyo>1</enable_klaviyo></depends>                                          
                        </klaviyo_double_option>  
                        <enable_mailjet translate="label">
                            <label>Add subscriber's e-mail to Mailjet</label>
                            <comment><![CDATA[Choose yes if you want to use Mailjet integration.]]></comment>                                                  
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                    
                        </enable_mailjet>                                               
                        <mailjet_key translate="label comment">
                            <label>Mailjet Api Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_mailjet>1</enable_mailjet></depends>                    
                        </mailjet_key> 
                        <mailjet_secret_key translate="label comment">
                            <label>Mailjet Secret Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enable_mailjet>1</enable_mailjet></depends>                    
                        </mailjet_secret_key>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                    </fields>
                </services>                                                                           
            </groups> 
        </magebird_popup>
    </sections>
</config>