<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Shoppingcart>
            <version>0.1.0</version>
        </Ecp_Shoppingcart>
    </modules>
    <global>
        <blocks>
                <shoppingcart>
                        <class>Ecp_Shoppingcart_Block</class>
                </shoppingcart>
        </blocks>
        <helpers>
                <shoppingcart>
                        <class>Ecp_Shoppingcart_Helper</class>
                </shoppingcart>
        </helpers>
        <models>
                <checkout>
                        <rewrite>
                                <cart>Ecp_Shoppingcart_Model_Cart</cart>
                        </rewrite>
                </checkout>
        </models>
        <events>
            <!--checkout_cart_product_add_after-->
            <!--<sales_quote_product_add_after>-->

            <!--<checkout_cart_product_add_after>
                <observers>
                    <ecp_shoppingcart_add_product>
                        <type>singleton</type>
                        <class>Ecp_Shoppingcart_Model_Observer</class>
                        <method>storeGiftMessage</method>
                    </ecp_shoppingcart_add_product>
                </observers>
            </checkout_cart_product_add_after>-->
            <checkout_cart_save_after>
                <observers>
                    <ecp_shoppingcart_event>
                        <type>singleton</type>
                        <class>Ecp_Shoppingcart_Model_Observer</class>
                        <method>storeCustomerQuote</method>
                    </ecp_shoppingcart_event>
                </observers>
            </checkout_cart_save_after>
            <!--</sales_quote_product_add_after>-->
            <!--/checkout_cart_product_add_after-->
            <customer_login>
                <observers>
                    <ecp_shoppingcart_customer_login>
                        <type>singleton</type>
                        <class>Ecp_Shoppingcart_Model_Observer</class>
                        <method>getCustomerQuote</method>
                    </ecp_shoppingcart_customer_login>
                </observers>
            </customer_login>
        </events>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Ecp_Shoppingcart before="Mage_Checkout">Ecp_Shoppingcart</Ecp_Shoppingcart>
                    </modules>
                </args>
            </checkout>
            <customer>
                <args>
                    <modules>
                        <Ecp_Shoppingcart before="Mage_Customer">Ecp_Shoppingcart</Ecp_Shoppingcart>
                    </modules>
                </args>
            </customer>
        </routers>
        <translate>
            <modules>
                <Ecp_Shoppingcart>
                    <files>
                        <default>Mage_Checkout.csv</default>
                    </files>
                </Ecp_Shoppingcart>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <ecp_shoppincart>
                <use>admin</use>
                <args>
                    <module>Ecp_Shoppingcart</module>
                    <frontName>ecp_shoppingcart</frontName>
                </args>
            </ecp_shoppincart>
        </routers>
    </admin>
    <default>
        <ecp_shoppingcart>
            <shoppingcart>
                <thumbnails>1</thumbnails>
            </shoppingcart>
        </ecp_shoppingcart>
    </default>
</config>
