<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Yelp>
        <version>0.1.0</version>
        </Ecp_Yelp>
    </modules>
    <frontend>
        <routers>
            <ecp_yelp>
                <use>standard</use>
                <args>
                    <module>Ecp_Yelp</module>
                    <frontName>ecpyelp</frontName>
                </args>
            </ecp_yelp>
        </routers>
        <layout>
            <updates>
                <ecp_yelp>
                    <file>ecp/yelp.xml</file>
                </ecp_yelp>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_yelp>
                <use>admin</use>
                <args>
                    <module>Ecp_Yelp</module>
                    <frontName>ecpyelp</frontName>
                </args>
            </ecp_yelp>
        </routers>
    </admin>
    <adminhtml>
        <!--menu>
            <ecp_yelp module="ecp_yelp">
                <title>Yelp</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="ecp_yelp">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpyelp/adminhtml_yelp</action>
                    </items>
                </children>
            </ecp_yelp>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Yelp>
                            <title>Yelp Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Yelp>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <ecp_yelp>
                    <file>ecp/yelp.xml</file>
                </ecp_yelp>
            </updates>
        </layout-->
    </adminhtml>   
    <global>
        <models>
            <ecp_yelp>
                <class>Ecp_Yelp_Model</class>
                <resourceModel>ecp_yelp_mysql4</resourceModel>
            </ecp_yelp>
            <ecp_yelp_mysql4>
                <class>Ecp_Yelp_Model_Mysql4</class>
                <entities>
                    <yelp>
                        <table>yelp</table>
                    </yelp>
                </entities>
            </ecp_yelp_mysql4>
        </models>
        <resources>
            <ecp_yelp_setup>
                <setup>
                    <module>Ecp_Yelp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                </ecp_yelp_setup>
            <ecp_yelp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_yelp_write>
            <ecp_yelp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_yelp_read>
        </resources>
        <blocks>
            <ecp_yelp>
                <class>Ecp_Yelp_Block</class>
            </ecp_yelp>
        </blocks>
        <helpers>
            <ecp_yelp>
                <class>Ecp_Yelp_Helper</class>
            </ecp_yelp>
        </helpers>
    </global>
    <default>
        <ecp_yelp>
            <yelp>
                <value>some value</value>
            </yelp>
        </ecp_yelp>
    </default>
</config>