<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Teamwork_Universalcustomers>
            <version>1.2.2</version>
        </Teamwork_Universalcustomers>
    </modules>
    <admin>
        <routers>
            <teamwork_universalcustomers>
                <use>admin</use>
                <args>
                    <module>Teamwork_Universalcustomers</module>
                    <frontName>teamwork_universalcustomers</frontName>
                </args>
            </teamwork_universalcustomers>
        </routers>
    </admin>
    
    <frontend>
        <routers>
            <teamwork_universalcustomers>
                <use>standard</use>
                <args>
                    <module>Teamwork_Universalcustomers</module>
                    <frontName>teamwork_universalcustomers</frontName>
                </args>
            </teamwork_universalcustomers>
        </routers>
        <layout>
             <updates>
                  <teamwork_universalcustomers>
                        <file>teamwork_universalcustomers.xml</file>
                  </teamwork_universalcustomers>
             </updates>
        </layout>
    </frontend>
    
    <global>
        <helpers>
            <teamwork_universalcustomers>
                <class>Teamwork_Universalcustomers_Helper</class>
            </teamwork_universalcustomers>
        </helpers>
        <models>
            <teamwork_universalcustomers>
                <class>Teamwork_Universalcustomers_Model</class>
            </teamwork_universalcustomers>
            <customer_resource>
                <rewrite>
                    <customer>Teamwork_Universalcustomers_Model_Resource_Customer</customer>
                </rewrite>
            </customer_resource>
            <customer>
                <rewrite>
                    <customer>Teamwork_Universalcustomers_Model_Customer</customer>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <quote_address>Teamwork_Universalcustomers_Model_Sales_Quote_Address</quote_address>
                </rewrite>
            </sales>
        </models>
        <resources>
            <teamwork_universalcustomers_setup>
                <setup>
                    <module>Teamwork_Universalcustomers</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </teamwork_universalcustomers_setup>
        </resources>
        <events>
            <customer_save_before>
                <observers>
                    <teamwork_universalcustomers_customer_save_before>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>onCustomerSave</method>
                    </teamwork_universalcustomers_customer_save_before>
                </observers>
            </customer_save_before>
            <customer_save_after>
                <observers>
                    <teamwork_universalcustomers_customer_save_after>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>onCustomerAfterSave</method>
                    </teamwork_universalcustomers_customer_save_after>
                </observers>
            </customer_save_after>
            
            <customer_address_save_before>
                <observers>
                    <teamwork_universalcustomers_address_save_before>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>onAddressSave</method>
                    </teamwork_universalcustomers_address_save_before>
                </observers>
            </customer_address_save_before>
            <customer_address_delete_before>
                <observers>
                    <teamwork_universalcustomers_address_delete_before>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>onAddressDelete</method>
                    </teamwork_universalcustomers_address_delete_before>
                </observers>
            </customer_address_delete_before>
            
            <sales_model_service_quote_submit_before>
                <observers>
                    <teamwork_universalcustomers_sales_model_service_quote_submit_before>
                        <type>singleton</type>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>beforeCheckout</method>
                    </teamwork_universalcustomers_sales_model_service_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_success>
                <observers>
                    <teamwork_universalcustomers_sales_model_service_quote_submit_success>
                        <type>singleton</type>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>checkoutCustomerSave</method>
                    </teamwork_universalcustomers_sales_model_service_quote_submit_success>
                </observers>
            </sales_model_service_quote_submit_success>
            
            <add_extra_webstagind_data>
                <observers>
                    <teamwork_universalcustomers_add_extra_webstagind_data>
                        <type>singleton</type>
                        <class>teamwork_universalcustomers/observer</class>
                        <method>addWebOrderData</method>
                    </teamwork_universalcustomers_add_extra_webstagind_data>
                </observers>
            </add_extra_webstagind_data>
        </events>
    </global>
    <!-- <svs>magento</svs> -->
    <teamwork_universalcustomers>
        <static_customer_fields>
            <entity_id>entity_id</entity_id>
            <firstname>firstname</firstname>
            <lastname>lastname</lastname>
            <email>email</email>
            <is_subscribed>is_subscribed</is_subscribed>
            <middlename>middlename</middlename>
            <prefix>prefix</prefix>
            <suffix>suffix</suffix>
            <dob>dob</dob>
            <taxvat>taxvat</taxvat>
            <gender>gender</gender>
            <password>password</password>
        </static_customer_fields>
        <static_customer_address_fields>
            <street>street</street>
            <city>city</city>
            <country_id>country_id</country_id>
            <region>region</region>
            <postcode>postcode</postcode>
            <telephone>telephone</telephone>
            <company>company</company>
            <prefix>prefix</prefix>
            <firstname>firstname</firstname>
            <middlename>middlename</middlename>
            <lastname>lastname</lastname>
            <suffix>suffix</suffix>
            <fax>fax</fax>
            <vat_id>vat_id</vat_id>
            <type>tw_uc_address_type</type>
        </static_customer_address_fields>
        <ignore_static_customer_for_in_fields>
            <entity_id>entity_id</entity_id>
        </ignore_static_customer_for_in_fields>
    </teamwork_universalcustomers>
    
    <default>
        <teamwork_universalcustomers>
            <options>
                <path></path>
                <access_token backend_model="adminhtml/system_config_backend_encrypted"></access_token>
            </options>
        </teamwork_universalcustomers>
    </default>
</config>