<?xml version="1.0"?>
<config>
    <modules>
        <Ecp_Color>
            <version>0.1.0</version>
        </Ecp_Color>
    </modules>
    <frontend>
        <routers>
            <ecp_color>
                <use>standard</use>
                <args>
                    <module>Ecp_Color</module>
                    <frontName>ecpcolor</frontName>
                </args>
            </ecp_color>
        </routers>
        <layout>
            <updates>
                <ecp_color>
                    <file>ecp/color.xml</file>
                </ecp_color>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ecp_color>
                <use>admin</use>
                <args>
                    <module>Ecp_Color</module>
                    <frontName>ecpcolor</frontName>
                </args>
            </ecp_color>
        </routers>
    </admin>
    <adminhtml>
        <!--menu>
            <ecp_color module="ecp_color">
                <title>Color</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="ecp_color">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>ecpcolor/adminhtml_color</action>
                    </items>
                </children>
            </ecp_color>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Ecp_Color>
                            <title>Color Module</title>
                            <sort_order>10</sort_order>
                        </Ecp_Color>
                    </children>
                </admin>
            </resources>
        </acl-->
        <layout>
            <updates>
                <ecp_color>
                    <file>ecp/color.xml</file>
                </ecp_color>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <ecp_color>
                <class>Ecp_Color_Model</class>
                <resourceModel>ecp_color_mysql4</resourceModel>
            </ecp_color>
            <ecp_color_mysql4>
                <class>Ecp_Color_Model_Mysql4</class>
                <entities>
                    <color>
                        <table>ecp_color</table>
                    </color>
                </entities>
            </ecp_color_mysql4>
        </models>
        <resources>
            <ecp_color_setup>
                <setup>
                    <module>Ecp_Color</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecp_color_setup>
            <ecp_color_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecp_color_write>
            <ecp_color_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecp_color_read>
        </resources>
        <blocks>
            <ecp_color>
                <class>Ecp_Color_Block</class>
            </ecp_color>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tab_options>Ecp_Color_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ecp_color>
                <class>Ecp_Color_Helper</class>
            </ecp_color>
        </helpers>
        <events>
            <catalog_entity_attribute_save_after>
                <observers>
                    <color_updater>
                        <type>singleton</type>
                        <class>Ecp_Color_Model_Observer</class>
                        <method>updateColors</method>
                    </color_updater>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_product_save_after>
                <observers>
                    <reorder_colorsize>
                        <type>singleton</type>
                        <class>Ecp_Color_Model_Observer</class>
                        <method>reorderAttributes</method>
                    </reorder_colorsize>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <default>
        <ecp_color>
            <color_attr>metal_color,color_apparel,diamond_color,metal</color_attr>
        </ecp_color>
    </default>
</config>
