<?xml version="1.0"?>
<!--
/**
 * Mageplace Magento to SugarCRM Bridge
 *
 * @category    Belitsoft
 * @package     Belitsoft_Sugarcrm
 * @copyright   Copyright (c) 2013 Mageplace. (http://www.mageplace.com)
 * @license     http://www.mageplace.com/disclaimer.html
 */
-->
<config>
	<modules>
		<Belitsoft_Sugarcrm>
			<version>1.5.4.1</version>
		</Belitsoft_Sugarcrm>
	</modules>
	<admin>
		<routers>
			<sugarcrm>
				<use>admin</use>
				<args>
					<module>Belitsoft_Sugarcrm</module>
					<frontName>sugarcrm</frontName>
				</args>
			</sugarcrm>
		</routers>
	</admin>
	<global>
		<resources>
			<sugarcrm_setup>
				<setup>
					<module>Belitsoft_Sugarcrm</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</sugarcrm_setup>
			<sugarcrm_write>
				<connection>
					<use>core_write</use>
				</connection>
			</sugarcrm_write>
			<sugarcrm_read>
				<connection>
					<use>core_read</use>
				</connection>
			</sugarcrm_read>
		</resources>
		<models>
			<sugarcrm>
				<class>Belitsoft_Sugarcrm_Model</class>
				<resourceModel>sugarcrm_mysql4</resourceModel>
			</sugarcrm>
			<sugarcrm_mysql4>
				<class>Belitsoft_Sugarcrm_Model_Mysql4</class>
				<entities>
					<config_data>
						<table>sugarcrm_config_data</table>
					</config_data>
					<user_operations>
						<table>sugarcrm_user_operations</table>
					</user_operations>
					<fields_map>
						<table>sugarcrm_fields_map</table>
					</fields_map>
					<synch_map>
						<table>sugarcrm_synch_map</table>
					</synch_map>
					<stages>
						<table>sugarcrm_stages</table>
					</stages>
					<error>
						<table>sugarcrm_errors</table>
					</error>
				</entities>
			</sugarcrm_mysql4>
		</models>		
		<blocks>
			<sugarcrm>
				<class>Belitsoft_Sugarcrm_Block</class>
			</sugarcrm>
		</blocks>
		<helpers>
			<sugarcrm>
				<class>Belitsoft_Sugarcrm_Helper</class>
			</sugarcrm>
		</helpers>
		<events>
			<customer_save_before>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSaveCustomerBefore</method>
					</sugarcrm>
				</observers>
			</customer_save_before>
			<customer_save_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSaveCustomer</method>
					</sugarcrm>
				</observers>
			</customer_save_after>
			<customer_delete_before>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processDeleteBeforeCustomer</method>
					</sugarcrm>
				</observers>
			</customer_delete_before>
			<customer_delete_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processDeleteAfterCustomer</method>
					</sugarcrm>
				</observers>
			</customer_delete_after>
			<customer_address_save_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSaveCustomerAddress</method>
					</sugarcrm>
				</observers>
			</customer_address_save_after>
			<sales_order_save_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSalesOrderSaveAfter</method>
					</sugarcrm>
				</observers>
			</sales_order_save_after>
			<sales_order_delete_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSalesOrderDeleteAfter</method>
					</sugarcrm>
				</observers>
			</sales_order_delete_after>
			<sales_quote_merge_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSalesQuoteMergeAfter</method>
					</sugarcrm>
				</observers>
			</sales_quote_merge_after>
			<sales_quote_save_after>
				<observers>
					<sugarcrm>
						<class>sugarcrm/observer</class>
						<method>processSalesQuoteSaveAfter</method>
					</sugarcrm>
				</observers>
			</sales_quote_save_after>
		</events>
	</global>
	<adminhtml>
		<translate>
			<modules>
				<Belitsoft_Sugarcrm>
					<files>
						<default>Belitsoft_Sugarcrm.csv</default>
					</files>
				</Belitsoft_Sugarcrm>
			</modules>
		</translate>
		<events>
			<controller_action_predispatch>
                <observers>
					<sugarcrm>
						<type>singelton</type>
                        <class>sugarcrm/feed</class>
                        <method>check</method>
					</sugarcrm>
                </observers>
            </controller_action_predispatch>
		</events>
	</adminhtml>   
	<default>
		<sugarcrm>
			<connection>
				<sugarcrm_soap_server>http://www.example.com/sugarcrm/soap.php</sugarcrm_soap_server>
				<sugarcrm_soap_namespace>http://www.sugarcrm.com/sugarcrm</sugarcrm_soap_namespace>
				<sugarcrm_soap_application_name>MagentoToSugarCRM</sugarcrm_soap_application_name>
			</connection>
			<beans>
				<affected_beans>
					<Accounts translate="label">
						<label>Accounts</label>
					</Accounts>
					<Contacts translate="label">
						<label>Contacts</label>
					</Contacts>
					<Leads translate="label">
						<label>Leads</label>
					</Leads>
				</affected_beans>
				<user_operations>
					<insert translate="label">
						<label>Insert</label>
					</insert>
					<update translate="label">
						<label>Update</label>
					</update>
					<delete translate="label">
						<label>Delete</label>
					</delete>
				</user_operations>
			</beans>
			<feed>
				<url>www.mageplace.com/index.php?option=com_extensionfeed&amp;view=feed&amp;extension=sugarcrmbridge&amp;format=feed</url>
				<use_https>0</use_https>
				<check_frequency>24</check_frequency>
				<enabled>1</enabled>
			</feed>
		</sugarcrm>
	</default>
</config>