/* ===================================== PIERCING ======================================== */
.piercing-service {
	font-size:13px;
	margin:0 auto;
	padding:0;
}
.piercing-service .piercing_block {
	background:#d1d1d1;
}
.piercing-service h3  {
	padding:3px 10px;
	text-transform:uppercase;
	color: #3F4048;
	font-family: dinmittelschriftregular;
	font-weight:normal;
	font-size:17px;
	text-align:left;
	margin: 0 0 16px;
}
.piercing-service .left-content {

}
.piercing-service .banner img {
/*	height:245px;*/
width:100%;
}
.piercing-service .locations {
	margin-top:10px;
}
.piercing-service .back_sucur {
	margin-bottom:20px;
}
.piercing-service .sucursal_1, .piercing-service .sucursal_2 {
	float:left;
	line-height:16px;
	padding-bottom:20px;
	padding: 5px;
}
.piercing-service .sucursal_1 {
  width: 50%;
  float: left;
}
.piercing-service .sucursal_2 {
  width: 50%;
}
.piercing-service .spacer {
	margin-top:12px;
	font-size: 11px;
	float: left;
	width: 100%;
}
.sucursal_2 + .spacer {
	margin-top: 6px;
	clear: both;
}
.back_sucur {
	/* height: 171px;
	overflow: hidden; */
}
.piercing-service .map {
	margin-top:20px;
}
.piercing-service .map img {
	width:420px;
	max-width:100%;
	height:330px;
}
.piercing-service .locations a {
	text-decoration:underline;
	line-height: 2em;
}
.piercing-service .locations span {
	margin-left:10px;
	font-size:11px;
}

.piercing-service .yelp h4 {
	margin:0 0 5px;
}
.piercing-service .yelp .location {
	margin:3px 0 12px;
	width:286px;
	line-height:18px;
}
.piercing-service .yelp .reviews span {
	margin:-2px 0 0;
}



.piercing-service .citysearch h4{
	color:#0081c5;
	font-size:13px;
	margin:6px 0;
}
.piercing-service .citysearch span {
	font-size:11px;
	margin:0;
}
.piercing-service .citysearch p {
	color:#a1a1a1;
	font-size:11px;
	margin:0;
}
.piercing-service p.citysearch-address {
	color:#3F4048;
	font-size:11px;
	margin:0;
}
.piercing-service .city-search-rating {
	float:right;
	margin-right:0px;
}
.piercing-service .city-search-rating p{
	color:#0081c5;
	text-align:right;
	font-size:12px;
	padding-right:5px;
}
/*===============================PIERCING AT ======================*/
.piercing-service .piercing-at-mariatash {
	margin-top:0px;
}
.piercing-service .right-content {
	
}
.piercing-service .right-content p.strong {
	font-weight:bold;
	margin-top:15px;
}
.piercing-service .right-content .piercing_at p {
	margin-left:10px;
	line-height:16px;
}
/*============= TABLE ==============*/
.piercing-service #pricing-table {
	margin-bottom:18px;
	width:100%;
}
.piercing-service td {
	border-bottom:1px #d1d1d1 solid;
	padding:2px 0;
	line-height:16px;
}
.piercing-service td.lil_header {
	text-transform:uppercase;
	border-bottom:none;
	padding-bottom:10px;
	vertical-align:top;
	padding-left:0;
}
.piercing-service .type {
	width:205px;
	padding-left:2px;
}
.piercing-service  .prize {
	width:150px;
	text-align:center;
	vertical-align:middle;
}
.piercing-service  .lil_header.prize {
	text-align:left;

}
.piercing-service .starts {
	width:180px;
	text-align:center;
	padding-left:35px;
	vertical-align:middle;
}
.piercing-service .lil_header.starts {

	text-align:center;

}
.piercing-service .legal {
	margin-top:10px;
}
.piercing-service .legal p {
	font-weight:bold;
}

@keyframes blink {
	0% { color  : #906E39; text-decoration: underline}
	49% { color : #906E39; }
	50% { color : #ecc388;text-decoration: underline}
	100% { color: #ecc388; }
}

.allure_blinking {
	animation: blink 2s linear infinite;
}