<?xml version="1.0"?>
<config>
    <modules>
        <Allure_SmartAnalytics>
            <version>2.0.0</version>
        </Allure_SmartAnalytics>
    </modules>
    <global>
        <models>
            <allure_smartanalytics>
                <class>Allure_SmartAnalytics_Model</class>
            </allure_smartanalytics>
        </models>
        <blocks>
            <allure_smartanalytics>
                <class>Allure_SmartAnalytics_Block</class>
            </allure_smartanalytics>
			<catalog>
				<rewrite>
					<product_new>Allure_SmartAnalytics_Block_New</product_new>
				</rewrite>
			</catalog>
        </blocks>
        <helpers>
            <allure_smartanalytics>
                <class>Allure_SmartAnalytics_Helper</class>
            </allure_smartanalytics>
        </helpers>
        <resources>
            <allure_smartanalytics_setup>
                <setup>
                    <module>Allure_SmartAnalytics</module>
                </setup>
            </allure_smartanalytics_setup>
        </resources>
		<fieldsets>
			<sales_convert_quote_item>
				<google_category>
					<to_order_item>*</to_order_item>
				</google_category>
			</sales_convert_quote_item>
			<sales_convert_order_item>
				<google_category>
					<to_quote_item>*</to_quote_item>
				</google_category>
			</sales_convert_order_item>
		</fieldsets>
        <events>
			<sales_quote_item_set_product>
				<observers>
					<allure_smartanalytics_google_category>
						<class>allure_smartanalytics/observer</class>
						<method>salesQuoteItemSetGoogleCategory</method>
					</allure_smartanalytics_google_category>
				</observers>
			</sales_quote_item_set_product>
            <sales_order_creditmemo_save_after>
                <observers>
                    <allure_smartanalytics>
                        <class>allure_smartanalytics/observer</class>
                        <method>refundOrderInventory</method>
                    </allure_smartanalytics>
                </observers>
            </sales_order_creditmemo_save_after>
			<sales_order_save_after>
				<observers>
					<allure_smartanalytics_order>
						<class>allure_smartanalytics/observer</class>
						<method>sendOrderDataToGoogle</method>
					</allure_smartanalytics_order>
				</observers>
			</sales_order_save_after>
			<sales_order_invoice_save_after>
				<observers>
					<allure_smartanalytics_invoice>
						<class>allure_smartanalytics/observer</class>
                        <method>setOrderDataForGA</method>
					</allure_smartanalytics_invoice>
				</observers>
			</sales_order_invoice_save_after>

			<!--Awesome Checkout using same controller actions as Magento Standard Checkout-->
			<controller_action_predispatch_checkout_onepage_saveBilling>
				<observers>
					<allure_smartanalytics_onepage_savebilling>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataForAwesomeCheckout</method>
					</allure_smartanalytics_onepage_savebilling>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveBilling>
			<controller_action_predispatch_checkout_onepage_saveShipping>
				<observers>
					<allure_smartanalytics_onepage_saveshipping>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataForAwesomeCheckout</method>
					</allure_smartanalytics_onepage_saveshipping>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveShipping>
			<controller_action_predispatch_checkout_onepage_saveShippingMethod>
				<observers>
					<allure_smartanalytics_onepage_saveshippingmethod>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataForAwesomeCheckout</method>
					</allure_smartanalytics_onepage_saveshippingmethod>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveShippingMethod>
			<controller_action_predispatch_checkout_onepage_savePayment>
				<observers>
					<allure_smartanalytics_onepage_savepayment>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataForAwesomeCheckout</method>
					</allure_smartanalytics_onepage_savepayment>
				</observers>
			</controller_action_predispatch_checkout_onepage_savePayment>
			<controller_action_predispatch_paypal_express_placeOrder>
				<observers>
					<allure_smartanalytics_paypal_express_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataForAwesomeCheckout</method>
					</allure_smartanalytics_paypal_express_saveorder>
				</observers>
			</controller_action_predispatch_paypal_express_placeOrder>
			<controller_action_predispatch_checkout_onepage_saveOrder>
				<observers>
					<allure_smartanalytics_onepage_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataForAwesomeCheckout</method>
					</allure_smartanalytics_onepage_saveorder>
				</observers>
			</controller_action_predispatch_checkout_onepage_saveOrder>

			<!--Mage Solutions One Step Checkout -->
			<controller_action_predispatch_oscheckout_index_saveOrder>
				<observers>
					<allure_smartanalytics_oscheckout>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataToGA</method>
					</allure_smartanalytics_oscheckout>
				</observers>
			</controller_action_predispatch_oscheckout_index_saveOrder>

			<!--Go Mage One Page Checkout -->
			<controller_action_predispatch_gomage_checkout_onepage_ajax>
				<observers>
					<allure_smartanalytics_gomagecheckout>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataToGA</method>
					</allure_smartanalytics_gomagecheckout>
				</observers>
			</controller_action_predispatch_gomage_checkout_onepage_ajax>

			<!--Firecheckout One Page Checkout -->
			<controller_action_predispatch_firecheckout_index_saveBilling>
				<observers>
					<allure_smartanalytics_firecheckout_savebilling>
						<class>allure_smartanalytics/observer</class>
                        <method>sendBillingStepDataToGA</method>
					</allure_smartanalytics_firecheckout_savebilling>
				</observers>
			</controller_action_predispatch_firecheckout_index_saveBilling>
			<controller_action_predispatch_firecheckout_index_saveShipping>
				<observers>
					<allure_smartanalytics_firecheckout_saveshipping>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingStepDataToGA</method>
					</allure_smartanalytics_firecheckout_saveshipping>
				</observers>
			</controller_action_predispatch_firecheckout_index_saveShipping>
			<controller_action_predispatch_firecheckout_index_saveShippingMethod>
				<observers>
					<allure_smartanalytics_firecheckout_saveshippingmethod>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingMethodStepDataToGA</method>
					</allure_smartanalytics_firecheckout_saveshippingmethod>
				</observers>
			</controller_action_predispatch_firecheckout_index_saveShippingMethod>
			<controller_action_predispatch_firecheckout_index_savePayment>
				<observers>
					<allure_smartanalytics_firecheckout_savepayment>
						<class>allure_smartanalytics/observer</class>
                        <method>sendPaymentMethodStepDataToGA</method>
					</allure_smartanalytics_firecheckout_savepayment>
				</observers>
			</controller_action_predispatch_firecheckout_index_savePayment>
			<controller_action_predispatch_firecheckout_index_saveOrder>
				<observers>
					<allure_smartanalytics_firecheckout_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendSaveOrderStepDataToGA</method>
					</allure_smartanalytics_firecheckout_saveorder>
				</observers>
			</controller_action_predispatch_firecheckout_index_saveOrder>

			<!--Pureplay One Page Checkout -->
			<controller_action_predispatch_checkout_pureplay_saveBilling>
				<observers>
					<allure_smartanalytics_pureplay_savebilling>
						<class>allure_smartanalytics/observer</class>
                        <method>sendBillingStepDataToGA</method>
					</allure_smartanalytics_pureplay_savebilling>
				</observers>
			</controller_action_predispatch_checkout_pureplay_saveBilling>
			<controller_action_predispatch_checkout_pureplay_saveShipping>
				<observers>
					<allure_smartanalytics_pureplay_saveshipping>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingStepDataToGA</method>
					</allure_smartanalytics_pureplay_saveshipping>
				</observers>
			</controller_action_predispatch_checkout_pureplay_saveShipping>
			<controller_action_predispatch_checkout_pureplay_switchShippingMethod>
				<observers>
					<allure_smartanalytics_pureplay_switchshippingmethod>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingMethodStepDataToGA</method>
					</allure_smartanalytics_pureplay_switchshippingmethod>
				</observers>
			</controller_action_predispatch_checkout_pureplay_switchShippingMethod>
			<controller_action_predispatch_checkout_pureplay_savePayment>
				<observers>
					<allure_smartanalytics_pureplay_savepayment>
						<class>allure_smartanalytics/observer</class>
                        <method>sendPaymentMethodStepDataToGA</method>
					</allure_smartanalytics_pureplay_savepayment>
				</observers>
			</controller_action_predispatch_checkout_pureplay_savePayment>
			<controller_action_predispatch_checkout_pureplay_saveOrder>
				<observers>
					<allure_smartanalytics_pureplay_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendSaveOrderStepDataToGA</method>
					</allure_smartanalytics_pureplay_saveorder>
				</observers>
			</controller_action_predispatch_checkout_pureplay_saveOrder>

			<!--AW One Step Checkout -->
			<controller_action_predispatch_aw_onestepcheckout_ajax_saveAddress>
				<observers>
					<allure_smartanalytics_aw_checkout_savebilling>
						<class>allure_smartanalytics/observer</class>
                        <method>sendBillingStepDataToGA</method>
					</allure_smartanalytics_aw_checkout_savebilling>
				</observers>
			</controller_action_predispatch_aw_onestepcheckout_ajax_saveAddress>

			<controller_action_predispatch_aw_onestepcheckout_ajax_saveShippingMethod>
				<observers>
					<allure_smartanalytics_aw_checkout_saveshippingmethod>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingMethodStepDataToGA</method>
					</allure_smartanalytics_aw_checkout_saveshippingmethod>
				</observers>
			</controller_action_predispatch_aw_onestepcheckout_ajax_saveShippingMethod>
			<controller_action_predispatch_aw_onestepcheckout_ajax_savePaymentMethod>
				<observers>
					<allure_smartanalytics_aw_checkout_savepayment>
						<class>allure_smartanalytics/observer</class>
                        <method>sendPaymentMethodStepDataToGA</method>
					</allure_smartanalytics_aw_checkout_savepayment>
				</observers>
			</controller_action_predispatch_aw_onestepcheckout_ajax_savePaymentMethod>
			<controller_action_predispatch_aw_onestepcheckout_ajax_placeOrder>
				<observers>
					<allure_smartanalytics_aw_checkout_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendSaveOrderStepDataToGA</method>
					</allure_smartanalytics_aw_checkout_saveorder>
				</observers>
			</controller_action_predispatch_aw_onestepcheckout_ajax_placeOrder>

			<!--FME One Page Checkout -->
			<controller_action_predispatch_checkout_onestep_saveBilling>
				<observers>
					<allure_smartanalytics_fme_savebilling>
						<class>allure_smartanalytics/observer</class>
                        <method>sendBillingStepDataToGA</method>
					</allure_smartanalytics_fme_savebilling>
				</observers>
			</controller_action_predispatch_checkout_onestep_saveBilling>
			<controller_action_predispatch_checkout_onestep_saveShipping>
				<observers>
					<allure_smartanalytics_fme_saveshipping>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingStepDataToGA</method>
					</allure_smartanalytics_fme_saveshipping>
				</observers>
			</controller_action_predispatch_checkout_onestep_saveShipping>
			<controller_action_predispatch_checkout_onestep_saveShippingMethod>
				<observers>
					<allure_smartanalytics_fme_saveshippingmethod>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingMethodStepDataToGA</method>
					</allure_smartanalytics_fme_saveshippingmethod>
				</observers>
			</controller_action_predispatch_checkout_onestep_saveShippingMethod>
			<controller_action_predispatch_checkout_onestep_savePayment>
				<observers>
					<allure_smartanalytics_fme_savepayment>
						<class>allure_smartanalytics/observer</class>
                        <method>sendPaymentMethodStepDataToGA</method>
					</allure_smartanalytics_fme_savepayment>
				</observers>
			</controller_action_predispatch_checkout_onestep_savePayment>
			<controller_action_predispatch_checkout_onestep_saveOrder>
				<observers>
					<allure_smartanalytics_fme_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendSaveOrderStepDataToGA</method>
					</allure_smartanalytics_fme_saveorder>
				</observers>
			</controller_action_predispatch_checkout_onestep_saveOrder>

			<!--IWD One Page Checkout -->
			<controller_action_predispatch_opc_json_saveBilling>
				<observers>
					<allure_smartanalytics_savebilling>
						<class>allure_smartanalytics/observer</class>
                        <method>sendBillingStepDataToGA</method>
					</allure_smartanalytics_savebilling>
				</observers>
			</controller_action_predispatch_opc_json_saveBilling>
			<controller_action_predispatch_opc_json_saveShipping>
				<observers>
					<allure_smartanalytics_saveshipping>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingStepDataToGA</method>
					</allure_smartanalytics_saveshipping>
				</observers>
			</controller_action_predispatch_opc_json_saveShipping>
			<controller_action_predispatch_opc_json_saveShippingMethod>
				<observers>
					<allure_smartanalytics_saveshippingmethod>
						<class>allure_smartanalytics/observer</class>
                        <method>sendShippingMethodStepDataToGA</method>
					</allure_smartanalytics_saveshippingmethod>
				</observers>
			</controller_action_predispatch_opc_json_saveShippingMethod>
			<controller_action_predispatch_opc_json_savePayment>
				<observers>
					<allure_smartanalytics_savepayment>
						<class>allure_smartanalytics/observer</class>
                        <method>sendPaymentMethodStepDataToGA</method>
					</allure_smartanalytics_savepayment>
				</observers>
			</controller_action_predispatch_opc_json_savePayment>
			<controller_action_predispatch_opc_json_saveOrder>
				<observers>
					<allure_smartanalytics_saveorder>
						<class>allure_smartanalytics/observer</class>
                        <method>sendSaveOrderStepDataToGA</method>
					</allure_smartanalytics_saveorder>
				</observers>
			</controller_action_predispatch_opc_json_saveOrder>

			<!--Mage World One Step Checkout -->
			<controller_action_predispatch_onestepcheckout>
				<observers>
					<allure_smartanalytics_mwonestepcheckout>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataToGA</method>
					</allure_smartanalytics_mwonestepcheckout>
				</observers>
			</controller_action_predispatch_onestepcheckout>

			<!--One Step Checkout -->
			<controller_action_predispatch_onestepcheckout_ajax_save_billing>
				<observers>
					<allure_smartanalytics_onestepcheckout>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataToGA</method>
					</allure_smartanalytics_onestepcheckout>
				</observers>
			</controller_action_predispatch_onestepcheckout_ajax_save_billing>
			<controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
				<observers>
					<allure_smartanalytics_onestepcheckout_methods>
						<class>allure_smartanalytics/observer</class>
                        <method>sendCheckoutStepDataToGA</method>
					</allure_smartanalytics_onestepcheckout_methods>
				</observers>
			</controller_action_predispatch_onestepcheckout_ajax_set_methods_separate>
			<sales_order_place_after>
				<observers>
					<allure_smartanalytics_order_place_after>
						<class>allure_smartanalytics/observer</class>
						<method>saveGoogleCookie</method>
					</allure_smartanalytics_order_place_after>
				</observers>
			</sales_order_place_after>
			<order_cancel_after>
				<observers>
					<allure_smartanalytics_order_cancel_after>
						<class>allure_smartanalytics/observer</class>
						<method>orderCancelAfter</method>
					</allure_smartanalytics_order_cancel_after>
				</observers>
			</order_cancel_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <allure_smartanalytics>
                    <file>allure/smartanalytics.xml</file>
                </allure_smartanalytics>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <allure_smartanalytics_setcookie>
                        <type>singleton</type>
                        <class>allure_smartanalytics/observer</class>
                        <method>addProductCookie</method>
                    </allure_smartanalytics_setcookie>
                </observers>
            </checkout_cart_product_add_after>

            <sales_quote_remove_item>
                <observers>
                    <allure_smartanalytics_removecookie>
                        <type>singleton</type>
                        <class>allure_smartanalytics/observer</class>
                        <method>removeProductCookie</method>
                    </allure_smartanalytics_removecookie>
                </observers>
            </sales_quote_remove_item>

            <eav_collection_abstract_load_before>
                <observers>
                    <allure_smartanalytics>
                        <class>allure_smartanalytics/observer</class>
                        <method>beforeCollectionLoad</method>
                    </allure_smartanalytics>
                </observers>
            </eav_collection_abstract_load_before>

			<!--checkout_type_onepage_save_order_after>
	    		<observers>
	    			<allure_smartanalytics_order_success>
	    				<class>allure_smartanalytics/observer</class>
	    				<method>saveGoogleCookie</method>
	    			</allure_smartanalytics_order_success>
	    		</observers>
    		</checkout_type_onepage_save_order_after-->
        </events>
    </frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <allure_smartanalytics after="Mage_Adminhtml">Allure_SmartAnalytics_Adminhtml</allure_smartanalytics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <allure_smartanalytics>
                                            <title>Allure SmartAnalytics</title>
                                        </allure_smartanalytics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <allure_smartanalytics>
                    <file>allure/smartanalytics.xml</file>
                </allure_smartanalytics>
            </updates>
        </layout>
		<events>
			<controller_action_layout_render_before_adminhtml_sales_order_view>
				<observers>
					<allure_smartanalytics_send_transaction>
						<class>allure_smartanalytics/observer</class>
						<method>sendTransactionToGoogle</method>
					</allure_smartanalytics_send_transaction>
				</observers>
			</controller_action_layout_render_before_adminhtml_sales_order_view>
		</events>
    </adminhtml>
	<default>
        <allure_smartanalytics>
			<options>
				<enabled>0</enabled>
				<license_key></license_key>
				<account_id></account_id>
				<anonymize_ip>0</anonymize_ip>
				<display_feature>1</display_feature>
				<domain_auto>1</domain_auto>
				<ecommerce_enabled>0</ecommerce_enabled>
				<enable_optimize>0</enable_optimize>
				<optimize_container_id></optimize_container_id>
			</options>
            <enhanced>
                <enhanced_ecommerce_enabled>0</enhanced_ecommerce_enabled>
				<send_transaction_on_invoice>0</send_transaction_on_invoice>
				<admin_source>phone</admin_source>
				<admin_medium>admin</admin_medium>
            </enhanced>
        </allure_smartanalytics>
	</default>
</config>
