<?xml version="1.0"?>
<config>
    <modules>
        <Alluremultistore_Productwebsite>
            <version>0.1.0</version>
        </Alluremultistore_Productwebsite>
    </modules>
    
    <global>
    
    	<helpers>
	    	<allure_productwebsite>
				<class>Alluremultistore_Productwebsite_Helper</class>
		    </allure_productwebsite>
        </helpers>
    
        <models>
	    	<allure_productwebsite>
				<class>Alluremultistore_Productwebsite_Model</class>
		    </allure_productwebsite>
        </models>
        
    </global>
    
  <crontab>
		<jobs>
			<allure_productwebsite_schedule>
				<schedule>
					<cron_expr>0 */6 * * *</cron_expr>
				</schedule>
				<run>
					<model>allure_productwebsite/observer::assignWebsiteToProduct</model>
				</run>
			</allure_productwebsite_schedule>
		</jobs>
	</crontab> 
	
	 <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<allure_productwebsite module="allure_productwebsite">
											<title>Allure - ProductWebsite</title>
										</allure_productwebsite>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<allure_productwebsite>
			<product_website>
				<enabled>0</enabled>
				<change_product_status>0</change_product_status>
				<product_status>1</product_status>
				<debug>0</debug>
			</product_website>
		</allure_productwebsite>
	</default>

</config>
