.countdown {
  text-transform: uppercase;
}
.countdown {
  display: inline;
}
.counttext {
  padding: 10px;
  display:inline;
}
.store-notice .countref {
  display: inline;
}
.countdown > div { display: inline-block; }
.countdown > div > span {
  display: block;
  text-align: center;
}
/*.countdown-container { margin: 0 3px; }*/
.countdown-container .countdown-heading {
  font-size: 11px;
  margin: 1px;
  color: #666
}
.countdown-container .countdown-value {
  font-size: 11px;
  background: #333;
  padding:  5px 10px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
  border-radius:5px;
}

