<config>
    <sections>
     <allure_ordernotifications translate="label">
            <label>Order Noifications Settings</label>
            <tab>allure</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<manage_users translate="label" >
					<label>User Configurations</label>
					<sort_order>21</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<usermapping translate="label">
							<label>User Email Configurations</label>
							<frontend_model>Allure_Ordernotifications_Block_Adminhtml_OrderInformation</frontend_model>
							<backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends>
								<enable>1</enable>
							</depends>
							<sort_order>23</sort_order>
						</usermapping>
					</fields>
				</manage_users>
				<general translate="label comment">
                    <label>Order Notifications Email Configurations</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>22</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        
                        <identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </identity>
                        <template translate="label">
                            <label>template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </template>
                        <copy_to translate="label">
                            <label>Email Copy To</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma-separated.</comment>
                        </copy_to>
                        <copy_method translate="label">
                            <label>Email Copy Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_method</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </copy_method>
                    </fields>
                </general>
            </groups>
        </allure_ordernotifications>
    </sections>
</config>
